<section class="section">
  <div class="container is-widescreen">
    {{#if this.model.replicationIsInitializing}}
      <nav class="navbar"></nav>
      <LayoutLoading />
    {{else}}
      {{#if (eq this.model.mode "unsupported")}}
        <PageHeader as |p|>
          <p.levelLeft>
            <h1 class="title is-3 has-text-grey">
              Replication unsupported
            </h1>
          </p.levelLeft>
        </PageHeader>
        <EmptyState @title="The current cluster configuration does not support replication" />
      {{else}}
        <ReplicationSummary
          @cluster={{this.model}}
          @showModeSummary={{true}}
          @onEnable={{action "onEnable"}}
          @onDisable={{action "onDisable"}}
        />
      {{/if}}
    {{/if}}
  </div>
</section>