<div class="box is-fullwidth is-shadowless is-marginless">
  <h4 class="title is-5 is-marginless">
    Mount filter config for <code>{{model.config.id}}</code>
  </h4>
</div>
{{#if model.config.mode}}
  <div class="box is-fullwidth is-shadowless">
    {{info-table-row label="Mode" value=model.config.mode data-test-mount-config-mode=true}}
    {{#info-table-row label="Paths" value=model.config.paths}}
      <ul class="list--comma" data-test-mount-config-paths=true>
        {{#each model.config.paths as |path|}}
          <li>
            <code class="has-text-black">{{path}}</code>
          </li>
        {{/each}}
      </ul>
    {{/info-table-row}}
  </div>
{{else}}
  <div class="box is-bottomless has-background-white-bis is-marginless">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <div class="box is-shadowless has-background-white-bis">
          <p class="has-text-grey">
            The secondary <code>{{model.config.id}}</code> does not currently have performance mount filtering configured.
          </p>
        </div>
      </div>
    </div>
  </div>
{{/if}}
<div class="field is-fullwidth box is-shadowless">
  {{#if model.config.mode}}
    <div class="control">
      {{#link-to
        'vault.cluster.replication.mode.secondaries.config-edit'
        model.config.id
        class="button"
        data-test-replication-link="edit-mount-config"
        }}
        Edit
      {{/link-to}}
    </div>
  {{else}}
    <div class="control">
      {{#link-to
        'vault.cluster.replication.mode.secondaries.config-create'
        model.config.id
        class="button"
        data-test-replication-link="create-mount-config"
        }}
        Create
      {{/link-to}}
    </div>
  {{/if}}
</div>
