<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Multi-factor Authentication
    </h1>
  </p.levelLeft>
</PageHeader>

<Mfa::Nav />

<Toolbar>
  <ToolbarActions>
    <ToolbarLink @type="add" @params={{array "vault.cluster.access.mfa.configure"}}>
      New MFA method
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

{{#if this.model.meta.total}}
  {{#each this.model as |item|}}
    <LinkedBlock class="list-item-row" @params={{array "vault.cluster.access.mfa.method" item.id}}>
      <div class="level is-mobile">
        <div class="level-left">
          <div>
            <span class="has-text-weight-semibold has-text-black">
              <Icon @size="24" @name={{item.type}} />
              {{item.type}}
            </span>
            <br />
            <code class="has-text-grey is-size-8">
              {{item.id}}
            </code>
          </div>
        </div>
      </div>
    </LinkedBlock>
  {{/each}}
{{/if}}
{{#if (gt this.model.meta.lastPage 1)}}
  <ListPagination
    @page={{this.model.meta.currentPage}}
    @lastPage={{this.model.meta.lastPage}}
    @link={{concat "vault.cluster.access.mfa.methods"}}
  />
{{/if}}