<form
  onsubmit={{action "saveLease" (hash lease=@model.lease lease_max=@model.leaseMax)}}
  aria-label="save lease form"
  data-test-aws-leases-form="true"
>
  <div class="box is-fullwidth is-shadowless is-marginless">
    <NamespaceReminder @mode="saved" @noun="configuration" />
    <MessageError @model={{@model}} />
    <p class="has-text-grey-dark">
      If you do not supply lease settings, we will use the default values in AWS.
    </p>
  </div>
  <TtlPicker
    @label="Lease"
    @initialValue={{@model.lease}}
    @initialEnabled={{@model.lease}}
    @onChange={{fn this.handleTtlChange "lease"}}
  />
  <TtlPicker
    @label="Maximum Lease"
    @initialValue={{@model.leaseMax}}
    @initialEnabled={{@model.leaseMax}}
    @onChange={{fn this.handleTtlChange "leaseMax"}}
  />
  <div class="box is-bottomless is-fullwidth">
    <Hds::Button @text="Save" data-test-aws-input="lease-save" type="submit" />
  </div>
</form>