<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Replication
    </h1>
  </p.levelLeft>
</PageHeader>
<div class="box is-sideless is-fullwidth is-marginless">
  <h3 class="title is-flex-center is-5 is-marginless">
    {{i-con class="has-text-grey is-medium" glyph="replication" size=20}}
    Disaster Recovery (DR)
  </h3>
  {{#if cluster.dr.replicationEnabled}}
    {{#link-to
      "vault.cluster.replication.mode.index"
      "dr"
      class="link-plain"
    }}
      {{replication-mode-summary
        mode="dr"
        cluster=cluster
        tagName="span"
      }}
    {{/link-to}}
  {{else}}
    {{replication-mode-summary
      mode="dr"
      cluster=cluster
      tagName="div"
    }}
  {{/if}}
</div>
<div class="box is-bottomless is-fullwidth is-marginless">
  <h3 class="title is-flex-center is-5 is-marginless">
    {{i-con class="has-text-grey is-medium" glyph="perf-replication" size=20}}
    Performance
  </h3>
  {{#if cluster.dr.replicationEnabled}}
    {{#link-to
      "vault.cluster.replication.mode.index"
      "performance"
      class="link-plain"
    }}
      {{replication-mode-summary
        mode="performance"
        cluster=cluster
        tagName="span"
      }}
    {{/link-to}}
  {{else}}
    {{replication-mode-summary
      mode="performance"
      cluster=cluster
      tagName="div"
    }}
  {{/if}}
</div>
