{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Clients::RunningTotal
  @isSecretsSyncActivated={{this.flags.secretsSyncIsActivated}}
  @byMonthNewClients={{this.byMonthNewClients}}
  @isHistoricalMonth={{and (not this.isCurrentMonth) (not this.isDateRange)}}
  @isCurrentMonth={{this.isCurrentMonth}}
  @runningTotals={{this.totalUsageCounts}}
  @upgradeData={{this.upgradesDuringActivity}}
  @mountPath={{@mountPath}}
/>

{{#if this.hasAttributionData}}
  <Hds::Form::Select::Base
    class="has-bottom-margin-m"
    aria-label="Month"
    name="month"
    {{on "input" this.selectMonth}}
    @width="200px"
    data-test-select="attribution-month"
    as |S|
  >
    <S.Options>
      <option value="">Select month</option>
      {{#each this.months as |m|}}
        <option value={{m.value}} selected={{eq m.value this.selectedMonth}}>{{m.display}}</option>
      {{/each}}
    </S.Options>
  </Hds::Form::Select::Base>
  <Clients::Table @data={{this.tableData}} />
{{/if}}