{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}
{{#if @isSecretsSyncActivated}}
  {{#if this.isDateRange}}
    <Clients::ChartContainer
      @title={{this.title}}
      @description={{this.description}}
      @timestamp={{@activity.responseTimestamp}}
      @hasChartData={{this.byMonthActivityData}}
      class="no-legend"
    >
      <:subTitle>
        <StatText
          @label="Total sync clients"
          @subText="The total number of secrets synced from Vault to other destinations during this date range."
          @value={{this.totalUsageCounts.secret_syncs}}
          @size="l"
          data-test-total-sync-clients
        />
      </:subTitle>

      <:stats>
        {{#let (this.average this.byMonthActivityData "secret_syncs") as |avg|}}
          {{! intentionally hides a 0 average (0 is falsy) }}
          {{#if avg}}
            <StatText
              @label="Average sync clients per month"
              @value={{avg}}
              @size="m"
              class="data-details-top has-top-padding-l"
              data-test-average-sync-clients
            />
          {{/if}}
        {{/let}}
      </:stats>

      <:chart>
        <Clients::Charts::VerticalBarBasic
          @chartTitle={{this.title}}
          @data={{this.byMonthActivityData}}
          @dataKey="secret_syncs"
          @chartHeight={{200}}
        />
      </:chart>

      <:emptyState>
        <EmptyState
          @title="No monthly secrets sync clients"
          @subTitle="There is no secrets sync data available for this date range."
          @bottomBorder={{true}}
        />
      </:emptyState>
    </Clients::ChartContainer>
  {{else}}
    <div class="chart-wrapper" data-test-usage-stats>
      <div class="chart-header has-bottom-margin-m">
        <h2 class="chart-title">{{this.title}}</h2>
        <p class="chart-description has-bottom-padding-m">{{this.description}}</p>
      </div>
      <StatText @label="Total sync clients" @value={{this.totalUsageCounts.secret_syncs}} @size="l" />
    </div>
  {{/if}}
{{else}}
  <EmptyState
    @title="No Secrets Sync clients"
    @message="No data is available because Secrets Sync has not been activated."
    class="is-shadowless"
  >
    <Hds::Link::Standalone
      @icon="chevron-right"
      @iconPosition="trailing"
      @text="Activate Secrets Sync"
      @route="vault.cluster.sync.secrets.overview"
    />
  </EmptyState>
{{/if}}