<h4 class="title is-5">
  Filtered paths
</h4>


<div class="radio-card-selector">
  <label
    for="no-filtering"
    class="radio-card
      {{if (not config.mode) " is-selected"}}"
  >
    <Icon
      @glyph="file-fill"
      @size="xl"
      class="has-text-grey-light"
     />
    <h5 class="title is-6">
      Include everything
    </h5>
    All namespaces and mounts in this cluster will be replicated
    <RadioButton
      @value={{null}}
      @radioClass="radio"
      @groupValue={{config.mode}}
      @changed={{queue
        (action (mut config.mode))
      }}
      @name="config-mode"
      @radioId="no-filtering"
     />

    <label for="no-filtering"></label>
  </label>


  <label
    for="whitelist"
    class="radio-card
      {{if (eq config.mode "whitelist") " is-selected"}}"
  >
    <Icon
      @glyph="file-fill"
      @size="xl"
      class="has-text-grey-light"
     />
    <h5 class="title is-6">
      Whitelist
    </h5>
    Only include the selected namespaces and mounts
    <RadioButton
      @value="whitelist"
      @radioClass="radio"
      @groupValue={{config.mode}}
      @changed={{queue
        (action (mut config.mode))
      }}
      @name="config-mode"
      @radioId="whitelist"
     />

    <label for="whitelist"></label>
  </label>


  <label
    for="blacklist"
    class="radio-card
      {{if (eq config.mode "blacklist") " is-selected"}}"
  >
    <Icon
      @glyph="file-fill"
      @size="xl"
      class="has-text-grey-light"
     />
    <h5 class="title is-6">
      Blacklist
    </h5>
    Do not include the selected namespaces and mounts
    <RadioButton
      @value="blacklist"
      @radioClass="radio"
      @groupValue={{config.mode}}
      @changed={{queue
        (action (mut config.mode))
      }}
      @name="config-mode"
      @radioId="blacklist"
     />

    <label for="blacklist"></label>
  </label>
</div>
{{#if (or (eq config.mode "whitelist") (eq config.mode "blacklist"))}}

    <SearchSelect
      @id="paths"
      @onInput={{action "inputChanged"}}
      @onChange={{action "pathsChanged"}}
      @inputValue={{config.paths}}
      @label="Paths in this {{config.mode}}"
      @options={{this.autoCompleteOptions}}
      />
    {{/if}}
{{#each mounts as |mount|}}
  {{#unless (or mount.local (contains mount.type singletonMountTypes))}}
    {{!-- auth mounts have apiPath, secret mounts use path --}}
    {{#with (or mount.apiPath mount.path) as |path| }}
      <label for="filter-{{mount.accessor}}" class="columns is-mobile is-gapless is-marginless table">
        <div class="column is-narrow td">
          <div class="td is-borderless">
            <div class="field">
              <div class="b-checkbox no-label">
              <input
                id="filter-{{mount.accessor}}"
                type="checkbox"
                class="styled"
                checked={{contains config.paths path}}
                onChange={{action 'addOrRemovePath' path}}
                data-test-mount-filter="{{mount.type}}"
              />
              <label for="filter-{{mount.accessor}}" class="is-label"></label>
              </div>
            </div>
          </div>
        </div>
        <code class="column is-5 td">
          <div class="td is-borderless" data-test-mount-filter-path-for-type="{{mount.type}}">
            {{path}}
          </div>
        </code>
        <div class="column td">
          <div class="td is-borderless">
            {{mount.type}}
          </div>
        </div>
      </label>
    {{/with}}
  {{/unless}}
{{/each}}
