<div class="selectable-card is-rounded {{dasherize title}}">
  <h3 class="card-title title is-5">{{title}}</h3>
  <div>
    <span class="helper-text is-label has-text-grey">
      {{description}}
    </span>
    <h3 class="title is-3">
      {{metric}}
      {{#if glyph}}
        <Icon @glyph={{glyph}} class="has-text-success" />
      {{/if}}
    </h3>
  </div>
</div>
