{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<SyncHeader @title="Secrets Sync">
  <:actions>
    {{#if this.version.isEnterprise}}
      <Hds::Button
        @text="Create first destination"
        {{on "click" this.onCreate}}
        data-test-cta-button
        disabled={{@adapterError}}
      />
    {{/if}}
  </:actions>
</SyncHeader>
{{#if @adapterError}}
  <MessageError @errorMessage={{@featureEnabled.message}} />
{{/if}}
<div class="box is-fullwidth is-sideless is-flex-between is-shadowless" data-test-cta-container>
  {{#if this.version.isEnterprise}}
    <p>
      Sync secrets to platforms and tools across your stack to get secrets when and where you need them.
      <Hds::Link::Standalone
        @icon="learn-link"
        @text="Secrets sync tutorial"
        @href={{doc-link "/vault/tutorials/enterprise/secrets-sync"}}
        data-test-cta-doc-link
      />
    </p>
  {{else}}
    <p>
      This enterprise feature allows you to sync secrets to platforms and tools across your stack to get secrets when and
      where you need them.
      <Hds::Link::Standalone
        @text="Learn more about secrets sync"
        @icon="docs-link"
        @iconPosition="trailing"
        @isHrefExternal={{true}}
        @href={{doc-link "/vault/tutorials/enterprise/secrets-sync"}}
        data-test-cta-doc-link
      />
    </p>
  {{/if}}
</div>

<div class="is-flex-row has-gap-l has-bottom-margin-m">
  <div>
    <img src={{img-path "~/sync-landing-1.png"}} alt="Secrets sync destinations diagram" aria-describedby="sync-step-1" />
    <p id="sync-step-1" class="has-top-margin-m">
      <b>Step 1:</b>
      Create a destination, and set up the connection details to allow Vault access.
    </p>
  </div>
  <div>
    <img src={{img-path "~/sync-landing-2.png"}} alt="Syncing secrets diagram" aria-describedby="sync-step-2" />
    <p id="sync-step-2" class="has-top-margin-m">
      <b>Step 2:</b>
      Select secrets from your KV v2 engine and sync secrets to your destination.
    </p>
  </div>
</div>

{{#if this.showEnableFeatureModal}}
  <Hds::Modal @color="warning" @onClose={{fn (mut this.showEnableFeatureModal) false}} as |M|>
    <M.Header @icon="alert-triangle">
      Enable secrets sync feature
    </M.Header>
    <M.Body>
      <p class="has-bottom-margin-m">
        Before using this feature, we want to make sure you’ve carefully read the document around the billing and client
        count impact.
        {{! TODO: add doc link once it is published }}
        <DocLink @path="/vault/docs/">Docs here.</DocLink>
      </p>
      <Hds::Form::Checkbox::Field {{on "change" this.onDocsConfirmChange}} data-test-cta-feature-check as |F|>
        <F.Label>I've read the above linked document</F.Label>
      </Hds::Form::Checkbox::Field>
    </M.Body>
    <M.Footer>
      <Hds::ButtonSet>
        <Hds::Button
          data-test-cta-feature-confirm
          @text="Confirm"
          disabled={{this.confirmDisabled}}
          {{on "click" (perform this.onFeatureConfirm)}}
        />
        <Hds::Button
          data-test-save-cta-feature-cancel
          @text="Cancel"
          @color="secondary"
          {{on "click" (fn (mut this.showEnableFeatureModal) false)}}
        />
      </Hds::ButtonSet>
    </M.Footer>
  </Hds::Modal>
{{/if}}