{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Page::Header @title={{this.title}} @subtitle={{this.subtitle}}>
  <:breadcrumbs>
    <Page::Breadcrumbs @breadcrumbs={{this.breadcrumbs}} />
  </:breadcrumbs>
</Page::Header>

{{#if this.isDistributing}}
  <Keymgmt::Distribute
    @backend={{@form.data.backend}}
    @provider={{@form.data.name}}
    @onClose={{fn (mut this.isDistributing) false}}
  />
{{else}}
  {{#if this.isShowing}}
    <div class="tabs-container box is-sideless is-fullwidth is-paddingless is-marginless">
      <nav class="tabs" aria-label="navigation for managing providers">
        <ul>
          <li class={{unless this.viewingKeys "active"}} data-test-kms-provider-tab="details">
            <LinkTo @route="vault.cluster.secrets.backend.show" @model={{@form.data.name}} @query={{hash tab=""}}>
              Details
            </LinkTo>
          </li>
          {{#if @capabilities.canListKeys}}
            <li class={{if this.viewingKeys "active"}} data-test-kms-provider-tab="keys">
              <LinkTo @route="vault.cluster.secrets.backend.show" @model={{@form.data.name}} @query={{hash tab="keys"}}>
                Keys
              </LinkTo>
            </li>
          {{/if}}
        </ul>
      </nav>
    </div>
    {{#unless this.viewingKeys}}
      <Toolbar
        data-test-kms-provider-details-actions
        aria-label="options for managing for key/management provider {{@form.data.name}}"
      >
        <ToolbarActions>
          {{#if @capabilities.canDelete}}
            <ConfirmAction
              @buttonText="Delete provider"
              class="toolbar-button"
              @buttonColor="secondary"
              @confirmTitle="Delete this provider?"
              @onConfirmAction={{this.onDelete}}
              @disabledMessage={{if
                this.keyCount
                (concat
                  "This provider cannot be deleted until all "
                  this.keyCount
                  " key(s) distributed to it are revoked. This can be done from the Keys tab."
                )
              }}
              data-test-kms-provider-delete
            />
          {{/if}}
          {{#if (and @capabilities.canDelete (or @capabilities.canListKeys @capabilities.canEdit))}}
            <div class="toolbar-separator"></div>
          {{/if}}
          {{#if (or @capabilities.canListKeys @capabilities.canCreateKeys)}}
            <Hds::Button
              @text="Distribute key"
              @icon="chevron-right"
              @iconPosition="trailing"
              @color="secondary"
              class="toolbar-button"
              {{on "click" (fn (mut this.isDistributing) true)}}
              data-test-distribute-key
            />
          {{/if}}
          {{#if @capabilities.canEdit}}
            <ToolbarSecretLink
              @secret={{@form.data.name}}
              @mode="edit"
              @replace={{true}}
              @queryParams={{hash itemType="provider"}}
              disabled={{(not @capabilities.canEdit)}}
            >
              Update credentials
            </ToolbarSecretLink>
          {{/if}}
        </ToolbarActions>
      </Toolbar>
    {{/unless}}
  {{else}}
    <form aria-label="update credentials" {{on "submit" this.onSave}}>
      <div class="box is-sideless is-fullwidth is-marginless">
        {{#if this.isCreating}}
          {{#each @form.createFields as |attr index|}}
            {{#if (eq index 2)}}
              <div class="has-border-top-light">
                <h2 class="title is-5 has-top-margin-l has-bottom-margin-m" data-test-kms-provider-config-title>
                  Provider configuration
                </h2>
              </div>
              {{#if @form.data.provider}}
                {{! Only show last field if provider selected }}
                <FormField
                  @attr={{attr}}
                  @model={{@form}}
                  @modelValidations={{this.modelValidations}}
                  @onChange={{this.onFieldChange}}
                />
              {{else}}
                <Hds::ApplicationState class="top-padding-32 bottom-padding-32 is-marginless" as |A|>
                  <A.Header @title="No provider selected" @titleTag="h2" data-test-empty-state-title />
                  <A.Body @text="Select a provider in order to configure it." data-test-empty-state-message />
                </Hds::ApplicationState>
              {{/if}}
            {{else}}
              <FormField
                @attr={{attr}}
                @model={{@form}}
                @modelValidations={{this.modelValidations}}
                @onChange={{this.onFieldChange}}
              />
            {{/if}}
          {{/each}}
        {{/if}}
        {{#unless this.isCreating}}
          <h2 class="title is-5" data-test-kms-provider-creds-title>
            New credentials
          </h2>
          <p class="sub-text has-bottom-margin-m">
            Old credentials cannot be read and will be lost as soon as new ones are added. Do this carefully.
          </p>
        {{/unless}}
        {{#each @form.credentialFields as |cred|}}
          <FormField
            @attr={{cred}}
            @model={{@form}}
            @modelValidations={{this.modelValidations}}
            @onChange={{this.onFieldChange}}
          />
        {{/each}}
      </div>
      <div class="field is-grouped box is-fullwidth is-bottomless">
        <Hds::ButtonSet>
          <Hds::Button
            @text={{if this.isCreating "Create provider" "Update"}}
            @icon={{if this.saveTask.isRunning "loading"}}
            type="submit"
            disabled={{this.saveTask.isRunning}}
            data-test-kms-provider-submit
          />
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            @route={{if this.isCreating @root.path "vault.cluster.secrets.backend.show"}}
            @model={{if this.isCreating @root.model @form.data.name}}
            @query={{if this.isCreating (hash tab="provider") (hash itemType="provider")}}
            disabled={{this.saveTask.isRunning}}
            data-test-kms-provider-cancel
          />
        </Hds::ButtonSet>
      </div>
    </form>
  {{/if}}

  {{#if this.isShowing}}
    <div class="has-bottom-margin-s">
      {{#if this.viewingKeys}}
        {{#let (options-for-backend "keymgmt" "key") as |options|}}
          {{#if @form.data.keys.meta.total}}
            {{#each @form.data.keys as |key|}}
              <SecretList::Item
                @item={{key}}
                @backendModel={{@root}}
                @backendType="keymgmt"
                @delete={{fn this.onDeleteKey key}}
                @itemPath={{concat options.modelPrefix key.id}}
                @itemType={{options.item}}
                @modelType={{@modelType}}
                @options={{options}}
              />
            {{/each}}
            <Hds::Pagination::Numbered
              @currentPage={{@form.data.keys.meta.currentPage}}
              @currentPageSize={{@form.data.keys.meta.pageSize}}
              @route="vault.cluster.secrets.backend.show"
              @showSizeSelector={{false}}
              @totalItems={{@form.data.keys.meta.total}}
              @onPageChange={{perform this.fetchKeys}}
            />

          {{else}}
            <Hds::ApplicationState class="top-padding-32 bottom-padding-32 is-marginless" as |A|>
              <A.Header @title="No keys for this provider" @titleTag="h2" />
              <A.Body @text="Keys for this provider will be listed here. Add a key to get started." />
              <A.Footer as |F|>
                <F.LinkStandalone
                  @icon="plus"
                  @text="Create key"
                  @route="vault.cluster.secrets.backend.create-root"
                  @query={{hash itemType="key"}}
                />
              </A.Footer>
            </Hds::ApplicationState>
          {{/if}}
        {{/let}}
      {{else}}
        {{#each this.displayFields as |field|}}
          {{#if (eq field "provider")}}
            <InfoTableRow
              @label={{this.label field}}
              @value={{this.providerTypeName @form.data.provider}}
              data-test-kms-provider-field={{field}}
            >
              <Icon @name={{this.providerIcon @form.data.provider}} class="icon" />
              {{this.providerTypeName @form.data.provider}}
            </InfoTableRow>
          {{else if (eq field "keys")}}
            <InfoTableRow @label={{this.label field}} @value={{this.keysValue}} data-test-kms-provider-field={{field}}>
              {{#if this.keyCount}}
                <LinkTo @route="vault.cluster.secrets.backend.show" @model={{@form.data.name}} @query={{hash tab="keys"}}>
                  {{this.keysValue}}
                </LinkTo>
              {{else}}
                {{this.keysValue}}
              {{/if}}
            </InfoTableRow>
          {{else}}
            <InfoTableRow @alwaysRender={{true}} @label={{this.label field}} @value={{get @form.data field}} />
          {{/if}}
        {{/each}}
      {{/if}}
    </div>
  {{/if}}
{{/if}}