{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<SyncHeader
  @title="Create destination for {{this.displayName}} "
  @breadcrumbs={{array
    (hash label="Secrets sync" route="secrets.overview")
    (hash label="Select destination" route="secrets.destinations.create")
    (hash label="Create destination")
  }}
/>

<hr class="is-marginless has-background-gray-200" />

<form {{on "submit" (perform this.save)}} class="has-top-margin-l">
  <MessageError @errorMessage={{this.error}} />

  {{#each @destination.formFields as |attr|}}
    <FormField @attr={{attr}} @model={{@destination}} @modelValidations={{this.modelValidations}}>
      {{#if (and (eq attr.name "deploymentEnvironments") (eq @destination.type "vercel-project"))}}
        <Hds::Form::Checkbox::Group @name="deploymentEnvironments" as |G|>
          {{#each attr.options.checkboxOptions as |option|}}
            <G.Checkbox::Field
              @value={{option}}
              @id="{{@destination.type}}-{{option}}"
              {{on "change" this.handleCheckbox}}
              as |F|
            >
              <F.Label>{{option}}</F.Label>
            </G.Checkbox::Field>
          {{/each}}
        </Hds::Form::Checkbox::Group>
      {{/if}}
    </FormField>
  {{/each}}

  <hr class="has-background-gray-200 has-top-margin-l" />
  <Hds::ButtonSet>
    <Hds::Button
      @text={{if @model.isNew "Create destination" "Save"}}
      data-test-save
      type="submit"
      disabled={{this.save.isRunning}}
    />
    <Hds::Button
      @text="Cancel"
      @color="secondary"
      data-test-cancel
      disabled={{this.save.isRunning}}
      {{on "click" this.cancel}}
    />
    {{#if this.invalidFormMessage}}
      <AlertInline @type="danger" @paddingTop={{true}} @message={{this.invalidFormMessage}} @mimicRefresh={{true}} />
    {{/if}}
  </Hds::ButtonSet>
</form>