<Hds::AppFrame @hasSidebar={{@showSidebar}} as |Frame|>
  <Frame.Sidebar data-test-sidebar-nav>
    <Hds::SideNav @isResponsive={{true}} @hasA11yRefocus={{true}} @a11yRefocusSkipTo="app-main-content">
      <:header>
        <Hds::SideNav::Header>
          <:logo>
            {{#if this.currentCluster.cluster}}
              <Hds::SideNav::Header::HomeLink
                @icon="vault"
                @route="vault.cluster"
                @model={{this.currentCluster.cluster.name}}
                @ariaLabel="home link"
                data-test-sidebar-logo
              />
            {{/if}}
          </:logo>
          <:actions>
            <button
              type="button"
              class="button is-transparent has-text-white"
              {{on "click" (fn (mut this.console.isOpen) (not this.console.isOpen))}}
              data-test-console-toggle
            >
              <Icon @name="terminal-screen" @size="24" />
            </button>
            <Sidebar::UserMenu />
          </:actions>
        </Hds::SideNav::Header>
      </:header>

      {{! this block is where the Hds::SideNav::Portal components render into }}
      <:body>
        <Hds::SideNav::Portal::Target aria-label="sidebar navigation links" />
      </:body>

      <:footer>
        {{#if (has-feature "Namespaces")}}
          <NamespacePicker @namespace={{@namespace}} />
        {{/if}}
      </:footer>
    </Hds::SideNav>
  </Frame.Sidebar>
  <Frame.Main id="app-main-content" class="is-relative">
    {{! outlet for app content }}
    <div id="modal-wormhole"></div>
    <LinkStatus @status={{this.currentCluster.cluster.hcpLinkStatus}} />
    {{yield}}
    <div data-test-console-panel class={{if this.console.isOpen "panel-open"}}>
      <Console::UiPanel @isFullscreen={{this.consoleFullscreen}} />
    </div>
  </Frame.Main>
</Hds::AppFrame>