<HcAppFrame::Frame @showNavbar={{@showSidebar}} as |Frame|>
  <Frame.Sidebar as |Sidebar|>
    <Sidebar.Header>
      {{! Logo }}
      <div class="brand-icon">
        <HomeLink @class="has-text-white">
          <Icon @name="vault-logo" @size="24" />
        </HomeLink>
      </div>
      {{#if Sidebar.shouldRenderExtras}}
        <button
          type="button"
          class="button is-transparent has-text-white"
          {{on "click" (fn (mut this.console.isOpen) (not this.console.isOpen))}}
          data-test-console-toggle
        >
          <Icon @name="terminal-screen" @size="24" />
        </button>
        <Sidebar::UserMenu />
      {{/if}}
    </Sidebar.Header>
    <Sidebar.Content>
      {{! this block is where the HcAppFrame::Nav components render into }}
    </Sidebar.Content>
    <Sidebar.Footer>
      {{#if (has-feature "Namespaces")}}
        <NamespacePicker @namespace={{@namespace}} />
      {{/if}}
    </Sidebar.Footer>
  </Frame.Sidebar>
  <Frame.Main>
    {{! outlet for app content }}
    <LinkStatus @status={{this.currentCluster.cluster.hcpLinkStatus}} />
    <div class={{if this.console.isOpen "panel-open"}}>
      <Console::UiPanel @isFullscreen={{this.consoleFullscreen}} />
    </div>
    {{yield}}
  </Frame.Main>
</HcAppFrame::Frame>