{{#if model.operationAll}}
  <AlertInline @type="info" @message="This role allows all KMIP operations" class="is-marginless" />
{{/if}}
{{#each @model.operationFormFields as |group|}}
  {{#each-in group as |groupName fieldsInGroup|}}
    <InfoTableRow @alwaysRender={{true}}
      @label={{groupName}}
      @value={{true}}
    >
      <div>
        {{#each fieldsInGroup as |field|}}
          <Icon
            aria-hidden="true"
            class={{compute (action "iconClass") model field}}
            @glyph={{compute (action "iconGlyph") model field}}
            /> {{field.options.label}}
          <br />
        {{/each}}
      </div>
    </InfoTableRow>
  {{/each-in}}
{{/each}}