{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{! Display template for rendering title, description and stat boxes with a chart on the right and legend below }}

<Hds::Card::Container class="chart-container" @hasBorder={{@hasBorder}} data-test-chart-container={{@title}} ...attributes>
  <div class="has-bottom-margin-xl">
    <h2 class="chart-title">{{@title}}</h2>
    <p class="chart-description">
      {{@description}}
    </p>
    {{#if (has-block "toggle")}}
      {{yield to="toggle"}}
    {{/if}}
  </div>

  <div class="chart-flex-row">
    <div class="item-left">
      {{#if (has-block "subtitle")}}
        {{yield to="subtitle"}}
      {{/if}}

      {{#if (has-block "stats")}}
        {{yield to="stats"}}
      {{/if}}
    </div>

    <div class="item-right">
      {{#if (has-block "chart")}}
        {{yield to="chart"}}
      {{/if}}

      {{#if @legend}}
        <div class="legend-container" data-test-chart-container-legend>
          {{#each @legend as |l|}}
            <div class="legend-item">
              <span class="dots legend-{{l.key}}"></span>
              <Hds::Text::Body @size="100">{{capitalize l.label}}</Hds::Text::Body>
            </div>
          {{/each}}
        </div>
      {{/if}}

    </div>
  </div>
</Hds::Card::Container>