{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<EmptyState
  @title={{if (eq @error.httpStatus 403) "You are not authorized" "Error"}}
  @subTitle="Error {{@model.httpStatus}}"
  @icon="skip"
>
  {{#if (eq @error.httpStatus 403)}}
    <p>
      You must be granted permissions to view this page. Ask your administrator if you think you should have access to the
      <code>{{@error.path}}</code>
      endpoint.
    </p>
  {{else}}
    <ul>
      {{#if @error.message}}
        <li>{{@error.message}}</li>
        <hr />
      {{/if}}
      {{#each @error.errors as |error|}}
        <li>
          {{error}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</EmptyState>