{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::SegmentedGroup as |SG|>
  {{#each-in this.dropdownConfig as |filterProperty d|}}
    {{#let d.label d.dropdownItems d.searchProperty as |label dropdownItems searchProperty|}}
      <SG.Dropdown data-test-dropdown={{filterProperty}} @onClose={{this.updateSearch searchProperty ""}} as |D|>
        <D.ToggleButton @color="secondary" @text={{capitalize label}} />
        <D.Header>
          <Hds::Form::TextInput::Base
            type="search"
            placeholder="Search"
            id={{searchProperty}}
            autocomplete="off"
            @value={{get this searchProperty}}
            {{on "input" this.handleSearch}}
          />
        </D.Header>
        <D.Separator />
        {{#let (this.searchDropdown dropdownItems searchProperty) as |matchingItems|}}
          {{#each matchingItems as |item|}}
            <D.Checkmark
              {{! Select dropdown item and set as tracked property to pass back on "Apply filters" }}
              {{on "click" (fn this.updateFilter filterProperty item D.close)}}
              @selected={{eq item (get this filterProperty)}}
              data-test-dropdown-item={{item}}
            >
              {{item}}
            </D.Checkmark>
          {{else}}
            <D.Description
              class="has-top-padding-xs"
              @text={{this.noItemsMessage (get this searchProperty) (pluralize label)}}
            />
          {{/each}}
        {{/let}}
      </SG.Dropdown>
    {{/let}}
  {{/each-in}}
  <Hds::Button
    @icon="filter"
    @text="Apply filters"
    @color="primary"
    {{on "click" this.applyFilters}}
    data-test-button="Apply filters"
  />
</Hds::SegmentedGroup>

<Hds::Layout::Flex class="has-top-margin-s" @gap="8" @align="center">
  {{#if this.anyFilters}}
    <Hds::Text::Body @color="faint">Filters applied:</Hds::Text::Body>
    {{! render tags based on applied @filters and not the internally tracked properties }}
    {{#each-in @appliedFilters as |filter value|}}
      {{#if value}}
        <div>
          <Hds::Tag
            @text={{value}}
            @tooltipPlacement="bottom"
            @onDismiss={{fn this.clearFilters filter}}
            data-test-filter-tag="{{filter}} {{value}}"
          />
        </div>
      {{/if}}
    {{/each-in}}
    <Hds::Button
      @icon="x-circle"
      @text="Clear filters"
      @color="tertiary"
      {{on "click" (fn this.clearFilters "")}}
      data-test-button="Clear filters"
    />
  {{/if}}
</Hds::Layout::Flex>