{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="console-ui-input" data-test-component="console/command-input">
  {{#if this.isRunning}}
    <div class="control console-spinner is-loading"></div>
  {{else}}
    <Chevron />
  {{/if}}
  <input
    aria-label="web R.E.P.L."
    aria-describedby="namespace-reminder"
    onkeyup={{action "handleKeyUp"}}
    value={{this.value}}
    autocomplete="off"
    spellcheck="false"
    id="console-input"
  />
  <Hds::Button
    class="hds-side-nav__icon-button"
    {{on "click" (action "fullscreen")}}
    data-test-dismiss-console-button
    @icon={{if this.isFullscreen "minimize" "maximize"}}
    @text={{if this.isFullscreen "Minimize window" "Maximize window"}}
    @isIconOnly={{true}}
  />
</div>
<NamespaceReminder @class="console-reminder" @mode="execute" @noun="command" />