{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="console-ui-output">
  <JsonEditor
    @showToolbar={{false}}
    @value={{stringify this.content}}
    @readOnly={{true}}
    @viewportMargin="Infinity"
    @gutters={{false}}
    @theme="hashi auto-height"
  />
  <Hds::Copy::Button
    @text="Copy"
    @isIconOnly={{true}}
    @textToCopy={{stringify this.content}}
    class="transparent icon-grey-500 top-right-absolute"
  />
</div>