<button type="button" class="toolbar-link" {{on "click" @toggleModal}} data-test-kv-delete={{@mode}}>
  {{@buttonText}}
</button>
{{#if @modalOpen}}
  <Modal
    @title="{{@buttonText}} {{if (not-eq @mode 'delete-metadata') 'version?' ''}}"
    @onClose={{@toggleModal}}
    @isActive={{@toggleModal}}
    @type={{if (eq @buttonText "Delete") "warning" "danger"}}
    @showCloseButton={{true}}
  >
    <section class="modal-card-body">
      <p class="has-bottom-margin-s">
        {{yield to="description"}}
      </p>

      {{yield to="content"}}

    </section>
    <footer class="modal-card-foot modal-card-foot-outlined">
      <button
        type="button"
        class="button {{if (eq @mode 'delete') 'is-warning-outlined' 'is-danger-outlined'}}"
        {{on "click" @handleDelete}}
        disabled={{@disabled}}
      >
        {{capitalize @buttonText}}
      </button>
      <button type="button" class="button is-secondary" {{on "click" @toggleModal}}>
        Cancel
      </button>
    </footer>
  </Modal>
{{/if}}