{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Page::Header @title={{@pageTitle}} @description={{if @backend "KV" ""}} @icon={{@backend.icon}}>
  <:breadcrumbs>
    <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
  </:breadcrumbs>
  <:actions>
    {{#if (has-block "actions")}}
      {{yield to="actions"}}
    {{/if}}
  </:actions>
  <:badges>
    {{#if (has-block "badges")}}
      {{yield to="badges"}}
    {{/if}}
    {{#if @secretPath}}
      <Hds::Copy::Button
        @isIconOnly={{true}}
        @text="Copy your secret path"
        @textToCopy={{@secretPath}}
        data-test-copy-button
      />
    {{/if}}
  </:badges>
</Page::Header>

{{#if @configRoute}}
  <Mount::ConfigureTabs
    @configRoute={{@configRoute}}
    @displayName="KV"
    @path={{@backend.id}}
    @externalRoute="secretsGeneralSettingsConfiguration"
  />
{{else}}
  {{#if (has-block "tabs")}}
    <div class="tabs-container box is-marginless is-fullwidth is-paddingless">
      <nav class="tabs" aria-label="kv tabs">
        <ul>
          {{yield to="tabs"}}
        </ul>
      </nav>
    </div>
  {{/if}}
{{/if}}

{{#if (has-block "syncDetails")}}
  {{yield to="syncDetails"}}
{{/if}}

{{#if (or (has-block "toolbarFilters") (has-block "toolbarActions"))}}
  <Toolbar aria-label="menu items for managing {{or @mountName @secretPath @pageTitle}}">
    <ToolbarFilters aria-label="filters for secrets list">
      {{yield to="toolbarFilters"}}
    </ToolbarFilters>
    <ToolbarActions aria-label="actions for secrets">
      {{yield to="toolbarActions"}}
    </ToolbarActions>
  </Toolbar>
{{/if}}