{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form {{on "submit" this.submit}} ...attributes>
  {{#each-in this.formData as |key value|}}
    <div class="flex column-gap-16 has-top-padding-s">
      <Hds::Form::TextInput::Base
        @type="text"
        @value={{key}}
        aria-label="Key {{key}}"
        name="key-{{key}}"
        {{! Original keys (from subkeys endpoint) are not editable, only their values can be updated }}
        disabled={{this.isOriginalKey key}}
        {{on "blur" (fn this.onBlurExisting key "key")}}
      />

      <Hds::Form::MaskedInput::Base
        @value={{value}}
        aria-label="Value for key {{key}}"
        name="value-{{key}}"
        disabled={{includes (this.getState key) (array "disabled" "deleted")}}
        {{on "blur" (fn this.onBlurExisting key "value")}}
      />

      <Hds::ButtonSet {{style width="15rem"}}>
        {{#if (eq (this.getState key) "disabled")}}
          <Hds::Button
            @text="Edit"
            @icon="edit"
            @color="secondary"
            @isIconOnly={{true}}
            {{on "click" (fn this.setState key "enabled")}}
          />
          <Hds::Button
            @text="Delete"
            @icon="trash"
            @color="critical"
            @isIconOnly={{true}}
            {{on "click" (fn this.setState key "deleted")}}
          />
        {{else}}
          <Hds::Button
            @text={{if (this.isOriginalKey key) "Cancel" "Remove"}}
            @color="secondary"
            {{on "click" (fn this.handleCancel key)}}
          />
        {{/if}}
      </Hds::ButtonSet>
    </div>

    {{#if (eq (this.getState key) "deleted")}}
      <Hds::Alert @type="compact" @color="critical" @icon="alert-diamond-fill" as |A|>
        <A.Description>This key value pair is marked for deletion.</A.Description>
      </Hds::Alert>
    {{/if}}
  {{/each-in}}

  {{! Empty inputs for adding new key/value pairs }}
  <div class="flex column-gap-16 has-top-padding-s">
    <Hds::Form::TextInput::Base
      @type="text"
      @value={{this.newKey}}
      aria-label="new key"
      placeholder="key"
      name="newKey"
      {{on "blur" this.onBlurNew}}
    />

    <Hds::Form::MaskedInput::Base
      @value={{this.newValue}}
      aria-label="new value"
      name="newValue"
      {{on "blur" this.onBlurNew}}
    />

    <Hds::ButtonSet {{style width="15rem"}}>
      <Hds::Button
        @text="Add"
        @color="secondary"
        disabled={{and (not this.newKey) (not this.newValue)}}
        {{on "click" this.handleAddClick}}
      />
    </Hds::ButtonSet>
  </div>

  <hr class="has-background-gray-200" />

  <Hds::ButtonSet>
    <Hds::Button
      @text="Save"
      @icon={{if @onSubmit.isRunning "loading"}}
      type="submit"
      disabled={{@onSubmit.isRunning}}
      data-test-kv-save
    />
    <Hds::Button
      @text="Cancel"
      @color="secondary"
      disabled={{@onSubmit.isRunning}}
      {{on "click" @onCancel}}
      data-test-kv-cancel
    />
  </Hds::ButtonSet>
</form>