{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form {{on "submit" this.submit}} ...attributes>
  {{#each-in this.inputData as |key value|}}
    <div class="flex column-gap-16 has-top-padding-s">
      <Hds::Form::TextInput::Base
        @type="text"
        @value={{key}}
        aria-label="Key {{key}}"
        placeholder="key"
        name="key-{{key}}"
        {{! existing keys are not editable, only their values can be updated }}
        disabled={{this.isExistingKey key}}
      />

      {{#let (concat "value-" key) as |name|}}
        {{#if (eq (this.getState key) "deleted")}}
          {{! Unmask values marked for deletion to show users the payload sends "null" (which removes a key/value pair) }}
          {{! @isContentMasked does not update after the component has been instantiated so we have to use separate inputs}}
          <Hds::Form::MaskedInput::Base
            @value="null"
            @isContentMasked={{false}}
            aria-label={{humanize name}}
            name={{name}}
            disabled={{true}}
          />
        {{else}}
          <Hds::Form::MaskedInput::Base
            @value={{value}}
            aria-label={{humanize name}}
            name={{name}}
            disabled={{eq (this.getState key) "disabled"}}
          />
        {{/if}}
      {{/let}}

      <Hds::ButtonSet {{style width="15rem"}}>
        {{#if (eq (this.getState key) "disabled")}}
          <Hds::Button
            @text="Edit"
            @icon="edit"
            @color="secondary"
            @isIconOnly={{true}}
            {{on "click" (fn this.setState key "enabled")}}
          />
          <Hds::Button
            @text="Delete"
            @icon="trash"
            @color="critical"
            @isIconOnly={{true}}
            {{on "click" (fn this.setState key "deleted")}}
          />
        {{else}}
          <Hds::Button
            @text={{if (this.isExistingKey key) "Cancel" "Remove"}}
            @color="secondary"
            {{on "click" (fn this.handleCancel key)}}
          />
        {{/if}}
      </Hds::ButtonSet>
    </div>

    {{#if (eq (this.getState key) "deleted")}}
      <Hds::Alert @type="compact" @color="critical" @icon="alert-diamond-fill" as |A|>
        <A.Description>This key value pair is marked for deletion.</A.Description>
      </Hds::Alert>
    {{/if}}
  {{/each-in}}

  {{! Empty inputs for adding new key/value pairs }}
  <div class="flex column-gap-16 has-top-padding-s">
    <Hds::Form::TextInput::Base
      @type="text"
      @value={{this.newKey}}
      aria-label="new key"
      placeholder="key"
      name="newKey"
      {{on "blur" this.onBlur}}
    />

    <Hds::Form::MaskedInput::Base
      @value={{this.newValue}}
      aria-label="new value"
      name="newValue"
      {{on "blur" this.onBlur}}
    />

    <Hds::ButtonSet {{style width="15rem"}}>
      <Hds::Button
        @text="Add"
        @color="secondary"
        disabled={{and (not this.newKey) (not this.newValue)}}
        {{on "click" (fn this.addData this.newKey this.newValue)}}
      />
    </Hds::ButtonSet>
  </div>

  <hr class="has-background-gray-200" />

  <Hds::ButtonSet>
    <Hds::Button
      @text="Save"
      @icon={{if @onSubmit.isRunning "loading"}}
      type="submit"
      disabled={{@onSubmit.isRunning}}
      data-test-kv-save
    />
    <Hds::Button
      @text="Cancel"
      @color="secondary"
      disabled={{@onSubmit.isRunning}}
      {{on "click" @onCancel}}
      data-test-kv-cancel
    />
  </Hds::ButtonSet>
</form>