{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form {{on "submit" this.submit}} ...attributes>
  {{#each-in this.formData as |key|}}
    <div class="flex column-gap-16 has-top-padding-s">
      <Hds::Form::TextInput::Base
        @type="text"
        @value={{key}}
        aria-label="Key {{key}}"
        name="key-{{key}}"
        {{! Original keys (from subkeys endpoint) are not editable, only their values can be updated }}
        disabled={{this.isOriginalKey key}}
        {{on "blur" (fn this.handlePatchKey key)}}
        data-test-kv-key={{key}}
      />

      <Hds::Form::MaskedInput::Base
        @value={{this.getValue key}}
        aria-label="Value for key {{key}}"
        name="value-{{key}}"
        disabled={{includes (this.getState key) (array "disabled" "deleted")}}
        {{on "blur" (fn this.handlePatchValue key)}}
        data-test-kv-value={{key}}
      />

      <Hds::ButtonSet {{style width="15rem"}}>
        {{#if (eq (this.getState key) "disabled")}}
          <Hds::Button
            @text="Edit"
            @icon="edit"
            @color="secondary"
            @isIconOnly={{true}}
            {{on "click" (fn this.setState key "enabled")}}
            data-test-edit={{key}}
          />
          <Hds::Button
            @text="Delete"
            @icon="trash"
            @color="critical"
            @isIconOnly={{true}}
            {{on "click" (fn this.setState key "deleted")}}
            data-test-delete={{key}}
          />
        {{else}}
          <Hds::Button
            @text={{if (this.isOriginalKey key) "Cancel" "Remove"}}
            @color="secondary"
            {{on "click" (fn this.handleCancel key)}}
            data-test-undo={{key}}
          />
        {{/if}}
      </Hds::ButtonSet>
    </div>

    {{#if (eq (this.getState key) "deleted")}}
      <Hds::Alert @type="compact" @color="critical" @icon="alert-diamond-fill" data-test-alert-delete={{key}} as |A|>
        <A.Description>This key value pair is marked for deletion.</A.Description>
      </Hds::Alert>
    {{/if}}
  {{/each-in}}

  {{! Empty inputs for adding new key/value pairs }}
  <div class="flex column-gap-16 has-top-padding-s">
    <Hds::Form::TextInput::Base
      @type="text"
      @value={{this.newKey}}
      aria-label="new key"
      placeholder="key"
      name="newKey"
      {{on "blur" this.onBlurNew}}
      data-test-kv-key="new"
    />

    <Hds::Form::MaskedInput::Base
      @value={{this.newValue}}
      aria-label="new value"
      name="newValue"
      {{on "blur" this.onBlurNew}}
      data-test-kv-value="new"
    />

    <Hds::ButtonSet {{style width="15rem"}}>
      <Hds::Button
        @text="Add"
        @color="secondary"
        disabled={{and (not this.newKey) (not this.newValue)}}
        {{on "click" this.handleAddClick}}
        data-test-add
      />
    </Hds::ButtonSet>
  </div>

  <hr class="has-background-gray-200" />

  <Hds::ButtonSet>
    <Hds::Button @text="Save" type="submit" @icon={{if @isSaving "loading"}} disabled={{@isSaving}} data-test-kv-save />
    <Hds::Button @text="Cancel" {{on "click" @onCancel}} @color="secondary" disabled={{@isSaving}} data-test-kv-cancel />
  </Hds::ButtonSet>
</form>