<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-header-title>
      {{#if @model.icon}}
        <Icon @name={{@model.icon}} @size="24" class="has-text-grey-light" />
      {{/if}}
      {{#if @model.pageTitle}}
        {{@model.pageTitle}}
      {{else}}
        {{@model.id}}
      {{/if}}
      {{#if @showVersionTag}}
        <span class="tag">
          Version 2
        </span>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{! Tabs section, which changes based on route. }}
{{yield to="tabs"}}

{{! TODO checks for if list >0 show filter }}
{{#if @showToolbar}}
  <Toolbar>
    {{#if (has-block "toolbarFilter")}}
      {{! <ToolbarFilters> }}
      {{yield to="toolbarFilter"}}
      {{! </ToolbarFilters> }}
    {{/if}}
    <ToolbarActions>
      {{#if (has-block "toolbarActions")}}
        {{yield to="toolbarActions"}}
      {{/if}}
    </ToolbarActions>
  </Toolbar>
{{/if}}