<form {{on "submit" (perform @onSave)}}>
  <div class="box is-sideless is-fullwidth is-bottomless">
    <NamespaceReminder @mode="create" @noun="secret" />
    <MessageError @model={{@secret}} @errorMessage={{@errorMessage}} />

    {{#let (find-by "name" "path" @secret.allFields) as |attr|}}
      <FormField @attr={{attr}} @model={{@secret}} @modelValidations={{@modelValidations}} />
    {{/let}}
    <hr class="is-marginless has-background-gray-200" />
    <KvObjectEditor
      class="has-top-margin-m"
      @label="Secret data"
      @value={{@secret.secretData}}
      @onChange={{fn (mut @secret.secretData)}}
      @maskedInput={{true}}
    />
  </div>
  <div class="box is-fullwidth is-bottomless">
    <div class="control">
      <button
        type="submit"
        class="button is-primary {{if @onSave.isRunning 'is-loading'}}"
        disabled={{@onSave.isRunning}}
        data-test-kv-secret-save
      >
        Save
      </button>
      <button
        type="button"
        class="button has-left-margin-s"
        disabled={{@onSave.isRunning}}
        {{on "click" @onCancel}}
        data-test-kv-secret-cancel
      >
        Cancel
      </button>
    </div>
    {{#if @invalidFormAlert}}
      <AlertInline class="has-top-padding-s" @type="danger" @message={{@invalidFormAlert}} @mimicRefresh={{true}} />
    {{/if}}
  </div>
</form>