<form onsubmit={{action "createOrUpdateKey" "update"}}>
  <div class="box is-sideless is-fullwidth is-marginless is-paddingless">
    <MessageError @model={{model}} @errorMessage={{error}} />
    <NamespaceReminder @mode="edit" @noun="secret" />
    {{#if (and (not model.isStub) (not-eq model.selectedVersion.version model.currentVersion))}}
      <div class="form-section">
        <AlertBanner
          @type="warning"
          @class="is-marginless"
          @message="You are creating a new version based on data from Version {{model.selectedVersion.version}}. The current version for {{model.id}} is Version {{model.currentVersion}}."
        />
      </div>
    {{/if}}
    <SecretEditDisplay
      @showAdvancedMode={{showAdvancedMode}}
      @codemirrorString={{codemirrorString}}
      @secretData={{secretData}}
      @isV2={{isV2}}
      @canEditV2Secret={{canEditV2Secret}}
      @model={{model}}
      @editActions={{hash
        codemirrorUpdated=(action "codemirrorUpdated")
        formatJSON=(action "formatJSON")
        handleKeyDown=(action "handleKeyDown")
        handleChange=(action "handleChange")
        deleteRow=(action "deleteRow")
        addRow=(action "addRow")
      }}
    />
  </div>
  <div class="field is-grouped is-grouped-split is-fullwidth box is-bottomless">
    <div class="field is-grouped">
      <div class="control">
        <button
          data-test-secret-save
          type="submit"
          disabled={{buttonDisabled}}
          class="button is-primary"
        >
          Save
        </button>
      </div>
      <div class="control">
        {{#secret-link
          mode="show"
          secret=model.id
          class="button"
          queryParams=(query-params version=this.modelForData.version)
        }}
          Cancel
        {{/secret-link}}
      </div>
    </div>
  </div>
</form>
