<form class="{{if showAdvancedMode 'advanced-edit' 'simple-edit'}}" onsubmit={{action "createOrUpdateKey" "create"}}>
  <div class="field box is-fullwidth is-sideless is-marginless">
    <NamespaceReminder @mode="create" @noun="secret" />
    <MessageError @model={{model}} @errorMessage={{error}} />
    <label class="label is-font-weight-normal" for="kv-key">Path for this secret</label>
    <p class="control is-expanded">
      {{input data-test-secret-path=true id="kv-key" class="input" value=(get modelForData modelForData.pathAttr)}}
    </p>
    {{#if modelForData.isFolder}}
      <p class="help is-danger">
      The secret path may not end in <code>/</code>
      </p>
    {{/if}}
  </div>

  {{partial "partials/secret-edit-display"}}

  <div class="field is-grouped box is-fullwidth is-bottomless">
    <div class="control">
      <button
       type="submit"
       disabled={{buttonDisabled}}
       class="button is-primary"
       data-test-secret-save=true
       >
         Save
      </button>
    </div>
    <div class="control">
      {{#secret-link
        mode="list"
        secret=model.parentKey
        class="button"
      }}
        Cancel
      {{/secret-link}}
    </div>
  </div>
</form>
