{{#if (and isV2 modelForData.destroyed)}}
  <BlockEmpty>
    Version {{modelForData.version}} of this secret has been permanently destroyed.
  </BlockEmpty>
{{else if (and isV2 modelForData.deleted)}}
  <BlockEmpty>
    Version {{modelForData.version}} of this secret has been deleted.
  </BlockEmpty>
{{else}}
  {{#if showAdvancedMode}}
    {{json-editor
      value=modelForData.dataAsJSONString
      options=(hash
        readOnly=true
      )
    }}
  {{else}}
    <div class="table info-table-row-header">
      <div class="info-table-row thead">
        <div class="th column is-one-quarter">
          Key
        </div>
        <div class="th column">
          Value
        </div>
      </div>
    </div>
    {{#each-in modelForData.secretData as |key value|}}
      {{#info-table-row label=key value=value alwaysRender=true}}
        {{masked-input value=value displayOnly=true}}
      {{/info-table-row}}
    {{/each-in}}
  {{/if}}
{{/if}}
