<form class="{{if showAdvancedMode 'advanced-edit' 'simple-edit'}}" onsubmit={{action "createOrUpdateKey" "create"}}>
  <div class="field box is-fullwidth is-sideless is-marginless">
    <NamespaceReminder @mode="create" @noun="secret" />
    <MessageError @model={{model}} @errorMessage={{error}} />
    <label class="is-label" for="kv-key">Path for this secret</label>
    <p class="control is-expanded">
      {{input 
        autocomplete="off"
        data-test-secret-path="true"
        id="kv-key"
        class="input"
        value=(get modelForData modelForData.pathAttr)
      }}
    </p>
    {{#if modelForData.isFolder}}
      <p class="help is-danger">
      The secret path may not end in <code>/</code>
      </p>
    {{/if}}
  </div>
  <SecretEditDisplay
    @showAdvancedMode={{showAdvancedMode}}
    @codemirrorString={{codemirrorString}}
    @secretData={{secretData}}
    @isV2={{isV2}}
    @model={{model}}
    @canEditV2Secret={{canEditV2Secret}}
    @editActions={{hash
      codemirrorUpdated=(action "codemirrorUpdated")
      formatJSON=(action "formatJSON")
      handleKeyDown=(action "handleKeyDown")
      handleChange=(action "handleChange")
      deleteRow=(action "deleteRow")
      addRow=(action "addRow")
    }}
  />
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <div class="control">
      <button
       type="submit"
       disabled={{buttonDisabled}}
       class="button is-primary"
       data-test-secret-save=true
       >
         Save
      </button>
    </div>
    <div class="control">
      {{#secret-link
        mode="list"
        secret=model.parentKey
        class="button"
      }}
        Cancel
      {{/secret-link}}
    </div>
  </div>
</form>
