{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::Card::Container @hasBorder={{true}} class="has-padding-l" data-test-card="quick-actions">
  <h2 class="title is-4">Quick actions</h2>
  {{#if this.filteredSecretsEngines}}
    <div class="has-top-margin-m has-bottom-margin-l">
      <Hds::Form::SuperSelect::Single::Field
        @options={{this.filteredSecretsEngines}}
        @selected={{this.selectedEngine}}
        @searchEnabled={{true}}
        @searchField="id"
        @placeholder="Select a mount"
        @searchPlaceholder="Type to search for mounts"
        @onChange={{this.handleSearchEngineSelect}}
        data-test-super-select="secrets-engines"
        as |F|
      >
        <F.Label>Secrets engines</F.Label>
        <F.HelperText>Supported engines include databases, KV version 2, and PKI.</F.HelperText>
        <F.Options>{{F.options.id}}</F.Options>
      </Hds::Form::SuperSelect::Single::Field>
    </div>

    {{#if this.selectedEngine}}
      <Hds::Form::SuperSelect::Single::Field
        @options={{this.actionOptions}}
        @selected={{this.selectedAction}}
        @searchEnabled={{false}}
        @placeholder="Select one"
        @onChange={{this.setSelectedAction}}
        data-test-super-select="actions"
        as |F|
      >
        <F.Label>Action</F.Label>
        <F.Options>{{F.options}}</F.Options>
      </Hds::Form::SuperSelect::Single::Field>

      {{#if this.selectedAction}}
        <div class="has-top-margin-m">
          {{#if this.fetchOptions.isRunning}}
            <Hds::Icon @name="loading" @isInline={{true}} />
            <p class="has-left-margin-xs" data-test-loading>Loading options...</p>
          {{else if this.searchSelectParams.isKV}}
            {{! use special input to allow searching for KVv2 secrets inside a directory }}
            <KvSuggestionInput
              @label="Secret Path"
              @value={{this.paramValue}}
              @mountPath={{this.selectedEngine.id}}
              @onChange={{fn (mut this.paramValue)}}
            />
          {{else if this.searchSelectOptions}}
            <Hds::Form::SuperSelect::Single::Field
              @options={{this.searchSelectOptions}}
              @selected={{this.paramValue}}
              @searchEnabled={{true}}
              @placeholder={{this.searchSelectParams.placeholder}}
              @searchPlaceholder={{this.searchSelectParams.searchPlaceholder}}
              @onChange={{fn (mut this.paramValue)}}
              data-test-super-select="params"
              as |F|
            >
              <F.Label data-test-card-subtitle="param">{{this.searchSelectParams.title}}</F.Label>
              <F.Options>{{F.options}}</F.Options>
            </Hds::Form::SuperSelect::Single::Field>
          {{else}}
            <InputSearch
              @label={{this.searchSelectParams.title}}
              @placeholder={{this.searchSelectParams.inputPlaceholder}}
              @onChange={{fn (mut this.paramValue)}}
              data-test-param-input
            />
          {{/if}}
        </div>
        <div>
          <Hds::Button
            @text={{this.searchSelectParams.buttonText}}
            class="has-top-margin-m"
            disabled={{(not (and this.selectedAction this.selectedEngine this.paramValue))}}
            {{on "click" this.navigateToPage}}
            data-test-button={{this.searchSelectParams.buttonText}}
          />
        </div>
      {{/if}}
    {{else}}
      <Hds::ApplicationState @align="center" data-test-empty-state="no-mount-selected" as |A|>
        <A.Header data-test-empty-state-title @title="No mount selected" />
        <A.Body data-test-empty-state-message @text="Select a mount above to get started." />
      </Hds::ApplicationState>
    {{/if}}
  {{else}}
    <Hds::ApplicationState @align="center" data-test-empty-state="quick-actions" as |A|>
      <A.Header data-test-empty-state-title @title="Welcome to quick actions" />
      <A.Body
        data-test-empty-state-message
        @text="Access secret engine actions easily. Enable a compatible secret engine (such as database, KV version 2, or PKI) to get started."
      />
      <A.Footer data-test-empty-state-actions as |F|>
        <F.LinkStandalone
          @icon="chevron-right"
          @iconPosition="trailing"
          @text="Enable a secrets engine"
          @route="vault.cluster.secrets.enable"
        />
      </A.Footer>
    </Hds::ApplicationState>
  {{/if}}
</Hds::Card::Container>