{{#if @disabled}}
  <ToolTip
    @verticalPosition="above"
    @horizontalPosition="center"
    as |T|>
    <T.trigger @tabindex="-1">
      <div
        class="box-radio is-disabled"
        data-test-mount-type={{@key}}
      >
        <label for={{@key}}>
          <Icon
            @glyph={{@glyph}}
            @size="xl"
            class="has-text-grey-light"
          />
          <span>{{@displayName}}</span>
        </label>
        <input
          type="radio"
          disabled
          id={{@key}}
          name={{@groupName}}
          value={{@key}}
          aria-checked={{eq @groupValue @key}}
          checked={{eq @groupValue @key}}
        />
        <span class="radio-indicator"></span>
      </div>
    </T.trigger>
    <T.content @class="tool-tip">
      <div class="box">
        {{or @tooltipMessage this.defaultTooltipMessage}}
      </div>
    </T.content>
  </ToolTip>
{{else}}
<div
  class="box-radio {{if (eq @groupValue @key) 'is-selected'}}"
  data-test-mount-type-radio
  data-test-mount-type={{@type}}
>
  <label for={{@key}}>
    <Icon
      @glyph={{@glyph}}
      @size="xl"
      class="has-text-grey-light"
    />
    <span>{{@displayName}}</span>
  </label>
  <input
    type="radio"
    id={{@key}}
    name={{@groupName}}
    value={{@key}}
    aria-checked={{eq @groupValue @key}}
    checked={{eq @groupValue @key}}
    data-test-box-radio-input
    data-test-box-radio-input={{@key}}
    {{on 'click' this.handleRadioChange}}
  />
</div>
{{/if}}
