{{#if @disabled}}
  <ToolTip
    @verticalPosition="above"
    @horizontalPosition="center"
    as |T|>
    <T.trigger @tabindex="-1">
      <div
        class="box-radio is-disabled"
        data-test-mount-type={{@key}}
        tabindex="0"
      >
        <Icon
          @glyph={{@glyph}}
          @size="xl"
          class="has-text-grey-light"
        />
        <label for={{@key}}>{{@displayName}}</label>
        <input
          type="radio"
          disabled
          id={{@key}}
          name={{@groupName}}
          value={{@key}}
          tabindex="-1"
          aria-checked={{eq @groupValue @key}}
          checked={{eq @groupValue @key}}
          {{on 'click' this.handleRadioChange}}
        />
        <span class="radio-indicator"></span>
      </div>
    </T.trigger>
    <T.content @class="tool-tip">
      <div class="box">
        {{or @tooltipMessage this.defaultTooltipMessage}}
      </div>
    </T.content>
  </ToolTip>
{{else}}
<div
  class="box-radio {{if (eq @groupValue @key) 'is-selected'}}"
  data-test-mount-key={{@key}}
  tabindex="0"
  {{on 'click' (fn this.handleBoxClick @key)}}
  {{on 'keydown' (fn this.handleKeydown @key)}}
>
  <Icon
    @glyph={{@glyph}}
    @size="xl"
    class="has-text-grey-light"
  />
  <label for={{@key}}>{{@displayName}}</label>
  <input
    type="radio"
    id={{@key}}
    name={{@groupName}}
    value={{@key}}
    tabindex="-1"
    aria-checked={{eq @groupValue @key}}
    checked={{eq @groupValue @key}}
    data-test-box-radio-input={{@key}}
    {{on 'click' this.handleRadioChange}}
  />
  <span class="radio-indicator"></span>
</div>
{{/if}}
