{{! template-lint-disable no-inline-styles}}

  <div class="confirm-wrapper" style={{if height (concat "height: " height "px")}}>
    <div class="confirm {{if openTrigger "show-confirm"}}" ...attributes>
      {{yield (hash
        Trigger=(component "confirm/trigger")
        Message=(component "confirm/message"
          renderedTrigger=(readonly this.openTrigger)
          wormholeReference=this.wormholeReference
        )
        onTrigger=(action 'onTrigger')
        onCancel=(action 'onCancel')
        )
      }}
    </div>
    <div id={{this.wormholeId}} class="confirm-overlay {{if openTrigger "show-confirm"}}">
    </div>
  </div>
