{{! template-lint-disable no-inline-styles}}

  <div class="confirm-wrapper" style={{style}}>
    <div class="confirm {{if openTrigger "show-confirm"}}" ...attributes>
      {{yield (hash
        Message=(component "confirm/message"
          renderedTrigger=(readonly this.openTrigger)
          wormholeReference=this.wormholeReference
          onCancel=(action 'onCancel')
          onTrigger=(action 'onTrigger')
          resetTrigger=(action (mut this.openTrigger) "")
        ))
      }}
    </div>
    <div id={{this.wormholeId}} class="confirm-overlay {{if openTrigger "show-confirm"}}">
    </div>
  </div>
