{{! template-lint-disable no-inline-styles}}

  <div class="confirm-wrapper" style={{style}}>
    <div class="confirm {{if openTrigger "show-confirm"}}" ...attributes>
      {{yield (hash
        Trigger=(component "confirm/trigger"
          renderedTrigger=(readonly this.openTrigger)
          wormholeReference=this.wormholeReference
          onCancel=(action 'onCancel')
        )
        onTrigger=(action 'onTrigger')
        )
      }}
    </div>
    <div id={{this.wormholeId}} class="confirm-overlay {{if openTrigger "show-confirm"}}">
    </div>
  </div>
