<div data-test-component="empty-state" class="empty-state {{if backgroundColor "empty-state-background"}}" ...attributes>
  <div class="empty-state-content">
    {{#if icon}}
      <div class="empty-state-icon">
        <Icon @glyph={{icon}} @size="xxl" />
        <h3 class="empty-state-title" data-test-empty-state-title>
          {{title}}
        </h3>
      </div>
    {{else}}
    <h3 class="empty-state-title" data-test-empty-state-title>
      {{title}}
    </h3>
    {{/if}}
    {{#if message}}
    <p class="empty-state-message {{if bottomBorder "empty-state-message-border"}}" data-test-empty-state-message>
      {{message}}
    </p>
    {{/if}}
    {{#if (has-block)}}
      <div class="empty-state-actions">
        {{yield}}
      </div>
    {{else if emptyActions}}
      <div class="empty-state-actions">
        {{component emptyActions}}
      </div>
    {{/if}}
  </div>
</div>
