{{#each this.model.fieldGroups as |fieldGroup|}}
  {{#each-in fieldGroup as |group fields|}}
    {{#if (or (not this.renderGroup) (and this.renderGroup (eq group this.renderGroup)))}}
      {{#if (eq group "default")}}
        {{#each fields as |attr|}}
          {{! template-lint-configure simple-unless "warn" }}
          {{#unless (and (not-eq this.mode "create") (eq attr.name "name"))}}
            <FormField
              data-test-field
              @attr={{attr}}
              @mode={{this.mode}}
              @model={{this.model}}
              @onChange={{this.onChange}}
              @onKeyUp={{this.onKeyUp}}
              @validationMessages={{this.validationMessages}}
            />
          {{/unless}}
        {{/each}}
      {{else}}
        {{#let (camelize (concat "show" group)) as |prop|}}
          <ToggleButton
            @isOpen={{get this prop}}
            @openLabel={{concat "Hide " group}}
            @closedLabel={{group}}
            @onClick={{fn (mut (get this prop))}}
            class="is-block"
            data-test-toggle-group={{group}}
          />
          {{#if (get this prop)}}
            <div class="box is-marginless">
              {{#each fields as |attr|}}
                <FormField data-test-field @attr={{attr}} @mode={{this.mode}} @model={{this.model}} />
              {{/each}}
            </div>
          {{/if}}
        {{/let}}
      {{/if}}
    {{/if}}
  {{/each-in}}
{{/each}}