{{#if this.isFlightIcon}}
  <FlightIcon
    @name={{@name}}
    @size={{this.flightIconSize}}
    class={{this.iconClass}}
    ...attributes
  />
{{else}}
  <span class="hs-icon {{this.iconClass}}" ...attributes>
    {{svg-jar @name}}
  </span>
{{/if}}