{{#if this.isFlightIcon}}
  <FlightIcon @name={{@name}} @size={{@size}} @stretched={{@stretched}} ...attributes />
{{else}}
  <span class="hs-icon {{this.hsIconClass}}" ...attributes>
    {{svg-jar @name}}
  </span>
{{/if}}