{{#if this.isLink}}
  <div data-test-row-value={{this.label}}>
    {{#each this.displayArrayAmended as |name|}}
      {{#if (is-wildcard-string name)}}
        {{#let (filter-wildcard name this.allOptions) as |wildcardCount|}}
          <span>{{name}}</span>
          <span class="tag is-light has-text-grey-dark" data-test-count={{wildcardCount}}>
            includes
            {{if wildcardCount wildcardCount 0}}
            {{if (eq wildcardCount 1) this.wildcardLabel (pluralize this.wildcardLabel)}}
          </span>
          {{#if (eq this.displayArrayAmended.lastObject name)}}
            <LinkTo @route="vault.cluster.secrets.backend.list-root" @query={{hash tab=this.queryParam}}>
              <span data-test-view-all={{this.viewAll}}>View all {{this.viewAll}}</span>
            </LinkTo>
          {{/if}}
        {{/let}}
      {{else}}
        <LinkTo
          @route="vault.cluster.secrets.backend.show"
          @model={{if this.queryParam (concat this.queryParam "/" name) name}}
          data-test-item="array"
        >
          <span>{{name}}</span>
        </LinkTo>
      {{/if}}
      {{#if
        (or
          (and (not-eq name this.displayArrayAmended.lastObject) this.wildcardInDisplayArray)
          (not-eq name this.displayArrayAmended.lastObject)
        )
      }}
        ,&nbsp;
      {{/if}}
      {{#if (and (eq name this.displayArrayAmended.lastObject) (gte this.displayArray.length 10))}}
        <span data-test-and={{dec 5 this.displayArray.length}}>
          &nbsp;and
          {{dec 5 this.displayArray.length}}
          others.&nbsp;
        </span>
      {{/if}}
      {{#if (and (eq name this.displayArrayAmended.lastObject) (gte this.displayArray.length 10))}}
        <LinkTo @route="vault.cluster.secrets.backend.list-root" @query={{hash tab=this.queryParam}}>
          <span data-test-view-all={{this.viewAll}}>View all {{this.viewAll}} </span>
        </LinkTo>
      {{/if}}
    {{/each}}
  </div>
{{else}}
  <code class="is-word-break has-text-black" data-test-row-value={{this.label}}>
    {{if
      (gte this.displayArray.length 10)
      (concat this.displayArray ", and " (dec 5 this.displayArray.length) " more.")
      this.displayArray
    }}
  </code>
{{/if}}