{{#if isLink}}
  <div data-test-row-value="{{label}}">
    {{#each displayArrayAmended as |name|}}
      {{#if (is-wildcard-string name)}}
        {{#let (filter-wildcard name allOptions) as | wildcardCount |}}
          <span>{{name}}</span>
          <span class="tag is-light has-text-grey-dark" data-test-count={{wildcardCount}}>
            includes {{if wildcardCount wildcardCount 0}} {{if (eq wildcardCount 1) wildcardLabel (pluralize wildcardLabel)}}
          </span>
          {{#if (eq displayArrayAmended.lastObject name)}}
            {{#link-to "vault.cluster.secrets.backend.list-root" (query-params tab=queryParam)}}
              <span data-test-view-all={{viewAll}}>View all {{viewAll}}</span>
            {{/link-to}}
          {{/if}}
        {{/let}}
      {{else}}
        {{#link-to "vault.cluster.secrets.backend.show" (if queryParam (concat queryParam "/" name) name) data-test-item="array"}}
          <span>{{name}}</span>
        {{/link-to}}
      {{/if}}
      {{#if (or (and (not-eq name displayArrayAmended.lastObject) wildcardInDisplayArray) (not-eq name displayArrayAmended.lastObject))}}
        ,&nbsp;
      {{/if}}
      {{#if (and (eq name displayArrayAmended.lastObject) (gte displayArray.length 10)) }}
        <span data-test-and={{dec 5 displayArray.length}}>&nbsp;and {{dec 5 displayArray.length}} others.&nbsp;</span>
      {{/if}}
      {{#if (and (eq name displayArrayAmended.lastObject) (gte displayArray.length 10)) }}
        {{#link-to "vault.cluster.secrets.backend.list-root" (query-params tab=queryParam)}}
          <span data-test-view-all={{viewAll}}>View all {{viewAll}} </span>
        {{/link-to}}
      {{/if}}
    {{/each}}
  </div>
{{else}}
  <code class="is-word-break has-text-black" data-test-row-value="{{label}}">{{if (gte displayArray.length 10) (concat displayArray ", and " (dec 5 displayArray.length) " more.") displayArray}}</code>
{{/if}}

