{{#if (or alwaysRender value)}}
  {{#if label}}
    <div class="column is-one-quarter">
      <span class="is-label has-text-grey-dark" data-test-row-label="{{label}}">{{label}}</span>
      {{#if helperText}}
        <div>
          <span class="is-label helper-text has-text-grey">{{helperText}}</span>
        </div>
      {{/if}}
    </div>
  {{/if}}
  <div class="column is-flex">
    {{#if (has-block)}}
      {{yield}}
    {{else if valueIsBoolean}}
      {{#if value}}
        <Icon
          aria-hidden="true"
          class="icon-true"
          @size="l"
          @glyph="check-circle-outline"
        /> Yes
      {{else}}
        <Icon
          aria-hidden="true"
          class="icon-false"
          @size="l"
          @glyph="cancel-square-outline"
        /> No
      {{/if}}
    {{else}}
      {{#if (eq type 'array')}}
        <InfoTableItemArray
          @backend={{backend}}
          @displayArray={{value}}
          @isLink={{isLink}}
          @label={{label}}
          @modelType={{modelType}}
          @queryParam={{queryParam}}
          @viewAll={{viewAll}}
          @wildcardLabel={{wildcardLabel}}
        />
      {{else}}
        {{#if tooltipText}}
        <ToolTip
          @verticalPosition="above"
          @horizontalPosition="left"
          as |T|>
          <T.trigger @tabindex=false>
            <code class="is-word-break has-text-black" data-test-row-value="{{label}}">{{value}}</code>  
          </T.trigger>
          <T.content @class="tool-tip">
            <div class="box">
              {{tooltipText}}
            </div>
          </T.content>
        </ToolTip>
        {{else}}
          <code class="is-word-break has-text-black" data-test-row-value="{{label}}">{{value}}</code>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
{{/if}}
