{{#if (or alwaysRender value)}}
  <div class="column is-one-quarter">
    <span class="is-label has-text-grey-dark" data-test-row-label="{{label}}">{{label}}</span>
  </div>
  <div class="column is-flex">
    {{#if hasBlock}}
      {{yield}}
    {{else if valueIsBoolean}}
      {{#if value}}
        {{i-con glyph="true" size=15}} Yes
      {{else}}
        {{i-con glyph="false" size=15}} No
      {{/if}}
    {{else}}
      <code class="is-word-break has-text-black" data-test-row-value="{{label}}">{{value}}</code>
    {{/if}}
  </div>
{{/if}}
