<div class="list-item-row linkable-item">
  <div class="linkable-item-content">
    <div class="has-text-black has-text-weight-semibold">{{@title}}</div>
     <code class="has-text-grey is-size-8">
        {{@accessor}}
      </code>
    <div class="has-text-grey overflow-ellipsis {{if this.isOpen "" "is-closed"}} ">{{@description}}
      <div class="linkable-item-seemore">
        <button {{on "click" this.toggleOpen}} class="link link-plain has-text-grey is-underline">
          {{#if this.isOpen}}
            See Less
          {{else}}
            See More
          {{/if}}
        </button>
      </div>
    </div>
  </div>
  <div class="linkable-item-menu">
    <PopupMenu name="engine-menu">
      <Confirm as |c|>
        <nav class="menu">
          <ul class="menu-list">
            <li class="action">
              {{#link-to "vault.cluster.secrets"}}
                TODO: CHANGE
              {{/link-to}}
            </li>
          </ul>
        </nav>
      </Confirm>
    </PopupMenu>
  </div>
</div>
