{{#if (or (and this.items.meta this.items.meta.total) this.items.length)}}
  <div class="box is-fullwidth is-bottomless is-sideless is-paddingless" data-test-list-view-list>
    {{#each this.items as |item|}}
      {{yield (hash item=item)}}
    {{else}}
      {{yield}}
    {{/each}}
    {{#if this.showPagination}}
      <ListPagination
        @page={{this.items.meta.currentPage}}
        @lastPage={{this.items.meta.lastPage}}
        @link={{@paginationRouteName}}
        data-test-list-view-pagination
      />
    {{/if}}
  </div>
{{else}}
  {{yield (hash empty=(component "empty-state" title=this.emptyTitle message=this.emptyMessage))}}
{{/if}}