<div
  class="has-text-grey has-font-weight-normal overflow-ellipsis {{if this.isOpen '' 'is-closed'}} "
  ...attributes
  {{did-insert this.calculateOverflow}}
  data-test-read-more
>
  <span class="description-block" data-test-readmore-content>
    {{yield}}
  </span>
  {{#if this.hasOverflow}}
    <div class="linkable-item-seemore" data-test-readmore-toggle>
      <button {{on "click" this.toggleOpen}} class="link link-plain" type="button">
        {{#if this.isOpen}}
          See Less
        {{else}}
          See More
        {{/if}}
      </button>
    </div>
  {{/if}}
</div>