{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="has-top-margin-xl has-bottom-margin-s" data-test-table-rows>
  {{#if (eq this.clusterMode "secondary")}}
    <InfoTableRow
      @label="secondary_id"
      @helperText="The ID of the secondary activation token used to enable replication."
      @value={{this.secondaryId}}
    />
  {{else}}
    <InfoTableRow
      @label="primary_cluster_addr"
      @helperText="The configuration of the cluster. This was set when replication was enabled."
      @value={{this.primaryClusterAddr}}
    />
  {{/if}}
  <InfoTableRow
    @label="Merkle root index"
    @helperText="A snapshot in time of the merkle tree's root hash. Changes on every update to storage."
    @value={{this.merkleRoot}}
  />
  <InfoTableRow @label="Mode" @value={{this.clusterMode}} />
  <InfoTableRow
    @label="Replication set"
    @helperText="The ID for the group of clusters communicating for this replication mode"
    @value={{this.clusterId}}
  />
</div>