<div class="replication-dashboard box is-sideless is-fullwidth is-marginless" data-test-replication-dashboard>
  {{#if isReindexing}}
    <AlertBanner
      @title={{concat "Re-indexing in progress" reindexingStage}}
      @type="info"
      @secondIconType="loading"
      @message="This can cause a delay depending on the size of the data store. You can use Vault during this time."
      data-test-isReindexing/>
  {{/if}}
  <br />
  <progress value={{3}} max={{4}} class="progress is-success"></progress>

  <div class="selectable-card-container has-top-margin-xl">
    {{yield (hash
      card=(component componentToRender replicationDetails=replicationDetails)
    )}}
    {{#if (not isSecondary)}}
      {{yield (hash secondaryCard=(component 'known-secondaries-card'))}}
    {{/if}}

  </div>
  {{#if isSyncing}}
    <AlertBanner
      @title="Syncing in progress"
      @type="info"
      @secondIconType="loading"
      @message="The cluster is syncing. This happens when the secondary is too far behind the primary to use the normal stream-wals state for catching up."
      @class="has-top-margin-xl"
      data-test-isSyncing/>
  {{/if}}
  <ReplicationTableRows
    @replicationDetails={{replicationDetails}}
    @clusterMode={{clusterMode}}/>
  <ReplicationDocLink data-test-replication-doc-link/>
</div>
