<div class="selectable-card is-rounded card-container">
  <h3 class="title is-4 grid-item-title card-title">{{title}}</h3>
  <div class="grid-item-state">
    {{#if property_3}}
      <code class="has-text-black">{{property_3}}</code>
      <p class="has-text-grey is-size-8">{{description_3}}</p>
    {{else}}
      <code class="has-text-black">{{property_1}}</code>
      <p class="has-text-grey is-size-8">{{description_1}}</p>
    {{/if}}
  </div>
  <div class="grid-item-wal">
    {{!-- Check if card is for showing Delta information --}}
    {{#if @property_3}}
      <code class="has-text-black">{{property_1}}</code>
      <p class="has-text-grey is-size-8">{{metric_1}}</p>
    {{else}}
      <code class="has-text-black">{{property_2}}</code>
      <p class="has-text-grey is-size-8">{{description_2}}</p>
    {{/if}}
  </div>

  {{#if @property_3}}
    <h2 class="title-number grid-item-stream">{{delta}}
      <ToolTip @verticalPosition="above" @closeDelay="2000ms" as |T|>
        <T.trigger>
          <Icon 
          {{!-- ARG TODO replace false and true with correct variable --}}
            @glyph={{if (gt delta 0) "alert-triangle" "check-circle-outline" }} 
            @size="l" 
            class={{if (gt delta 0) "has-text-highlight" "has-text-success"}}
          />
        </T.trigger>
        <T.content @class="tool-tip">
          <div class="box">
            {{#if (gt delta 0)}}
              There is a difference between last remote WAL and last WAL entry from primary.
              This maybe a syncing issue.
              <LearnLink 
                @path="/vault/operations/monitor-replication#are-my-dr-clusters-in-sync"
                @class="has-text-white"
              >
                Learn more
              </LearnLink>
            {{else}}
              Everything is up to date!
            {{/if}}
          </div>
        </T.content>
      </ToolTip>
    </h2>
  {{else}}
    <h2 class="title-number grid-item-stream">{{metric_1}}</h2>
  {{/if}}

  {{#if @property_3}}
  <div class="grid-item-status">
    <code class="has-text-black">{{property_2}}</code>
    <p class="has-text-grey is-size-8">{{metric_2}}</p>
  </div>
  {{else}}
    <h2 class="title-number is-5 grid-item-status">{{metric_2}}</h2>
  {{/if}}

</div>
