{{!-- DR Secondary has a different Nav Header with access only to the Status menu --}}
{{#if isSecondary}}
  <NavHeader as |Nav|>
    <Nav.home>
      <HomeLink @class="navbar-item splash-page-logo has-text-white">
        <LogoEdition />
      </HomeLink>
    </Nav.home>
    <Nav.items>
      <div class="navbar-item status-indicator-button" data-status="{{if data.unsealed "good" "bad"}}">
        <StatusMenu @label="Status" @onLinkClick={{action Nav.closeDrawer}} />
      </div>
    </Nav.items>
  </NavHeader>
{{/if}}
<PageHeader as |p|>
  <p.top>
    {{#if (not isSummaryDashboard) }}
      {{#key-value-header
        baseKey=baseKey
        path="vault.cluster.replication-dr-promote"
        root=backendCrumb
      }}
        <li>
          <span class="sep">
            /
          </span>
          {{#link-to "vault.cluster.replication-dr-promote"}}
            Disaster Recovery
          {{/link-to}}
        </li>
      {{/key-value-header}}
    {{/if}}
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{title}}
      <span class="tag is-light has-text-grey-dark" data-test-mode>
        {{if isSecondary 'secondary' 'primary'}}
      </span>
      <span class="tag is-light has-text-grey-dark" data-test-secondaryId>
        {{secondaryId}}
      </span>
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if showTabs}}
  <div class="tabs-container box is-bottomless is-marginless is-fullwidth is-paddingless" data-test-tabs>
    <nav class="tabs">
      {{#if (not isSummaryDashboard )}}
        <ul>
          {{#link-to
            "vault.cluster.replication-dr-promote"
            tagName="li"
            activeClass="is-active"
            current-when=""
          }}
            {{#link-to "vault.cluster.replication-dr-promote"}}
              Details
            {{/link-to}}
          {{/link-to}}
        </ul>
      {{else}}
        <ul>
          {{link-to-external "Summary" "replication"}}
        </ul>
      {{/if}}
    </nav>
  </div>
{{/if}}
