<div class="replication-dashboard box is-sideless is-fullwidth is-marginless">
  {{#if isSecondary}}
    <h2 class="has-text-weight-semibold is-size-4 has-bottom-margin-xs">
        Primary Cluster
    </h2>
    <p class="has-text-grey is-size-8">
      If you set a primary_cluster_addr when enabling replication, it will appear here.
    </p>
    {{#if data.dr.primaryClusterAddr}}
      <code>{{data.dr.primaryClusterAddr}}</code>
    {{else}}
      <code>no known primary cluster address</code>
    {{/if}}
  {{/if}}

  {{!-- TODO check for actual reindexing status --}}
  {{#if isReindexing}}
    <AlertBanner
      @title="Re-indexing in progress: Scanning"
      @type="info"
      @secondIconType="loading"
      @message="This can cause a delay depending on the size of the data store. You can use Vault during this time."
      @class="has-top-margin-xl" />
  {{/if}}

  <div class="selectable-card-container has-top-margin-xl">
    {{!-- TODO remove dr from being passed in automatically because we don't need it on perf dashboards --}}
    {{yield (hash
      card=(component componentToRender data=data dr=dr)
    )}}
    {{#if (not isSecondary)}}
      {{yield (hash secondaryCard=(component 'known-secondaries-card'))}}
    {{/if}}

  </div>
  {{#if isSyncing}}
    <AlertBanner
      @title="Syncing in progress"
      @type="info"
      @secondIconType="loading"
      @message="The cluster is syncing. This happens when the secondary is too far behind the primary to use the normal stream-wals state for catching up."
      @class="has-top-margin-xl" />
  {{/if}}
  <ReplicationTableRows @data={{data}} />
  <ReplicationDocLink />
</div>
