<div class="replication-dashboard box is-sideless is-fullwidth is-marginless" data-test-replication-dashboard>
  {{#if isSecondary}}
    <h2 class="has-text-weight-semibold is-size-4 has-bottom-margin-xs">
        Primary Cluster
    </h2>
    <p class="has-text-grey is-size-8">
      If you set a primary_cluster_addr when enabling replication, it will appear here.
    </p>
    {{#if replicationDetails.primaryClusterAddr}}
      <code data-test-primary-cluster-address>{{replicationDetails.primaryClusterAddr}}</code>
    {{else}}
      <code>no known primary cluster address</code>
    {{/if}}
  {{/if}}

  {{!-- TODO check for actual reindexing status --}}
  {{#if isReindexing}}
    <AlertBanner
      @title="Re-indexing in progress: Scanning"
      @type="info"
      @secondIconType="loading"
      @message="This can cause a delay depending on the size of the data store. You can use Vault during this time."/>
  {{/if}}

  <div class="selectable-card-container has-top-margin-xl">
    {{yield (hash
      card=(component componentToRender replicationDetails=replicationDetails)
    )}}
    {{#if (not isSecondary)}}
      {{yield (hash secondaryCard=(component 'known-secondaries-card'))}}
    {{/if}}

  </div>
  {{#if isSyncing}}
    <AlertBanner
      @title="Syncing in progress"
      @type="info"
      @secondIconType="loading"
      @message="The cluster is syncing. This happens when the secondary is too far behind the primary to use the normal stream-wals state for catching up."
      @class="has-top-margin-xl" 
      data-test-isSyncing/>
  {{/if}}
  <ReplicationTableRows
    @replicationDetails={{replicationDetails}}
    @clusterMode={{clusterMode}}/>
  <ReplicationDocLink data-test-replication-doc-link/>
</div>
