<div class="selectable-card is-rounded card-container {{if errorClass "has-border-danger"}}">
  {{!-- Check if State or WAL Card --}}
  {{#if (eq title "States")}}
    <h3 class="title is-4 grid-item-title card-title">{{title}}</h3>
    <div class="grid-item-left">
      {{#if (eq data.dr.state "idle")}}
          <code class="has-text-danger">state</code>
          <AlertInline
            @type="danger"
            @message="Please check your server logs."
          />
      {{else}}
        <code class="has-text-black">state</code>
        <p class="has-text-grey is-size-8">How this cluster is communicating with others at this moment.</p>
      {{/if}}
    </div>
    <div class="grid-item-right">
      {{!-- ARG TODO replace with transient failure --}}
      {{#if (eq data.drStateDisplay "transient failure")}}
        <code class="has-text-danger">connection_state</code>
        <AlertInline
          @type="danger"
          @message="ARG TODO: waiting on feedback to fill this in"
        />
      {{else}}
        <code class="has-text-black">connection_state</code>
        <p class="has-text-grey is-size-8">The health of the connection between this cluster and others.</p>
      {{/if}}
    </div>
    {{!-- ARG TODO connection state is likely wrong here, waiting for reply from RFC --}}
      <h2 class="title-number grid-item-left-bottom">{{if data.dr.state data.dr.state 'unknown'}}
        {{#if (eq data.dr.state "stream-wals")}}
          <ToolTip @verticalPosition="above" as |T|>
            <T.trigger>
              <Icon 
                @glyph={{"check-circle-outline" }} 
                @size="m" 
                class={{"has-text-success"}}
              />
            </T.trigger>
            <T.content @class="tool-tip">
              <div class="box">
                Everything is in sync!
              </div>
            </T.content>
          </ToolTip>
        {{/if}}
      </h2>
      <h2 class="title-number is-5 grid-item-right-bottom">{{if data.drStateDisplay data.drStateDisplay 'unknown'}}</h2>
  {{else}}
    <h3 class="title is-4 grid-item-title card-title">{{title}}
      <ToolTip @verticalPosition="above" @closeDelay="2000ms" as |T|>
        <T.trigger>
          <Icon 
            @glyph={{"check-circle-outline" }} 
            @size="m" 
            class={{"has-text-grey"}}
          />
        </T.trigger>
        <T.content @class="tool-tip">
          <div class="box">
            There may be a difference between last remote WAL and last WAL entry from primary. If it persists over time, investigate.
            <LearnLink 
              @path="/vault/operations/monitor-replication#are-my-dr-clusters-in-sync"
              @class="has-text-white"
            >
              Learn more
            </LearnLink>
          </div>
        </T.content>
      </ToolTip>
    </h3>
    <div class="grid-item-left">
      <code class="has-text-black">Delta</code>
      <p class="has-text-grey is-size-8">The difference between the last remote WAL and the last WAL entry from the primary.</p>
    </div>
    <div class="grid-item-right">
      <code class="has-text-black">last_wal</code>
      <p class="has-text-grey is-size-8">{{if data.dr.lastWAL (format-number data.dr.lastWAL) '0'}}</p>
    </div>
    <h2 class="title-number grid-item-left-bottom">{{format-number delta}}</h2>
    <div class="grid-item-right-bottom">
      <code class="has-text-black">last_remote_wal</code>
      <p class="has-text-grey is-size-8">{{if data.dr.lastRemoteWAL (format-number data.dr.lastRemoteWAL) '0'}}</p>
    </div>
  {{/if}}
</div>
