{{#if shouldUseFallback}}
  {{component
    fallbackComponent
    label=label
    onChange=(action "onChange")
    inputValue=inputValue
    helpText=helpText
  }}
{{else}}
  <label class="{{if labelClass labelClass 'title is-4'}}" data-test-field-label>
    {{label}}
    {{#if helpText}}
      {{#info-tooltip}}{{helpText}}{{/info-tooltip}}
    {{/if}}
  </label>
  {{#if subLabel}}
    <p class="is-label">{{subLabel}}</p>
  {{/if}}
  {{#if subText}}
    <p class="sub-text">{{subText}}</p>
  {{/if}}
  {{#unless (gte selectedOptions.length selectLimit)}}
    {{#power-select-with-create
      options=options
      search=search
      onchange=(action "selectOption")
      oncreate=(action "createOption")
      placeholderComponent=(component "search-select-placeholder")
      renderInPlace=true
      searchField="searchText"
      verticalPosition="below"
      showCreateWhen=(action "hideCreateOptionOnSameID")
      buildSuggestion=(action "constructSuggestion") as |option|
    }}
      {{#if shouldRenderName}}
        {{option.name}}
        <small class="search-select-list-key" data-test-smaller-id="true">
          {{option.id}}
        </small>
      {{else}}
        {{option.id}}
      {{/if}}
    {{/power-select-with-create}}
  {{/unless}}
  <ul class="search-select-list">
    {{#each selectedOptions as |selected|}}
      <li class="search-select-list-item" data-test-selected-option="true">
        {{#if shouldRenderName}}
          {{selected.name}}
          <small class="search-select-list-key" data-test-smaller-id="true">
            {{selected.id}}
          </small>
        {{else}}
          <div>{{selected.id}}
          {{#if wildcardLabel}}
            {{#if (is-wildcard-string selected.id)}}
              {{#let (filter-wildcard selected allOptions) as | wildcardCount |}}
                <span class="tag is-light has-text-grey-dark" data-test-count={{wildcardCount}}>
                  includes {{if wildcardCount wildcardCount 0}} {{if (eq wildcardCount 1) wildcardLabel (pluralize wildcardLabel)}}
                </span>
              {{/let}}
            {{/if}}
          {{/if}}
          </div>
        {{/if}}
        <div class="control">
          <button type="button" class="button is-ghost" data-test-selected-list-button="delete"
            {{action "discardSelection" selected}}>
            <Icon @glyph="trash" />
          </button>
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}