<div
  class={{concat "stat-text-container " @size (unless @subText "-no-subText")}}
  data-test-stat-text-container={{(or @label "true")}}
  ...attributes
>
  <div class="stat-label has-bottom-margin-xs">{{@label}}</div>
  {{#if @subText}}
    <div class="stat-text">{{@subText}}</div>
  {{/if}}
  <div class="stat-value">{{format-number @value}}</div>
</div>