{{#if this.label}}
  <label class="title is-label" data-test-string-list-label="true">
    {{this.label}}
    {{#if this.helpText}}
      <InfoTooltip>{{this.helpText}}</InfoTooltip>
    {{/if}}
  </label>
{{/if}}
{{#if this.warning}}
  <AlertBanner @type="warning" @message={{this.warning}} />
{{/if}}
{{#each this.inputList as |data index|}}
  <div class="field is-grouped" data-test-string-list-row={{index}}>
    <div class="control is-expanded">
      <Textarea
        data-test-string-list-input={{index}}
        class="input"
        @value={{data.value}}
        name={{concat this.elementId "-" index}}
        id={{concat this.elementId "-" index}}
        {{on "keyup" (action "inputChanged" index)}}
        {{on "change" (action "inputChanged" index)}}
      />
    </div>
    <div class="control">
      {{#if (eq (inc index) this.inputList.length)}}
        <button type="button" class="button is-outlined is-primary" data-test-string-list-button="add" {{action "addInput"}}>
          Add
        </button>
      {{else}}
        <button
          type="button"
          class="button is-expanded is-icon"
          data-test-string-list-button="delete"
          {{action "removeInput" index}}
        >
          <Icon @name="trash" />
        </button>
      {{/if}}
    </div>
  </div>
{{/each}}