<label for="time-{{elementId}}" class="is-label {{labelClass}}">{{labelText}}</label>
<MessageError @errorMessage={{errorMessage}} data-test-ttl-error />
<div class="field is-grouped">
  <div class="control is-expanded">
    <input data-test-ttl-value value={{time}} id="time-{{elementId}}" type="text" name="time" class="input" oninput={{action (action 'changedValue' 'time') value="target.value"}}
      pattern="[0-9]*" />
  </div>
  <div class="control is-expanded">
    <Select
      @name='ttl-unit'
      @options={{unitOptions}}
      @onChange={{action 'changedValue' 'unit'}}
      @selectedValue={{unit.value}}
      @isFullwidth={{true}}
      />
  </div>
</div>
