<label for="time-{{this.elementId}}" class="is-label {{this.labelClass}}">{{this.labelText}}</label>
<MessageError @errorMessage={{this.errorMessage}} data-test-ttl-error />
<div class="field is-grouped">
  <div class="control is-expanded">
    <input
      data-test-ttl-value
      value={{this.time}}
      id="time-{{this.elementId}}"
      type="text"
      name="time"
      class="input"
      oninput={{action (action "changedValue" "time") value="target.value"}}
      pattern="[0-9]*"
    />
  </div>
  <div class="control is-expanded">
    <Select
      @name="ttl-unit"
      @options={{this.unitOptions}}
      @onChange={{action "changedValue" "unit"}}
      @selectedValue={{this.unit.value}}
      @isFullwidth={{true}}
    />
  </div>
</div>