<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      {{title}}
    </h1>
  </p.levelLeft>
</PageHeader>

<EmptyState
  @title="{{featureName}} is a {{minimumEdition}} feature."
  @message="You can upgrade to {{minimumEdition}} to unlock additional collaboration and security features"
>
  <a
    href="https://hashicorp.com/products/vault/trial?source=vaultui_{{featureName}}"
    class="link has-icon-right"
    data-test-upgrade-link="true"
  >
    Vault Enterprise
    <Chevron />
  </a>
</EmptyState>
