{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if (has-feature "Namespaces")}}
  <PageHeader as |p|>
    <p.top>
      <Hds::Breadcrumb>
        <Hds::Breadcrumb::Item @text="Namespaces" @route="vault.cluster.access.namespaces.index" />
        <Hds::Breadcrumb::Item @text="Create" @current={{true}} />
      </Hds::Breadcrumb>
    </p.top>
    <p.levelLeft>
      <h1 class="title is-3">
        Create a Namespace
      </h1>
    </p.levelLeft>
  </PageHeader>
  <EditForm
    @model={{this.model}}
    @onSave={{action "onSave"}}
    @cancelLinkParams={{array "vault.cluster.access.namespaces.index"}}
  />
{{else}}
  <UpgradePage @title="Namespaces" @minimumEdition="Vault Enterprise Pro" />
{{/if}}