{{#if (has-feature "Namespaces")}}
  <PageHeader as |p|>
    <p.levelLeft>
      <h1 class="title is-3">
        Namespaces
      </h1>
    </p.levelLeft>
  </PageHeader>

  <Toolbar>
    {{#if this.model.length}}
      <ToolbarFilters>
        <Input
          @value={{this.filter}}
          @type="text"
          {{on "input" (action "setFilter")}}
          class="filter input"
          placeholder="Filter namespaces"
          data-test-filter-namespaces
        />
      </ToolbarFilters>
    {{/if}}
    <ToolbarActions>
      <ToolbarLink @route="vault.cluster.access.namespaces.create" @type="add">
        Create namespace
      </ToolbarLink>
    </ToolbarActions>
  </Toolbar>

  <ClientPagination @itemNoun="namespace" @filterQuery={{this.filter}} @items={{filter-items this.model this.filter}}>
    <:item as |namespace|>
      <ListItem as |Item|>
        <Item.content>
          {{namespace.id}}
        </Item.content>
        <Item.menu as |m|>
          {{#let (concat this.currentNamespace (if this.currentNamespace "/") namespace.id) as |targetNamespace|}}
            {{#if (includes targetNamespace this.accessibleNamespaces)}}
              <li class="action">
                <NamespaceLink @targetNamespace={{targetNamespace}} @unparsed={{true}} @class="is-block">
                  Switch to Namespace
                </NamespaceLink>
              </li>
            {{/if}}
          {{/let}}
          <li class="action">
            <m.Message
              @id={{namespace.id}}
              @confirmButtonText="Remove"
              @message="Any engines or mounts in this namespace will also be removed."
              @onConfirm={{action
                (perform
                  Item.callMethod
                  "destroyRecord"
                  namespace
                  (concat "Successfully deleted namespace: " namespace.id)
                  "There was an error deleting this namespace: "
                  (action "refreshNamespaceList")
                )
              }}
            />
          </li>
        </Item.menu>
      </ListItem>
    </:item>
    <:emptyActions>
      <Hds::Link::Standalone
        @icon="plus"
        @iconPosition="trailing"
        @text="Create namespace"
        @route="vault.cluster.access.namespaces.create"
      />
      <DocLink @path="/api/namespaces">Documentation</DocLink>
    </:emptyActions>
  </ClientPagination>
{{else}}
  <UpgradePage @title="Namespaces" @minimumEdition="Vault Enterprise Pro" />
{{/if}}