{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form
  {{on "submit" (fn @doSubmit (hash plaintext=@plaintext context=@context nonce=@nonce key_version=@key_version))}}
  ...attributes
>
  <div class="box is-sideless is-fullwidth is-marginless">
    <NamespaceReminder @mode="perform" @noun="encryption" />
    <div class="content has-bottom-margin-l">
      <p>You can encrypt plaintext data using <code>{{@key.name}}</code> as the cryptographic key.</p>
    </div>
    <KeyVersionSelect @key={{@key}} @onVersionChange={{fn (mut @key_version)}} @key_version={{@key_version}} />
    <div class="field">
      <div id="plaintext-control" class="control is-relative">
        <JsonEditor
          @title="Plaintext"
          @value={{@plaintext}}
          @valueUpdated={{fn (mut @plaintext)}}
          @mode="ruby"
          @data-test-transit-input="plaintext"
        />
      </div>
    </div>
    <div class="field">
      <Input
        @type="checkbox"
        id="encodedBase64"
        @checked={{@encodedBase64}}
        {{on "change" @toggleEncodeBase64}}
        data-test-transit-input="encodedBase64"
      />
      <label for="encodedBase64">This data is already encoded in base64</label>
    </div>
    {{#if @key.derived}}
      <div class="field">
        <label for="context" class="is-label">
          Context
        </label>
        <div class="field has-addons">
          <div class="control">
            <Input @type="text" id="context" @value={{@context}} class="input" data-test-transit-input="context" />
          </div>
          <div class="control">
            <B64Toggle @value={{@context}} @data-test-transit-b64-toggle="context" />
          </div>
        </div>
      </div>
    {{/if}}
    {{#if (eq @key.convergentEncryptionVersion 1)}}
      <div class="field">
        <div class="level">
          <div class="level-left">
            <label for="nonce" class="is-label">Nonce</label>
          </div>
          <div class="level-right">
            <B64Toggle @value={{@nonce}} @data-test-transit-b64-toggle="nonce" />
          </div>
        </div>
        <div class="control">
          <Input @type="text" id="nonce" @value={{@nonce}} class="input" data-test-transit-input="nonce" />
        </div>
      </div>
    {{/if}}
  </div>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <div class="control">
      <Hds::Button @text="Encrypt" type="submit" data-test-button-encrypt />
    </div>
  </div>
</form>
{{#if @isModalActive}}
  <Hds::Modal id="transit-encrypt-modal" @onClose={{fn (mut @isModalActive) false}} data-test-encrypt-modal as |M|>
    <M.Header>
      Copy your token
    </M.Header>
    <M.Body>
      <h2 class="title is-6">Ciphertext</h2>
      <Hds::Copy::Snippet
        @textToCopy={{@ciphertext}}
        @color="secondary"
        @container="#transit-encrypt-modal"
        @isFullWidth={{true}}
        @isTruncated={{true}}
        @onError={{(fn (set-flash-message "Clipboard copy failed. The Clipboard API requires a secure context." "danger"))}}
        data-test-encrypted-value="ciphertext"
      />
    </M.Body>
    <M.Footer as |F|>
      <Hds::Button @text="Close" {{on "click" F.close}} />
    </M.Footer>
  </Hds::Modal>
{{/if}}