{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form onsubmit={{action @doSubmit (hash ciphertext=@ciphertext context=@context nonce=@nonce key_version=@key_version)}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <NamespaceReminder @mode="perform" @noun="rewrap" />
    <div class="content has-bottom-margin-l">
      <p>
        You can rewrap the provided ciphertext using the latest version of
        <code>{{@key.name}}</code>
        as the encryption key.
      </p>
    </div>
    <KeyVersionSelect @key={{@key}} @onVersionChange={{action (mut @key_version)}} @key_version={{@key_version}} />
    <div class="field">
      <div class="control is-expanded">
        <JsonEditor @title="Ciphertext" @valueUpdated={{action (mut @ciphertext)}} @mode="ruby" />
      </div>
    </div>
    {{#if @key.derived}}
      <div class="field">
        <label for="context" class="is-label">
          Context
        </label>
        <div class="field has-addons">
          <div class="control">
            <Input @type="text" id="context" @value={{@context}} class="input" data-test-transit-input="context" />
          </div>
          <div class="control">
            <B64Toggle @value={{@context}} @data-test-transit-b64-toggle="context" />
          </div>
        </div>
      </div>
    {{/if}}
    {{#if (eq @key.convergentEncryptionVersion 1)}}
      <div class="field">
        <label for="nonce" class="is-label">Nonce</label>
        <div class="field has-addons">
          <div class="control">
            <Input @type="text" id="nonce" @value={{@nonce}} class="input" data-test-transit-input="nonce" />
          </div>
          <div class="control">
            <B64Toggle @value={{@nonce}} @data-test-transit-b64-toggle="nonce" />
          </div>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="field box is-fullwidth is-bottomless">
    <div class="content has-bottom-margin-l">
      <p class="help">
        Submitting this form will update the
        <code>ciphertext</code>
        in-place.
      </p>
    </div>
    <div class="control">
      <button type="submit" class="button is-primary">
        Rewrap
      </button>
    </div>
  </div>
</form>
<Modal @title="Copy your token" @onClose={{action (mut @isModalActive)}} @isActive={{@isModalActive}}>
  <section class="modal-card-body">
    <div class="box is-shadowless is-fullwidth is-sideless">
      <h2 class="title is-6">Ciphertext</h2>
      {{! HDS Adoption: Replace with Hds::Copy::Snippet }}
      <div class="copy-text level">
        <code class="level-left" data-test-encrypted-value="ciphertext">{{@ciphertext}}</code>
        <Hds::Copy::Button
          @text="Copy"
          @isIconOnly={{true}}
          @textToCopy={{@ciphertext}}
          class="hds-copy-button icon-only"
          data-test-button="modal-copy"
        />
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <Hds::Copy::Button
      @text="Copy & Close"
      @textToCopy={{@ciphertext}}
      class="hds-copy-button is-primary"
      data-test-button="modal-copy-close"
      {{on "click" (fn @toggleModal "Ciphertext copied!")}}
    />
  </footer>
</Modal>