---
layout: "docs"
page_title: "Server Configuration"
sidebar_current: "docs-configuration"
description: |-
  Vault server configuration reference.
---

<h1>Vault Configuration</h1>

<nav class="tabs">
  <ul>
    <li>
      <a href="/docs/configuration/builder.html" class="is-active">
        Configuration Builder
      </a>
    </li>
    <li>
      <a href="/docs/configuration/index.html">
        Manual Configuration
      </a>
    </li>
  </ul>
</nav>

<p>
  Choose from the options below (some are required) and download your
  configuration file. Some variables may be sensitive, so we will give you
  placeholders that you can replace after downloading.
</p>

<form id="configuration-builder">
  <%= partial "builder/section_listener" %>
  <%= partial "builder/section_storage" %>
  <%= partial "builder/section_telemetry" %>
  <%= partial "builder/section_seal" %>

  <%= partial "builder/reveal_select_field", locals: {
    label: "Vault Web UI",
    name: "ui",
    options: {
      false: "Do not activate UI",
      true: "Activate UI"
    },
    docs_url: "ui"
  } %>

  <div class="form-actions">
    <button type="button" class="button primary" onclick="downloadConfiguration()">
      Download Configuration
    </button>
  </div>


  <div id="download-confirm">
    <div class="details">
      <h2>
        Downloading configuration
      </h2>
      <div class="download-confirm-message">
        You can find your configuration file in your downloads folder named "vault-config.hcl"
      </div>
      <a href="/intro/getting-started/dev-server.html" class="start-server-link">
        <button class="button primary">
          Next: Starting the server
        </button>
      </a>
    </div>
  </div>
</form>
