<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 data-test-title class="title is-3">
      Reset password for
      {{@username}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if this.successful}}
  <div class="box is-sideless is-fullwidth is-marginless">
    <Hds::Alert @type="inline" @color="success" as |A|>
      <A.Title>Password set successfully</A.Title>
      <A.Button @text="Reset form" @color="secondary" {{on "click" this.reset}} />
    </Hds::Alert>
  </div>
{{else}}
  <form {{on "submit" (perform this.updatePassword) on="submit"}}>
    <div class="box is-sideless is-fullwidth is-marginless">
      <FormFieldLabel for="reset-password" @label="New password" />
      <MaskedInput
        id="reset-password"
        @name="reset-password"
        @value={{this.password}}
        @onChange={{fn (mut this.password)}}
      />
    </div>
    {{#if this.error}}
      <Hds::Alert @type="inline" @color="critical" as |A|>
        <A.Title>An error occurred</A.Title>
        <A.Description>{{this.error}}</A.Description>
      </Hds::Alert>
    {{/if}}
    <div class="field is-grouped-split box is-fullwidth is-bottomless">
      <div class="control">
        <button
          type="submit"
          data-test-save-config="true"
          class="button is-primary {{if this.updatePassword.isRunning 'loading'}}"
          disabled={{this.updatePassword.isRunning}}
        >
          Save
        </button>

        {{!-- <LinkTo
        @route="vault.cluster.access.method.item.show"
        @model={{@model.id}}
        class="button"
        data-test-cancel-link={{true}}
      >
        Cancel
      </LinkTo> --}}
      </div>
    </div>
  </form>
{{/if}}