<KvPageHeader @breadcrumbs={{@breadcrumbs}} @isEngineView={{true}} @pageTitle={{@mountConfig.id}}>
  <:tabLinks>
    <LinkTo @route="list" data-test-secrets-tab="Secrets">Secrets</LinkTo>
    <LinkTo @route="configuration" data-test-secrets-tab="Configuration">Configuration</LinkTo>
  </:tabLinks>
</KvPageHeader>

{{! engine configuration }}
<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  {{#each @engineConfig.allFields as |attr|}}
    <InfoTableRow
      @alwaysRender={{true}}
      @label={{or attr.options.label (to-label attr.name)}}
      @value={{if (eq attr.name "deleteVersionAfter") @engineConfig.displayDeleteTtl (get @engineConfig attr.name)}}
    />
  {{/each}}
</div>

{{! mount configuration }}
<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  {{#each @mountConfig.attrs as |attr|}}
    {{#if (not (includes attr.name @engineConfig.displayFields))}}
      <InfoTableRow
        @formatTtl={{eq attr.options.editType "ttl"}}
        @label={{or attr.options.label (to-label attr.name)}}
        @value={{get @mountConfig attr.name}}
      />
    {{/if}}
  {{/each}}
</div>