<KvPageHeader @breadcrumbs={{@breadcrumbs}} @model={{@model}} @isEngineView={{true}} @pageTitle={{@pageTitle}}>
  <:tabLinks>
    <LinkTo @route="secrets" data-test-secrets-tab="Secrets">Secrets</LinkTo>
    <LinkTo @route="configuration" data-test-secrets-tab="Configuration">Configuration</LinkTo>
  </:tabLinks>

  <:toolbarFilters>
    {{! TODO add JSON toggle }}
  </:toolbarFilters>

  <:toolbarActions>
    <ToolbarLink @route="secrets.create" @type="add">Create secret</ToolbarLink>
  </:toolbarActions>
</KvPageHeader>

{{! TODO add permissions on the menu items }}
{{#if (gt @model.length 0)}}
  {{#each @model as |secret|}}
    <ListItem @linkPrefix={{this.mountPoint}} @linkParams={{array "secrets.secret.details" secret.path}} as |Item|>
      <Item.content>
        <Icon @name="file" />
        <span data-test-kv-secret={{secret.path}}>{{secret.path}}</span>
      </Item.content>
      <Item.menu as |Menu|>
        <li class="action">
          <LinkTo
            class="has-text-black has-text-weight-semibold"
            data-test-kv-secret-details
            @route="secrets.secret.details"
            @model={{secret.id}}
            {{!-- @disabled={{eq secret.canRead false}} --}}
          >
            Details
          </LinkTo>
        </li>
        <li class="action">
          <LinkTo
            class="has-text-black has-text-weight-semibold"
            data-test-kv-secret-history
            @route="secrets.secret.metadata.versions"
            @model={{secret.id}}
            {{!-- @disabled={{not secrete.canEdit}} --}}
          >
            View version history
          </LinkTo>
        </li>
        <li class="action">
          <LinkTo
            class="has-text-black has-text-weight-semibold"
            data-test-kv-secret-create
            @route="secrets.create"
            {{!-- @disabled={{not secrete.canEdit}} --}}
          >
            Create new version
          </LinkTo>
        </li>
        <li class="action">
          <Menu.Message
            data-test-kv-secret-permanently-delete
            @id={{secret.id}}
            @triggerText="Permanently delete"
            @title="Are you sure?"
            @message="Permanently deleting this secret means you will delete this secret and all of its version. You will not be able to undo this action."
            @onConfirm={{fn this.onDelete secret}}
          />
        </li>
      </Item.menu>
    </ListItem>
  {{/each}}
{{else}}
  <EmptyState
    data-test-secret-list-empty-state
    @title="No secrets yet"
    @message="When created, secrets will be listed here. Create a secret to get started."
  >
    <LinkTo class="has-top-margin-xs" @route="secrets.create">
      Create secret
    </LinkTo>
  </EmptyState>
{{/if}}