<TabPageHeader @model={{@backend}} @breadcrumbs={{@breadcrumbs}}>
  <ToolbarLink @route="secrets.create" @type="add">
    Create secret
  </ToolbarLink>
</TabPageHeader>
<div class="has-bottom-margin-s">
  {{#each @secrets as |secret|}}
    <ListItem @linkPrefix={{this.mountPoint}} @linkParams={{array "secrets.secret.details" secret.id}} as |Item|>
      <Item.content>
        <Icon @name="file" />
        <span data-test-secret={{secret.id}}>{{secret.id}}</span>
      </Item.content>
      <Item.menu as |Menu|>
        {{#if secret.secretsPath.isLoading}}
          <li class="action">
            <button disabled type="button" class="link button is-loading is-transparent">
              loading
            </button>
          </li>
        {{else}}
          <li class="action">
            <LinkTo
              class="has-text-black has-text-weight-semibold"
              data-test-details
              @route="secrets.secret.details"
              @model={{secret.id}}
              {{!-- @disabled={{eq secret.canRead false}} --}}
            >
              Details
            </LinkTo>
          </li>
          <li class="action">
            <LinkTo
              class="has-text-black has-text-weight-semibold"
              data-test-edit
              @route="secrets.secret.edit"
              @model={{secret.id}}
              {{!-- @disabled={{not secret.canEdit}} --}}
            >
              Edit
            </LinkTo>
          </li>
          {{! Must have metadata delete permissions }}
          <li class="action">
            <Menu.Message
              data-test-delete
              @id={{secret.id}}
              @triggerText="Permanently Delete"
              @title="Are you sure?"
              @message="This will permanently delete this secret and all its versions."
              @onConfirm={{fn this.onDelete secret}}
            />
          </li>
        {{/if}}
      </Item.menu>
    </ListItem>
  {{/each}}
</div>