{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{this.breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq @mode "create")}}
        Create Alphabet
      {{else if (eq @mode "edit")}}
        Edit Alphabet
      {{else}}
        Alphabet
        <code>{{@model.id}}</code>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq @mode "show")}}
  <Toolbar>
    <ToolbarActions>
      {{#if @model.updatePath.canDelete}}
        <Hds::Button
          @text="Delete alphabet"
          @color="secondary"
          class="toolbar-button"
          {{on "click" this.onDelete}}
          data-test-transformation-alphabet-delete
        />
        <div class="toolbar-separator"></div>
      {{/if}}
      {{#if @model.updatePath.canUpdate}}
        <ToolbarSecretLink
          @secret={{concat @model.idPrefix @model.id}}
          @mode="edit"
          data-test-edit-link={{true}}
          @replace={{true}}
        >
          Edit alphabet
        </ToolbarSecretLink>
      {{/if}}
    </ToolbarActions>
  </Toolbar>
{{/if}}

{{#if (or (eq @mode "edit") (eq @mode "create"))}}
  <form onsubmit={{this.createOrUpdate}}>
    <div class="box is-sideless is-fullwidth is-marginless">
      <MessageError @errorMessage={{this.errorMessage}} />
      <NamespaceReminder @mode={{@mode}} @noun="transform alphabet" />
      {{#each @model.attrs as |attr|}}
        {{#if (and (eq attr.name "name") (eq @mode "edit"))}}
          <label for={{attr.name}} class="is-label">
            {{attr.options.label}}
          </label>
          {{#if attr.options.subText}}
            <p class="sub-text">{{attr.options.subText}}</p>
          {{/if}}
          <input
            data-test-input={{attr.name}}
            id={{attr.name}}
            autocomplete="off"
            spellcheck="false"
            value={{or (get @model attr.name) @model.id}}
            readonly
            class="field input is-readOnly"
            type={{attr.type}}
          />
        {{else}}
          <FormField data-test-field @attr={{attr}} @model={{@model}} />
        {{/if}}
      {{/each}}
    </div>
    <div class="field is-grouped-split box is-fullwidth is-bottomless">
      <Hds::ButtonSet>
        <Hds::Button
          @text={{if (eq @mode "create") "Create alphabet" "Save"}}
          type="submit"
          data-test-alphabet-transform-create
        />
        {{#if (eq @mode "create")}}
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            @route="vault.cluster.secrets.backend.list-root"
            @model={{@model.backend}}
            @query={{hash tab="alphabet"}}
          />
        {{else}}
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            @route="vault.cluster.secrets.backend.show"
            @models={{array @model.backend (concat "alphabet/" @model.id)}}
            @query={{hash tab="alphabet"}}
          />
        {{/if}}
      </Hds::ButtonSet>
    </div>
  </form>
{{else}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    {{#each @model.attrs as |attr|}}
      {{#if (eq attr.type "object")}}
        <InfoTableRow
          @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}}
          @value={{stringify (get @model attr.name)}}
        />
      {{else if (eq attr.type "array")}}
        <InfoTableRow
          @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}}
          @value={{get @model attr.name}}
          @type={{attr.type}}
          @isLink={{eq attr.name "transformations"}}
        />
      {{else}}
        <InfoTableRow
          @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}}
          @value={{get @model attr.name}}
        />
      {{/if}}
    {{/each}}
  </div>
{{/if}}