<Hds::Text::Display @tag="h1" class="has-padding-m">Sign in to Vault</Hds::Text::Display>

<form {{on "submit" this.handleLogin}} class="has-padding-m">
  <MessageError @errorMessage={{this.error}} />

  <Hds::Form::Select::Field {{on "change" this.setAuthType}} class="has-bottom-margin-m" as |F|>
    <F.Label>Method</F.Label>
    <F.Options>
      {{#each this.authMethods as |authMethodType|}}
        <option value={{authMethodType}} selected={{eq this.authType authMethodType}}>{{authMethodType}}</option>
      {{/each}}
    </F.Options>
  </Hds::Form::Select::Field>

  <Hds::Form::TextInput::Field @value={{this.token}} @type="password" {{on "change" this.handleChange}} as |F|>
    <F.Label>Token</F.Label>
  </Hds::Form::TextInput::Field>
  <Hds::Button @text="Sign in" type="submit" class="has-top-margin-m has-bottom-margin-m" />
</form>

{{yield}}