{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form {{on "submit" (perform this.save)}} aria-label="save aws creds">
  <div class="box is-fullwidth is-shadowless is-marginless">
    <NamespaceReminder @mode="save" @noun="configuration" />
    {{! ARG TODO figure out error handling for two endpoints see kv }}
    <MessageError @errorMessage={{this.configError}} />
    <p class="has-text-grey-dark">
      Note: the client uses the official AWS SDK and will use the specified credentials, environment credentials, shared file
      credentials, or IAM role/ECS task credentials in that order.
    </p>
  </div>
  {{! Root configuration details }}
  <h2 class="title is-5 has-bottom-padding-s has-top-margin-l">
    Access to AWS
  </h2>
  <div class="box is-fullwidth is-sideless">
    {{! ARG TODO pass in mode for editing or not, currently not working properly }}
    <FormFieldGroups @model={{@rootConfig}} @mode={{if @rootConfig.isNew "create" "edit"}} />
  </div>

  {{! Lease configuration details }}
  <h2 class="title is-5 has-bottom-padding-s has-top-margin-l">
    Leases
  </h2>
  <div class="box is-fullwidth is-sideless">
    {{#each @leaseConfig.attrs as |attr|}}
      <FormField @attr={{attr}} @model={{@leaseConfig}} />
    {{/each}}
  </div>

  <div class="box is-bottomless is-fullwidth">
    <Hds::Button @text="Save" data-test-save="lease" type="submit" />
  </div>
</form>