{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="box is-fullwidth is-bottomless is-sideless">
  <MessageError @model={{@model}} />
  <div class="control-group-header {{if this.isSuccess 'is-success'}}">
    <p>
      <Icon @name={{if this.isSuccess "check-circle-fill" "lock-fill"}} />
      <strong data-test-banner-prefix>{{this.bannerPrefix}}</strong>
      <span data-test-banner-text>{{this.bannerText}}</span>
    </p>
  </div>
  {{#if
    (and @model.approved (not this.currentUserHasAuthorized) (or (not @model.requestEntity) this.currentUserIsRequesting))
  }}
    <ControlGroupSuccess
      data-test-control-group-success
      @model={{@model}}
      @controlGroupResponse={{this.controlGroupResponse}}
    />
  {{else}}
    <div class="control-group">
      <div data-test-requestor-text>
        {{#if @model.requestEntity.canRead}}
          <LinkTo @route="vault.cluster.access.identity.show" @models={{array "entities" @model.requestEntity.id "details"}}>
            {{this.requestorName}}
          </LinkTo>
        {{else}}
          {{this.requestorName}}
        {{/if}}
        {{#if this.currentUserIsRequesting}}are{{else}}is{{/if}}
        {{#if @model.approved}}
          authorized to access
          <code>{{@model.requestPath}}</code>
        {{else}}
          requesting access to
          <code>{{@model.requestPath}}</code>
        {{/if}}
      </div>

      {{#if (or (not @model.requestEntity) this.currentUserIsRequesting)}}
        <Hds::Alert
          @type="inline"
          @color={{if this.isSuccess "success" "warning"}}
          @icon={{false}}
          data-test-inline-alert
          as |A|
        >
          <A.Title>Accessor</A.Title>
          <A.Description>
            <Hds::Copy::Snippet
              @textToCopy={{@model.id}}
              @color="secondary"
              @onError={{(fn
                (set-flash-message "Clipboard copy failed. The Clipboard API requires a secure context." "danger")
              )}}
              data-test-accessor-value
            />
          </A.Description>
        </Hds::Alert>
      {{/if}}

      <div class="authorizations" data-test-authorizations>
        {{#if (gt @model.authorizations.length 0)}}
          <span class="has-text-success">
            <Icon @name="check-circle" />
          </span>
          Already approved by
          {{#each @model.authorizations as |authorization index|}}
            {{~#if authorization.canRead~}}
              <LinkTo @route="vault.cluster.access.identity.show" @models={{array "entities" authorization.id "details"}}>
                {{authorization.name}}
              </LinkTo>
            {{~else~}}
              {{authorization.name}}
            {{~/if~}}{{#if (lt (inc index) @model.authorizations.length)}},{{/if}}
          {{/each}}
        {{else}}
          <span class="has-text-grey">
            <Icon @name="check-circle" />
          </span>
          Awaiting authorization.
        {{/if}}
      </div>
    </div>
  {{/if}}

  {{#if this.controlGroupResponse.token}}
    <div class="has-bottom-margin-m has-top-margin-m" data-test-token>
      <p class="has-text-grey has-padding-xxs">
        We’ve saved your request token, but you may want to copy it just in case:
      </p>
      <Hds::Copy::Snippet
        data-test-token-value
        @textToCopy={{this.controlGroupResponse.token}}
        @color="secondary"
        @onError={{(fn (set-flash-message "Clipboard copy failed. The Clipboard API requires a secure context." "danger"))}}
      />
    </div>
  {{/if}}
  {{! template-lint-configure simple-unless "warn" }}
  {{#unless (and @model.approved (or (not @model.requestEntity) this.currentUserIsRequesting))}}
    <div class="field is-grouped box is-fullwidth is-bottomless">
      {{#if @model.canAuthorize}}
        {{#if (or @model.approved this.currentUserHasAuthorized)}}
          <Hds::Button
            @text="Back"
            @color="secondary"
            @route="vault.cluster.access.control-groups"
            @icon="chevron-left"
            @iconPosition="leading"
            data-test-back-button
          />
        {{else}}
          <Hds::Button
            @text="Authorize"
            @icon={{if this.authorizeTask.isRunning "loading"}}
            {{on "click" (perform this.authorizeTask)}}
            data-test-button="Authorize"
          />
        {{/if}}
      {{else}}
        <Hds::Button
          @text="Refresh"
          @icon={{if this.refreshTask.isRunning "loading"}}
          {{on "click" (perform this.refreshTask)}}
          data-test-button="Refresh"
        />
      {{/if}}
    </div>
  {{/unless}}
</div>