{{!
  Copyright IBM Corp. 2016, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

<Page::Header @title="Generate SSH Credentials">
  <:breadcrumbs>
    <Page::Breadcrumbs @breadcrumbs={{this.breadcrumbs}} />
  </:breadcrumbs>
</Page::Header>

{{#if this.otpData}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    <Hds::Alert @type="inline" @color="warning" class="has-top-bottom-margin" data-test-warning as |A|>
      <A.Title>Warning</A.Title>
      <A.Description>
        You will not be able to access this information later, so please copy the information below.
      </A.Description>
    </Hds::Alert>
    {{#each this.otpDisplayRows as |row|}}
      {{#if row.masked}}
        <InfoTableRow @label={{row.label}} @value={{row.value}}>
          <MaskedInput @value={{row.value}} @name="key" @displayOnly={{true}} @allowCopy={{true}} />
        </InfoTableRow>
      {{else}}
        <InfoTableRow @label={{row.label}} @value={{row.value}} />
      {{/if}}
    {{/each}}
  </div>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <div class="control">
      <Hds::Copy::Button
        @text="Copy credentials"
        @textToCopy={{this.otpData.key}}
        @onError={{(fn (set-flash-message "Clipboard copy failed. The Clipboard API requires a secure context." "danger"))}}
        class="primary"
      />
    </div>
    <div class="control">
      <Hds::Button @text="Back" @color="secondary" {{on "click" this.reset}} data-test-back-button />
    </div>
  </div>
{{else}}
  <form {{on "submit" (perform this.generate)}} data-test-secret-generate-form>
    <div class="box is-sideless is-fullwidth is-marginless">
      <NamespaceReminder @mode="generate" @noun="credential" />
      <MessageError @errorMessage={{this.errorMessage}} />
      {{#each this.credentialForm.formFields as |attr|}}
        <FormField
          data-test-field
          @attr={{attr}}
          @model={{this.credentialForm}}
          @modelValidations={{this.modelValidations}}
        />
      {{/each}}
      {{#if this.invalidFormAlert}}
        <AlertInline @type="danger" @message={{this.invalidFormAlert}} class="has-top-padding-s" />
      {{/if}}
    </div>
    <Hds::ButtonSet class="has-top-bottom-margin">
      <Hds::Button
        @text="Generate"
        @icon={{if this.generate.isRunning "loading"}}
        type="submit"
        disabled={{this.generate.isRunning}}
        data-test-submit
      />
      <Hds::Button
        @text="Cancel"
        @route="vault.cluster.secrets.backend.list-root"
        @color="secondary"
        @model={{@backendPath}}
        data-test-cancel
      />
    </Hds::ButtonSet>
  </form>
{{/if}}