{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Hds::Card::Container @level="mid" @hasBorder={{true}} class="has-padding-l" ...attributes>
  <form {{on "submit" this.transitionToCredential}}>
    <div class="is-flex-between is-fullwidth">
      <h3 class="title is-5">{{@title}}</h3>
    </div>
    <p class="has-top-margin-s has-bottom-margin-xs has-text-weight-semibold">{{@searchLabel}}</p>
    <SearchSelect
      @id="search-input-role"
      @models={{@models}}
      @selectLimit="1"
      @backend={{@backend}}
      @fallbackComponent="input-search"
      @onChange={{this.handleInput}}
      @placeholder={{@placeholder}}
      data-test-search-roles
    />
    <Hds::Button
      @text="Get credentials"
      type="submit"
      @color="secondary"
      disabled={{not this.role}}
      data-test-get-credentials
    />
  </form>
</Hds::Card::Container>