{{!
Copyright (c) HashiCorp, Inc.
SPDX-License-Identifier: BUSL-1.1
}}

<div class="namespace-picker" ...attributes>
  <Hds::Dropdown @enableCollisionDetection={{true}} as |D|>

    <D.ToggleButton @icon="org" @text={{this.selectedNamespace}} data-test-namespace-toggle />

    <D.Title @text={{component "namespace-picker/title" count=this.options.length}} />

    {{#each this.options as |option|}}
      <D.Checkmark
        @selected={{this.isSelected option}}
        {{on "click" (action "onChange" option)}}
        data-test-namespace-link={{option.path}}
        data-test-current-namespace={{this.isSelected option}}
      >
        {{option.label}}
      </D.Checkmark>
    {{/each}}

    <D.Footer @hasDivider={{true}}>
      <Hds::Button
        @color="secondary"
        @text="Refresh List"
        {{on "click" (action "loadOptions")}}
        data-test-refresh-namespaces
      />
      <Hds::Button @color="secondary" @text="Manage" @icon="settings" @route="vault.cluster.access.namespaces" />
    </D.Footer>

  </Hds::Dropdown>
</div>