{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="plugin-status-indicator" data-test-plugin-status-indicator>
  {{#if this.displayVersion}}
    <div class="plugin-version" data-test-plugin-version>
      <Hds::Badge @text={{this.displayVersion}} data-test-plugin-version />
    </div>
  {{/if}}

  {{#if this.typeBadgeConfig}}
    <div class="plugin-badges has-top-margin-xs">
      <Hds::Badge
        @text={{this.typeBadgeConfig.text}}
        @color={{this.typeBadgeConfig.color}}
        @size={{this.badgeSize}}
        data-test-plugin-type-badge
      />
      {{#if this.deprecationBadgeConfig}}
        <Hds::Badge
          @text={{this.deprecationBadgeConfig.text}}
          @color={{this.deprecationBadgeConfig.color}}
          @size={{this.badgeSize}}
          data-test-plugin-deprecation-badge
          class="has-left-margin-xs"
        />
      {{/if}}
    </div>
  {{/if}}
</div>