{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}
<ExampleForm />
<NewForm
  @onCancel={{this.cancel}}
  @saving={{this.save.isRunning}}
  @formError={{this.error}}
  @validations={{this.validations}}
  @onSubmit={{perform this.save}}
  data-test-policy-form
  as |F|
>
  <F.NamespaceReminder @mode={{if @model.isNew "create" "edit"}} @noun="policy" />
  <F.Section @hasDivider={{@model.additionalAttrs}}>
    <F.Field>
      <NewField::TextInput
        @label="Path"
        @name="name"
        @value={{or @model.name @model.id}}
        @onChange={{this.handleFormChange}}
        @readonly={{not @model.isNew}}
        @isRequired={{true}}
      />
    </F.Field>

    {{!-- <NewFormField @label="Path" @name="name" @value={{@model.name}} @onChange={{this.handleFieldChange}} /> --}}
    <F.Field>
      <Hds::Tabs as |T|>
        <T.Tab>Code editor</T.Tab>
        <T.Tab>File upload</T.Tab>

        <T.Panel class="tab-contents">
          <label class="has-text-weight-bold has-right-margin-xxs">Policy</label>
          <p>You can use Alt+Tab (Option+Tab on MacOS) in the code editor to skip to the next field.</p>
          <JsonEditor
            @title="Policy"
            @showToolbar={{false}}
            @value={{@model.policy}}
            @valueUpdated={{action (mut @model.policy)}}
            @mode="ruby"
            @extraKeys={{hash Shift-Enter=(perform this.save)}}
            data-test-policy-editor
          />
          <Hds::Button
            @text="How to write a policy"
            @icon="bulb"
            @size="small"
            @color="tertiary"
            {{on "click" (fn (mut this.showTemplateModal))}}
            data-test-policy-example-button
          />
          <Hds::Copy::Button
            @text="Copy"
            @isIconOnly={{true}}
            @textToCopy={{@model.policy}}
            class="transparent"
            data-test-copy-button
          />
        </T.Panel>
        <T.Panel class="tab-contents">
          <NewField::Upload @label="Policy" @name="policy" @onChange={{this.handleFormChange}} />
        </T.Panel>
      </Hds::Tabs>
    </F.Field>
  </F.Section>
  {{#if @model.additionalAttrs}}
    <F.Section>
      {{#each @model.additionalAttrs as |attr|}}
        <F.Field>
          <NewFormField @attr={{attr}} @model={{@model}} />
        </F.Field>
      {{/each}}
    </F.Section>
  {{/if}}
</NewForm>

{{! SAMPLE POLICY MODAL. Only renders in policy create and edit routes }}
{{#if this.showTemplateModal}}
  <Hds::Modal
    id="policy-example-modal"
    @size="large"
    @onClose={{fn (mut this.showTemplateModal) false}}
    data-test-policy-example-modal
    as |M|
  >
    <M.Header data-test-modal-title>
      Example
      {{uppercase @model.policyType}}
      Policy
    </M.Header>
    <M.Body>
      <PolicyExample @policyType={{@model.policyType}} @container="#policy-example-modal" />
    </M.Body>
    <M.Footer as |F|>
      <Hds::Button @text="Close" {{on "click" F.close}} data-test-modal-close-button />
    </M.Footer>
  </Hds::Modal>
{{/if}}