{{!
  Copyright IBM Corp. 2016, 2026
  SPDX-License-Identifier: BUSL-1.1
}}
<form data-test-transit-edit-form onsubmit={{this.save}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <MessageError @model={{@form}} />
    <NamespaceReminder @mode="edit" @noun="transit key" />

    {{#each @form.formFields as |attr|}}
      <FormField @attr={{attr}} @model={{@form}} @modelValidations={{this.modelValidations}}>
        {{#if (eq attr.name "auto_rotate_period")}}
          <div class="field">
            <TtlPicker
              @initialValue={{or @form.data.auto_rotate_period "30d"}}
              @initialEnabled={{not (eq @form.data.auto_rotate_period 0)}}
              @label="Auto-rotation period"
              @helperTextDisabled="Key will never be automatically rotated"
              @helperTextEnabled="Key will be automatically rotated every"
              @onChange={{this.handleAutoRotateChange}}
            />
          </div>
        {{/if}}
        {{#if (eq attr.name "min_decryption_version")}}
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select
                name="min_decryption_version"
                id="min_decryption_version"
                onchange={{action (mut @form.data.min_decryption_version) value="target.value"}}
              >
                {{#each @form.data.keyVersions as |version|}}
                  <option selected={{loose-equal @form.data.min_decryption_version version}} value={{version}}>
                    <code>{{version}}</code>
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
          <p class="help">
            The minimum decryption version required to reverse transformations performed with the cryptographic key. Results
            from lower key versions may be rewrapped with the new key version using the
            <code>rewrap</code>
            action.
          </p>
        {{/if}}
        {{#if (eq attr.name "min_encryption_version")}}
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select
                name="min_encryption_version"
                id="min_encryption_version"
                onchange={{action (mut @form.data.min_encryption_version) value="target.value"}}
              >
                <option selected={{loose-equal @form.data.min_encryption_version 0}} value={{0}}>
                  <code>Latest</code>
                  (currently
                  {{@form.data.latest_version}})
                </option>
                {{#each @form.data.encryptionKeyVersions as |version|}}
                  <option selected={{loose-equal @form.data.min_encryption_version version}} value={{version}}>
                    <code>{{version}}</code>
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
          <p class="help">
            The minimum version of the key that can be used to encrypt plaintext, sign payloads, or generate HMACs. You will
            be able to specify which version of the key to use for each of these actions. The value specified here must be
            greater than or equal to that specified in the
            <b>Minimum Decryption Version</b>
            selection above.
          </p>
        {{/if}}
      </FormField>
    {{/each}}
  </div>
  <div class="field is-grouped is-grouped-split box is-fullwidth is-bottomless">
    <div class="field is-grouped">
      {{#if @capabilities.canUpdate}}
        <div class="control">
          <Hds::Button @text="Update transit key" type="submit" />
        </div>
      {{/if}}
      <div class="control">
        <Hds::Button
          @text="Cancel"
          @color="secondary"
          @route="vault.cluster.secrets.backend.show"
          @models={{array @form.data.backend @form.data.id}}
          @query={{hash tab="details"}}
        />
      </div>
    </div>
    {{#if @capabilities.canDelete}}
      <ConfirmAction @buttonText="Delete transit key" @onConfirmAction={{this.deleteKey}} />
    {{/if}}
  </div>
</form>