{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Page::Header @title={{this.model.id}}>
  <:breadcrumbs>
    <Page::Breadcrumbs
      @breadcrumbs={{array (hash label="Auth Methods" route="vault.cluster.access.methods") (hash label=this.model.id)}}
    />
  </:breadcrumbs>
</Page::Header>

{{#if (not (includes this.model.type (supported-managed-auth-backends)))}}
  <div class="has-text-grey has-top-bottom-margin" data-test-doc-link={{this.model.id}}>
    The Vault UI only supports configuration for this authentication method. For management, the
    <DocLink @path="/vault/api-docs">API or CLI</DocLink>
    should be used.
  </div>
{{/if}}

<SectionTabs @model={{this.model}} @tabType="authShow" @paths={{this.paths}} />

{{#if (eq this.section "configuration")}}
  <Toolbar>
    <ToolbarActions>
      <ToolbarLink @route="vault.cluster.settings.auth.configure" @model={{this.model.id}} data-test-configure-link="true">
        Configure
      </ToolbarLink>
    </ToolbarActions>
  </Toolbar>
{{/if}}
{{component (concat "auth-method/" this.section) method=this.model}}