{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.top>
    <Hds::Breadcrumb>
      <Hds::Breadcrumb::Item @text="Auth Methods" @route="vault.cluster.access.methods" />
      <Hds::Breadcrumb::Item @text={{this.model.id}} @current={{true}} />
    </Hds::Breadcrumb>
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{this.model.id}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (not (includes this.model.type (supported-managed-auth-backends)))}}
  <div class="has-text-grey has-top-bottom-margin" data-test-doc-link>
    The Vault UI only supports configuration for this authentication method. For management, the
    <DocLink @path="/vault/api-docs">API or CLI</DocLink>
    should be used.
  </div>
{{/if}}

<SectionTabs @model={{this.model}} @tabType="authShow" @paths={{this.paths}} />

{{#if (eq this.section "configuration")}}
  <Toolbar>
    <ToolbarActions>
      <ToolbarLink @route="vault.cluster.settings.auth.configure" @model={{this.model.id}} data-test-configure-link="true">
        Configure
      </ToolbarLink>
    </ToolbarActions>
  </Toolbar>
{{/if}}
{{component (concat "auth-method/" this.section) model=this.model}}