<form onsubmit={{action "createOrUpdate" "create"}} onchange={{action "handleChange"}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    {{message-error model=model}}
    <NamespaceReminder @mode={{mode}} @noun="AWS role" />
    {{#if (eq mode 'create')}}
      <div class="field">
        <label for="name" class="is-label">
          Role Name
        </label>
        <div class="control">
          {{input id="name" value=model.id class="input" data-test-input="name"}}
        </div>
      </div>
    {{/if}}
    <div class="field">
      <label for="credential-type" class="is-label">
        Credential Type
      </label>
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <select
             name="credential-type"
             id="credential-type"
             onchange={{action (mut model.credential_type) value="target.value"}}
          >
            <option selected={{eq model.credential_types "iam_user"}} value="iam_user">
              IAM User
            </option>
            <option selected={{eq model.credential_types "assumed_role"}} value="assumed_role">
              Assumed Role
            </option>
            <option selected={{eq model.credential_types "federation_token"}} value="federation_token">
              Federation Token
            </option>
          </select>
        </div>
      </div>
    </div>
    {{#if (eq model.credential_type "assumed_role") }}
      {{string-list
        label="Role ARNs"
	inputValue=model.role_arns
	attr=model.role_arns
      }}
    {{/if}}
    {{#if (eq model.credential_type "iam_user") }}
      <div class="field">
        <label for="policy_arns" class="is-label">
          Policy ARNs
        </label>
        <div class="control">
          {{input id="policy_arns" value=model.policy_arns class="input" data-test-input="policy_arns"}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="field">
    <label for="policy_document" class="is-label">
      Policy
    </label>
    <div class="control">
          {{json-editor
            value=(if model.policy_document (stringify (jsonify model.policy_document)) emptyData)
            valueUpdated=(action "codemirrorUpdated" "policy_document")
            }}
    </div>
  </div>
  <div class="field is-grouped-split box is-fullwidth is-bottomless">
    <div class="control">
      <button
        type="submit"
        disabled={{buttonDisabled}}
        class="button is-primary"
        data-test-role-aws-create=true
      >
        {{#if (eq mode 'create')}}
          Create role
        {{else if (eq mode 'edit')}}
          Save
        {{/if}}
      </button>
      {{#secret-link
        mode=(if (eq mode "create") "list" "show")
        class="button"
        secret=model.id
      }}
        Cancel
      {{/secret-link}}
    </div>
    {{#if (and (eq mode 'edit') model.canDelete)}}
      {{#confirm-action
        buttonClasses="button"
        onConfirmAction=(action "delete")
        confirmMessage=(concat "Are you sure you want to delete " model.id "?")
        cancelButtonText="Cancel"
      }}
        Delete
      {{/confirm-action}}
    {{/if}}
  </div>
</form>
