<Secrets::PageHeader @secretsEngine={{@secretsEngine}} @engineData={{@engineData}} />

<div class="has-top-margin-l">
  <div class="tabs-container box is-marginless is-fullwidth is-paddingless">
    <nav class="tabs" aria-label={{@secretsEngine.id}}>
      <ul>
        <li>
          <LinkTo @route="vault.cluster.secrets.backend.configuration.general-settings" @model={{@secretsEngine.id}}>
            General settings
          </LinkTo>
        </li>
      </ul>
    </nav>
  </div>
  {{outlet}}
</div>

<form {{on "submit" (perform this.saveGeneralSettings)}} aria-label="general settings form">
  <Hds::Text::Body class="has-bottom-margin-lg">
    Mount parameters that you can tune to fit required engine behavior.
  </Hds::Text::Body>

  <div class="is-grid grid-2-columns grid-gap-2">
    {{#each @generalSettingsForm.formFieldGroups as |fieldGroup|}}
      {{#each-in fieldGroup as |group fields|}}
        <Hds::Card::Container @level="mid" @hasBorder={{true}} class="has-top-bottom-margin-12 has-padding-l">
          <Hds::Text::Display class="has-bottom-margin-m" @tag="h2" @size="300">
            {{group}}
          </Hds::Text::Display>
          {{#each fields as |field|}}
            {{! TODO: update readonly fields to be correct value }}
            {{#if (or (eq field.name "engine_type") (eq field.name "current_version") (eq field.name "latest_version"))}}
              <ReadonlyFormField @attr={{field}} @value={{@secretsEngine.running_plugin_version}} />
            {{else}}
              <FormField @attr={{field}} @model={{fieldGroup}} />
            {{/if}}
          {{/each}}
        </Hds::Card::Container>
      {{/each-in}}
    {{/each}}
  </div>

  <div class="field is-grouped box is-fullwidth is-bottomless">
    {{! TODO: Instead of showing loading icon in save button, show a loading screen. We'll need to wrap this form in if/else block.  }}
    <Hds::Button
      @text="Save changes"
      @icon={{if this.saveGeneralSettings.isRunning "loading"}}
      type="submit"
      disabled={{this.saveGeneralSettings.isRunning}}
      data-test-submit
    />
    <Hds::Button @text="Discard" data-test-cancel />
  </div>
</form>