{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  {{#if @method.directLoginLink}}
    <InfoTableRow @alwaysRender={{true}} @label="UI login link">
      <Hds::Copy::Snippet @textToCopy={{@method.directLoginLink}} />
    </InfoTableRow>
  {{/if}}
  {{#each this.displayFields as |field|}}
    <InfoTableRow
      @alwaysRender={{not (is-empty-value (get @method field))}}
      @label={{this.label field}}
      @value={{this.value field}}
      @formatTtl={{this.isTtl field}}
    />
  {{/each}}
</div>