{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if (and (eq @mountCategory "secret") this.isLoadingPluginCatalog)}}
  <div class="has-bottom-padding-m">
    <Hds::ApplicationState as |A|>
      <A.Header @title="Loading plugin information..." />
      <A.Body @text="Fetching available secret engines and their versions..." />
    </Hds::ApplicationState>
  </div>
{{/if}}

{{#each this.categorizedSecretEngines as |categoryGroup|}}
  {{#if (or categoryGroup.enabledEngines.length categoryGroup.disabledEngines.length)}}
    <Hds::Text::Display class="has-top-padding-m has-bottom-padding-s" @tag="h2" size="400">
      {{categoryGroup.category}}
    </Hds::Text::Display>
    
    <div class="flex row-wrap row-gap-8 column-gap-16 has-bottom-padding-m">
      {{! Enabled engines }}
      {{#each categoryGroup.enabledEngines as |type|}}
        <Hds::Card::Container
          tabindex="0"
          class="selectable-engine-card has-top-padding-l has-text-centered small-card"
          @level="mid"
          @hasBorder={{true}}
          {{on "click" (fn @setMountType type.type)}}
          {{on "keypress" (fn @setMountType type.type)}}
          data-test-mount-type={{type.type}}
        >
          <Icon @name={{type.glyph}} @size="24" class="has-bottom-margin-xs" />
          <Hds::Text::Body @tag="h3" @size="300">
            {{type.displayName}}
          </Hds::Text::Body>
          {{#if (or type.version type.builtin)}}
            <PluginStatusIndicator
              @version={{type.version}}
              @builtin={{type.builtin}}
              @deprecationStatus={{type.deprecation_status}}
              @size="small"
            />
          {{/if}}
          {{#if (and type.requiredFeature (not (has-feature type.requiredFeature)))}}
            <Hds::Badge @text="Enterprise" @icon="enterprise" @size="small" />
          {{/if}}
        </Hds::Card::Container>
      {{/each}}

      {{! Vertical divider (only show if both enabled and disabled engines exist) }}
      {{#if (and categoryGroup.enabledEngines.length categoryGroup.disabledEngines.length)}}
        <div class="vertical-divider" aria-hidden="true"></div>
      {{/if}}

      {{! Disabled engines }}
      {{#each categoryGroup.disabledEngines as |type|}}
        <Hds::Card::Container
          tabindex="0"
          class="selectable-engine-card disabled-plugin has-top-padding-l has-text-centered small-card"
          @level="base"
          @hasBorder={{true}}
          {{on "click" (fn this.handleDisabledPluginClick type)}}
          {{on "keypress" (fn this.handleDisabledPluginClick type)}}
          data-test-disabled-plugin={{type.type}}
          data-test-mount-type={{type.type}}
        >
          <Icon @name={{type.glyph}} @size="24" class="has-bottom-margin-xs disabled-icon" />
          <Hds::Text::Body @tag="h3" @size="300" class="disabled-text">
            {{type.displayName}}
          </Hds::Text::Body>
          <Hds::Badge @text="Not available" @color="neutral" @size="small" />
          {{#if (and type.requiredFeature (not (has-feature type.requiredFeature)))}}
            <Hds::Badge @text="Enterprise" @icon="enterprise" @size="small" />
          {{/if}}
        </Hds::Card::Container>
      {{/each}}
    </div>
  {{/if}}
{{/each}}

<div class="field is-grouped box is-fullwidth is-bottomless">
  <Hds::Button
    @text="Cancel"
    @color="secondary"
    @route={{if (eq @mountCategory "secret") "vault.cluster.secrets.backends" "vault.cluster.access.methods"}}
    data-test-cancel
  />
</div>

{{! Plugin Documentation Flyout }}
<PluginDocumentationFlyout
  @isOpen={{this.showFlyout}}
  @pluginName={{this.flyoutPluginName}}
  @pluginType={{this.flyoutPluginType}}
  @displayName={{this.flyoutDisplayName}}
  @onClose={{this.closeFlyout}}
/>
