{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if (and (eq @mountCategory "secret") this.isLoadingPluginCatalog)}}
  <div class="has-bottom-padding-m">
    <Hds::ApplicationState as |A|>
      <A.Header @title="Loading plugin information..." @icon="loading" />
      <A.Body @text="Fetching available secret engines and their versions..." />
    </Hds::ApplicationState>
  </div>
{{/if}}

{{#each (array "generic" "cloud" "infra" "external") as |category|}}
  <div class="has-top-padding-m has-bottom-padding-s">
    <Hds::Text::Display @tag="h2" size="400" class="is-flex align-items-center">
      {{capitalize category}}
      {{#if (eq category "external")}}
        <Hds::Button
          @text=""
          @color="tertiary"
          @icon="info"
          @size="small"
          @isIconOnly={{true}}
          aria-label="Information about external plugins"
          class="has-left-margin-xs"
          {{on "click" this.openExternalPluginsHelp}}
        />
      {{/if}}
    </Hds::Text::Display>
  </div>
  <div class="flex row-wrap row-gap-8 column-gap-16 has-bottom-padding-m">
    {{#let (get this (concat category "MountTypes")) as |categorized|}}
      {{! Display enabled plugins first }}
      {{#each categorized.enabled as |type|}}
        <EnabledPluginCard @type={{type}} @setMountType={{@setMountType}} />
      {{/each}}

      {{! Display vertical separator if both enabled and disabled plugins exist }}
      {{#if (and categorized.enabled.length categorized.disabled.length)}}
        <div class="vertical-divider"></div>
      {{/if}}

      {{! Display disabled plugins at the end }}
      {{#each categorized.disabled as |type|}}
        <DisabledPluginCard @type={{type}} @handleDisabledPluginClick={{this.handleDisabledPluginClick}} />
      {{/each}}
    {{/let}}
  </div>
{{/each}}

<div class="field is-grouped box is-fullwidth is-bottomless">
  <Hds::Button
    @text="Cancel"
    @color="secondary"
    @route={{if (eq @mountCategory "secret") "vault.cluster.secrets.backends" "vault.cluster.access.methods"}}
    data-test-cancel
  />
</div>

{{! Plugin Documentation Flyout }}
<PluginDocumentationFlyout
  @isOpen={{this.showFlyout}}
  @pluginName={{this.flyoutPluginName}}
  @pluginType={{this.flyoutPluginType}}
  @displayName={{this.flyoutDisplayName}}
  @onClose={{this.closeFlyout}}
/>