<form {{on "submit" this.handleFormLogin}}>
  <MessageError @errorMessage={{this.error}} />

  {{#each this.showFields as |field|}}
    <Hds::Form::TextInput::Field
      @value={{get this.state field}}
      @type={{this.maybeMask field}}
      {{on "input" this.handleFormChange}}
      name={{field}}
      class="has-bottom-margin-m"
      as |F|
    >
      <F.Label>{{capitalize field}}</F.Label>
    </Hds::Form::TextInput::Field>
  {{/each}}

  {{yield to="options"}}

  <Hds::Button @text="Sign in" type="submit" class="has-top-margin-m has-bottom-margin-m" />
</form>