{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Clients::ChartContainer
  @title="Monthly new"
  @description="Entity or non-entity clients which interacted with Vault for the first time during this date range, displayed per month."
  @timestamp={{@responseTimestamp}}
  @hasChartData={{this.hasAverageNewClients}}
  class={{unless this.hasAverageNewClients "no-legend"}}
  data-test-chart="monthly new"
>
  <:chart>
    <Clients::VerticalBarChart @dataset={{this.byMonthNewClients}} @chartLegend={{this.runningTotalLegend}} />
  </:chart>

  <:emptyState>
    <EmptyState
      @title="No new clients"
      @subTitle="There is no new client data available for this {{if
        @authMount
        'auth method'
        'namespace'
      }} in this date range."
      @bottomBorder={{true}}
    />
  </:emptyState>

  <:stats>
    <div class="chart-subTitle has-top-padding-l">
      <h3 class="data-details">Average new entity clients per month</h3>
      <p class="data-details" data-test-monthly-new-entity>
        {{format-number this.entityClientData.averageNewClients}}
      </p>
    </div>

    <div class="data-details-top has-top-padding-l">
      <h3 class="data-details">Average new non-entity clients per month</h3>
      <p class="data-details" data-test-monthly-new-nonentity>
        {{format-number this.nonEntityClientData.averageNewClients}}
      </p>
    </div>
  </:stats>

  <:legend>
    <div class="legend" data-test-monthly-new-legend>
      {{#each this.runningTotalLegend as |legend idx|}}
        <span class="legend-colors dot-{{idx}}"></span><span class="legend-label">{{capitalize legend.label}}</span>
      {{/each}}
    </div>
  </:legend>
</Clients::ChartContainer>