<SecretListHeader
  @model={{this.model}}
  @backendCrumb={{hash
    label=this.model.id
    text=this.model.id
    path="vault.cluster.secrets.backend.list-root"
    model=this.model.id
  }}
  @isEngine={{true}}
/>
<Toolbar>
  <ToolbarActions>
    <ToolbarLink @params={{array "configure.tidy"}}>
      Tidy
    </ToolbarLink>
    <ToolbarLink @params={{array "configure"}}>
      Edit configuration WIP route location?
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

<div class="form-section">
  <label class="title has-padding-top is-5">
    URLs
  </label>
</div>
<div class="form-section">
  <label class="title has-padding-top is-5">
    CRL
  </label>
</div>
<div class="form-section">
  <label class="title has-padding-top is-5">
    Mount Configuration
  </label>
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    {{!-- {{#each-in this.model.customMetadata as |key value|}}
    <InfoTableRow @alwaysRender={{false}} @label={{key}} @value={{value}} />
  {{else if this.noReadAccess}}
    <EmptyState
      @title="You do not have access to read secret metadata"
      @bottomBorder={{true}}
      @message="In order to edit secret metadata access, the UI requires read permissions; otherwise, data may be deleted. Edits can still be made via the API and CLI."
    />
  {{else}}
    <EmptyState
      @title="No custom metadata"
      @bottomBorder={{true}}
      @message="This data is version-agnostic and is usually used to describe the secret being stored."
    >
      {{#if this.model.canUpdateMetadata}}
        <LinkTo @route="vault.cluster.secrets.backend.edit-metadata" @model={{this.model.id}} data-test-add-custom-metadata>
          Add metadata
        </LinkTo>
      {{/if}}
    </EmptyState>
  {{/each-in}} --}}
  </div>

</div>