<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{this.breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      <Icon @name="file-text" @size="24" class="has-text-grey-light" />
      {{this.title}}
    </h1>
  </p.levelLeft>
</PageHeader>
<div class="tabs-container box is-bottomless is-marginless is-fullwidth is-paddingless">
  <nav class="tabs" aria-label="secret tabs">
    <ul>
      {{#each this.tabs as |oTab|}}
        <LinkTo @route={{oTab.route}} data-test-tab={{oTab.route}}>
          {{oTab.label}}
        </LinkTo>
      {{/each}}
    </ul>
  </nav>
</div>

<Page::Error @error={{this.model}} />