{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<form {{on "submit" (perform this.save)}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <MessageError @errorMessage={{this.errorBanner}} />

    <FormFieldGroups @model={{@form}} @groupName="formFieldGroups" @modelValidations={{this.modelValidations}} as |field|>
      {{#if (eq field.name "entity_ids")}}
        <SearchSelect
          @id="entities"
          @placeholder="Search"
          @options={{@entities}}
          @inputValue={{@form.data.entity_ids}}
          @shouldRenderName={{true}}
          @onChange={{fn (mut @form.data.entity_ids)}}
          @disallowNewItems={{true}}
          @fallbackComponent="string-list"
          data-test-search-select="entities"
        />
      {{else if (eq field.name "group_ids")}}
        <SearchSelect
          @id="groups"
          @placeholder="Search"
          @options={{@groups}}
          @inputValue={{@form.data.group_ids}}
          @shouldRenderName={{true}}
          @onChange={{fn (mut @form.data.group_ids)}}
          @disallowNewItems={{true}}
          @fallbackComponent="string-list"
          data-test-search-select="groups"
        />
      {{/if}}
    </FormFieldGroups>
    {{#if this.modelValidations.targets.errors}}
      <AlertInline
        @type="danger"
        @message={{this.modelValidations.targets.errors}}
        class="has-top-padding-s"
        data-test-validation-error="target"
      />
    {{/if}}
  </div>
  <div class="has-top-padding-s">
    <Hds::Button
      @text={{if @form.isNew "Create" "Update"}}
      @icon={{if this.save.isRunning "loading"}}
      type="submit"
      disabled={{this.save.isRunning}}
      data-test-oidc-assignment-save
    />
    <Hds::Button
      @text="Cancel"
      @color="secondary"
      class="has-left-margin-s"
      disabled={{this.save.isRunning}}
      {{on "click" (fn @onCancel undefined)}}
      data-test-oidc-assignment-cancel
    />
    {{#if this.invalidFormMessage}}
      <div class="control">
        <AlertInline
          @type="danger"
          class="has-top-padding-s"
          @message={{this.invalidFormMessage}}
          data-test-invalid-form-alert
        />
      </div>
    {{/if}}
  </div>
</form>