<div ...attributes>
  <FormFieldLabel for="name" @label="Name" />
  <input
    autocomplete="off"
    spellcheck="false"
    value={{@model.name}}
    disabled={{not @model.isNew}}
    class="input field {{if this.errors.name.errors 'has-error-border'}}"
    {{on "input" this.handleOperation}}
  />
  {{#if this.errors.name.errors}}
    <AlertInline @type="danger" @message={{join ", " this.errors.name.errors}} />
  {{/if}}

  <SearchSelect
    @subLabel="Entities"
    @placeholder="Search"
    @models={{array "identity/entity"}}
    @shouldRenderName={{true}}
    @onChange={{this.onEntitiesSelect}}
    @fallbackComponent="string-list"
  />
  <SearchSelect
    @subLabel="Groups"
    @placeholder="Search"
    @models={{array "identity/group"}}
    @shouldRenderName={{true}}
    @onChange={{this.onGroupsSelect}}
    @fallbackComponent="string-list"
  />
  <hr />
  <div class="has-top-padding-s">
    <button
      type="button"
      class="button is-primary {{if this.save.isRunning 'is-loading'}}"
      disabled={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{if @model.isNew "Create" "Update"}}
    </button>
    <button type="button" class="button has-left-margin-s" disabled={{this.save.isRunning}} {{on "click" this.cancel}}>
      Cancel
    </button>
  </div>
</div>