<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3 has-bottom-margin-2">
      Credentials
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="box is-sideless is-fullwidth is-marginless">
  <AlertBanner
    @class="is-marginless"
    @type="warning"
    @title="Warning"
    @message="You won't be able to access these credentials later, so please copy them now."
  />
  <InfoTableRow @label="Service account token" @value={{this.serviceAcctToken}}>
    <MaskedInput @value={{this.serviceAcctToken}} @name="Service Account Token" @displayOnly={{true}} @allowCopy={{true}} />
  </InfoTableRow>

  <InfoTableRow @label="Namespace" @value={{this.serviceAcctNamespace}}>
    <CopyButton
      class="button is-transparent is-flex-v-centered"
      @clipboardText={{this.serviceAcctNamespace}}
      @buttonType="button"
      @success={{action (set-flash-message "Namespace copied")}}
    >
      <Icon class="has-text-grey-light" @name="clipboard-copy" aria-label="Copy" />
      <span class="has-font-weight-normal title is-7">{{this.serviceAcctNamespace}}</span>
    </CopyButton>
  </InfoTableRow>

  <InfoTableRow @label="Service account name" @value={{this.serviceAcctName}}>
    <CopyButton
      class="button is-transparent is-flex-v-centered"
      @clipboardText={{this.serviceAcctName}}
      @buttonType="button"
      @success={{action (set-flash-message "Service account name copied")}}
    >
      <Icon class="has-text-grey-light" @name="clipboard-copy" aria-label="Copy" />
      <span class="has-font-weight-normal title is-7">{{this.serviceAcctName}}</span>
    </CopyButton>
  </InfoTableRow>

  <InfoTableRow @label="Lease expiry" @value={{date-format this.leaseExpiry "MMMM do yyyy, h:mm:ss a"}} />
  <InfoTableRow @label="lease_id" @value={{this.leaseId}} />
  <InfoTableRow />
</div>

<div class="has-top-margin-l">
  <button class="button is-primary" type="button" {{on "click" (perform this.fetchCredentials)}}>
    Done
  </button>
</div>