{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<TabPageHeader
  @model={{@backend}}
  @filterRoles={{not @promptConfig}}
  @rolesFilterValue={{@filterValue}}
  @breadcrumbs={{@breadcrumbs}}
>
  {{#unless @promptConfig}}
    <ToolbarLink @route="roles.create" @type="add" data-test-toolbar-roles-action>
      Create role
    </ToolbarLink>
  {{/unless}}
</TabPageHeader>

{{#if @promptConfig}}
  <ConfigCta />
{{else if (not @roles)}}
  {{#if @filterValue}}
    <EmptyState @title="There are no roles matching &quot;{{@filterValue}}&quot;" />
  {{else}}
    <EmptyState
      data-test-config-cta
      @title="No roles yet"
      @message="When created, roles will be listed here. Create a role to start generating service account tokens."
    />
  {{/if}}
{{else}}
  <div class="has-bottom-margin-s">
    {{#each @roles as |role|}}
      <ListItem @linkPrefix={{this.mountPoint}} @linkParams={{array "roles.role.details" role.name}} as |Item|>
        <Item.content>
          <Icon @name="user" />
          <span data-test-role={{role.name}}>{{role.name}}</span>
        </Item.content>
        <Item.menu>
          <Hds::Dropdown @isInline={{true}} @listPosition="bottom-right" as |dd|>
            <dd.ToggleIcon
              @icon="more-horizontal"
              @text="Roles popup menu"
              @hasChevron={{false}}
              data-test-popup-menu-trigger
            />
            {{#if role.rolesPath.isLoading}}
              <dd.Generic class="has-text-center">
                <LoadingDropdownOption />
              </dd.Generic>
            {{else}}
              <dd.Interactive
                data-test-details
                @route="roles.role.details"
                @model={{role}}
                @disabled={{eq role.canRead false}}
                @text="Details"
              />
              <dd.Interactive
                data-test-edit
                @route="roles.role.edit"
                @model={{role}}
                @disabled={{not role.canEdit}}
                @text="Edit"
              />
              <dd.Interactive
                data-test-delete
                @color="critical"
                @text="Delete"
                {{on "click" (fn (mut this.roleToDelete) role)}}
              />
            {{/if}}
          </Hds::Dropdown>
        </Item.menu>
      </ListItem>
    {{/each}}
  </div>
{{/if}}

{{#if this.roleToDelete}}
  <ConfirmModal
    @color="critical"
    @confirmMessage="Deleting this role means that you’ll need to recreate it in order to generate credentials again."
    @onClose={{fn (mut this.roleToDelete) null}}
    @onConfirm={{fn this.onDelete this.roleToDelete}}
  />
{{/if}}