<PageHeader as |p|>
  <p.top>
    <div class="breadcrumb">
      <LinkTo @route="vault.cluster.policies" @model={{this.policyType}} data-test-policy-list-link={{true}}>
        <span class="sep">&#x0002f;</span>
        {{uppercase this.policyType}}
        Policies
      </LinkTo>
    </div>
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      Create
      {{uppercase this.policyType}}
      policy
    </h1>
  </p.levelLeft>
</PageHeader>

<PolicyForm
  @model={{this.model}}
  @onSave={{transition-to "vault.cluster.policy.show" this.model.policyType this.model.name}}
  @onCancel={{transition-to "vault.cluster.policies.index"}}
/>