{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form {{action (perform this.saveModel) on="submit"}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <NamespaceReminder @mode="save" @noun="Auth Method" />
    <MessageError @model={{this.model}} />
    {{#if this.model.attrs}}
      {{#each this.model.attrs as |attr|}}
        <FormField data-test-field={{true}} @attr={{attr}} @model={{@model}} />
      {{/each}}
    {{else if this.model.fieldGroups}}
      <FormFieldGroups @model={{this.model}} @mode={{this.mode}} />
    {{/if}}
  </div>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <button
      type="submit"
      data-test-save-config="true"
      class="button is-primary {{if this.saveModel.isRunning 'loading'}}"
      disabled={{this.saveModel.isRunning}}
    >
      Save
    </button>
  </div>
</form>