{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form {{action (perform this.saveModel) on="submit"}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <MessageError @model={{this.model}} @errorMessage={{this.model.errorMessage}} />
    <NamespaceReminder @mode="save" @noun="Auth Method" />
    {{#each this.model.tuneAttrs as |attr|}}
      <FormField data-test-field @attr={{attr}} @model={{this.model}} />
    {{/each}}
  </div>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <Hds::Button
      @text="Update options"
      @icon={{if this.saveModel.isRunning "loading"}}
      type="submit"
      data-test-save-config="true"
      disabled={{this.saveModel.isRunning}}
    />
  </div>
</form>