{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form {{action (perform this.saveModel) on="submit"}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <MessageError @model={{this.model}} @errorMessage={{this.model.errorMessage}} />
    <NamespaceReminder @mode="save" @noun="Auth Method" />
    {{#each this.model.tuneAttrs as |attr|}}
      <FormField data-test-field @attr={{attr}} @model={{this.model}} />
    {{/each}}
  </div>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <button
      type="submit"
      data-test-save-config="true"
      class="button is-primary {{if this.saveModel.isRunning 'loading'}}"
      disabled={{this.saveModel.isRunning}}
    >
      Update Options
    </button>
  </div>
</form>