<div class="replication-dashboard box is-sideless is-fullwidth is-marginless">
  <h2 class="has-text-weight-semibold is-size-4 has-margin-bottom">Primary Cluster</h2>
  <p class="has-text-grey is-size-8">If you set a primary_cluster_addr when enabling replication, it will appear here.</p>
  {{#if model.dr.primaryClusterAddr}}
    <code>{{model.dr.primaryClusterAddr}}</code>
  {{else}}
    <code>no known primary cluster address</code>
  {{/if}}

  <div class="selectable-card-container has-large-margin-top">
    {{!-- TURN THESE INTO COMPONENTS --}}
    {{yield (hash 
      card=(
        component 'replication-page/replication-dashboard/replication-selectable-card'
        model=model
      )
    )}}

    <div class="selectable-card is-rounded card-container">
      <h3 class="title is-4 grid-item-title">Write-Ahead Logs (WALs)</h3>
      <div class="grid-item-state">
        <code class="has-text-black">Last Remote WAL</code>
        <p class="has-text-grey is-size-8">Index of the last Write-Ahead Logs (WAL) entry written on the local storage.</p>
      </div>
      <div class="grid-item-wal">
        <code class="has-text-black">Last WAL entry from primary</code>
        <p class="has-text-grey is-size-8">Description of state, goes across multiple lines, probably.</p>
      </div>
      <h2 class="title-number grid-item-stream">36</h2>
      <h2 class="title-number grid-item-status">36</h2>
    </div>
  </div>
  
  <div class="has-large-margin-top">
    {{!-- ARG the replicationAttrs might be model for me --}}
    {{info-table-row label="Merkle root index" helperText="A snapshot in time of the merkle tree's root hash. Changes on every update
    to storage." value="replicationAttrs.merkleRoot"}}
    {{info-table-row label="Mode" value="replicationAttrs.mode"}}
    {{info-table-row label="Replication set" helperText="The ID for the group of clusters communicating for this replication mode" value="replicationAttrs.clusterId"}}
  </div>
  {{!-- TODO: move this to the right spot --}}
  {{#if replicationAttrs.syncProgress}}
    {{info-table-row label="Sync progress" value=(concat replicationAttrs.syncProgress.progress '/' replicationAttrs.syncProgress.total)}}
  {{/if}}
</div>