<div class="selectable-card is-rounded card-container">
  <h3 class="title is-4 grid-item-title card-title">{{title}}</h3>
  <div class="grid-item-state">
    <code class="has-text-black">{{property_1}}</code>
    <p class="has-text-grey is-size-8">{{description_1}}</p>
  </div>
  <div class="grid-item-wal">
    {{!-- Check if card is for showing Delta information --}}
    {{#if @property_3}}
      <code class="has-text-black">{{property_1}}</code>
      <p class="has-text-grey is-size-8">{{metric_1}}</p>
    {{else}}
      <code class="has-text-black">{{property_2}}</code>
      <p class="has-text-grey is-size-8">{{description_2}}</p>
    {{/if}}
  </div>

  {{#if @property_3}}
    <h2 class="title-number grid-item-stream">{{metric_3}}
      <Icon 
        @glyph={{if false "check-circle-outline" "alert-triangle"}} 
        class={{if false "has-text-success" "has-text-highlight"}} 
        @aria-label="success"
        @size="l"
      />
    </h2>
  {{else}}
    <h2 class="title-number grid-item-stream">{{metric_1}}</h2>
  {{/if}}

  {{#if @property_3}}
  <div class="grid-item-status">
    <code class="has-text-black">{{property_2}}</code>
    <p class="has-text-grey is-size-8">{{metric_2}}</p>
  </div>
  {{else}}
    <h2 class="title-number is-5 grid-item-status">{{metric_2}}</h2>
  {{/if}}

</div>
