<div class="selectable-card is-rounded card-container">
  <h3 class="title is-4 grid-item-title card-title">{{title}}</h3>
  <div class="grid-item-state">
    <code class="has-text-black">{{property_1}}</code>
    <p class="has-text-grey is-size-8">{{description_1}}</p>
  </div>
  <div class="grid-item-wal">
    <code class="has-text-black">{{property_2}}</code>
    <p class="has-text-grey is-size-8">{{description_2}}</p>
  </div>
  <h2 class="title-number grid-item-stream">{{metric_1}}</h2>
  <h2 class="title-number is-5 grid-item-status">{{metric_2}}</h2>
</div>
