    {{#if (eq model.httpStatus 404)}}
      {{not-found model=model}}
    {{else}}
      <PageHeader as |p|>
        <p.levelLeft>
          <h1 class="title is-3 has-text-grey">
            {{#if (eq model.httpStatus 403)}}
              Not authorized
            {{else}}
              Error
            {{/if}}
          </h1>
        </p.levelLeft>
      </PageHeader>
      <div class="box is-sideless has-background-white-bis has-text-grey has-text-centered">
        {{#if model.message}}
          <p>{{model.message}}</p>
        {{/if}}
        {{#each model.errors as |error|}}
          <p>{{error}}</p>
        {{/each}}
      </div>
    {{/if}}
