<KvPageHeader @breadcrumbs={{@breadcrumbs}} @pageTitle={{@path}}>
  <:tabLinks>
    <LinkTo @route="secret.details" data-test-secrets-tab="Secret">Secret</LinkTo>
    <LinkTo @route="secret.metadata.index" data-test-secrets-tab="Metadata">Metadata</LinkTo>
    <LinkTo @route="secret.metadata.versions" data-test-secrets-tab="Version History">Version History</LinkTo>
    <LinkTo @route="secret.metadata.diff" data-test-secrets-tab="Version Diff">Version Diff</LinkTo>
  </:tabLinks>

  <:toolbarFilters>
    {{! left side version selector }}
    <BasicDropdown @class="popup-menu" @horizontalPosition="auto-right" @verticalPosition="below" as |D|>
      <D.Trigger data-test-version-dropdown-left class="toolbar-link {{if D.isOpen ' is-active'}}">
        Version
        {{this.leftSideVersion}}
        <Chevron @direction="down" @isButton={{true}} />
      </D.Trigger>
      <D.Content @defaultClass="popup-menu-content">
        <nav class="box menu" aria-label="version-left">
          <ul class="menu-list">
            {{#each @metadata.sortedVersions as |versionData|}}
              <li>
                <button
                  type="button"
                  class="link {{if (loose-equal versionData.version this.leftSideVersion) 'is-active'}}"
                  {{on "click" (fn this.selectVersion versionData.version D.actions "left")}}
                  disabled={{(or versionData.destroyed versionData.deletion_time)}}
                >
                  Version
                  {{versionData.version}}
                  {{#if versionData.destroyed}}
                    <Icon @name="x-square-fill" class="has-text-danger is-pulled-right" />
                  {{else if versionData.deletion_time}}
                    <Icon @name="x-square-fill" class="has-text-grey is-pulled-right" />
                  {{else if (loose-equal @metadata.currentVersion versionData.version)}}
                    <Icon @name="check-circle-fill" class="has-text-success is-pulled-right" />
                  {{/if}}
                </button>
              </li>
            {{/each}}
          </ul>
        </nav>
      </D.Content>
    </BasicDropdown>
    {{! right side version selector }}
    <BasicDropdown @class="popup-menu" @horizontalPosition="auto-right" @verticalPosition="below" as |D|>
      <D.Trigger data-test-version-dropdown-right class="toolbar-link {{if D.isOpen ' is-active'}}">
        Version
        {{this.rightSideVersion}}
        <Chevron @direction="down" @isButton={{true}} />
      </D.Trigger>
      <D.Content @defaultClass="popup-menu-content">
        <nav class="box menu" aria-label="version-right">
          <ul class="menu-list">
            {{#each @metadata.sortedVersions as |versionData|}}
              <li>
                <button
                  type="button"
                  class="link {{if (loose-equal versionData.version this.rightSideVersion) 'is-active'}}"
                  {{on "click" (fn this.selectVersion versionData.version D.actions "right")}}
                  disabled={{(or versionData.destroyed versionData.deletion_time)}}
                  data-test-version-button={{versionData.version}}
                >
                  Version
                  {{versionData.version}}
                  {{#if versionData.destroyed}}
                    <Icon @name="x-square-fill" class="has-text-danger is-pulled-right" />
                  {{else if versionData.deletion_time}}
                    <Icon @name="x-square-fill" class="has-text-grey is-pulled-right" />
                  {{else if (loose-equal @metadata.currentVersion versionData.version)}}
                    <Icon @name="check-circle-fill" class="has-text-success is-pulled-right" />
                  {{/if}}
                </button>
              </li>
            {{/each}}
          </ul>
        </nav>
      </D.Content>
    </BasicDropdown>
    {{! status icon }}
    {{#if this.statesMatch}}
      <div class="has-left-padding-s">
        <Icon @name="check-circle-fill" class="has-text-success" />
        <span>States match</span>
      </div>
    {{/if}}
  </:toolbarFilters>
</KvPageHeader>
{{! Show an empty state if the current version of the secret is deleted or destroyed. This would only happen on init. }}
{{#if (and (loose-equal this.leftSideVersion @metadata.currentVersion) @metadata.currentSecret.isDeactivated)}}
  <EmptyState
    @title="Version {{@metadata.currentVersion}} of {{@path}} has been {{@metadata.currentSecret.state}}"
    @message="Please select another version of the secret to compare."
  />
{{else}}
  <div class="form-section visual-diff text-grey-lightest background-color-black">
    <pre data-test-visual-diff>{{sanitized-html this.visualDiff}}</pre>
  </div>
{{/if}}