<KvPageHeader @breadcrumbs={{@breadcrumbs}} @pageTitle="Version Diff">
  <:toolbarFilters>
    <KvVersionDropdown
      @displayVersion={{this.leftVersion}}
      @metadata={{@metadata}}
      @onSelect={{fn this.handleSelect "leftVersion"}}
    />
    <KvVersionDropdown
      @displayVersion={{this.rightVersion}}
      @metadata={{@metadata}}
      @onSelect={{fn this.handleSelect "rightVersion"}}
    />
    {{#if this.statesMatch}}
      <div class="has-left-padding-s">
        <Icon @name="check-circle-fill" class="has-text-success" />
        <span>States match</span>
      </div>
    {{/if}}
  </:toolbarFilters>
</KvPageHeader>

{{#if this.deactivatedState}}
  <EmptyState
    @title="Version diff unavailable"
    @message="The current version of this secret has been {{this.deactivatedState}}. Select another version to compare."
  />
{{else}}
  <div class="form-section visual-diff text-grey-lightest background-color-black has-top-margin-s">
    <pre data-test-version-diff>{{sanitized-html this.visualDiff}}</pre>
  </div>
{{/if}}