{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  {{#each @model.attrs as |attr|}}
    {{#if (eq attr.type "object")}}
      <InfoTableRow
        @alwaysRender={{not (is-empty-value (get @model attr.name))}}
        @label={{or attr.options.label (to-label attr.name)}}
        @value={{stringify (get @model attr.name)}}
        @formatTtl={{eq attr.options.editType "ttl"}}
      />
    {{else}}
      <InfoTableRow
        @alwaysRender={{not (is-empty-value (get @model attr.name))}}
        @label={{or attr.options.label (to-label attr.name)}}
        @value={{get @model attr.name}}
        @formatTtl={{eq attr.options.editType "ttl"}}
      />
    {{/if}}
  {{/each}}
</div>