{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="has-top-padding-xs has-bottom-padding-s is-narrow is-flex-align-baseline">
  <RadioButton
    class="radio"
    name={{@attr.name}}
    id="never"
    value="never"
    @value="never"
    @onChange={{fn (mut @message.endTime) ""}}
    @groupValue={{this.groupValue}}
  />
  <label for="never" class="has-left-margin-xs has-text-black is-size-7">
    <span class="has-left-margin-xs">
      Never
    </span>
    <p class="has-left-margin-xs has-text-grey is-size-8">
      This message will never expire unless manually deleted by an operator.
    </p>
  </label>
</div>

<div class="has-top-padding-xs has-bottom-padding-s is-narrow is-flex-align-baseline">
  <RadioButton
    class="radio"
    name="{{@attr.name}}"
    id="specificDate"
    value="specificDate"
    @value="specificDate"
    @onChange={{(fn (mut @message.endTime) this.formDateTime)}}
    @groupValue={{this.groupValue}}
  />
  <label for="specificDate" class="has-left-margin-xs has-text-black is-size-7">
    <span class="has-left-margin-xs">
      Specific date
    </span>
    <p class="has-left-margin-xs has-text-grey is-size-8">
      This message will expire at midnight (local timezone) at the specific date.
    </p>
    <div class="has-left-margin-xs control">
      <Input
        @type="datetime-local"
        @value={{this.formDateTime}}
        class="input has-top-margin-xs is-auto-width"
        name="endTime"
        data-test-input="endTime"
        {{on "change" (pipe (pick "target.value") (fn (mut @message.endTime)))}}
        onchange={{this.onChangeWithEvent}}
      />
    </div>
  </label>
</div>