<HeaderCredentials @role={{this.role}} @scope={{this.scope}} />
<Toolbar>
  <ToolbarActions>
    {{#if this.model.updatePath.canUpdate}}
      <ModelWrap as |m|>
        <ConfirmAction
          @buttonClasses="toolbar-link"
          @onConfirmAction={{action
            (perform
              m.callMethod
              "destroyRecord"
              this.model
              (concat "Successfully deleted role " this.model.id)
              (concat "There was an error deleting the role " this.model.id)
              (transition-to "vault.cluster.secrets.backend.kmip.scope.roles" this.scope)
            )
          }}
          @confirmMessage={{concat "Are you sure you want to delete " this.model.id "?"}}
          @cancelButtonText="Cancel"
        >
          Delete role
        </ConfirmAction>
      </ModelWrap>
      <div class="toolbar-separator"></div>
    {{/if}}
    {{#if this.model.updatePath.canUpdate}}
      <ToolbarLink @params={{array "role.edit" this.scope this.role}} data-test-kmip-link-edit-role>
        Edit role
      </ToolbarLink>
    {{/if}}
  </ToolbarActions>
</Toolbar>
<div class="box is-fullwidth is-sideless is-shadowless">
  <FieldGroupShow @model={{this.model}} @showAllFields={{false}} />
  <div class="box is-fullwidth is-shadowless">
    <h2 class="title is-5">
      Allowed Operations
    </h2>
    <OperationFieldDisplay @model={{this.model}} />
  </div>
</div>