{{#if this.totalClientsData}}
  <div class="is-subtitle-gray has-bottom-margin-m">
    FILTERS
    <Toolbar>
      <ToolbarFilters>
        {{! ARG TODO more filters for namespace here }}
      </ToolbarFilters>
    </Toolbar>
  </div>
{{/if}}
{{! TODO CMB COMMENT IN CONDITIONAL WHEN VERSION ENDPOINT IS COMPLETE }}
{{!-- {{#if (is-after this.upgradeDate this.licenseStartDate)}} --}}
<AlertBanner @type="warning" @title="Warning">
  {{#if this.upgradeDate}}
    {{concat "You upgraded to Vault 1.9 on " (date-format this.upgradeDate "MMMM d, yyyy.")}}
  {{/if}}
  How we count clients changed in 1.9, so please keep in mind when looking at the data below. Furthermore, namespace
  attribution is available only for 1.9 data.
  <DocLink @path="/docs/concepts/client-count/faq#q-which-vault-version-reflects-the-most-accurate-client-counts">
    Learn more here.
  </DocLink>
</AlertBanner>
{{!-- {{/if}} --}}
{{#if @isLoading}}
  <LayoutLoading />
{{else}}
  <Clients::UsageStats @title={{date-format this.responseTimestamp "MMMM"}} @totalUsageCounts={{this.totalUsageCounts}} />
  {{#if this.totalClientsData}}
    <Clients::Attribution
      @chartLegend={{this.chartLegend}}
      @totalClientsData={{this.totalClientsData}}
      @totalUsageCounts={{this.totalUsageCounts}}
      @selectedNamespace={{this.selectedNamespace}}
      @startTimeDisplay={{date-format this.responseTimestamp "MMMM yyyy"}}
      @isDateRange={{false}}
      @timestamp={{this.responseTimestamp}}
    />
  {{/if}}
{{/if}}