<div class="chart-wrapper dual-chart-grid">
  <div class="chart-header has-export">
    <div class="header-left">
      <h2 class="chart-title">{{@title}}</h2>
        {{#if @description}}
          <p class="chart-description">{{@description}}</p>
        {{/if}}
    </div> 
    <div class="header-right">
      {{#if @dataset}}
        {{yield}}
      {{/if}}
    </div>
  </div>

  <div class="chart-container-left">
    <h2 class="chart-title"> New Clients </h2>
    <p class="chart-description">{{@newClientsDescription}}</p>
    <svg class="chart is-horizontal"
      {{did-insert this.renderChart @dataset}} 
      {{did-update this.renderChart @dataset}} >
    </svg>
  </div>

  <div class="chart-container-right">
    <h2 class="chart-title"> Total monthly clients </h2>
    <p class="chart-description"> {{@totalDescription}} </p>
    <svg class="chart is-horizontal"
      {{did-insert this.renderChart @dataset}} 
      {{did-update this.renderChart @dataset}} >
    </svg>
  </div>

  <div class="timestamp">
    Updated Nov 15 2021, 4:07:32 pm
  </div>

  <div class="legend-center">
    <span class="light-dot"></span><span class="legend-label">{{capitalize @chartLegend.0.label}}</span>
    <span class="dark-dot"></span><span class="legend-label">{{capitalize @chartLegend.1.label}}</span>
  </div>
</div>

