<div class="chart-wrapper">
  <div class="chart-header has-export">
    <div class="header-left">
      <h2 class="chart-title">{{@title}}</h2>
        {{#if @description}}
          <p class="chart-description">{{@description}}</p>
        {{/if}}
    </div> 
    <div class="header-right">
      {{#if @dataset}}
        {{yield}}
      {{/if}}
    </div>
  </div>

  <div class="data-subTitle">
    <p>{{@subText}}</p>
  </div>

  <div class="data-one">Top namespace 
    <p>{{this.topNamespace.label}}</p>
  </div>
  
  <div class="data-two">Clients in namespace
    <p>{{format-number this.topNamespace.total}}</p>
  </div>
 
  <div class="horizontal-bar-chart chart-container">
    <svg class="chart"
      {{did-insert this.renderChart @dataset}} 
      {{did-update this.renderChart @dataset}} >
    </svg>

    <div class="legend-container">
      <svg class="legend"></svg>
    </div>
  </div>

</div>

