<div class="chart-wrapper single-chart-grid">
  <div class="chart-header">
    <h2 class="chart-title">{{@title}}</h2>
    {{#if @description}}
      <p class="chart-description">{{@description}}</p>
    {{/if}}
  </div>
  <div class="chart-container-wide" {{on "mouseleave" (fn this.removeTooltip)}}>
    <svg class="chart has-grid"
      {{did-insert this.registerListener}}
    ></svg>
  </div>

  <div class="chart-subTitle">
     <h2 class="chart-title">{{@subTitle}}</h2>
     <p class="chart-subtext">{{@subText}}</p>
  </div>

  <div class="data-details-top">
    <h3 class="data-details">{{@dataOne}}</h3>
    <p class="data-details">{{@dataOneData}}</p>
  </div>
  
  <div class="data-details-bottom">
    <h3 class="data-details">{{@dataTwo}}</h3>
    <p class="data-details">{{@dataTwoData}}</p>
  </div>

  <div class="timestamp">
    Updated Nov 15 2021, 4:07:32 pm
  </div>
  
  <div class="legend-right">
    <span class="light-dot"></span><span class="legend-label">{{@chartLegend.0.label}}</span>
    <span class="dark-dot"></span><span class="legend-label">{{@chartLegend.1.label}}</span>
  </div>

  {{!-- TOOLTIP --}}
  
  {{#if this.tooltipTarget}}  
  {{!-- Required to set tag name = div https://github.com/yapplabs/ember-modal-dialog/issues/290 --}}
  {{!-- Component must be in curly bracket notation --}}
    {{#modal-dialog
      tagName='div'
      tetherTarget=this.tooltipTarget
      targetAttachment='bottom middle'
      attachment='bottom middle'
      offset='100px 0'
    }}
      <p class="chart-tooltip">{{this.hoveredLabel}}</p>
      <div class="chart-tooltip-arrow" />
    {{/modal-dialog}}
  {{/if}}
</div>
