<div class="chart-wrapper">
  <div class="chart-header">
    <h2 class="chart-title">{{this.args.title}}</h2>
    {{#if this.args.description}}
      <p class="chart-description">{{this.args.description}}</p>
    {{/if}}
  </div>
  <div class="chart-container">
    <svg 
      {{did-insert this.registerListener}}
      class="chart"
    ></svg>
  </div>

   <div class="data-subTitle">{{@subTitle}}
    <p>{{@subDescription}}</p>
  </div>

  <div class="data-one">{{@dataOne}}
    <p>{{@dataOneData}}</p>
  </div>
  
  <div class="data-two">{{@dataTwo}}
    <p>{{@dataTwoData}}</p>
  </div>

  <div class="legend-container">
    legend
    {{!-- <svg class="legend"></svg> --}}
  </div>
</div>
