<div class="chart-wrapper">
  <div class="chart-header">
    <h2 class="chart-title">{{@title}}</h2>
    {{#if @description}}
      <p class="chart-description" id="blah">{{@description}}</p>
    {{/if}}
  </div>
  <div class="chart-container">
    <svg 
      {{did-insert this.registerListener}}
      class="chart"
    ></svg>
  </div>

   <div class="data-subTitle">{{@subTitle}}
    <p>{{@subDescription}}</p>
  </div>

  <div class="data-one">{{@dataOne}}
    <p>{{@dataOneData}}</p>
  </div>
  
  <div class="data-two">{{@dataTwo}}
    <p>{{@dataTwoData}}</p>
  </div>

  <div class="legend-container">
    legend
    {{!-- <svg class="legend"></svg> --}}
  </div>
  <p id="wtf">wtf</p>

  {{!-- TOOLTIP --}}
  {{!-- must be in curly bracket notation --}}
  {{#modal-dialog
    tetherTarget=this.tooltipTarget
    targetAttachment='top middle'
    attachment='bottom middle'
    offset='14px 0'
  }}
    <p class="chart-tooltip">{{this.hoveredLabel}}</p>
    <div class="chart-tooltip-arrow" />
  {{/modal-dialog}}
</div>
