{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="wizard" data-test-quickstart-content>
  <Hds::Stepper::Nav
    class="has-top-margin-xl has-bottom-margin-xl"
    @isInteractive={{false}}
    @currentStep={{@currentStep}}
    @steps={{@steps}}
  />

  <div class="content" tabindex="0">
    {{yield to="content"}}
  </div>

  <div class="button-bar">
    {{#if (gt @currentStep 0)}}
      <Hds::Button
        @text="Back"
        @color="tertiary"
        @icon="chevron-left"
        {{on "click" (fn this.onStepChange -1)}}
        data-test-back-button
      />
    {{/if}}

    <Hds::ButtonSet>
      <Hds::Button @text="Exit" @color="secondary" {{on "click" @onDismiss}} data-test-cancel />

      {{#if this.isFinalStep}}
        {{yield to="submit"}}
      {{else}}
        <Hds::Button @text="Next" {{on "click" (fn this.onStepChange 1)}} data-test-next-button />
      {{/if}}
    </Hds::ButtonSet>
  </div>

</div>