{{!
  Copyright IBM Corp. 2016, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

<div data-test-card="secrets-engines">
  <Hds::Layout::Flex @justify="space-between">
    <Hds::Text::Display @size="300" data-test-text-display="Secrets engines">Secrets engines</Hds::Text::Display>

    {{#if this.filteredSecretsEngines}}
      <Hds::Link::Standalone
        @icon="arrow-right"
        @text="View all"
        @iconPosition="trailing"
        @route="vault.cluster.secrets.backends"
      />
    {{/if}}
  </Hds::Layout::Flex>

  <div class="has-top-margin-s has-bottom-margin-s">
    <Hds::Text::Body @tag="p" @size="100" @color="faint">
      {{#if (gt this.filteredSecretsEngines.length 5)}}
        Displaying 5 out of
        {{this.filteredSecretsEngines.length}}
        secret engines.
      {{/if}}
    </Hds::Text::Body>
  </div>

  {{#if this.filteredSecretsEngines}}
    <Hds::Table @caption="Five secrets engines" data-test-table="Secrets engines">
      <:head as |H|>
        <H.Tr>
          <H.Th>Path</H.Th>
          <H.Th>Type</H.Th>
          <H.Th>Accessor</H.Th>
        </H.Tr>
      </:head>
      <:body as |B|>
        {{#each this.firstFiveSecretsEngines as |backend|}}
          <B.Tr data-test-table-row={{backend.id}}>
            <B.Td class="is-flex-between is-flex-center gap-16">
              <div class="is-grid align-items-center linked-block-title">
                {{#if backend.icon}}
                  <Hds::Icon @name={{backend.icon}} @title="{{or backend.engineType backend.path}} type backend" />
                {{/if}}
                {{#if backend.path}}
                  {{#if backend.isSupportedBackend}}
                    <LinkTo
                      @route={{backend.backendLink}}
                      @model={{backend.id}}
                      class="has-text-black has-text-weight-semibold truncate-first-line"
                      data-test-secret-path={{backend.path}}
                    >
                      {{backend.path}}
                    </LinkTo>
                  {{else}}
                    <span class="has-text-grey" data-test-secret-path={{backend.path}}>{{backend.path}}</span>
                  {{/if}}
                {{/if}}
              </div>
            </B.Td>
            <B.Td>
              {{#if backend.type}}
                <code class="has-text-grey is-size-8" data-test-type>
                  {{backend.type}}
                </code>
              {{/if}}
            </B.Td>
            <B.Td>
              {{#if backend.accessor}}
                <div data-test-secret-accessor>
                  {{backend.accessor}}
                </div>
              {{/if}}
            </B.Td>
          </B.Tr>
        {{/each}}
      </:body>
    </Hds::Table>
  {{else}}
    <Hds::ApplicationState data-test-empty-state="secrets-engines" class="is-marginless has-top-padding-l" as |A|>
      <A.Header data-test-empty-state-title @title="No secrets engines enabled" @titleTag="h2" />
      <A.Body
        data-test-empty-state-message
        @text="Secret engines will be listed here. Enable a secret engine to get started."
      />
      <A.Footer data-test-empty-state-actions as |F|>
        <F.LinkStandalone
          @icon="chevron-right"
          @iconPosition="trailing"
          @text="Enable a secrets engine"
          @route="vault.cluster.secrets.enable"
        />
      </A.Footer>
    </Hds::ApplicationState>
  {{/if}}
</div>