{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      UI Login Rules
    </h1>
  </p.levelLeft>
</PageHeader>

{{! currently here empty per design, TBD if actions or filters will be added }}
<Toolbar />

{{#each @loginRules as |rule|}}
  <div class="list-item-row linked-block-item is-no-underline">
    <div>
      <div class="is-grid align-items-center linked-block-title">
        <Hds::Icon @name="user-check" @size="24" />
        <div class="has-text-weight-semibold has-left-margin-xs" data-test-rule-name={{rule.id}}>{{rule.id}}</div>
      </div>
      <div class="has-top-margin-m" data-test-rule-path={{rule.namespace}}>{{rule.namespace}}</div>
    </div>
    <div class="linked-block-popup-menu">
      <Hds::Dropdown @isInline={{true}} as |dd|>
        <dd.ToggleIcon @icon="more-horizontal" @hasChevron={{false}} @text="login rules menu" data-test-popup-menu-trigger />
        <dd.Interactive @route="login-settings.rule.details" @model={{rule.id}} data-test-popup-menu="view-rule">
          View
        </dd.Interactive>
        {{#if (has-capability this.capabilities "delete" id=rule.id)}}
          <dd.Interactive
            @color="critical"
            data-test-popup-menu="delete-rule"
            {{on "click" (fn (mut this.ruleToDelete) rule)}}
          >Delete</dd.Interactive>
        {{/if}}
      </Hds::Dropdown>
    </div>
  </div>
{{/each}}

{{#if this.ruleToDelete}}
  <ConfirmModal
    @color="critical"
    @onClose={{fn (mut this.ruleToDelete) null}}
    @confirmMessage="This will permanently delete this rule."
    @onConfirm={{this.onDelete}}
  />
{{/if}}