<Toolbar>
  <ToolbarActions>
    {{! TODO remove action here in favor of cancel action in status banner }}
    <button
      type="button"
      class="toolbar-link"
      {{on "click" (fn (mut this.confirmCancelTidy) true)}}
      data-test-confirm-cancel-tidy
    >
      Cancel tidy
      <Icon @name="chevron-right" />
    </button>
    <div class="toolbar-separator"></div>
    <button
      type="button"
      class="toolbar-link"
      {{on "click" (fn (mut this.tidyOptionsModal) true)}}
      data-test-pki-tidy-options-modal
    >
      Tidy
      <Icon @name="chevron-right" />
    </button>
    {{#if @autoTidyConfig.enabled}}
      <ToolbarLink @route="tidy.auto" data-test-pki-auto-tidy-config>
        Auto-tidy configuration
      </ToolbarLink>
    {{/if}}
  </ToolbarActions>
</Toolbar>

{{! TIDY OPTIONS MODAL }}
<Modal
  @type="info"
  @title="Tidy this mount"
  @onClose={{fn (mut this.tidyOptionsModal) false}}
  @isActive={{this.tidyOptionsModal}}
  @showCloseButton={{true}}
>
  <section aria-label="tidy-options-modal-content" class="modal-card-body">
    <h3 class="title is-5">Tidy operation</h3>
    <p class="has-text-grey has-bottom-padding-s">
      Tidying cleans up the storage backend and/or CRL by removing certificates that have expired and are past a certain
      buffer period beyond their expiration time.
      <DocLink @path="/vault/docs/secrets/pki/considerations#automate-crl-building-and-tidying">
        Learn more.
      </DocLink>
    </p>
    <p class="has-text-grey">
      <ol class="has-left-margin-m has-bottom-margin-s">
        <li>Select a manual tidy or an automatic tidy operation. Manual tidy runs the tidy operation once, and automatic tidy
          runs the tidy operation periodically.</li>
        <li>Choose the parameters you wish to tidy, and run the operation</li>
      </ol>
    </p>
    <div class="has-top-margin-l has-tall-padding">
      {{! TODO update path with tidy diagram }}
      <img src={{img-path "~/pki-rotate-root.png"}} alt="tidy operation diagram" />
    </div>
  </section>
  <footer aria-label="tidy-option-buttons" class="modal-card-foot modal-card-foot-outlined">
    <button
      type="button"
      class="button is-primary"
      {{on "click" (transition-to "vault.cluster.secrets.backend.pki.tidy.auto.configure")}}
      data-test-tidy-modal-auto-button
    >
      Automatic tidy
    </button>
    <button
      type="button"
      class="button is-primary"
      {{on "click" (transition-to "vault.cluster.secrets.backend.pki.tidy.manual")}}
      data-test-tidy-modal-manual-button
    >
      Manual tidy
    </button>
    <button type="button" class="button is-secondary" {{on "click" (fn (mut this.tidyOptionsModal) false)}}>
      Cancel
    </button>
  </footer>
</Modal>

{{! CANCEL TIDY CONFIRMATION MODAL }}
{{#if this.confirmCancelTidy}}
  <Modal
    @type="warning"
    @title="Cancel tidy?"
    @onClose={{fn (mut this.confirmCancelTidy) false}}
    @isActive={{this.confirmCancelTidy}}
    @showCloseButton={{true}}
  >
    <section aria-label="confirm-cancel-modal-content" class="modal-card-body">
      This will cancel the tidy at the next available checkpoint, which may process additional certificates between when the
      operation was marked as cancelled and when the operation stopped.
      <p class="has-top-margin-s">Click “Confirm” to cancel the running tidy operation.</p>
    </section>
    <footer aria-label="confirm-cancel-buttons" class="modal-card-foot modal-card-foot-outlined">
      <button type="button" class="button is-primary" {{on "click" this.cancelTidy}} data-test-tidy-modal-auto-button>
        Confirm
      </button>
      <button type="button" class="button is-secondary" {{on "click" (fn (mut this.confirmCancelTidy) false)}}>
        Cancel
      </button>
    </footer>
  </Modal>
{{/if}}