<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-pki-page-title>
      {{this.pageTitle}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if this.newRootModel.id}}
  <div class="has-top-margin-m">
    <AlertBanner @title="Next steps" @type="warning">
      Your new root has been generated.
      {{#if this.newRootModel.privateKey}}
        Make sure to copy and save the
        <strong>private_key</strong>
        as it is only available once.
      {{/if}}
      If you’re ready, you can begin cross-signing issuers now. If not, the option to cross-sign is available when you use
      this certificate.
      <br />
      <LinkTo class="is-marginless" @route="issuers.issuer.cross-sign">
        Cross-sign issuers
      </LinkTo>
    </AlertBanner>
  </div>
{{else}}
  <div class="box is-bottomless is-marginless is-flex-start">
    {{#each this.rotationOptions as |option|}}
      <RadioCard
        class="has-fixed-width"
        @title={{option.label}}
        @description={{option.description}}
        @icon={{option.icon}}
        @value={{option.key}}
        @groupValue={{this.rotateForm}}
        @onChange={{fn (mut this.rotateForm) option.key}}
        data-test-radio={{option.key}}
      />
    {{/each}}
  </div>
{{/if}}

{{#if (eq this.rotateForm "use-old-settings")}}
  {{#if this.newRootModel.id}}
    <PkiInfoTableRows @model={{this.newRootModel}} @displayFields={{this.displayFields}} />
  {{else}}
    {{!  OLD SETTINGS FORM INPUTS  }}
    <h2 class="title is-size-5 has-border-bottom-light">
      Root parameters
    </h2>
    <form {{on "submit" (perform this.save)}} data-test-pki-rotate-old-settings-form>
      {{#let (find-by "name" "commonName" this.newRootModel.allFields) as |attr|}}
        <FormField data-test-field={{attr}} @attr={{attr}} @model={{this.newRootModel}} @showHelpText={{false}} />
      {{/let}}
      {{#let (find-by "name" "issuerName" this.newRootModel.allFields) as |attr|}}
        <FormField data-test-field={{attr}} @attr={{attr}} @model={{this.newRootModel}} @showHelpText={{false}} />
      {{/let}}
      <div class="box has-slim-padding is-shadowless">
        <ToggleButton
          @closedLabel="Old root settings"
          @openLabel="Hide old root settings"
          @isOpen={{this.showOldSettings}}
          @onClick={{fn (mut this.showOldSettings)}}
        />
        {{#if this.showOldSettings}}
          <PkiInfoTableRows @model={{@oldRoot}} @displayFields={{this.displayFields}} />
        {{/if}}
      </div>

      <div class="field is-grouped box is-fullwidth is-bottomless">
        <div class="control">
          <button type="submit" class="button is-primary" data-test-pki-rotate-root-save>
            Done
          </button>
          <button {{on "click" @onCancel}} type="button" class="button has-left-margin-s" data-test-pki-rotate-root-cancel>
            Cancel
          </button>
        </div>
        {{#if this.invalidFormAlert}}
          <div class="control">
            <AlertInline
              @type="danger"
              @paddingTop={{true}}
              @message={{this.invalidFormAlert}}
              @mimicRefresh={{true}}
              data-test-pki-rotate-root-validation-error
            />
          </div>
        {{/if}}
      </div>
    </form>
  {{/if}}
{{else}}
  <PkiGenerateRoot
    @model={{this.newRootModel}}
    @onCancel={{@onCancel}}
    @onComplete={{transition-to "vault.cluster.secrets.backend.pki.issuers.index"}}
    @adapterOptions={{hash actionType="rotate-root"}}
    @hideAlertBanner={{true}}
  />
{{/if}}