<div class="box is-sideless is-fullwidth is-marginless">
  {{#if this.errorBanner}}
    <AlertBanner @type="danger" @message={{this.errorBanner}} data-test-error-banner />
  {{/if}}
  <form {{on "submit" (perform this.save)}}>
    <fieldset class="box is-shadowless is-marginless is-borderless is-fullwidth" data-test-urls-edit-section>
      <h2 class="title is-4 has-bottom-margin-xs has-border-bottom-light has-bottom-padding-s">
        Global URLs
      </h2>
      {{#if @urls.canSet}}
        {{#each @urls.allFields as |attr|}}
          <FormField @attr={{attr}} @model={{@urls}} @showHelpText={{false}} data-test-urls-field={{attr.name}} />
        {{/each}}
      {{else}}
        <EmptyState
          class="is-box-shadowless"
          @title="You do not have permission to set URLs"
          @message="Ask your administrator if you think you should have access to:"
        >
          <code>POST /{{@engine.id}}/config/urls</code>
        </EmptyState>
      {{/if}}
    </fieldset>

    <fieldset class="box is-shadowless is-marginless is-borderless is-fullwidth" data-test-crls-edit-section>
      <h2 class="title is-4 has-bottom-margin-xs has-border-bottom-light has-bottom-padding-s">
        Certificate Revocation List (CRL)
      </h2>
      {{#if @crl.canSet}}
        {{#each @crl.formFields as |attr|}}
          {{#if (eq attr.name "expiry")}}
            {{! boolean value is "disable" so false means enabled and ttl is toggled on}}
            <div class="field">
              <TtlPicker
                data-test-input={{attr.name}}
                @onChange={{fn this.handleTtl attr}}
                @label={{if (get @crl attr.options.mapToBoolean) attr.options.labelDisabled attr.options.label}}
                @helperTextDisabled={{attr.options.helperTextDisabled}}
                @helperTextEnabled={{attr.options.helperTextEnabled}}
                @initialValue={{get @crl attr.name}}
                @initialEnabled={{not (get @crl attr.options.mapToBoolean)}}
              />
            </div>
          {{/if}}
          {{#if
            (and (eq @crl.disable false) (or (eq attr.name "autoRebuildGracePeriod") (eq attr.name "deltaRebuildInterval")))
          }}
            <div class="field">
              <TtlPicker
                data-test-input={{attr.name}}
                @onChange={{fn this.handleTtl attr}}
                @label={{if (get @crl attr.options.mapToBoolean) attr.options.label attr.options.labelDisabled}}
                @helperTextDisabled={{attr.options.helperTextDisabled}}
                @helperTextEnabled={{attr.options.helperTextEnabled}}
                @initialValue={{get @crl attr.name}}
                @initialEnabled={{get @crl attr.options.mapToBoolean}}
              />
            </div>
          {{/if}}
          {{#if (eq attr.name "ocspExpiry")}}
            <h2 class="title is-4 has-bottom-margin-xs has-border-bottom-light has-bottom-padding-s">
              Online Certificate Status Protocol (OCSP)
            </h2>
            {{! boolean value is "ocspDisable" so false means enabled and ttl is toggled on}}
            <div class="field">
              <TtlPicker
                data-test-input={{attr.name}}
                @onChange={{fn this.handleTtl attr}}
                @label={{if (get @crl attr.options.mapToBoolean) attr.options.labelDisabled attr.options.label}}
                @helperTextDisabled={{attr.options.helperTextDisabled}}
                @helperTextEnabled={{attr.options.helperTextEnabled}}
                @initialValue={{get @crl attr.name}}
                @initialEnabled={{not (get @crl attr.options.mapToBoolean)}}
              />
            </div>
          {{/if}}
        {{/each}}
      {{else}}
        <EmptyState
          class="is-box-shadowless"
          @title="You do not have permission to set revocation configuration"
          @message="Ask your administrator if you think you should have access to:"
        >
          <code>POST /{{@engine.id}}/config/crl</code>
        </EmptyState>
      {{/if}}
    </fieldset>

    <div class="field is-grouped box is-fullwidth is-bottomless">
      <div class="control">
        {{#if (or @urls.canSet @crl.canSet)}}
          <button
            type="submit"
            class="button is-primary {{if this.save.isRunning 'is-loading'}}"
            disabled={{this.save.isRunning}}
            data-test-configuration-edit-save
          >
            Save
          </button>
        {{/if}}
        <button
          {{on "click" this.cancel}}
          type="button"
          class="button has-left-margin-s"
          data-test-configuration-edit-cancel
        >
          Cancel
        </button>
      </div>
      {{#if this.invalidFormAlert}}
        <div class="control">
          <AlertInline
            @type="danger"
            @paddingTop={{true}}
            @message={{this.invalidFormAlert}}
            @mimicRefresh={{true}}
            data-test-configuration-edit-validation-error
          />
        </div>
      {{/if}}
    </div>
  </form>
</div>