<Toolbar>
  <ToolbarActions>
    <button
      type="button"
      class="toolbar-link"
      {{on "click" (fn (mut this.showDeleteAllIssuers) true)}}
      data-test-delete-all-issuers-link
    >
      Delete all issuers
      <Icon @name="chevron-right" />

    </button>
    <div class="toolbar-separator"></div>
    <ToolbarLink @route="configuration.tidy">
      Tidy
    </ToolbarLink>
    <ToolbarLink @route="configuration.edit">
      Edit configuration
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

<h2 class="title has-bottom-margin-xs has-top-margin-m is-4 has-border-bottom-light has-bottom-padding-s">
  Global URLs
</h2>
<InfoTableRow @label="Issuing certificates" @value={{or @urls.issuingCertificates "None"}} />
<InfoTableRow
  @label="CRL distribution points"
  @value={{if @urls.crlDistributionPoints @urls.crlDistributionPoints "None"}}
/>

<h2 class="title has-bottom-margin-xs has-top-margin-xl is-4 has-border-bottom-light has-bottom-padding-s">
  Certificate Revocation List (CRL)
</h2>
<InfoTableRow @label="Expiry" @value={{@crl.expiry}} />
<InfoTableRow @label="Auto-rebuild" @value={{if @crl.autoRebuild "On" "Off"}} />

<h2 class="title has-bottom-margin-xs has-top-margin-xl is-4 has-border-bottom-light has-bottom-padding-s">
  Online Certificate Status Protocol (OCSP)
</h2>
<InfoTableRow @label="Responder APIs" @value={{if @crl.ocspDisable "Disabled" "Enabled"}} />
<InfoTableRow @label="Interval" @value={{@crl.ocspExpiry}} />

<h2 class="title has-bottom-margin-xs has-top-margin-xl is-4 has-border-bottom-light has-bottom-padding-s">
  Mount Configuration
</h2>
<InfoTableRow @label="Secret engine type" @value={{@mountConfig.engineType}} />
<InfoTableRow @label="Path" @value={{@mountConfig.path}} />
<InfoTableRow @label="Accessor" @value={{@mountConfig.accessor}} />
<InfoTableRow @label="Local" @value={{@mountConfig.local}} />
<InfoTableRow @label="Seal wrap" @value={{@mountConfig.sealWrap}} />
<InfoTableRow @label="Default lease TTL" @value={{@mountConfig.config.defaultLeaseTtl}} />
<InfoTableRow @label="Max lease TTL" @value={{@mountConfig.config.maxLeaseTtl}} />
<InfoTableRow @label="Allowed managed keys" @value={{or @mountConfig.config.allowedManagedKeys "None"}} />
<div class="has-top-margin-l"></div>

{{#if this.showDeleteAllIssuers}}
  <Modal
    @title="Delete All Issuers?"
    @type="warning"
    @onClose={{fn (mut this.showDeleteAllIssuers) false}}
    @isActive={{this.showDeleteAllIssuers}}
    @showCloseButton={{true}}
  >
    <section class="modal-card-custom has-padding-m">
      This endpoint deletes all issuers and keys within the mount. It is highly recommended to use the individual delete
      operations instead. This mount will be unusable until new issuers and keys are provisioned.
      <div class="has-top-margin-m">
        <h4 class="title is-6 has-bottom-margin-xs">Confirm</h4>
        <span class="is-hint">Type <b>delete-all</b> to confirm deleting the role.</span>
        <div class="has-top-margin-xs">
          <Input class="input" @type="text" @value={{this.confirmDeleteAllIssuersVal}} data-test-delete-all-issuers-input />
        </div>
      </div>
    </section>

    <footer class="has-background-gray-100 has-padding-m">
      <button
        type="button"
        class="button has-text-danger"
        disabled={{(not (eq this.confirmDeleteAllIssuersVal "delete-all"))}}
        {{on "click" this.deleteAllIssuers}}
        data-test-delete-all-issuers-button
      >Delete</button>
      <button type="button" class="button" {{on "click" (fn (mut this.showDeleteAllIssuers) false)}}>Cancel</button>
    </footer>
  </Modal>
{{/if}}