<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-pki-page-title>
      {{this.title}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if @model.id}}
  <Toolbar />
{{/if}}
<PkiGenerateCsr
  @model={{@model}}
  @onCancel={{transition-to "vault.cluster.secrets.backend.pki.issuers.index"}}
  @onSave={{fn (mut this.title) "View generated CSR"}}
  @onComplete={{transition-to "vault.cluster.secrets.backend.pki.issuers.index"}}
/>