<div
  class="selectable-card-container has-grid has-top-margin-l has-two-col-grid
    {{if (or (eq @issuers 403) (eq @roles 403)) 'has-three-col-grid' 'has-two-col-grid'}}"
>
  {{#if (not (eq @issuers 403))}}
    <SelectableCard
      @cardTitle="Issuers"
      @total={{if (eq @issuers 404) 0 @issuers.length}}
      @subText="The total number of issuers in this PKI mount. Includes both root and intermediate certificates."
      @actionText="View issuers"
      @actionTo="issuers"
    />
  {{/if}}
  {{#if (not (eq @issuers 403))}}
    <SelectableCard
      @cardTitle="Roles"
      @total={{if (eq @roles 404) 0 @roles.length}}
      @subText="The total number of roles in this PKI mount that have been created to generate certificates."
      @actionText="View roles"
      @actionTo="roles"
    />
  {{/if}}
  <SelectableCard
    @title="Issue certificate"
    @subText="Quickly issue a certificate by typing the role name."
    @hasSearchInput={{true}}
    @placeholder="Type to find a role..."
    @buttonText="Issue"
    @models={{array "pki/role"}}
    @backend={{@engine.id}}
    @pagePath="vault.cluster.secrets.backend.pki.roles.role.generate"
    @disallowNewItems={{true}}
  />
  <SelectableCard
    @title="View certificate"
    @subText="Quickly view a certificate by typing its serial number."
    @hasSearchInput={{true}}
    @placeholder="33:a3:..."
    @buttonText="View"
    @models={{array "pki/certificate"}}
    @backend={{@engine.id}}
    @pagePath="vault.cluster.secrets.backend.pki.certificates.certificate.details"
    @disallowNewItems={{true}}
  />
</div>