<div class="columns">
  {{#menu-sidebar title="Tools" class="is-3"}}
    {{#each (tools-actions) as |supportedAction|}}
      <li>
        <a href="{{href-to 'vault.cluster.tools.tool' supportedAction refreshModel=true}}"
           class="{{if (eq supportedAction selectedAction) 'is-active'}}"
           data-test-tools-action-link={{supportedAction}}
           >
          {{capitalize supportedAction}}
          </a>
      </li>
    {{/each}}
  {{/menu-sidebar}}
  <div class="column is-9">
    {{tool-actions-form selectedAction=selectedAction}}
  </div>
</div>
