<h1 class="title is-3">
  <code>GET {{model.path}}</code>
</h1>
<p class="is-help has-margin-bottom-xl">{{model.info.description}}</p>

{{#unless model.data}}
  <EmptyState
    @title="No items found"
    @message={{concat "No items found at " model.path " in this secret engine. Add them via CLI or API to view them here."}}
  />
{{else}}
  {{#if model.data.keys}}
    {{#each model.data.keys as |item|}}
      <hr />
      {{item}}
    {{/each}}
  {{else}}
    {{#each-in model.data as |k val|}}
      <InfoTableRow
        @alwaysRender={{true}}
        @label={{capitalize (humanize (dasherize k))}}
        @value={{val}}
      />
    {{/each-in}}
  {{/if}}
{{/unless}}

{{#if model.info.creatable}}
  <button class="button">Create item</button>
{{/if}}

{{outlet}}