<div class="box is-bottomless is-fullwidth is-marginless">
  <div class="columns">
    {{#each this.configTypes as |option|}}
      <div class="column is-flex">
        <label for={{option.key}} class="box-label is-column {{if (eq this.actionType option.key) 'is-selected'}}">
          <div>
            <h3 class="box-label-header title is-6">
              <Icon @size="24" @name={{option.icon}} />
              {{option.label}}
            </h3>
            <p class="help has-text-grey-dark">
              {{option.description}}
            </p>
          </div>
          <div>
            <RadioButton
              id={{option.key}}
              name="pki-config-type"
              @value={{option.key}}
              @groupValue={{this.actionType}}
              @onChange={{fn (mut this.actionType) option.key}}
              data-test-pki-config-option={{option.key}}
            />
            <label for={{option.key}}></label>
          </div>
        </label>
      </div>
    {{/each}}
  </div>
  {{#if (eq this.actionType "import")}}
    <PkiCaCertificateImport
      @model={{@config}}
      @onCancel={{transition-to "vault.cluster.secrets.backend.pki.overview"}}
      @onSave={{transition-to "vault.cluster.secrets.backend.pki.overview"}}
      @adapterOptions={{hash actionType=this.actionType useIssuer=@config.canImportBundle}}
    />
  {{else if (eq this.actionType "generate-root")}}
    <PkiGenerateRoot
      @model={{@config}}
      @urls={{@urls}}
      @onSave={{transition-to "vault.cluster.secrets.backend.pki.issuers"}}
      @onCancel={{this.cancel}}
      @adapterOptions={{hash actionType="generate-root" useIssuer=@config.canGenerateIssuerRoot}}
    />
  {{else if (eq this.actionType "generate-csr")}}
    <code>POST /intermediate/generate/:type ~or~ /issuers/generate/intermediate/:type</code>
  {{else}}
    <EmptyState @title="Choose an option" @message="To see configuration options, choose your desired output above." />
    <div class="field is-grouped box is-fullwidth is-bottomless">
      <div class="control">
        <button type="button" class="button is-primary" disabled={{true}} data-test-pki-config-save>
          Done
        </button>
        <button type="button" class="button has-left-margin-s" {{on "click" this.cancel}} data-test-pki-config-cancel>
          Cancel
        </button>
      </div>
    </div>
  {{/if}}
</div>