<div class="box is-bottomless is-fullwidth is-marginless">
  <div class="columns">
    {{#each this.configTypes as |option|}}
      <div class="column is-flex">
        <label for={{option.key}} class="box-label is-column {{if (eq this.formType option.key) 'is-selected'}}">
          <div>
            <h3 class="box-label-header title is-6">
              <Icon @size="24" @name={{option.icon}} />
              {{option.label}}
            </h3>
            <p class="help has-text-grey-dark">
              {{option.description}}
            </p>
          </div>
          <div>
            <RadioButton
              id={{option.key}}
              name="pki-config-type"
              @value={{option.key}}
              @groupValue={{this.formType}}
              @onChange={{fn (mut this.formType) option.key}}
              data-test-pki-config-option={{option.key}}
            />
            <label for={{option.key}}></label>
          </div>
        </label>
      </div>
    {{/each}}
  </div>
  {{#if (eq this.formType "import")}}
    <PkiCaCertificateImport
      @model={{@config}}
      @onCancel={{transition-to "vault.cluster.secrets.backend.pki.overview"}}
      @onSave={{transition-to "vault.cluster.secrets.backend.pki.overview"}}
      @adapterOptions={{hash formType=this.formType useIssuer=this.shouldUseIssuerEndpoint}}
    />
  {{else if (eq this.formType "generate-root")}}
    <code>POST /root/generate/:type ~or~ /issuers/generate/root/:type</code>
  {{else if (eq this.formType "generate-csr")}}
    <code>POST /intermediate/generate/:type ~or~ /issuers/generate/intermediate/:type</code>
  {{else}}
    <EmptyState @title="Choose an option" @message="To see configuration options, choose your desired output above." />
    <div class="field is-grouped box is-fullwidth is-bottomless">
      <div class="control">
        <button type="button" class="button is-primary" disabled={{true}} data-test-pki-config-save>
          Done
        </button>
        <LinkTo @route="overview" class="button has-left-margin-s" data-test-pki-config-cancel>
          Cancel
        </LinkTo>
      </div>
    </div>
  {{/if}}
</div>