<form {{on "submit" this.save}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <MessageError @errorMessage={{this.errorBanner}} class="has-top-margin-s" />
    <NamespaceReminder @mode={{"create"}} @noun="signed intermediate" />
    {{#each @model.formFieldGroups as |fieldGroup|}}
      {{#each-in fieldGroup as |group fields|}}

        {{#if (eq group "default")}}
          {{#each fields as |attr|}}
            <FormField
              data-test-field={{attr}}
              @attr={{attr}}
              @model={{@model}}
              @modelValidations={{this.modelValidations}}
              @showHelpText={{false}}
            >
              <PkiNotValidAfterForm @attr={{attr}} @model={{@model}} />
            </FormField>
          {{/each}}
        {{else}}
          {{#let (camelize (concat "show" group)) as |prop|}}
            <ToggleButton
              @isOpen={{get this prop}}
              @openLabel={{concat "Hide " group}}
              @closedLabel={{group}}
              @onClick={{fn (mut (get this prop))}}
              class="is-block"
              data-test-toggle-group={{group}}
            />
            {{#if (get this prop)}}
              <div class="box is-marginless">
                {{#each fields as |attr|}}
                  <FormField data-test-field={{true}} @attr={{attr}} @model={{@model}} />
                {{/each}}
              </div>
            {{/if}}
          {{/let}}

        {{/if}}
      {{/each-in}}
    {{/each}}
  </div>
  <div class="has-top-padding-s">
    <button
      type="submit"
      class="button is-primary {{if this.save.isRunning 'is-loading'}}"
      disabled={{this.save.isRunning}}
      data-test-pki-sign-intermediate-save
    >
      Save
    </button>
    <button
      type="button"
      class="button has-left-margin-s"
      disabled={{this.save.isRunning}}
      {{on "click" this.cancel}}
      data-test-pki-sign-intermediate-cancel
    >
      Cancel
    </button>
    {{#if this.modelValidations.targets.errors}}
      <AlertInline @type="danger" @message={{join ", " this.modelValidations.targets.errors}} @paddingTop={{true}} />
    {{/if}}
    {{#if this.invalidFormAlert}}
      <div class="control">
        <AlertInline @type="danger" @paddingTop={{true}} @message={{this.invalidFormAlert}} @mimicRefresh={{true}} />
      </div>
    {{/if}}
  </div>
</form>