{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

{{yield}}
{{#each @fields as |field|}}
  {{#if (eq (camelize field.name) "keyBits")}}
    <div class="field" data-test-field="key_bits">
      <FormFieldLabel
        for={{field.name}}
        @label={{capitalize (or field.options.label (humanize (dasherize field.name)))}}
        @subText={{field.options.subText}}
      />

      <div
        class="select is-fullwidth"
        {{! these extra parentheses are necessary to conditionally apply the modifier }}
        {{! TODO: refactor this component and avoid this conditional modifier pattern }}
        {{(unless (this.getValue "keyType") (modifier "hds-tooltip" "Choose a key type before specifying bit length."))}}
      >
        <select
          id={{field.name}}
          name={{field.name}}
          data-test-input={{field.name}}
          disabled={{unless (this.getValue "keyType") true}}
          {{on "change" this.onKeyBitsChange}}
        >
          {{#if (and field.options.noDefault (not (this.getValue "keyType")))}}
            <option value="">
              Select one
            </option>
          {{/if}}
          {{#each this.keyBitOptions as |val|}}
            <option selected={{loose-equal (this.getValue "keyBits") val}} value={{val}}>
              {{val}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>
  {{else}}
    <FormField
      data-test-field={{field}}
      @attr={{field}}
      @model={{@model}}
      @modelValidations={{@modelValidations}}
      @showHelpText={{false}}
      @onChange={{this.handleSelection}}
    />
  {{/if}}
{{/each}}