{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<CheckboxGrid
  @name="keyUsage"
  @label="Key usage"
  @subText="Specifies the default key usage constraint on the issued certificate. To specify no default key_usage constraints, uncheck every item in this list."
  @fields={{this.keyUsageFields}}
  @value={{@model.keyUsage}}
  @onChange={{this.checkboxChange}}
  data-test-key-usage-key-usage-checkboxes
/>
<CheckboxGrid
  @name="extKeyUsage"
  @label="Extended key usage"
  @subText="Specifies the default key usage constraint on the issued certificate. To specify no default ext_key_usage constraints, uncheck every item in this list."
  @fields={{this.extKeyUsageFields}}
  @value={{@model.extKeyUsage}}
  @onChange={{this.checkboxChange}}
  class="has-top-margin-s"
  data-test-key-usage-ext-key-usage-checkboxes
/>
<div class="has-top-margin-xxl">
  <StringList
    class="is-shadowless"
    data-test-input="extKeyUsageOids"
    @label="Extended key usage OIDs"
    @inputValue={{get @model "extKeyUsageOids"}}
    @onChange={{this.onStringListChange}}
    @attrName="extKeyUsageOids"
    @subText="A list of extended key usage OIDs. Add one item per row."
    @showHelpText={{false}}
  />
</div>