{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Page::Header @icon={{@backend.icon}} @title={{@backend.id}}>
  <:breadcrumbs>
    <Page::Breadcrumbs @breadcrumbs={{this.breadcrumbs}} />
  </:breadcrumbs>
</Page::Header>

<nav class="tabs" aria-label="pki tabs">
  <ul>
    <li><LinkTo @route="overview" @model={{@backend.id}} data-test-secret-list-tab="Overview">Overview</LinkTo></li>
    <li><LinkTo @route="roles" @model={{@backend.id}} data-test-secret-list-tab="Roles">Roles</LinkTo></li>
    <li><LinkTo @route="issuers" @model={{@backend.id}} data-test-secret-list-tab="Issuers">Issuers</LinkTo></li>
    <li><LinkTo @route="keys" @model={{@backend.id}} data-test-secret-list-tab="Keys">Keys</LinkTo></li>
    <li><LinkTo
        @route="certificates"
        @model={{@backend.id}}
        data-test-secret-list-tab="Certificates"
      >Certificates</LinkTo></li>
    <li><LinkTo @route="tidy" @model={{@backend.id}} data-test-secret-list-tab="Tidy">Tidy</LinkTo></li>
    <li><LinkTo
        @route="configuration"
        @model={{@backend.id}}
        data-test-secret-list-tab="Configuration"
      >Configuration</LinkTo></li>
  </ul>
</nav>