<form {{on "submit" this.save}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <MessageError @errorMessage={{this.errorBanner}} class="has-top-margin-s" />
    <NamespaceReminder @mode={{"create"}} @noun="signed intermediate" />
    {{#each @model.formFields as |attr|}}
      <FormField
        data-test-field={{attr}}
        @attr={{attr}}
        @model={{@model}}
        @modelValidations={{this.modelValidations}}
        @showHelpText={{false}}
      >
        {{! attr customTtl has editType yield and will show this component }}
        <PkiNotValidAfterForm @attr={{attr}} @model={{@model}} />
      </FormField>
    {{/each}}

    <PkiGenerateToggleGroups @model={{@model}} @groups={{this.groups}} />
  </div>
  <div class="has-top-padding-s">
    <button
      type="submit"
      class="button is-primary {{if this.save.isRunning 'is-loading'}}"
      disabled={{this.save.isRunning}}
      data-test-pki-sign-intermediate-save
    >
      Save
    </button>
    <button
      type="button"
      class="button has-left-margin-s"
      disabled={{this.save.isRunning}}
      {{on "click" this.cancel}}
      data-test-pki-sign-intermediate-cancel
    >
      Cancel
    </button>
    {{#if this.modelValidations.targets.errors}}
      <AlertInline @type="danger" @message={{join ", " this.modelValidations.targets.errors}} @paddingTop={{true}} />
    {{/if}}
    {{#if this.invalidFormAlert}}
      <div class="control">
        <AlertInline @type="danger" @paddingTop={{true}} @message={{this.invalidFormAlert}} @mimicRefresh={{true}} />
      </div>
    {{/if}}
  </div>
</form>