<form {{on "submit" this.generateRoot}} data-test-pki-config-generate-root-form>
  <MessageError @errorMessage={{this.errorBanner}} class="has-top-margin-s" />
  <h2 class="title is-size-5 has-border-bottom-light page-header" data-test-generate-root-title="Root parameters">
    Root parameters
  </h2>
  {{#each this.defaultFields as |field|}}
    {{#let (find-by "name" field @model.allFields) as |attr|}}
      <FormField
        @attr={{attr}}
        @model={{@model}}
        @modelValidations={{this.modelValidations}}
        @onChange={{this.checkFormValidity}}
        data-test-field
      >
        {{#if (eq field "customTtl")}}
          {{! customTtl attr has editType yield, which will render this }}
          <PkiNotValidAfterForm @attr={{attr}} @model={{@model}} />
        {{/if}}
      </FormField>
    {{/let}}
  {{/each}}

  <PkiGenerateToggleGroups @model={{@model}} />

  {{!-- TODO: this section
  <fieldset class="box is-shadowless is-marginless is-borderless is-fullwidth">
    <h2 class="title is-size-5 has-border-bottom-light page-header" data-test-generate-root-title="Issuer URLs">Issuer URLs</h2>
    {{! Updating this area of the form will require a secondary call to issuer/:issuer_ref/update once the initial request is complete }}
  </fieldset> --}}

  <div class="field is-grouped box is-fullwidth is-bottomless">
    <div class="control">
      <button type="submit" class="button is-primary" data-test-pki-generate-root-save>
        Done
      </button>
      <button {{on "click" this.cancel}} type="button" class="button has-left-margin-s" data-test-pki-generate-root-cancel>
        Cancel
      </button>
    </div>
    {{#if this.invalidFormAlert}}
      <div class="control">
        <AlertInline
          @type="danger"
          @paddingTop={{true}}
          @message={{this.invalidFormAlert}}
          @mimicRefresh={{true}}
          data-test-pki-generate-root-validation-error
        />
      </div>
    {{/if}}
  </div>
</form>