<div class="columns">
  <MenuSidebar @title="Access" @class="is-3" @data-test-sidebar={{true}}>
    {{#if (has-permission "access" routeParams="methods")}}
      <li>
        <LinkTo
          @route="vault.cluster.access.methods"
          data-test-link={{true}}
          @current-when="vault.cluster.access.methods vault.cluster.access.method"
        >
          Auth Methods
        </LinkTo>
      </li>
    {{/if}}
    {{#if (has-permission "access" routeParams="mfa")}}
      <li>
        <LinkTo
          @route="vault.cluster.access.mfa.methods"
          @current-when="vault.cluster.access.mfa.methods vault.cluster.access.mfa.enforcements vault.cluster.access.mfa.index"
          data-test-link={{true}}
        >
          Multi-factor authentication
        </LinkTo>
      </li>
    {{/if}}
    {{#if (has-permission "access" routeParams="entities")}}
      <li>
        <LinkTo @route="vault.cluster.access.identity" @model="entities" data-test-link={{true}}>
          Entities
        </LinkTo>
      </li>
    {{/if}}
    {{#if (has-permission "access" routeParams="groups")}}
      <li>
        <LinkTo @route="vault.cluster.access.identity" @model="groups" data-test-link={{true}}>
          Groups
        </LinkTo>
      </li>
    {{/if}}
    {{#if (has-permission "access" routeParams="leases")}}
      <li>
        <LinkTo @route="vault.cluster.access.leases" data-test-link={{true}}>
          Leases
        </LinkTo>
      </li>
    {{/if}}
    {{#if (and (has-feature "Namespaces") (has-permission "access" routeParams="namespaces"))}}
      <li>
        <LinkTo @route="vault.cluster.access.namespaces" data-test-link={{true}}>
          Namespaces
        </LinkTo>
      </li>
    {{/if}}
    {{#if (and (has-feature "Control Groups") (has-permission "access" routeParams="control-groups"))}}
      <li>
        <LinkTo
          @route="vault.cluster.access.control-groups"
          data-test-link={{true}}
          @current-when="vault.cluster.access.control-groups vault.cluster.access.control-group-accessor vault.cluster.access.control-groups-configure"
        >
          Control Groups
        </LinkTo>
      </li>
    {{/if}}
  </MenuSidebar>
  <div class="column is-9">
    {{outlet}}
  </div>
</div>