{{!-- {{i-con glyph="unlocked" size=20}} {{capitalize model.name}} is {{if model.unsealed 'unsealed' 'sealed'}} --}}
<SplashPage as |Page|>
  <Page.header>
    <h1 class="title is-3">
      Sign in to Vault
    </h1>
  </Page.header>
  <Page.content>
    <AuthForm
      @cluster={{model}}
      @redirectTo={{redirectTo}}
      @selectedAuthType={{with}}
    />
  </Page.content>
  <Page.footer>
    <div class="has-short-padding">
      <p class="help has-text-grey-dark">
        Contact your administrator for login credentials
      </p>
    </div>
  </Page.footer>
</SplashPage>
