<SplashPage as |Page|>
  <Page.header>
    <h1 class="title is-3">
      Sign in to Vault
    </h1>
  </Page.header>
  {{#if (has-feature "Namespaces")}}
    <Page.sub-header>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="is-label" for="namespace">Namespace</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                value={{namespaceQueryParam}}
                placeholder="/ (Root)"
                oninput={{perform updateNamespace value="target.value"}}
                autocomplete="off"
                name="namespace"
                id="namespace"
                class="input"
                type="text"
              />
            </div>
          </div>
        </div>
      </div>
    </Page.sub-header>
  {{/if}}
  <Page.content>
    <AuthForm
      @wrappedToken={{wrappedToken}}
      @cluster={{model}}
      @namespace={{namespaceQueryParam}}
      @redirectTo={{redirectTo}}
      @selectedAuth={{authMethod}}
      />
  </Page.content>
  <Page.footer>
    <div class="has-short-padding">
      <p class="help has-text-grey-dark">
        Contact your administrator for login credentials
      </p>
    </div>
  </Page.footer>
</SplashPage>
