<h1 class="title has-top-margin-m">Vault {{@model.version}}</h1>
<div>
  <div class="is-grid grid-2-columns grid-gap-2 has-bottom-margin-m">
    <Hds::Card::Container @hasBorder={{true}} class="has-padding-l is-flex-column is-flex-half">
      <Dashboard::SecretsEnginesCard @secretsEngines={{@model.secretsEngines}} />
    </Hds::Card::Container>

    <Hds::Card::Container @hasBorder={{true}} class="has-padding-l is-flex-column is-flex-half">
      <h3 class="title is-4">Quick Actions</h3>
    </Hds::Card::Container>

    <Hds::Card::Container @hasBorder={{true}} class="has-padding-l is-flex-column is-flex-half">
      <Dashboard::LearnMoreCard />
    </Hds::Card::Container>

    <Hds::Card::Container @hasBorder={{true}} class="has-padding-l is-flex-column is-flex-half">
      <h3 class="title is-4">Configuration Details</h3>
    </Hds::Card::Container>
  </div>
</div>