<Dashboard::VaultVersionTitle />

<div class="is-grid grid-2-columns grid-gap-2 has-bottom-margin-m grid-align-items-start">
  <Hds::Card::Container @hasBorder={{true}} class="has-padding-l is-flex-column is-flex-half">
    <Dashboard::SecretsEnginesCard @secretsEngines={{@model.secretsEngines}} />
  </Hds::Card::Container>

  <Hds::Card::Container @hasBorder={{true}} class="has-padding-l is-flex-column is-flex-half">
    <h3 class="title is-4">Quick Actions</h3>
  </Hds::Card::Container>

  <Hds::Card::Container @hasBorder={{true}} class="has-padding-l is-flex-column is-flex-half">
    <Dashboard::LearnMoreCard />
  </Hds::Card::Container>

  {{#if this.vaultConfiguration}}
    <Hds::Card::Container @hasBorder={{true}} class="has-padding-l is-flex-column is-flex-half">
      <Dashboard::VaultConfigurationDetailsCard @vaultConfiguration={{this.vaultConfiguration}} />
    </Hds::Card::Container>
  {{/if}}
</div>