<h1 class="title has-top-margin-m">Vault version</h1>
<div>
  <div class="is-flex-row has-gap has-bottom-margin-m">
    <Hds::Card::Container @hasBorder={{true}} class="has-padding-m is-flex-column is-flex-half">
      <Dashboard::SecretsEnginesCard @secretsEngines={{@model.secretsEngines}} />
    </Hds::Card::Container>

    <Hds::Card::Container @hasBorder={{true}} class="has-padding-m is-flex-column is-flex-half">
      <h3 class="title is-4">Quick Actions</h3>
    </Hds::Card::Container>
  </div>

  <div class="is-flex-row has-gap">
    <Hds::Card::Container @hasBorder={{true}} class="has-padding-m is-flex-column is-flex-half">
      <h3 class="title is-4">Learn More</h3>
    </Hds::Card::Container>

    <Hds::Card::Container @hasBorder={{true}} class="has-padding-m is-flex-column is-flex-half">
      <h3 class="title is-4">Configuration Details</h3>
    </Hds::Card::Container>
  </div>

</div>