<SplashPage @showTruncatedNavBar={{false}} as |Page|>
  <Page.header>
    <h1 class="title is-4">MFA setup</h1>
  </Page.header>
  <Page.content>
    <div class="auth-form" data-test-mfa-form>
      <div class="box">
        {{#if (eq this.onStep 1)}}
          <MfaSetupStepOne
            @isUUIDVerified={{this.isUUIDVerified}}
            @entityId={{this.entityId}}
            @saveUUIDandQrCode={{this.saveUUIDandQrCode}}
            @showWarning={{this.showWarning}}
            @restartFlow={{this.restartFlow}}
          />
        {{/if}}
        {{#if (eq this.onStep 2)}}
          <MfaSetupStepTwo
            @isQRCodeVerified={{this.isQRCodeVerified}}
            @qrCode={{this.qrCode}}
            @warning={{this.warning}}
            @restartFlow={{this.restartFlow}}
          />
        {{/if}}

      </div>
    </div>
  </Page.content>
</SplashPage>