<div class="columns">
  {{#menu-sidebar title="Access" class="is-3" data-test-sidebar=true}}
    <li>
      <a href={{href-to "vault.cluster.policies" "acl"}} data-test-link=true class={{if (is-active-route "vault.cluster.policies" "acl") "is-active"}}>
        ACL Policies
      </a>
    </li>
    <li>
      <a href={{href-to "vault.cluster.policies" "rgp"}} data-test-link=true class={{if (is-active-route "vault.cluster.policies" "rgp") "is-active"}}>
        Role Governing Policies

       {{#unless (has-feature "Sentinel")}}
         {{#if (is-version "OSS")}}
           {{edition-badge edition="Enterprise"}}
         {{else}}
           {{edition-badge edition="Premium"}}
         {{/if}}
       {{/unless}}
      </a>
    </li>
    <li>
      <a href={{href-to "vault.cluster.policies" "egp"}} data-test-link=true class={{if (is-active-route "vault.cluster.policies" "egp") "is-active"}}>
        Endpoint Governing Policies

       {{#unless (has-feature "Sentinel")}}
         {{#if (is-version "OSS")}}
           {{edition-badge edition="Enterprise"}}
         {{else}}
           {{edition-badge edition="Premium"}}
         {{/if}}
       {{/unless}}
      </a>
    </li>
  {{/menu-sidebar}}
  <div class="column is-9">
    {{outlet}}
  </div>
</div>
