{{#if
  (and
    (has-feature "Sentinel") (or (has-permission "policies" routeParams="rgp") (has-permission "policies" routeParams="egp"))
  )
}}
  <div class="columns">
    <MenuSidebar @title="Policies" @class="is-3" @data-test-sidebar={{true}}>
      {{#if (has-permission "policies" routeParams="acl")}}
        <li>
          <LinkTo
            @route="vault.cluster.policies"
            @model="acl"
            data-test-link={{true}}
            class={{if (is-active-route "vault.cluster.policies" "acl") "is-active"}}
          >
            ACL Policies
          </LinkTo>
        </li>
      {{/if}}
      {{#if (has-permission "policies" routeParams="rgp")}}
        <li>
          <LinkTo
            @route="vault.cluster.policies"
            @model="rgp"
            data-test-link={{true}}
            class={{if (is-active-route "vault.cluster.policies" "rgp") "is-active"}}
          >
            Role Governing Policies
          </LinkTo>
        </li>
      {{/if}}
      {{#if (has-permission "policies" routeParams="egp")}}
        <li>
          <LinkTo
            @route="vault.cluster.policies"
            @model="egp"
            data-test-link={{true}}
            class={{if (is-active-route "vault.cluster.policies" "egp") "is-active"}}
          >
            Endpoint Governing Policies
          </LinkTo>
        </li>
      {{/if}}
    </MenuSidebar>
    <div class="column is-9">
      {{outlet}}
    </div>
  </div>
{{else}}
  {{outlet}}
{{/if}}