<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">Generated policy for {{or model.secretName model.backend}}</h1>
  </p.levelLeft>
</PageHeader>
<div class="columns is-variable is-1">
  <div class="column">
    <NamespaceReminder @mode="edit" @noun="policy" />
    <div class="field">
      {{ivy-codemirror
        value=model.policy
        valueUpdated=(action (mut model.policy))
        options=(hash
          lineNumbers=true
          tabSize=2
          mode='ruby'
          theme='hashi'
        )
      }}
    </div>
    {{outlet}}
    <CopyButton @clipboardText={{model.policy}} class="link" @buttonType="button" @success={{action (set-flash-message 'Policy copied!')}}>
      Copy Policy
    </CopyButton>
  </div>
  <div class="column is-one-quarter">
    <div class="box is-shadowless">
    <h3 class="title is-5">Policy Writing Tips</h3>
    <p>You can use + in a path to represent any value in that section. For example, the path "secret/+/bar" would match "secret/foo/bar" and "secret/baz/bar"</p>
    </div>
    <div class="box is-shadowless">
    <h3 class="title is-6">More Resources</h3>
    <p><a href="https://learn.hashicorp.com/tutorials/vault/getting-started-policies">Check out the docs here</a></p>
    </div>
  </div>
</div>