<SplashPage as |Page|>
  <Page.header>
    <h1 class="title is-3">
      Unseal Vault
    </h1>
  </Page.header>
  <Page.content>
    <AlertBanner
      @type="warning"
      @title="{{capitalize model.name}} is {{if model.unsealed 'unsealed' 'sealed'}}"
      @message="You can unseal the vault by entering a portion of the master key. Once all portions are entered, the vault will be unsealed."
      @class="unseal-warning"
      data-test-cluster-status
    />
    <ShamirFlow
      @action="unseal"
      @onUpdate={{action 'setUnsealState'}}
      @onShamirSuccess={{action 'transitionToCluster'}}
      @buttonText="Unseal"
      @thresholdPath="t"
      @isComplete={{action 'isUnsealed'}}
      @threshold={{model.sealThreshold}}
      @progress={{model.sealProgress}}
    />
  </Page.content>
</SplashPage>
