<SplashPage as |Page|>
  <Page.header>
    <h1 class="title is-3">
      Unseal Vault
    </h1>
  </Page.header>
  <Page.content>
    <MessageInPage data-test-cluster-status @type="warning" @class="unseal-warning">
      {{capitalize model.name}} is {{if model.unsealed 'unsealed' 'sealed'}}
    </MessageInPage>
    <ShamirFlow
      @action="unseal"
      @onShamirSuccess={{action 'transitionToCluster'}}
      @buttonText="Unseal"
      @thresholdPath="t"
      @isComplete={{action 'isUnsealed'}}
      @threshold={{model.sealThreshold}}
      @progress={{model.sealProgress}}
      >
      <p class="has-text-grey-dark">
        Unseal the vault by entering a portion of the master key. Once all portions are entered, the vault will be unsealed.
      </p>
    </ShamirFlow>
  </Page.content>
</SplashPage>
