<div class="box is-fullwidth is-sideless is-flex-between is-shadowless is-marginless">
  {{#if (is-version "Enterprise")}}
    <p>
      Sync secrets to platforms and tools across your stack to get secrets when and where you need them.
      <Hds::Link::Standalone
        @icon="learn-link"
        @text="Secrets sync tutorial"
        @href={{doc-link "/vault/tutorials/enterprise/secrets-sync"}}
      />
    </p>
    <Hds::Button @text="Create first destination" @route="secrets.destinations.create" />
  {{else}}
    <p>
      This enterprise feature allows you to sync secrets to platforms and tools across your stack to get secrets when and
      where you need them.
    </p>
    <Hds::Button
      @text="Learn more about secrets sync"
      @icon="docs-link"
      @iconPosition="trailing"
      @isHrefExternal={{true}}
      @href={{doc-link "/vault/tutorials/enterprise/secrets-sync"}}
    />
  {{/if}}
</div>
<div class="box is-fullwidth is-shadowless">
  <p>
    <b>Step 1:</b>
    Create a destination, and set up the connection details to allow Vault access.
  </p>
  <p>
    <b>Step 2:</b>
    Select secrets from your KV v2 engine and sync secrets to your destination.
  </p>
</div>

<div class="box is-fullwidth is-shadowless">
  {{!-- <img src={{img-path "~/some-photo-location.png"}} alt="Secrets sync diagram" /> --}}
</div>