<label class="label checkbox-label">
  <input
    type="checkbox"
    class="config-reveal-trigger"
    id="<%= name %>"
    name="<%= name %>"
    <%= "checked" if (defined?(required) && required) || (defined?(checked) && checked) %>
    <%= "disabled" if (defined?(required) && required) %>
  />
  <span class="config-reveal-label">
    <%= label %>
    <% if defined?(docs_url) && docs_url %>
      <a href="/docs/configuration/<%= docs_url %>" class="docs-info-icon" target="_blank"></a>
    <% end %>
  </span>
</label>
