<section data-config-stanza="telemetry">
  <%= partial "builder/reveal_select_field", locals: {
    label: "Telemetry",
    name: "telemetry",
    reveal: true,
    options: {
      statsite: "Statsite",
      statsd: "StatsD",
      circonus: "Circonus",
      dogstatsd: "DogStatsD"
    }
  } %>

  <div class="config-reveal-container nested-fields" data-if-option="statsite">
    <%= partial "builder/reveal_text_field", locals: {
      label: "Address of a statsite server to forward metrics data to",
      name: "statsite_address",
      docs_url: "telemetry/#statsite_address"
    } %>
    <%= partial "builder/reveal_select_field", locals: {
      label: "Prefix gauge values with local hostname",
      name: "disable_hostname",
      options: {
        false: "No",
        true: "Yes"
      },
      docs_url: "telemetry/#disable_hostname"
    } %>
  </div>

  <div class="config-reveal-container nested-fields" data-if-option="statsd">
    <%= partial "builder/reveal_text_field", locals: {
      label: "Address of a statsd server to forward metrics data to",
      name: "statsd_address",
      docs_url: "telemetry/#statsd_address"
    } %>
    <%= partial "builder/reveal_select_field", locals: {
      label: "Prefix gauge values with local hostname",
      name: "disable_hostname",
      options: {
        false: "No",
        true: "Yes"
      },
      docs_url: "telemetry/#disable_hostname"
    } %>
  </div>

  <div class="config-reveal-container nested-fields" data-if-option="circonus">
    <%= partial "builder/reveal_text_field", locals: {
      label: "Circonus API Token used to create/manage check",
      name: "circonus_api_token",
      value: "<CIRCONOUS_API_TOKEN>",
      sensitive_disabled: true,
      docs_url: "telemetry/#circonus_api_token"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "App name associated with the API token",
      name: "circonus_api_app",
      value: "nomad",
      docs_url: "telemetry/#circonus_api_app"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Base URL to use for contacting the Circonus API",
      name: "circonus_api_url",
      value: "https://api.circonus.com/v2",
      docs_url: "telemetry/#circonus_api_url"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Interval at which metrics are submitted to Circonus",
      name: "circonus_submission_interval",
      value: "10s",
      docs_url: "telemetry/#circonus_submission_interval"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Circonus check.config.submission_url field",
      name: "circonus_submission_url",
      docs_url: "telemetry/#circonus_submission_url"
    } %>
    <%= partial "builder/reveal_select_field", locals: {
      label: "Force activation of metrics which already exist and are not currently active",
      name: "circonus_check_force_metric_activation",
      options: {
        false: "No",
        true: "Yes"
      },
      docs_url: "telemetry/#circonus_check_force_metric_activation"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Tag to narrow down the search results",
      name: "circonus_check_search_tag",
      docs_url: "telemetry/#circonus_check_search_tag"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Name to give a check when it is created",
      name: "circonus_check_display_name",
      docs_url: "telemetry/#circonus_check_display_name"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "List of additional tags to add to a check when it is created",
      name: "circonus_check_tags",
      docs_url: "telemetry/#circonus_check_tags"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "ID of Circonus Broker to use when creating a new check",
      name: "circonus_broker_id",
      docs_url: "telemetry/#circonus_broker_id"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Tag which will be used to select a Circonus Broker (when a Broker ID is not provided)",
      name: "circonus_broker_select_tag",
      docs_url: "telemetry/#circonus_broker_select_tag"
    } %>
    <%= partial "builder/reveal_select_field", locals: {
      label: "Prefix gauge values with local hostname",
      name: "disable_hostname",
      options: {
        false: "No",
        true: "Yes"
      },
      docs_url: "telemetry/#disable_hostname"
    } %>
  </div>

  <div class="config-reveal-container nested-fields" data-if-option="dogstatsd">
    <%= partial "builder/reveal_text_field", locals: {
      label: "Address of a DogStatsD instance",
      name: "dogstatsd_addr",
      docs_url: "telemetry/#dogstatsd_addr"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "List of global tags that will be added to all telemetry packets sent to DogStatsD",
      name: "dogstatsd_tags",
      docs_url: "telemetry/#dogstatsd_tags"
    } %>
  </div>
</section>
