<section data-config-stanza="listener">
  <%= partial "builder/reveal_label", locals: {
    label: "TCP Listener",
    name: "include_tcp_listener",
    required: true,
    docs_url: "listener"
  } %>

  <div class="config-reveal-container nested-fields active">
    <%= partial "builder/reveal_text_field", locals: {
      label: "Listener Address",
      name: "address",
      value: "127.0.0.1:8200",
      required: true,
      docs_url: "listener/tcp.html#address"
    } %>

    <div class="reveal">
      <div class="reveal-trigger"
        data-show-text="Show Advanced Options"
        data-hide-text="Hide Advanced Options"
      ></div>
      <div class="reveal-container">
        <%= partial "builder/reveal_text_field", locals: {
          label: "Cluster Address",
          name: "cluster_address",
          value: "127.0.0.1:8201",
          docs_url: "listener/tcp.html#cluster_address"
        } %>
        <%= partial "builder/reveal_text_field", locals: {
          label: "Maximum Request Size",
          name: "max_request_size",
          placeholder: "33554432",
          value: "33554432",
          docs_url: "listener/tcp.html#max_request_size"
        } %>
        <%= partial "builder/reveal_select_field", locals: {
          label: "Proxy Protocol Behavior",
          name: "proxy_protocol_behavior",
          options: {
            use_always: "Always use the client's IP address",
            allow_authorized: "Use client address if IP is in Proxy Protocol Authorized Addresses",
            deny_unauthorized: "Deny if not in Proxy Protocol Authorized Addresses"
          },
          docs_url: "listener/tcp.html#proxy_protocol_behavior"
        } %>
        <%= partial "builder/reveal_text_field", locals: {
          label: "Proxy Protocol Authorized Addresses",
          name: "proxy_protocol_authorized_addrs",
          docs_url: "listener/tcp.html#proxy_protocol_authorized_addrs"
        } %>
        <%= partial "builder/reveal_select_field", locals: {
          label: "Disable TLS",
          name: "tls_disable",
          options: {
            false: "Use TLS for secure communication",
            true: "Disable TLS and use insecure communication"
          },
          docs_url: "listener/tcp.html#tls_disable"
        } %>
        <%= partial "builder/reveal_text_field", locals: {
          label: "Path for TLS Certificate File",
          name: "tls_cert_file",
          value: "<TLS_CERT_FILE>",
          sensitive_disabled: true,
          docs_url: "listener/tcp.html#tls_cert_file"
        } %>
        <%= partial "builder/reveal_text_field", locals: {
          label: "Path for TLS Key File",
          name: "tls_key_file",
          value: "<TLS_KEY_FILE>",
          sensitive_disabled: true,
          docs_url: "listener/tcp.html#tls_key_file"
        } %>
        <%= partial "builder/reveal_select_field", locals: {
          label: "TLS Minimum Version",
          name: "tls_min_version",
          options: {
            tls12: "TLS 1.2",
            tls11: "TLS 1.1",
            tls10: "TLS 1.0"
          },
          docs_url: "listener/tcp.html#tls_min_version"
        } %>
        <%= partial "builder/reveal_text_field", locals: {
          label: "List of TLS Cipher Suites",
          name: "tls_cipher_suites",
          docs_url: "listener/tcp.html#tls_cipher_suites"
        } %>
        <%= partial "builder/reveal_select_field", locals: {
          label: "TLS Cipher Suite Preference",
          name: "tls_prefer_server_cipher_suites",
          options: {
            false: "Prefer the client ciphersuites over the server's ciphersuite",
            true: "Prefer the server's ciphersuite over the client ciphersuites"
          },
          docs_url: "listener/tcp.html#tls_prefer_server_cipher_suites"
        } %>
        <%= partial "builder/reveal_select_field", locals: {
          label: "Require and verify client certificate",
          name: "tls_require_and_verify_client_cert",
          options: {
            false: "Leave off client authentication",
            true: "Turn on client authentication"
          },
          docs_url: "listener/tcp.html#tls_require_and_verify_client_cert"
        } %>
        <%= partial "builder/reveal_text_field", locals: {
          label: "Certificate Authority file (PEM-encoded)",
          name: "tls_client_ca_file",
          value: "<TLS_CLIENT_CA_FILE>",
          sensitive_disabled: true,
          docs_url: "listener/tcp.html#tls_client_ca_file"
        } %>
        <%= partial "builder/reveal_select_field", locals: {
          label: "Client authentication for this listener",
          name: "tls_disable_client_certs",
          options: {
            false: "Request client certificates when available",
            true: "Disable client authentication for this listener"
          },
          docs_url: "listener/tcp.html#tls_disable_client_certs"
        } %>
        <%= partial "builder/reveal_text_field", locals: {
          label: "IP addresses trusted by an X-Forwarded-For header",
          name: "x_forwarded_for_authorized_addrs",
          docs_url: "listener/tcp.html#x_forwarded_for_authorized_addrs"
        } %>
        <%= partial "builder/reveal_text_field", locals: {
          label: "Number of addresses to skip from rear of the set of hops",
          name: "x_forwarded_for_hop_skips",
          value: 0,
          docs_url: "listener/tcp.html#x_forwarded_for_hop_skips"
        } %>
        <%= partial "builder/reveal_select_field", locals: {
          label: "Connections from unauthorized addresses",
          name: "x_forwarded_for_reject_not_authorized",
          options: {
            true: "Reject connection from unauthorized addresses",
            false: "Ignore header if there is an X-Forwarded-For header in a connection from an unauthorized address"
          },
          docs_url: "listener/tcp.html#x_forwarded_for_reject_not_authorized"
        } %>
        <%= partial "builder/reveal_select_field", locals: {
          label: "Connections with no X-Forwarded-For header",
          name: "x_forwarded_for_reject_not_present",
          options: {
            true: "Reject the client address if there is no X-Forwarded-For header or it is emptys",
            false: "Use the client address if there is no X-Forwarded-For header or it is empty"
          },
          docs_url: "listener/tcp.html#x_forwarded_for_reject_not_present"
        } %>
      </div>
    </div>
  </div>
</section>
