<section data-config-stanza="seal">
  <%= partial "builder/reveal_select_field", locals: {
    label: "Seal (Requires Vault Enterprise)",
    name: "seal",
    reveal: true,
    options: {
      pkcs11: "HSM PKCS11",
      awskms: "AWS KMS",
      gcpckms: "GCP Cloud KMS",
      azurekeyvault: "Azure Key Vault"
    }
  } %>

  <div class="config-reveal-container nested-fields" data-if-option="pkcs11">
    <%= partial "builder/reveal_text_field", locals: {
      label: "Path to the PKCS#11 library shared object file",
      name: "lib",
      required: true,
      docs_url: "seal/pkcs11.html#lib"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "PIN for login",
      name: "pin",
      required: true,
      docs_url: "seal/pkcs11.html#pin"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Key Label",
      name: "key_label",
      required: true,
      docs_url: "seal/pkcs11.html#key_label"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Label of the key to use for HMACing",
      name: "hmac_key_label",
      required: true,
      docs_url: "seal/pkcs11.html#hmac_key_label"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Slot number to use (must specify number or token)",
      name: "slot",
      docs_url: "seal/pkcs11.html#slot"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Slot token label to use (must specify number or token)",
      name: "token_label",
      docs_url: "seal/pkcs11.html#token_label"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Default key label for decryption operations",
      name: "default_key_label",
      value: "<DEFAULT_KEY_LABEL>",
      sensitive_disabled: true,
      docs_url: "seal/pkcs11.html#default_key_label"
    } %>
    <%= partial "builder/reveal_select_field", locals: {
      label: "Encryption/decryption mechanism",
      name: "mechanism",
      options: {
        "0x1085": "CKM_AES_CBC_PAD (HMAC mechanism required)",
        "0x1082": "CKM_AES_CBC (HMAC mechanism required)",
        "0x1087": "CKM_AES_GCM",
        "0x0009": "CKM_RSA_PKCS_OAEP",
        "0x0001": "CKM_RSA_PKCS"
      },
      docs_url: "seal/pkcs11.html#mechanism"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Default key label for decryption operations",
      name: "hmac_mechanism",
      value: "0x0251",
      docs_url: "seal/pkcs11.html#hmac_mechanism"
    } %>
    <%= partial "builder/reveal_select_field", locals: {
      label: "Generate a key if 'key_label' can not be found",
      name: "generate_key",
      options: {
        false: "No",
        true: "Yes"
      },
      docs_url: "storage/consul.html#generate_key"
    } %>
    <%= partial "builder/reveal_select_field", locals: {
      label: "Force generation of a new key (even if given key_label and hmac_key_label already exist)",
      name: "regenerate_key",
      options: {
        false: "No",
        true: "Yes (This will render previous data unrecoverable)"
      },
      docs_url: "storage/consul.html#regenerate_key"
    } %>
    <%= partial "builder/reveal_select_field", locals: {
      label: "Perform encyption locally",
      name: "rsa_encrypt_local",
      options: {
        false: "No",
        true: "Yes"
      },
      docs_url: "storage/consul.html#rsa_encrypt_local"
    } %>
    <%= partial "builder/reveal_select_field", locals: {
      label: "Hash algorithm to use for RSA with OAEP padding",
      name: "rsa_oaep_hash",
      options: {
        "sha256": "SHA-256",
        "sha1": "SHA-1",
        "sha224": "SHA-224",
        "sha384": "SHA-384",
        "sha512": "SHA-512"
      },
      docs_url: "storage/consul.html#rsa_oaep_hash"
    } %>
  </div>

  <div class="config-reveal-container nested-fields" data-if-option="awskms">
    <%= partial "builder/reveal_text_field", locals: {
      label: "AWS access key ID",
      name: "access_key",
      value: "<AWS_ACCESS_KEY>",
      sensitive_disabled: true,
      required: true,
      docs_url: "seal/awskms.html#access_key"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "AWS secret access key",
      name: "secret_key",
      value: "<AWS_SECRET_KEY>",
      sensitive_disabled: true,
      required: true,
      docs_url: "seal/awskms.html#secret_key"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "AWS KMS key ID to use for encryption and decryption",
      name: "kms_key_id",
      required: true,
      docs_url: "seal/awskms.html#kms_key_id"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "AWS region where the encryption key lives",
      name: "region",
      docs_url: "seal/awskms.html#region"
    } %>
  </div>

  <div class="config-reveal-container nested-fields" data-if-option="gcpckms">
    <%= partial "builder/reveal_text_field", locals: {
      label: "Path to the credentials JSON file",
      name: "credentials",
      required: true,
      docs_url: "seal/gcpckms.html#credentials"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "GCP project ID",
      name: "project",
      required: true,
      docs_url: "seal/gcpckms.html#project"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "GCP CKMS key ring",
      name: "key_ring",
      required: true,
      docs_url: "seal/gcpckms.html#key_ring"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "GCP CKMS crypto key to use for encryption and decryption",
      name: "crypto_key",
      value: "<GCP_CKMS_CRYPTO_KEY>",
      sensitive_disabled: true,
      required: true,
      docs_url: "seal/gcpckms.html#crypto_key"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "GCP region/location where the key ring lives",
      name: "region",
      docs_url: "seal/gcpckms.html#region"
    } %>
  </div>

  <div class="config-reveal-container nested-fields" data-if-option="azurekeyvault">
    <%= partial "builder/reveal_text_field", locals: {
      label: "Tenant id for the Azure Active Directory organization",
      name: "tenant_id",
      required: true,
      docs_url: "seal/azurekeyvault.html#tenant_id"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Key Vault vault to use the encryption keys for encryption and decryption",
      name: "vault_name",
      required: true,
      docs_url: "seal/azurekeyvault.html#vault_name"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Key Vault key to use for encryption and decryption",
      name: "key_name",
      value: "<AZURE_KEY_NAME>",
      sensitive_disabled: true,
      required: true,
      docs_url: "seal/azurekeyvault.html#key_name"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Client id for credentials to query the Azure APIs",
      name: "client_id",
      docs_url: "seal/azurekeyvault.html#client_id"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Client id for credentials to query the Azure APIs",
      name: "client_secret",
      value: "<AZURE_CLIENT_SECRET>",
      sensitive_disabled: true,
      docs_url: "seal/azurekeyvault.html#client_secret"
    } %>
    <%= partial "builder/reveal_text_field", locals: {
      label: "Azure Cloud environment API endpoints",
      name: "environment",
      value: "AZUREPUBLICCLOUD",
      docs_url: "seal/azurekeyvault.html#environment"
    } %>
  </div>
</section>
