{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if (not-eq this.router.currentRoute.localName "edit")}}
  <Page::Header @title={{this.model.name}}>
    <:breadcrumbs>
      <Page::Breadcrumbs
        @breadcrumbs={{array
          (hash label="Vault" route="vault.cluster.dashboard" icon="vault")
          (hash label="Providers" route="vault.cluster.access.oidc.providers")
          (hash label=this.model.name)
        }}
      />
    </:breadcrumbs>
  </Page::Header>

  <div class="tabs-container box is-sideless is-fullwidth is-paddingless is-marginless">
    <nav class="tabs" aria-label="tabs">
      <ul>
        <LinkTo
          data-test-oidc-provider-details
          @route="vault.cluster.access.oidc.providers.provider.details"
          @model={{this.model}}
        >
          Details
        </LinkTo>
        <LinkTo
          data-test-oidc-provider-clients
          @route="vault.cluster.access.oidc.providers.provider.clients"
          @model={{this.model}}
        >
          Applications
        </LinkTo>
      </ul>
    </nav>
  </div>
{{/if}}

{{outlet}}