{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<InfoTableRow @label="Name" @value={{@model.name}} data-test-alias-name={{true}} />
<InfoTableRow @label="ID" @value={{@model.id}} @addCopyButton={{true}} />
<InfoTableRow @label={{if (eq @model.itemType "entity-alias") "Entity ID" "Group ID"}} @value={{this.model.canonical_id}}>
  <LinkTo
    @route="vault.cluster.access.identity.show"
    @models={{array (if (eq @model.itemType "entity-alias") "entities" "groups") @model.canonical_id "details"}}
  >
    {{@model.canonical_id}}
  </LinkTo>
</InfoTableRow>
<InfoTableRow @label="Merged from entity ID" @value={{@model.merged_from_canonical_ids}} />
<InfoTableRow @label="Mount" @value={{@model.mount_accessor}}>
  <div>
    {{@model.mount_path}}
    <div>
      {{#if @model.mount_type}}
        <Hds::Badge @text={{@model.mount_type}} class="has-right-margin-8" />
      {{/if}}
      <code class="has-text-grey is-size-8">{{@model.mount_accessor}}</code>
    </div>
  </div>
</InfoTableRow>
<InfoTableRow @label="Created" @value={{@model.creation_time}}>
  <time datetime={{@model.creation_time}} title={{@model.creation_time}}>
    {{date-format @model.creation_time "MMM dd, yyyy h:mm a"}}
  </time>
</InfoTableRow>
<InfoTableRow @label="Last updated" @value={{@model.last_update_time}}>
  <time datetime={{@model.last_update_time}} title={{@model.last_update_time}}>
    {{date-format @model.last_update_time "MMM dd, yyyy h:mm a"}}
  </time>
</InfoTableRow>