{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Page::Header @title={{@role}}>
  <:breadcrumbs>
    <KmipBreadcrumb @scope={{@scope}} @currentRoute={{@role}} />
  </:breadcrumbs>
</Page::Header>

<div class="tabs-container box is-sideless is-fullwidth is-paddingless is-marginless">
  <nav class="tabs">
    <ul>
      <li>
        <LinkTo @route="credentials.index" @models={{array @scope @role}} data-test-kmip-link-credentials="true">
          Credentials
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="role" @models={{array @scope @role}} data-test-kmip-link-role-details="true">
          Details
        </LinkTo>
      </li>
    </ul>
  </nav>
</div>