{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Secrets::Page::Destinations::Destination::Header @destination={{@destination}} />

<Toolbar>
  <ToolbarActions>
    <Hds::Button @text="Delete destination" @color="secondary" class="toolbar-button" />
    <div class="toolbar-separator"></div>
    <Hds::Button
      data-test-toolbar="Sync new secret"
      @text="Sync new secret"
      @icon="chevron-right"
      @iconPosition="trailing"
      @color="secondary"
      class="toolbar-button"
      @route="secrets.destinations.destination.secrets.sync"
    />
    <Hds::Button
      data-test-toolbar="Edit destination"
      @text="Edit destination"
      @icon="chevron-right"
      @iconPosition="trailing"
      @color="secondary"
      class="toolbar-button"
      @route="secrets.destinations.destination.edit"
    />
  </ToolbarActions>
</Toolbar>

{{#each @destination.formFields as |field|}}
  {{#let (get @destination field.name) as |value|}}
    {{#if (includes field.name @destination.maskedParams)}}
      <InfoTableRow @label={{or field.options.label (to-label field.name)}}>
        <Hds::Badge @text={{this.credentialValue value}} @icon="check-circle" @color="success" />
      </InfoTableRow>
    {{else}}
      <InfoTableRow @label={{or field.options.label (to-label field.name)}} @value={{value}} />
    {{/if}}
  {{/let}}
{{/each}}