{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Secrets::DestinationHeader @destination={{@destination}} />

{{#if @associations.meta.filteredTotal}}
  <div class="has-bottom-margin-s">
    {{#each @associations as |association index|}}
      <ListItem as |Item|>
        <Item.content>
          <div>
            <span data-test-association-name={{index}}>
              {{association.id}}
            </span>
            <Hds::Badge @text={{association.syncStatus}} @color="neutral" data-test-association-status={{index}} />
            <div>
              <code class="has-text-grey is-size-8" data-test-association-updated={{index}}>
                last synced on
                {{date-format association.updatedAt "MMMM do yyyy, h:mm:ss a"}}
              </code>
            </div>
          </div>
        </Item.content>

        <Item.menu as |Menu|>
          {{#if (or association.setAssociationPath.isLoading association.removeAssociationPath.isLoading)}}
            <li class="action">
              <LoadingDropdownOption />
            </li>
          {{else}}
            <li>
              <Hds::Button
                @text="Sync now"
                class="link"
                disabled={{not association.canSync}}
                data-test-association-action="sync"
                {{on "click" (fn this.update association "set")}}
              />
            </li>
            <li>
              <LinkToExternal
                class="has-text-black has-text-weight-semibold"
                data-test-association-action="edit"
                @route="secret"
                @models={{array association.mount association.secretName}}
              >
                Edit secret
              </LinkToExternal>
            </li>
            {{#if association.canUnsync}}
              <li>
                <Menu.Message
                  data-test-association-action="unsync"
                  @id={{concat "unsync-" association.id}}
                  @triggerText="Unsync"
                  @title="Are you sure?"
                  @message="This secret will be unsynced from all destinations."
                  @onConfirm={{fn this.update association "remove"}}
                />
              </li>
            {{/if}}
          {{/if}}
        </Item.menu>
      </ListItem>
    {{/each}}
    <Hds::Pagination::Numbered
      @currentPage={{@associations.meta.currentPage}}
      @currentPageSize={{@associations.meta.pageSize}}
      @route="secrets.destinations"
      @showSizeSelector={{false}}
      @totalItems={{@associations.meta.filteredTotal}}
      @queryFunction={{this.paginationQueryParams}}
      data-test-pagination
    />
  </div>
{{else}}
  <EmptyState
    @title="No synced secrets yet"
    @message="Select secrets from existing K/V engines and sync them to the destination."
  >
    <LinkTo class="has-top-margin-xs" @route="secrets.destinations.destination.sync">
      Sync secret
    </LinkTo>
  </EmptyState>
{{/if}}