{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Secrets::DestinationHeader @destination={{@destination}} @refreshList={{this.refreshRoute}} />

{{#if @associations.meta.filteredTotal}}
  <div class="has-bottom-margin-s">
    {{#each @associations as |association index|}}
      <ListItem as |Item|>
        <Item.content>
          <div>
            <Hds::Badge @text="{{association.mount}}/" />
            <LinkToExternal
              data-test-association-name={{index}}
              class="has-text-black has-text-weight-semibold"
              @route="kvSecretDetails"
              @models={{array association.mount association.secretName}}
            >
              {{association.secretName}}
            </LinkToExternal>
            <div>
              <SyncStatusBadge @status={{association.syncStatus}} data-test-association-status={{index}} />
              <code class="has-text-grey is-size-8" data-test-association-updated={{index}}>
                last updated on
                {{date-format association.updatedAt "MMMM do yyyy, h:mm:ss a"}}
              </code>
            </div>
          </div>
        </Item.content>

        <Item.menu>
          <Hds::Dropdown @isInline={{true}} @listPosition="bottom-right" as |dd|>
            <dd.ToggleIcon @icon="more-horizontal" @text="More options" @hasChevron={{false}} data-test-popup-menu-trigger />
            {{#if (or association.setAssociationPath.isLoading association.removeAssociationPath.isLoading)}}
              <dd.Generic>
                <LoadingDropdownOption />
              </dd.Generic>
            {{else}}
              {{#if association.canSync}}
                <dd.Interactive
                  @text="Sync now"
                  data-test-association-action="sync"
                  {{on "click" (fn this.update association "set")}}
                />
              {{/if}}
              <dd.Interactive
                @text="View secret"
                data-test-association-action="view"
                @route="kvSecretDetails"
                @models={{array association.mount association.secretName}}
                @isRouteExternal={{true}}
              />
              {{#if association.canUnsync}}
                <dd.Interactive
                  @text="Unsync"
                  @color="critical"
                  data-test-association-action="unsync"
                  {{on "click" (fn (mut this.associationToUnsync) association)}}
                />
              {{/if}}
            {{/if}}
          </Hds::Dropdown>
          {{#if this.associationToUnsync}}
            <ConfirmModal
              @confirmMessage="This secret will be unsynced from this destination."
              @onConfirm={{fn this.update this.associationToUnsync "remove"}}
              @onClose={{fn (mut this.associationToUnsync) null}}
            />
          {{/if}}
        </Item.menu>
      </ListItem>
    {{/each}}
    <Hds::Pagination::Numbered
      @currentPage={{@associations.meta.currentPage}}
      @currentPageSize={{@associations.meta.pageSize}}
      @route="secrets.destinations.destination.secrets"
      @model={{@destination}}
      @showSizeSelector={{false}}
      @totalItems={{@associations.meta.filteredTotal}}
      @queryFunction={{this.paginationQueryParams}}
      data-test-pagination
    />
  </div>
{{else}}
  <EmptyState
    @title="No synced secrets yet"
    @message="Select secrets from existing KV version 2 engines and sync them to the destination."
  >
    <Hds::Link::Standalone
      @text="Sync secrets"
      @icon="chevron-right"
      @iconPosition="trailing"
      @route="secrets.destinations.destination.sync"
    />
  </EmptyState>
{{/if}}