{{!
  Copyright IBM Corp. 2016, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

<SyncHeader
  @title="Sync Secrets to {{@destination.name}}"
  @icon={{get (find-by "type" @destination.type (sync-destinations)) "icon"}}
  @breadcrumbs={{array
    (hash label="Secrets Sync" route="secrets.overview")
    (hash label="Destinations" route="secrets.destinations")
    (hash label="Destination" route="secrets.destinations.destination")
    (hash label="Sync")
  }}
>
  <:subtitle>Select secrets from your
    <DocLink @path="/vault/docs/sync">
      supported secret engines
    </DocLink>
    and sync them to your destination.
  </:subtitle>
</SyncHeader>

<form {{on "submit" (perform this.setAssociation)}}>
  <MessageError @errorMessage={{this.error}} />

  {{#if this.syncedSecret}}
    <Hds::Alert @type="inline" @color="success" @icon="sync" as |A|>
      <A.Title>Sync initiated</A.Title>
      <A.Description data-test-sync-success-message>
        Sync operation successfully initiated for
        {{#if this.syncedSecretTypeConfig.supportsExternalLink}}
          <Hds::Link::Inline
            @isRouteExternal={{true}}
            @route={{this.syncedSecretTypeConfig.route}}
            @models={{this.syncedSecretTypeConfig.getModels this.syncedMount this.syncedSecret}}
          >{{this.syncedSecret}}</Hds::Link::Inline>.
        {{else}}
          <strong>{{this.syncedSecret}}</strong>.
        {{/if}}
        You can continue on this page to sync more secrets.
      </A.Description>
    </Hds::Alert>
  {{/if}}

  <div class="has-top-margin-l">

    <div class="has-top-margin-l">
      {{#if this.hasSupportedMounts}}
        <Hds::Form::SuperSelect::Single::Field
          @onChange={{this.handleMountSelection}}
          @selected={{this.selectedMountData}}
          @options={{this.allSupportedMounts}}
          @searchEnabled={{true}}
          @searchField="name"
          @placeholder="Select a mount"
          data-test-super-select="mount"
          as |F|
        >
          <F.Label>Select a mount</F.Label>
          <F.Options>
            {{#let F.options as |option|}}
              <div class="is-flex-row align-items-center has-short-padding-top has-short-padding-bottom">
                <Secrets::SecretTypeBadge @type={{option.engineType}} class="is-flex-row align-items-center" />
                <span class="has-left-margin-s">{{option.name}}</span>
              </div>
            {{/let}}
          </F.Options>
        </Hds::Form::SuperSelect::Single::Field>
      {{else}}
        <div class="field">
          <FormFieldLabel for="sync-mount-input" @label="Enter an existing secrets engine mount" />
          <FilterInput
            @id="sync-mount-input"
            placeholder="Secrets engine mount path"
            @value={{this.mountPath}}
            @onInput={{fn (mut this.mountPath)}}
            data-test-sync-mount-input
          />
        </div>
      {{/if}}

      <SuggestionInput
        @type={{or this.detectedSecretType "kv"}}
        class="field has-top-margin-l"
        @label="Select the secrets you’d like to sync"
        @placeholder={{this.currentSecretTypeConfig.placeholder}}
        @noMatchesMessage={{this.currentSecretTypeConfig.noMatchesMessage}}
        @value={{this.secretPath}}
        @mountPath={{this.mountPath}}
        @onChange={{fn (mut this.secretPath)}}
      />
    </div>

    <div class="field box is-fullwidth is-bottomless has-top-margin-xxxl">
      <Hds::ButtonSet>
        <Hds::Button
          @text="Sync to destination"
          @color="primary"
          @icon={{if this.setAssociation.isRunning "loading"}}
          type="submit"
          disabled={{this.isSubmitDisabled}}
          data-test-submit
        />
        <Hds::Button
          @text={{if this.syncedSecret "View synced secrets" "Cancel"}}
          @icon={{if this.syncedSecret "chevron-right"}}
          @iconPosition="trailing"
          @color={{if this.syncedSecret "tertiary" "secondary"}}
          @route="secrets.destinations.destination.secrets"
          data-test-cancel
        />
      </Hds::ButtonSet>
      {{#if (and this.isSecretDirectory this.isKvSecret)}}
        <AlertInline
          @type="warning"
          @message="Syncing secret directories is not available at this time, please type a path to a single secret"
          class="has-top-margin-s"
        />
      {{/if}}
    </div>
  </div>
</form>