<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{if @model.isNew "Create secret" "Edit secret"}}
    </h1>
  </p.levelLeft>
</PageHeader>

<hr class="is-marginless has-background-gray-200" />

<form id="secret" aria-label="secret create form" {{on "submit" this.onSave}}>
  <div class="field box is-fullwidth is-sideless is-marginless">
    {{#each @model.formFields as |field|}}
      <FormField @attr={{field}} @model={{@model}} />
    {{/each}}
  </div>
</form>

{{!-- {{#let (find-by "name" fieldName @model.allFields) as |attr|}}
  <InfoTableRow @label={{or attr.options.label (humanize (dasherize attr.name))}} @value={{get @model attr.name}}>
    {{#if (and attr.options.masked (get @model attr.name))}}
      <MaskedInput @value={{get @model attr.name}} @displayOnly={{true}} @allowCopy={{true}} />
    {{else if (eq attr.name "serialNumber")}}
      <LinkTo
        @route="certificates.certificate.details"
        @model={{@model.serialNumber}}
      >{{@model.serialNumber}}</LinkTo>
    {{else}}
      <Icon @name="minus" />
    {{/if}}
  </InfoTableRow>
{{/let}} --}}