<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      Create New Version
    </h1>
  </p.levelLeft>
</PageHeader>

<KvSecretForm
  @secret={{@newVersion}}
  {{! onSave transition to parent secret route to re-query latest version }}
  @onSave={{transition-to "vault.cluster.secrets.backend.kv.secret" @secret.path}}
  @onCancel={{transition-to "vault.cluster.secrets.backend.kv.secret.details" @secret.path}}
>
  <:alerts>
    {{#if (not-eq @secret.version @metadata.currentVersion)}}
      <Hds::Alert @type="inline" @color="warning" class="has-top-bottom-margin" as |A|>
        <A.Title>Warning</A.Title>
        <A.Description>
          You are creating a new version based on data from Version
          {{@secret.version}}. The current version for
          <code>{{@secret.path}}</code>
          is Version
          {{@metadata.currentVersion}}.
        </A.Description>
      </Hds::Alert>
    {{/if}}
  </:alerts>
</KvSecretForm>