<KvPageHeader @breadcrumbs={{@breadcrumbs}} @model={{@model}} @pageTitle={{@path}}>
  <:tabLinks>
    <LinkTo @route="secret.details" data-test-secrets-tab="Secret">Secret</LinkTo>
    <LinkTo @route="secret.metadata.index" data-test-secrets-tab="Metadata">Metadata</LinkTo>
    <LinkTo @route="secret.metadata.versions" data-test-secrets-tab="Metadata">Version History</LinkTo>
    <LinkTo @route="secret.metadata.diff" data-test-secrets-tab="Metadata">Version Diff</LinkTo>
  </:tabLinks>

  <:toolbarActions>
    {{! You must have update on metadata, create is not enough to edit. }}
    {{#if @model.canUpdateMetadata}}
      <ToolbarLink @route="secret.metadata.edit" data-test-edit-metadata>Edit metadata</ToolbarLink>
    {{/if}}
  </:toolbarActions>
</KvPageHeader>

<div class="form-section">
  <label class="title is-5 has-top-padding-m">
    Custom metadata
  </label>
</div>
<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  {{! wrap the whole conditional in each-in because there is no easy way to check if an object is empty in handlebars }}
  {{#each-in (or @model.customMetadata @secretCustomMetadata) as |key value|}}
    <InfoTableRow @alwaysRender={{false}} @label={{key}} @value={{value}} data-test-custom-metadata />
  {{else if (or @model.canReadMetadata)}}
    <EmptyState
      @title="No custom metadata"
      @bottomBorder={{true}}
      @message="This data is version-agnostic and is usually used to describe the secret being stored."
    >
      {{#if @model.canUpdateMetadata}}
        <LinkTo @route="secret.metadata.edit" @model={{@path}} data-test-add-custom-metadata>
          Add metadata
        </LinkTo>
      {{/if}}
    </EmptyState>
  {{else}}
    <EmptyState
      @title="You do not have access to read custom metadata"
      @message="In order to read custom metadata you either need read access to the secret data and/or read access to metadata."
    />
  {{/each-in}}
</div>
<div class="form-section" data-test-secret-metadata>
  <label class="title is-5 has-top-padding-m">
    Secret metadata
  </label>
</div>
{{#if @model.canReadMetadata}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    <InfoTableRow @alwaysRender={{true}} @label="Maximum versions" @value={{@model.maxVersions}} />
    <InfoTableRow @alwaysRender={{true}} @label="Check-and-Set required" @value={{@model.casRequired}} />
    <InfoTableRow
      @alwaysRender={{true}}
      @label="Delete version after"
      @value={{if (eq @model.deleteVersionAfter "0s") "Never delete" @model.deleteVersionAfter}}
    />
  </div>
{{else}}
  <EmptyState
    @title="You do not have access to secret metadata"
    @message="In order to read secret metadata, the UI requires read permissions; otherwise, data may be deleted. Edits can still be made via the API and CLI."
  />
{{/if}}