<KvPageHeader @breadcrumbs={{@breadcrumbs}} @pageTitle="Patch Secret to New Version" />

<form {{on "submit" (perform this.submit)}}>
  <div class="box is-sideless is-fullwidth is-bottomless">
    <NamespaceReminder @mode="patch" @noun="secret" />
    <ReadonlyFormField @attr={{hash options=(hash label="Path for this secret")}} @value={{@path}} />
    <hr class="has-background-gray-200" />

    <Hds::Text::Display @tag="h2" @size="300" class="has-bottom-padding-s">Patch secret data</Hds::Text::Display>
    <Hds::Alert @type="compact" @icon="alert-triangle-fill" @color="warning" class="has-bottom-padding-m" as |A|>
      <A.Description>
        The
        <code>PATCH</code>
        action allows you to partially update or add a key-value pair to the current version of the secret. The values will
        remain the same in the new version if no changes are made to them.
      </A.Description>
    </Hds::Alert>

    <Hds::Text::Body @tag="h3" @size="300" @weight="semibold" class="has-top-padding-s">Edit via</Hds::Text::Body>
    <Hds::Text::Body @tag="p" class="has-bottom-padding-s">
      Choose how to patch the secret data.
      <strong>Note that switching to another method will reset the form data.</strong>
    </Hds::Text::Body>

    {{#each (array "JSON" "UI") as |method|}}
      <div class="has-bottom-margin-xs">
        <RadioButton
          id="radio-{{method}}"
          class="radio"
          @value={{method}}
          @groupValue={{this.patchMethod}}
          @onChange={{this.selectPatchMethod}}
        />
        <label for="radio-{{method}}">
          {{method}}
        </label>
      </div>
    {{/each}}

    {{#if (eq this.patchMethod "UI")}}
      <KvObjectEditor
        class="has-top-margin-m"
        @value={{this.kvObject}}
        @onChange={{fn (mut this.kvObject)}}
        @isMasked={{true}}
        @warnNonStringValues={{true}}
      />
    {{else}}
      <JsonEditor @showToolbar={{false}} @valueUpdated={{this.handleJson}} @value={{this.jsonObject}} />
      {{#if this.lintingErrors}}
        <AlertInline
          @color="warning"
          class="has-top-padding-s"
          @message="JSON is unparsable. Fix linting errors to avoid data discrepancies."
        />
      {{/if}}
    {{/if}}
  </div>

  <hr class="has-background-gray-200" />

  <Hds::ButtonSet>
    <Hds::Button
      @text="Save"
      @icon={{if this.submit.isRunning "loading"}}
      type="submit"
      disabled={{this.submit.isRunning}}
      data-test-kv-save
    />
    <Hds::Button
      @text="Cancel"
      @color="secondary"
      disabled={{this.submit.isRunning}}
      {{on "click" this.onCancel}}
      data-test-kv-cancel
    />
  </Hds::ButtonSet>
  {{#if this.invalidFormAlert}}
    <AlertInline class="has-top-padding-s" @type="danger" @message={{this.invalidFormAlert}} />
  {{/if}}
</form>