<KvPageHeader @breadcrumbs={{@breadcrumbs}} @pageTitle={{@path}}>
  <:tabLinks>
    <LinkTo @route="secret.details" data-test-secrets-tab="Secret">Secret</LinkTo>
    <LinkTo @route="secret.metadata.index" data-test-secrets-tab="Metadata">Metadata</LinkTo>
    <LinkTo @route="secret.metadata.versions" data-test-secrets-tab="Version History">Version History</LinkTo>
    <LinkTo @route="secret.metadata.diff" data-test-secrets-tab="Version Diff">Version Diff</LinkTo>
  </:tabLinks>
</KvPageHeader>

{{#each @metadata.sortedVersions as |versionData|}}
  <LinkedBlock
    @params={{array "secret.details" @metadata.path}}
    @queryParams={{hash version=versionData.version}}
    class="list-item-row"
    data-test-version-linked-block={{versionData.version}}
  >
    <div class="level is-mobile">
      <div class="level-left is-flex-1">
        <LinkTo
          @route="secret.details"
          data-test-secrets-tab="Secret"
          class="has-text-weight-semibold has-text-black is-display-flex is-flex-1 is-no-underline"
        >
          <div class="columns is-flex-1">
            <div>
              <Icon @name="history" class="has-text-grey" />
              Version
              {{versionData.version}}
            </div>
            {{#if (loose-equal versionData.version @metadata.currentVersion)}}
              <div class="column is-1">
                <span class="has-text-success is-size-9 is-block has-text-centered">
                  <Icon @name="check-circle-fill" />Current
                </span>
              </div>
            {{/if}}
            {{#if versionData.deletion_time}}
              <div class="column is-1">
                <span class="has-text-grey is-size-8 is-block has-text-centered">
                  <Icon @name="x-square-fill" />Deleted
                </span>
              </div>
            {{/if}}
            {{#if versionData.destroyed}}
              <div class="column is-1">
                <span class="has-text-danger is-size-8 is-block has-text-centered">
                  <Icon @name="x-square-fill" />Destroyed
                </span>
              </div>
            {{/if}}
            <div class="center-inside-row">
              <ToolTip @verticalPosition="above" @horizontalPosition="center" as |T|>
                <T.Trigger data-test-tooltip-trigger tabindex="-1">
                  Created
                  {{date-format versionData.created_time "MMM dd, yyyy hh:mm a"}}
                </T.Trigger>
                <T.Content @defaultClass="tool-tip smaller-font">
                  <div class="box" data-test-hover-copy-tooltip-text>
                    {{versionData.created_time}}
                  </div>
                </T.Content>
              </ToolTip>
            </div>
          </div>
        </LinkTo>

        <div class="level-right">
          <div class="level-item" data-test-list-item-popup>
            <PopupMenu>
              <nav class="menu">
                <ul class="menu-list">
                  <li>
                    <LinkTo @route="secret.details" @model={{@metadata.path}} @query={{hash version=versionData.version}}>
                      View version
                      {{versionData.version}}
                    </LinkTo>
                  </li>
                  <li>
                    <LinkTo
                      @route="secret.details.edit"
                      @model={{@metadata.path}}
                      @query={{hash version=versionData.version}}
                    >
                      Create new version from
                      {{versionData.version}}
                    </LinkTo>
                  </li>
                </ul>
              </nav>
            </PopupMenu>
          </div>
        </div>
      </div>
    </div>
  </LinkedBlock>
{{/each}}