<div {{did-insert this.didInsert}}>
  {{#if (is-empty @items)}}
    {{yield to="empty"}}
  {{else}}
    {{#each this.shownItems as |item|}}
      {{yield item to="item"}}
    {{/each}}
    {{#if (gt @items.length this.pageThreshold)}}
      <div class="has-top-margin-m has-bottom-margin-m">
        <Hds::Pagination::Numbered
          @totalItems={{@items.length}}
          @currentPageSize={{this.pageSize}}
          @onPageChange={{this.handlePageChange}}
          @onPageSizeChange={{this.handlePageSizeChange}}
          data-test-client-pagination-control
        />
      </div>
    {{/if}}
  {{/if}}
</div>