{{#if (is-empty @items)}}
  <EmptyState @message={{this.emptyMessage}} @title={{this.emptyTitle}}>
    {{yield to="emptyActions"}}
  </EmptyState>
{{else}}
  {{#each this.shownItems as |item|}}
    <div>
      {{yield item to="item"}}
    </div>
  {{/each}}
  {{#if (gt @items.length this.pageThreshold)}}
    <div class="has-top-margin-m">
      <Hds::Pagination::Numbered
        @totalItems={{@items.length}}
        @currentPageSize={{this.pageSize}}
        @onPageChange={{this.handlePageChange}}
        @onPageSizeChange={{this.handlePageSizeChange}}
        data-test-client-pagination-control
      />
    </div>
  {{/if}}
{{/if}}