{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}
<Hds::Button
  data-test-confirm-action-trigger
  class={{@buttonClasses}}
  @text={{@buttonText}}
  @color="secondary"
  {{on "click" (fn (mut this.showConfirmModal) true)}}
/>

{{#if this.showConfirmModal}}
  <Hds::Modal
    id="basic-modal"
    @color={{or @color "critical"}}
    @size="medium"
    @onClose={{fn (mut this.showConfirmModal) false}}
    as |M|
  >
    <M.Header data-test-confirm-action-title @icon="alert-diamond">
      {{or @confirmTitle "Are you sure?"}}
    </M.Header>
    <M.Body>
      <p class="hds-typography-body-300 hds-foreground-primary is-word-break">{{this.confirmMessage}}</p>
    </M.Body>
    <M.Footer as |F|>
      <Hds::ButtonSet>
        <Hds::Button
          data-test-confirm-button
          disabled={{or @disabled @isRunning}}
          @icon={{if @isRunning "loading"}}
          type="button"
          @color={{or @color "critical"}}
          @text={{or @confirmButtonText "Delete"}}
          {{on "click" this.onConfirm}}
        />
        <Hds::Button
          data-test-confirm-cancel-button
          type="button"
          @color="secondary"
          @text={{or @cancelButtonText "Cancel"}}
          {{on "click" F.close}}
        />
      </Hds::ButtonSet>
    </M.Footer>
  </Hds::Modal>
{{/if}}