{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if this.isHdsIcon}}
  <Hds::Icon @name={{@name}} @size={{this.size}} @stretched={{@stretched}} @isInline={{true}} ...attributes />
{{else}}
  <span class="hs-icon {{this.hsIconClass}}" aria-hidden="true" ...attributes>
    {{svg-jar @name}}
  </span>
{{/if}}