{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if this.isFlightIcon}}
  <FlightIcon @name={{this.name}} @size={{this.size}} @stretched={{@stretched}} ...attributes />
{{else}}
  <span class="hs-icon {{this.hsIconClass}}" aria-hidden="true" ...attributes>
    {{svg-jar this.name}}
  </span>
{{/if}}