{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="navigate-filter">
  <div class="field" data-test-nav-input>
    <Hds::Form::TextInput::Base
      id={{this.inputId}}
      @type="search"
      @value={{@filter}}
      placeholder={{or @placeholder "Filter items"}}
      {{on "input" this.handleInput}}
      {{on "keyup" this.handleKeyUp}}
      {{on "keydown" this.handleKeyPress}}
      {{on "focus" (fn this.setFilterFocused true)}}
      {{on "blur" (fn this.setFilterFocused false)}}
      {{did-insert this.maybeFocusInput}}
      data-test-component="navigate-input"
    />
  </div>
</div>