{{#each this.inputList as |row index|}}
  <div class="field is-grouped">
    {{#each-in row as |key value|}}
      <div class="control is-expanded">
        {{#if (eq index 0)}}
          {{#let (find-by "name" key @objectKeys) as |field|}}
            <h2>{{field.label}}</h2>
          {{/let}}
        {{/if}}
        <Input
          data-test-object-list-input="{{key}}-{{index}}"
          class="input"
          @type="text"
          @value={{value}}
          name={{key}}
          id="{{key}}-{{index}}"
          {{on "input" (fn this.handleInput index)}}
        />
      </div>
    {{/each-in}}
    <div class="control is-align-end">
      {{#if (eq (inc index) this.inputList.length)}}
        <button
          type="button"
          class="button is-outlined is-primary"
          data-test-object-list-button="add"
          {{on "click" (fn this.addInput index)}}
        >
          Add
        </button>
      {{else}}
        <button
          type="button"
          class="button is-icon"
          data-test-object-list-button="delete"
          {{on "click" (fn this.removeInput index)}}
        >
          <Icon @name="trash" />
        </button>
      {{/if}}
    </div>
  </div>
{{/each}}