{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Hds::Card::Container
  @level="mid"
  @hasBorder={{true}}
  class="overview-card"
  data-test-overview-card-container={{@cardTitle}}
  ...attributes
>
  <div class="flex row-wrap space-between has-bottom-margin-m" data-test-overview-card={{@cardTitle}}>
    <Hds::Text::Display @weight="bold" @size="300" data-test-overview-card-title={{@cardTitle}}>
      {{@cardTitle}}
    </Hds::Text::Display>
    {{#if @actionText}}
      <Hds::Link::Standalone
        @icon={{or @actionIcon "chevron-right"}}
        @iconPosition="trailing"
        @text={{@actionText}}
        @route={{@actionTo}}
        @isRouteExternal={{@actionExternal}}
        @query={{@actionQuery}}
        data-test-action-text={{@actionText}}
      />
    {{/if}}
  </div>
  <Hds::Text::Body
    @color="faint"
    class="{{unless @actionText 'has-top-margin-s'}}"
    data-test-overview-card-subtitle={{@cardTitle}}
  >
    {{@subText}}
  </Hds::Text::Body>
  {{yield}}
</Hds::Card::Container>