<div class="selectable-card is-rounded no-flex" data-test-selectable-card-container={{@cardTitle}}>
  <div class="is-flex-between is-fullwidth card-details" data-test-selectable-card={{@cardTitle}}>
    <h3 class="title is-5">{{@cardTitle}}</h3>
    {{#if @actionText}}
      <LinkTo
        class="has-icon-right is-ghost text-decoration-none has-text-semibold"
        @route={{@actionTo}}
        @query={{hash @actionQuery}}
        data-test-action-text={{@actionText}}
      >
        {{@actionText}}
        <Icon @name="chevron-right" />
      </LinkTo>
    {{/if}}
  </div>
  <p class="has-text-grey is-size-8 {{unless @actionText 'has-top-margin-s'}}">{{@subText}}</p>
  {{yield}}
</div>