{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Hds::Card::Container
  @level="mid"
  @hasBorder={{true}}
  class="overview-card"
  data-test-overview-card-container={{@cardTitle}}
  ...attributes
>
  <div class="flex row-wrap space-between has-bottom-margin-m" data-test-overview-card={{@cardTitle}}>
    <Hds::Text::Display @weight="bold" @size="300" data-test-overview-card-title={{@cardTitle}}>
      {{@cardTitle}}
    </Hds::Text::Display>

    {{#if (has-block "action")}}
      {{yield to="action"}}
    {{/if}}
  </div>

  <Hds::Text::Body @color="faint" data-test-overview-card-subtitle={{@cardTitle}}>
    {{@subText}}
  </Hds::Text::Body>

  {{#if (has-block "content")}}
    {{yield to="content"}}
  {{/if}}
</Hds::Card::Container>