{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<header class="page-header" ...attributes>
  {{#if this.hasLevel}}
    {{yield (hash top=(component "page-header-level"))}}
    <div class="level">
      <div class="level-left">
        {{yield (hash levelLeft=(component "page-header-level"))}}
      </div>
      <div class="level-right field is-grouped">
        {{yield (hash levelRight=(component "page-header-level"))}}
      </div>
    </div>
  {{else}}
    {{yield (hash top=(component "page-header-level"))}}
  {{/if}}
</header>