<div class="column is-narrow is-flex-center has-text-grey has-right-margin-s has-top-margin-negative-s">
  <RadioButton
    class="radio"
    name="ttl"
    @value="ttl"
    @onChange={{this.onRadioButtonChange}}
    @groupValue={{this.groupValue}}
    data-test-radio-button="ttl"
  />
  <label class="has-left-margin-xs">
    <TtlPicker2
      data-test-input="ttl"
      @onChange={{this.setAndBroadcastTtl}}
      @label="TTL"
      @helperTextEnabled={{@attr.options.helperTextEnabled}}
      @description={{@attr.helpText}}
      @time={{this.ttlTime}}
      @unit="d"
      @hideToggle={{true}}
    />
  </label>
</div>
<div class="column is-narrow is-flex-center has-text-grey has-right-margin-s">
  <RadioButton
    class="radio"
    name="not_after"
    @value="specificDate"
    @onChange={{this.onRadioButtonChange}}
    @groupValue={{this.groupValue}}
    data-test-radio-button="not_after"
  />
  <label class="has-left-margin-xs">
    <span class="ttl-picker-label is-large">Specific date</span><br />
    <p class="sub-text">
      This value format should be given in UTC format YYYY-MM-ddTHH:MM:SSZ.
    </p>
    {{#if (eq this.groupValue "specificDate")}}
      <input
        id="not_after"
        autocomplete="off"
        spellcheck="false"
        value={{this.notAfter}}
        {{on "input" this.setAndBroadcastInput}}
        class="input"
        data-test-input="not_after"
      />
    {{/if}}
  </label>
</div>