<div ...attributes>
  <ToggleButton
    @isOpen={{this.showConfig}}
    @openLabel="Hide mount configuration"
    @closedLabel="Show mount configuration"
    @onClick={{fn (mut this.showConfig) (not this.showConfig)}}
    class="is-block"
    data-test-mount-config-toggle
  />
  {{#if this.showConfig}}
    {{#each this.fields as |field|}}
      <InfoTableRow @label={{field.label}} @value={{field.value}} data-test-mount-config-field={{field.label}} />
    {{/each}}
    {{! block for additional fields that may be engine specific }}
    {{yield}}
  {{/if}}
</div>