{{#if @hasSearchInput}}
  <div class="selectable-card is-rounded no-flex" data-test-selectable-card-form={{@cardTitle}}>
    <div class="is-flex-between is-fullwidth card-details">
      <h3 class="title is-5" data-test-selectable-card>{{@cardTitle}}</h3>
    </div>
    <div class="has-top-bottom-margin">
      <p class="sub-text">{{@subText}}</p>
    </div>
    <form class="is-flex" data-test-selectable-card={{@cardTitle}}>
      <SearchSelect
        class="is-flex-1"
        @selectLimit="1"
        @models={{@models}}
        @backend={{@backend}}
        @fallbackComponent="input-search"
        @onChange={{this.handleInput}}
        @placeholder="Type to find a role..."
        @disallowNewItems={{@disallowNewItems}}
        data-test-selectable-card-input={{@cardTitle}}
      />
      <button
        type="button"
        class="button is-secondary has-left-margin-s"
        disabled={{unless this.value true}}
        {{on "click" this.transitionToPage}}
        data-test-selectable-card-button={{@cardTitle}}
      >
        {{@buttonText}}
      </button>
    </form>
  </div>
{{else}}
  <div class="selectable-card is-rounded no-flex" data-test-selectable-card-container={{@cardTitle}}>
    <div class="is-flex-between is-fullwidth card-details" data-test-selectable-card={{@cardTitle}}>
      <h3 class="title is-5">{{@cardTitle}}</h3>
      <LinkTo
        @route={{@actionTo}}
        class="has-icon-right is-ghost is-no-underline has-text-semibold"
        @query={{hash itemType=@queryParam}}
        data-test-action-text={{@actionText}}
      >
        {{@actionText}}
        {{#if @actionText}}
          <Icon @name="chevron-right" />
        {{/if}}
      </LinkTo>
    </div>
    <p class="has-text-grey is-size-8">{{@subText}}</p>
    <h2 class="title-number">{{format-number this.total}}</h2>
    {{yield}}
  </div>
{{/if}}