{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#unless @uploadOnly}}
  <div class="level is-mobile">
    <div class="level-left">
      <label for="input-{{this.elementId}}" class="has-text-weight-semibold" data-test-text-file-label>
        {{or @label "File"}}
        {{#if @helpText}}
          <InfoTooltip>
            <span data-test-help-text>
              {{@helpText}}
            </span>
          </InfoTooltip>
        {{/if}}
      </label>
    </div>
    <div class="level-right">
      <Toggle
        data-test-text-toggle
        id="use-text-{{this.elementId}}"
        @checked={{this.showTextArea}}
        @onChange={{fn (mut this.showTextArea) (not this.showTextArea)}}
      >
        <span class="has-text-weight-bold is-size-8">
          Input as text
        </span>
      </Toggle>
    </div>
  </div>
{{/unless}}
<div class="field text-file box is-fullwidth is-marginless is-shadowless is-paddingless" data-test-component="text-file">
  {{#if this.showTextArea}}
    <Hds::Form::MaskedInput::Field
      id="input-{{this.elementId}}"
      @value={{this.content}}
      @isMultiline={{true}}
      {{on "input" this.handleTextInput}}
      data-test-text-file-textarea
      as |F|
    >
      <F.HelperText>Enter the value as text </F.HelperText>
    </Hds::Form::MaskedInput::Field>
  {{else}}
    <Hds::Form::FileInput::Field
      id="file-input-{{this.elementId}}"
      {{on "change" this.handleFileUpload}}
      data-test-text-file-input
      as |F|
    >
      <F.HelperText>Select a file from your computer</F.HelperText>
    </Hds::Form::FileInput::Field>
    {{#if (or @validationError this.uploadError)}}
      <AlertInline
        @type="danger"
        @message={{or @validationError this.uploadError}}
        @paddingTop={{true}}
        data-test-field-validation="text-file"
      />
    {{/if}}
  {{/if}}
</div>