{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if (and @disabled @disabledTooltip)}}
  <ToolTip @verticalPosition="above" as |T|>
    <T.Trigger tabindex="-1">
      <LinkTo
        class="toolbar-link"
        ...attributes
        @route={{@route}}
        @models={{this.models}}
        @query={{this.query}}
        @replace={{@replace}}
        @disabled={{@disabled}}
      >
        {{yield}}
        <Icon @name={{this.glyph}} data-test-icon={{this.glyph}} />
      </LinkTo>
    </T.Trigger>
    <T.Content @defaultClass="tool-tip smaller-font">
      <div class="box" data-test-disabled-tooltip>
        {{@disabledTooltip}}
      </div>
    </T.Content>
  </ToolTip>
{{else}}
  <LinkTo
    class="toolbar-link"
    ...attributes
    @route={{@route}}
    @models={{this.models}}
    @query={{this.query}}
    @replace={{@replace}}
    @disabled={{@disabled}}
  >
    {{yield}}
    <Icon @name={{this.glyph}} data-test-icon={{this.glyph}} />
  </LinkTo>
{{/if}}