<div class="has-bottom-margin-m" ...attributes>
  {{#if @hideToggle}}
    <TtlForm
      @label={{this.label}}
      @subText={{this.helperText}}
      @description={{@description}}
      @onChange={{this.handleChange}}
      @initialValue={{@initialValue}}
      @changeOnInit={{@changeOnInit}}
      data-test-ttl-picker-group={{this.label}}
    />
    {{yield}}
  {{else}}
    <Toggle
      @name={{this.label}}
      @status="success"
      @size="small"
      @onChange={{action "toggleEnabled"}}
      @checked={{this.enableTTL}}
      data-test-ttl-toggle
    >
      <span class="ttl-picker-label is-large" data-test-ttl-picker-label={{this.label}}>{{this.label}}</span><br />
      <div class="description has-text-grey">
        <span>{{this.helperText}}</span>
        {{#if @description}}
          <ToolTip @verticalPosition="below" as |T|>
            <T.Trigger data-test-tooltip-trigger tabindex="-1">
              <Icon @name="info" aria-label="description" />
            </T.Trigger>
            <T.Content @defaultClass="tool-tip">
              <div class="box" data-test-hover-copy-tooltip-text>
                {{this.description}}
              </div>
            </T.Content>
          </ToolTip>
        {{/if}}
      </div>
      {{#if (or this.enableTTL this.hideToggle)}}
        <TtlForm
          @label={{this.label}}
          @onChange={{this.handleChange}}
          @initialValue={{@initialValue}}
          @changeOnInit={{@changeOnInit}}
          data-test-ttl-picker-group={{this.label}}
        >
          {{yield}}
        </TtlForm>
      {{/if}}
    </Toggle>
  {{/if}}
</div>