<div class="has-bottom-margin-m" ...attributes>
  {{#if @hideToggle}}
    <span class="ttl-picker-label">{{this.label}}</span><br />
    <div class="sub-text">
      <span>{{this.helperText}}</span>
      {{#if @description}}
        <ToolTip @verticalPosition="below" as |T|>
          <T.Trigger data-test-tooltip-trigger tabindex="-1">
            <Icon @name="info" aria-label="description" />
          </T.Trigger>
          <T.Content @defaultClass="tool-tip">
            <div class="box" data-test-hover-copy-tooltip-text>
              {{this.description}}
            </div>
          </T.Content>
        </ToolTip>
      {{/if}}
    </div>
  {{else}}
    <Toggle
      @name={{this.label}}
      @status="success"
      @size="small"
      @onChange={{action "toggleEnabled"}}
      @checked={{this.enableTTL}}
      data-test-ttl-toggle
    >
      <span class="ttl-picker-label is-large">{{this.label}}</span><br />
      <div class="description has-text-grey">
        <span>{{this.helperText}}</span>
        {{#if @description}}
          <ToolTip @verticalPosition="below" as |T|>
            <T.Trigger data-test-tooltip-trigger tabindex="-1">
              <Icon @name="info" aria-label="description" />
            </T.Trigger>
            <T.Content @defaultClass="tool-tip">
              <div class="box" data-test-hover-copy-tooltip-text>
                {{this.description}}
              </div>
            </T.Content>
          </ToolTip>
        {{/if}}
      </div>
      {{#if (or this.enableTTL this.hideToggle)}}
        <div data-test-ttl-picker-group={{this.label}}>
          <TtlForm @onChange={{this.handleChange}} @initialValue={{@initialValue}} @changeOnInit={{@changeOnInit}} />
        </div>
        {{yield}}
      {{/if}}
    </Toggle>
  {{/if}}
</div>