<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      {{this.title}}
    </h1>
  </p.levelLeft>
</PageHeader>

<EmptyState
  @title="Upgrade to use {{this.featureName}}"
  @message="You will need {{this.minimumEdition}} with {{this.featureName}} included to use this feature."
>
  <ExternalLink
    @href="https://www.hashicorp.com/products/vault/enterprise?source=vaultui_{{this.featureName}}"
    class="link has-icon-right"
    data-test-upgrade-link
  >
    Vault Enterprise
    <Chevron />
  </ExternalLink>
</EmptyState>