<Hds::Card::Container @hasBorder={{true}} class="has-padding-l" ...attributes>
  <h3 class="is-size-4 has-text-weight-semibold">Accounts checked out by this token</h3>

  <p class="has-text-grey">The accounts that are currently on lease with this token</p>
  <hr class="has-background-gray-200" />

  {{#if this.filteredAccounts}}
    <Hds::Table @model={{this.filteredAccounts}} @columns={{array (hash label="Accounts") (hash label="Action")}}>
      <:body as |Body|>
        <Body.Tr>
          <Body.Td data-test-checked-out-account={{Body.data}}>{{Body.data}}</Body.Td>
          <Body.Td>
            <button
              type="button"
              class="text-button has-text-info has-text-weight-semibold"
              disabled={{not @library.canCheckIn}}
              data-test-checked-out-account-action={{Body.data}}
              {{on "click" (fn (mut this.checkInAccount) Body.data)}}
            >
              <Icon @name="queue" />
              Check-in
            </button>
          </Body.Td>
        </Body.Tr>
      </:body>
    </Hds::Table>
  {{else}}
    <EmptyState
      @title="No accounts checked out yet"
      @message="There is no account that is currently in use."
      class="is-shadowless"
    />
  {{/if}}
</Hds::Card::Container>

{{#if this.checkInAccount}}
  <Modal
    @title="Account Check-in"
    @isActive={{this.checkInAccount}}
    @showCloseButton={{true}}
    @onClose={{fn (mut this.checkInAccount) ""}}
  >
    <section class="modal-card-body">
      <p>
        This action will check-in account
        {{this.checkInAccount}}
        back to the library. Do you want to proceed?
      </p>
    </section>
    <footer class="modal-card-foot modal-card-foot-outlined">
      <button
        type="button"
        class="button is-primary {{if this.save.isRunning 'is-loading'}}"
        disabled={{this.checkIn.isRunning}}
        data-test-check-in-confirm
        {{on "click" (perform this.checkIn)}}
      >
        Confirm
      </button>
      <button
        type="button"
        class="button"
        disabled={{this.checkIn.isRunning}}
        {{on "click" (fn (mut this.checkInAccount) "")}}
      >
        Cancel
      </button>
    </footer>
  </Modal>
{{/if}}