<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Vault Client Count
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="tabs-container box is-bottomless is-marginless is-fullwidth is-paddingless" data-test-pricing-metrics>
  <nav class="tabs">
    <ul>
      <LinkTo @route="vault.cluster.metrics.index" @query={{hash tab='current' start=null end=null}} @tagName="li" @activeClass="is-active">
        <LinkTo @route="vault.cluster.metrics.index" @query={{hash tab='current' start=null end=null}} data-test-usage-tab={{true}}>
          Current month
        </LinkTo>
      </LinkTo>
      <LinkTo @route="vault.cluster.metrics.index" @query={{hash tab='history'}} @tagName="li" @activeClass="is-active">
        <LinkTo @route="vault.cluster.metrics.index" @query={{hash tab='history'}} data-test-usage-tab={{true}}>
          Monthly history
        </LinkTo>
      </LinkTo>
      {{#if model.config.configPath.canRead}}
        <LinkTo @route="vault.cluster.metrics.index" @query={{hash tab='config' start=null end=null}} @tagName="li" @activeClass="is-active">
          <LinkTo @route="vault.cluster.metrics.index" @query={{hash tab='config' start=null end=null}} data-test-configuration-tab={{true}}>
            Configuration
          </LinkTo>
        </LinkTo>
      {{/if}}
    </ul>
  </nav>
</div>


{{#if (eq tab "config")}}
  <Toolbar>
    <ToolbarActions>
      {{#if model.config.configPath.canUpdate}}
        <LinkTo @route="vault.cluster.metrics.edit" class="toolbar-link">
          Edit configuration
        </LinkTo>
      {{/if}}
    </ToolbarActions>
  </Toolbar>
  <PricingMetricsConfig @model={{model.config}} />
{{else}}
  <ClientCount::History @tab={{tab}} @model={{model}} />
{{/if}}


