{{identity/entity-nav identityType=identityType model=model}}
{{#if model.meta.total}}
  {{#each model as |item|}}
    {{#linked-block
      "vault.cluster.access.identity.aliases.show"
      item.id
      "details"
      class="list-item-row"
      data-test-identity-row=true
      }}
      <div class="columns is-mobile">
        <div class="column is-10">
          {{#link-to
            "vault.cluster.access.identity.aliases.show"
            item.id
            "details"
            class="is-block has-text-black has-text-weight-semibold"
            data-test-identity-link=item.id
          }}{{i-con
              glyph="role"
              size=14
              class="has-text-grey-light"
            }}<span class="has-text-weight-semibold">{{item.name}}</span>{{/link-to}}
          <div class="has-text-grey">
            {{item.id}}
          </div>
          <span class="tag">{{item.mountType}}</span>
          <span class="has-text-grey is-size-8">
            {{item.mountAccessor}}
          </span>
        </div>
        <div class="column has-text-right">
          {{identity/popup-alias params=(array item) onSuccess=(action "onDelete")}}
        </div>
      </div>
    {{/linked-block}}
  {{/each}}
  {{#if (gt model.meta.lastPage 1) }}
    {{list-pagination
      page=model.meta.currentPage
      lastPage=model.meta.lastPage
      link="vault.cluster.access.identity.aliases.index"
    }}
  {{/if}}
{{else}}
  <EmptyState
    @title="No {{identityType}} aliases yet"
    @message="A list of {{identityType}} aliases in this namespace will be listed here. Choose one of the {{pluralize identityType}} and click &quot;Create Alias&quot; to get started."
  >
    {{#link-to "vault.cluster.access.identity.create" (pluralize identityType) tagName="button" class="link"}}
      Create {{identityType}}
    {{/link-to}}
    <LearnLink @path="/vault/identity-access-management/iam-identity">
      Learn more
    </LearnLink>
  </EmptyState>
{{/if}}
