<PageHeader as |p|>
  <p.top>
    <nav class="breadcrumb">
      <ul>
        <li>
          <span class="sep">&#x0002f;</span>
          {{#link-to "vault.cluster.access.identity.aliases"}}
            {{pluralize (humanize model.identityType)}}
          {{/link-to}}
        </li>
      </ul>
    </nav>
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{model.name}}
    </h1>
  </p.levelLeft>
  <p.levelRight>
    {{#link-to "vault.cluster.access.identity.aliases.edit" model.id class="button has-icon-right is-ghost is-compact" data-test-alias-edit-link=true}}
      Edit {{lowercase (humanize model.identityType)}}
      {{i-con glyph="chevron-right" size=11}}
    {{/link-to}}
  </p.levelRight>
</PageHeader>
<div class="box is-sideless is-fullwidth is-paddingless is-marginless">
  <nav class="tabs sub-nav">
    <ul>
      {{#each (tabs-for-identity-show model.identityType) as |tab|}}
        {{#link-to "vault.cluster.access.identity.aliases.show" model.id tab tagName="li"}}
          {{#link-to "vault.cluster.access.identity.aliases.show" model.id tab}}
            {{capitalize tab}}
          {{/link-to}}
        {{/link-to}}
      {{/each}}
    </ul>
  </nav>
</div>
{{component (concat 'identity/item-alias/alias-' section) model=model}}
