<LinkedBlock
  @params={{array (concat "vault.cluster.secrets.backend." "show" (unless @item.id "-root")) @item.idForNav}}
  class="list-item-row"
  data-test-secret-link={{@item.id}}
  @encode={{true}}
>
  <div class="columns is-mobile">
    <div class="column is-10">
      <LinkTo
        @route={{concat "vault.cluster.secrets.backend." "show" (unless @item.id "-root")}}
        @model={{@item.idForNav}}
        class="has-text-black has-text-weight-semibold"
      >
        <Icon @name="file" class="has-text-grey-light is-pulled-left" />
        <div class="role-item-details">
          <span class="is-underline">{{if (eq @item.id " ") "(self)" (or @item.keyWithoutParent @item.id)}}</span>
        </div>
      </LinkTo>
    </div>
    <div class="column has-text-right">
      <Pki::PkiCertPopup @item={{@item}} />
    </div>
  </div>
</LinkedBlock>