{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if this.auth.showRootTokenWarning}}
  <Modal
    @title="Warning"
    @onClose={{fn (mut this.auth.showRootTokenWarning) false}}
    @isActive={{this.auth.showRootTokenWarning}}
    @type="warning"
    @showCloseButton={{true}}
  >
    <section class="modal-card-body">
      {{#if this.namespaceService.inRootNamespace}}
        You have logged in with a root token. As a security precaution, this root token will not be stored by your browser
        and you will need to re-authenticate after the window is closed or refreshed.
      {{else}}
        As a security precaution, you will be logged out and need to log in again to navigate to the
        <code>{{this.namespaceService.currentNamespacePath}}</code>
        namespace. Click
        <b>confirm</b>
        to continue.
      {{/if}}
    </section>
    <footer class="modal-card-foot modal-card-foot-outlined">
      <button
        type="button"
        class="button is-primary"
        {{on "click" (fn (mut this.auth.showRootTokenWarning) false)}}
        data-test-link-status-close
      >
        Confirm
      </button>
    </footer>
  </Modal>

{{/if}}
<Sidebar::Nav::Cluster />
{{! Only show license banners for Enterprise }}
{{#if this.activeCluster.version.isEnterprise}}
  <LicenseBanners
    @expiry={{this.activeCluster.licenseExpiry}}
    @autoloaded={{eq this.activeCluster.licenseState "autoloaded"}}
  />
{{/if}}
<div class="global-flash">
  {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage data-test-flash-message={{true}} @flash={{flash}} as |customComponent flash close|>
      {{#if flash.componentName}}
        {{component flash.componentName content=flash.content}}
      {{else}}
        {{#let (hash info="highlight" success="success" danger="critical" warning="warning") as |color|}}
          <Hds::Alert @type="inline" @color={{get color flash.type}} class="has-bottom-margin-s" @onDismiss={{close}} as |A|>
            {{#let (hash info="Info" success="Success" danger="Error" warning="Warning") as |title|}}
              <A.Title class="alert-title">{{get title flash.type}}</A.Title>
            {{/let}}
            <A.Description data-test-flash-message-body>
              {{#if flash.preformatted}}
                <p class="is-word-break">{{flash.message}}</p>
              {{else}}
                {{flash.message}}
              {{/if}}
            </A.Description>
          </Hds::Alert>
        {{/let}}
      {{/if}}
    </FlashMessage>
  {{/each}}
</div>

{{#if this.auth.isActiveSession}}
  <TokenExpireWarning @expirationDate={{this.auth.tokenExpirationDate}}>
    {{outlet}}
  </TokenExpireWarning>
{{else}}
  {{outlet}}
{{/if}}