<header class="page-header">
  {{key-value-header
    baseKey=model
    path="vault.cluster.secrets.backend"
    root=root
    showCurrent=true
  }}
  <div class="level">
    <div class="level-left">
      <h1 class="title is-3">
        Configure {{get (options-for-backend model.type) "displayName"}}
      </h1>
    </div>
    <div class="level-right">
      <div class="field is-grouped">
        <div class="control">
          {{#link-to
            "vault.cluster.secrets.backend"
            model.id
            class="button has-icon-right is-ghost is-compact"
            data-test-backend-view-link=true
          }}
            View backend
            {{i-con glyph="chevron-right" size=11}}
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</header>

{{partial (concat "partials/secret-backend-settings/" model.type)}}
{{outlet}}
