<Hds::Card::Container @hasBorder={{true}} class="has-padding-l">
  <h3 class="title is-4">Quick actions</h3>

  <div class="has-bottom-margin-m">
    <h4 class="title is-6">Secrets engines</h4>
    <SearchSelect
      @id="secrets-engines-select"
      @options={{this.mountOptions}}
      @selectLimit="1"
      @disallowNewItems={{true}}
      @fallbackComponent="input-search"
      @onChange={{this.handleSearchEngineSelect}}
      @placeholder="Type to select a mount"
      @displayInherit={{true}}
      @shouldRenderName={{true}}
      @passObject={{true}}
      @objectKeys={{array "type"}}
      class="is-marginless"
      data-test-secrets-engines-select
    />
  </div>

  {{#if this.selectedEngine}}
    <h4 class="title is-6">Action</h4>
    <Select
      @name="action-select"
      @options={{this.actionOptions}}
      @isFullwidth={{true}}
      @selectedValue={{this.selectedAction}}
      @onChange={{this.setSelectedAction}}
      @noDefault={{true}}
    />

    {{#if this.searchSelectParams.model}}
      <h4 class="title is-6" data-test-search-select-params-title>{{this.searchSelectParams.title}}</h4>

      <SearchSelect
        class="is-flex-grow-1"
        @selectLimit="1"
        @models={{array this.searchSelectParams.model}}
        @backend={{this.mountPath}}
        @placeholder={{this.searchSelectParams.placeholder}}
        @disallowNewItems={{true}}
        @onChange={{this.handleActionSelect}}
        @fallbackComponent="input-search"
        @nameKey={{this.searchSelectParams.nameKey}}
        @disabled={{not this.searchSelectParams.model}}
      />

      <div>
        <button
          type="button"
          class="button is-primary has-top-margin-m"
          disabled={{(not (and this.selectedAction this.selectedEngine this.paramValue))}}
          {{on "click" this.navigateToPage}}
          data-test-button={{this.searchSelectParams.buttonText}}
        >
          {{this.searchSelectParams.buttonText}}
        </button>
      </div>
    {{/if}}
  {{else}}
    <EmptyState
      @title="No mount selected"
      @message="Select a mount above to get started."
      data-test-no-mount-selected-empty
    />
  {{/if}}
</Hds::Card::Container>