<h3 class="title is-4">Quick actions</h3>

<div class="has-bottom-margin-m">
  <h4 class="title is-6">Secrets engine</h4>
  <SearchSelect
    @id="secret-engines-select"
    @options={{this.secretsEnginesOptions}}
    @selectLimit="1"
    @disallowNewItems={{true}}
    @fallbackComponent="input-search"
    @onChange={{this.handleSearchEngineSelect}}
    @placeholder="Type to select a mount..."
    @displayInherit={{true}}
    @shouldRenderName={{true}}
    @nameKey={{"name"}}
    class="is-marginless"
  />
</div>

<h4 class="title is-6">Action</h4>
<Select
  @name="auth-method"
  @options={{this.selectedActions}}
  @valueAttribute="actionType"
  @labelAttribute="actionTitle"
  @isFullwidth={{true}}
  @selectedValue={{this.selectedAction}}
  @onChange={{this.setSelectedAction}}
/>

<h4 class="title is-6">{{this.actionParamField.title}}</h4>
{{#if (eq this.actionParamField.elementType "input")}}
  <Input @type="text" @value={{this.value}} class="input" />
{{else}}
  <SearchSelect
    class="is-flex-1"
    @selectLimit="1"
    @models={{array this.actionParamField.model}}
    @backend={{this.selectedEngineName}}
    @placeholder={{this.actionParamField.placeholder}}
    @disallowNewItems={{true}}
    @onChange={{this.handleIssuerSearch}}
    @fallbackComponent="input-search"
    @nameKey={{this.actionParamField.nameKey}}
    @shouldRenderName={{true}}
  />
{{/if}}

<div>
  <button
    type="button"
    class="button is-primary has-top-margin-m"
    disabled={{(not (and this.selectedAction this.selectedEngine this.value))}}
    {{on "click" this.navigateToPage}}
    data-test-button={{this.actionParamField.buttonText}}
  >
    {{this.actionParamField.buttonText}}
  </button>
</div>