<div class="is-flex-between">
  <h3 class="title is-4 has-bottom-margin-xxs" data-test-client-count-title>
    Replication
  </h3>

  <div>
    <Hds::Link::Inline @route="vault.cluster.replication.index" class="is-no-underline">Details</Hds::Link::Inline>
  </div>
</div>

{{! check if dr replication and performance replication exists }}
{{#if (or @replication.dr.clusterId @replication.performance.clusterId)}}
  <hr class="has-background-gray-100" />
  {{! check if user has access to both perf replication and dr replication }}
  {{#if (and @version.hasPerfReplication @version.hasDRReplication)}}
    <div
      class="is-grid grid-2-columns grid-gap-2 has-top-margin-m has-bottom-margin-m grid-align-items-start"
      data-test-dr-perf-replication
    >
      <div>
        <StatText
          @label="state"
          @value={{@replication.dr.state}}
          @size="l"
          @subText="The current operating state of the cluster."
          data-test-stat-text="dr state"
        >
          <:titleLink>
            <Hds::Link::Inline
              class="stat-label has-bottom-margin-xs"
              @color="secondary"
              @route="vault.cluster.replication.mode.index"
              @model="dr"
              data-test-dr-title
            >
              DR primary
            </Hds::Link::Inline>
          </:titleLink>
          <:statIcon>
            <Hds::TooltipButton @text="The cluster's current operating state">
              <FlightIcon
                @name={{get (cluster-states @replication.dr.state) "glyph"}}
                class={{if (get (cluster-states @replication.dr.state) "isOk") "has-text-success" "has-text-danger"}}
              />
            </Hds::TooltipButton>
          </:statIcon>
        </StatText>
      </div>
      <div>
        {{#if @replication.performance.clusterId}}
          <StatText
            @label="state"
            @value={{@replication.performance.state}}
            @size="l"
            @subText="The current operating state of the cluster."
            data-test-stat-text="performance state"
          >
            <:titleLink>
              <Hds::Link::Inline
                class="stat-label has-bottom-margin-xs"
                @color="secondary"
                @route="vault.cluster.replication.mode.index"
                @model="performance"
                data-test-performance-title
              >
                Perf primary
              </Hds::Link::Inline>
            </:titleLink>
            <:statIcon>
              <Hds::TooltipButton @text="The cluster's current operating state">
                <FlightIcon
                  @name={{get (cluster-states @replication.dr.state) "glyph"}}
                  class={{if (get (cluster-states @replication.dr.state) "isOk") "has-text-success" "has-text-danger"}}
                />
              </Hds::TooltipButton>
            </:statIcon>
          </StatText>
        {{else}}
          <StatText
            @label="state"
            @value="not set up"
            @size="l"
            @subText="The current operating state of the cluster."
            data-test-stat-text="performance state"
          >
            <:titleLink>
              <Hds::Link::Inline
                class="stat-label has-bottom-margin-xs"
                @color="secondary"
                @route="vault.cluster.replication.mode.index"
                @model="performance"
                data-test-performance-title
              >
                Perf primary
              </Hds::Link::Inline>
            </:titleLink>
            <:statIcon>
              <Hds::TooltipButton @text="The cluster's current operating state">
                <FlightIcon @name="x-square" class="has-text-danger" />
              </Hds::TooltipButton>
            </:statIcon>
          </StatText>
        {{/if}}
      </div>
    </div>
    {{! if user only has access to dr replication }}
  {{else if @version.hasDRReplication}}
    <div class="is-marginless">
      <Hds::Link::Inline
        class="title is-5 has-text-weight-semibold"
        @color="secondary"
        @route="vault.cluster.replication.mode.index"
        @model="dr"
      >
        DR Primary
      </Hds::Link::Inline>
    </div>

    <div
      class="is-grid grid-2-columns grid-gap-2 has-top-margin-m has-bottom-margin-m grid-align-items-start"
      data-test-dr-replication
    >
      <div>
        <StatText
          @label="state"
          @value={{@replication.dr.state}}
          @size="l"
          @subText="The current operating state of the cluster."
          data-test-stat-text="dr state"
        >
          <:statIcon>
            <Hds::TooltipButton @text="The cluster's current operating state">
              <FlightIcon
                @name={{get (cluster-states @replication.dr.state) "glyph"}}
                class={{if (get (cluster-states @replication.dr.state) "isOk") "has-text-success" "has-text-danger"}}
              />
            </Hds::TooltipButton>
          </:statIcon>
        </StatText>
      </div>
      <div>
        <StatText
          @label="known secondaries"
          @value={{@replication.dr.knownSecondaries.length}}
          @size="l"
          @subText="Number of secondaries connected to this primary."
          data-test-stat-text="known secondaries"
        />
      </div>
    </div>
  {{/if}}
  <div class="has-top-margin-s is-flex-center">
    <Hds::Button
      @text="Refresh"
      @isIconOnly={{true}}
      @color="tertiary"
      @icon="sync"
      class="has-padding-xxs"
      {{on "click" @refresh}}
      data-test-refresh
    />
    <small class="has-left-margin-xs has-text-grey">
      Updated
      {{date-format @updatedAt "MMM dd, yyyy HH:mm:SS"}}
    </small>
  </div>
{{else}}
  <EmptyState
    @title="Replication not set up"
    @message="Data will be listed here. Enable a primary replication cluster to get started."
    class="has-top-margin-m"
  >
    <div>
      <Hds::Link::Inline @route="vault.cluster.replication" class="is-no-underline">Details</Hds::Link::Inline>
    </div>
  </EmptyState>
{{/if}}