<Hds::Card::Container @hasBorder={{true}} class="has-padding-l secrets-engines-card">
  <h3 class="title is-4 has-left-margin-xxs" data-test-dashboard-secrets-engines-header>Secrets engines</h3>
  <Hds::Table @caption="Five secrets engines" class="is-border-spacing-revert" data-test-dashboard-secrets-engines-table>
    <:body as |B|>
      {{#each this.filteredSecretsEngines as |backend|}}
        <B.Tr data-test-secrets-engines-row={{backend.id}}>
          <B.Td class="is-flex-between is-flex-center has-gap-m">
            <div>
              <div class="is-flex-center">
                {{#if backend.icon}}
                  <ToolTip @horizontalPosition="left" as |T|>
                    <T.Trigger>
                      <Icon @name={{backend.icon}} class={{unless backend.isSupportedBackend "has-text-grey"}} />
                    </T.Trigger>
                    <T.Content @defaultClass="tool-tip">
                      <div class="box">
                        {{or backend.engineType backend.path}}
                      </div>
                    </T.Content>
                  </ToolTip>
                {{/if}}
                {{#if backend.path}}
                  {{#if backend.isSupportedBackend}}
                    <LinkTo
                      @route={{backend.backendLink}}
                      @model={{backend.id}}
                      class="has-text-black has-text-weight-semibold"
                      data-test-secret-path
                    >
                      {{backend.path}}
                    </LinkTo>
                  {{else}}
                    <span class="has-text-grey" data-test-secret-path>{{backend.path}}</span>
                  {{/if}}
                {{/if}}
              </div>
              {{#if backend.accessor}}
                <code class="has-text-grey is-size-8" data-test-accessor>
                  {{backend.accessor}}
                </code>
              {{/if}}
              {{#if backend.description}}
                <div data-test-description class="truncate-first-line">
                  {{backend.description}}
                </div>
              {{/if}}
            </div>
            {{#if backend.isSupportedBackend}}
              <LinkTo
                @route={{backend.backendLink}}
                @model={{backend.id}}
                class="has-text-weight-semibold is-no-underline"
                data-test-view
              >
                View
              </LinkTo>
            {{/if}}
          </B.Td>
        </B.Tr>
      {{/each}}
    </:body>
  </Hds::Table>
  <div class="is-flex-end has-top-margin-s">
    <Hds::Link::Standalone
      class="has-text-weight-semibold is-no-underline"
      @icon="arrow-right"
      @iconPosition="trailing"
      @text="Show all"
      @route="vault.cluster.secrets.backends"
    />
  </div>
</Hds::Card::Container>