<div class="has-top-margin-l has-bottom-margin-l">
  <h1 class="title is-inline is-v-centered" data-test-dashboard-version-header>
    {{this.versionHeader}}
  </h1>
  <Hds::Badge
    @text="New"
    @icon="wand"
    @color="highlight"
    class="is-underline has-pointer"
    {{on "click" (fn (mut this.showNewFeatureModal) true)}}
    data-test-badge-new
  />
  <Hds::Badge @text={{if this.namespace.inRootNamespace "root" this.namespace.path}} @icon="org" data-test-badge-namespace />
</div>

<Modal
  @title="New dashboard"
  @onClose={{action (mut this.showNewFeatureModal) false}}
  @isActive={{this.showNewFeatureModal}}
  @showCloseButton={{true}}
>
  <section class="modal-card-body has-top-padding-l has-bottom-padding-l">
    <div>
      <div class="has-bottom-margin-s">
        Vault now has a dashboard that includes, among other things:
      </div>
      <ul class="bullet">
        <li>An overview of Vault's metrics, shortcuts, and at-a-glance information</li>
        <li>Configuration details such as cluster address, TTL, TLS, log format, and storage type</li>
        <li>Quick actions: perform important tasks such as finding a secret or generating a leaf certificate</li>
      </ul>
      <div class="has-top-margin-s">
        You can still access the Secrets engines page on the sidebar.
      </div>
    </div>
  </section>
  <footer class="modal-card-foot modal-card-foot-outlined">
    <button type="button" class="button is-primary" {{on "click" (fn (mut this.showNewFeatureModal) false)}}>
      Got it
    </button>
  </footer>
</Modal>