{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Recovery::Page::Header @title="Secrets Recovery" />

<div class="has-top-padding-s has-bottom-padding-m">
  {{#let @model.snapshot as |snapshot|}}
    <Hds::Card::Container @level="mid" @hasBorder={{true}} class="has-padding-m">
      <div class="flex space-between">
        <Hds::Text::Display @tag="h2">Snapshot</Hds::Text::Display>
        <Hds::Badge @text={{this.badge.status}} @color={{this.badge.color}} data-test-badge="status" />
      </div>
      <Hds::Text::Body @tag="p">Expiring at
        {{date-format snapshot.expires_at "MMM d, yyyy, h:mm:ss aaa" withTimeZone=true}}</Hds::Text::Body>
      <Hds::Link::Standalone
        @iconPosition="trailing"
        @icon="arrow-right"
        @text="View details"
        @route="vault.cluster.recovery.snapshots.snapshot.details"
        @model={{snapshot.snapshot_id}}
      />
    </Hds::Card::Container>
  {{/let}}
</div>

<hr class="has-background-gray-300" />

<Hds::Text::Display @tag="h3" class="has-top-padding-m">Recovery or read data</Hds::Text::Display>

{{#if this.showRecoveryBanner}}
  <Hds::Alert @type="inline" @color="success" as |A|>
    <A.Title>Success</A.Title>
    <A.Description>Secret at
      <Hds::Link::Inline
        @route="vault.cluster.secrets.backend.show"
        @models={{array this.mountWithoutSlash this.resourcePath}}
      >
        {{this.resourcePath}}
      </Hds::Link::Inline>
      has been successfully recovered.</A.Description>
  </Hds::Alert>
{{/if}}

<Hds::Layout::Flex @gap="24" class="has-bottom-padding-m">
  {{#if this.namespace.inRootNamespace}}
    <Hds::Form::SuperSelect::Single::Field
      @onChange={{fn this.handleSelect "selectedNamespace"}}
      @selected={{this.selectedNamespace}}
      @options={{@model.namespaces}}
      @searchEnabled={{true}}
      as |F|
    >
      <F.Label>Namespace</F.Label>
      <F.Options>{{F.options}}</F.Options>
    </Hds::Form::SuperSelect::Single::Field>
  {{/if}}

  <Hds::Form::SuperSelect::Single::Field
    @onChange={{fn this.handleSelect "selectedMount"}}
    @selected={{this.selectedMount}}
    @options={{this.mountOptions}}
    @searchEnabled={{true}}
    @isInvalid={{if this.mountError true false}}
    as |F|
  >
    <F.Label>Secret mount</F.Label>
    <F.Options>{{F.options}}</F.Options>
    {{#if this.mountError}}
      <F.Error>{{this.mountError}}</F.Error>
    {{/if}}
  </Hds::Form::SuperSelect::Single::Field>

  <Hds::Form::TextInput::Field
    @value={{this.resourcePath}}
    @isInvalid={{if this.resourcePathError true false}}
    {{on "input" this.updateResourcePath}}
    as |F|
  >
    <F.Label>Resource Path</F.Label>
    {{#if this.resourcePathError}}
      <F.Error>{{this.resourcePathError}}</F.Error>
    {{/if}}
  </Hds::Form::TextInput::Field>

  <Hds::Button @text="Clear" @icon="trash" @color="secondary" {{on "click" this.clearSelections}} />
</Hds::Layout::Flex>

{{#if this.secretData}}
  {{! Todo add toggle for json view }}
  <SecretFormShow @showAdvancedMode={{false}} @modelForData={{this.modelForData}} />
{{/if}}
<hr class="has-background-gray-300" />

<Hds::ButtonSet class="has-top-padding-m">
  <Hds::Button @text="Recover" type="submit" {{on "click" this.recover}} />
  <Hds::Button @text="Read" @color="secondary" {{on "click" this.readResource}} />
</Hds::ButtonSet>