<Hds::Form::Select::Field readonly={{@readonly}} name={{@name}} {{on "change" this.handleChange}} ...attributes as |F|>
  <F.Label>{{@label}}</F.Label>
  {{#if (has-block "helperText")}}
    <F.HelperText>{{yield to="helperText"}}</F.HelperText>
  {{/if}}
  <F.Options>
    {{#each @options as |opt|}}
      {{! TODO: handle non-simple values }}
      <option value={{opt}} selected={{eq opt @defaultValue}}>{{opt}}</option>
    {{/each}}
  </F.Options>
</Hds::Form::Select::Field>