<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Multi-factor Authentication
    </h1>
  </p.levelLeft>
</PageHeader>

<Mfa::Nav />

<Toolbar>
  <ToolbarActions>
    <ToolbarLink @type="add" @params={{array "vault.cluster.access.mfa.methods.create"}}>
      New MFA method
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

{{#if this.model.meta.total}}
  {{#each this.model as |item|}}
    <Mfa::MethodListItem @model={{item}} />
  {{/each}}
{{/if}}
{{#if (gt this.model.meta.lastPage 1)}}
  <ListPagination
    @page={{this.model.meta.currentPage}}
    @lastPage={{this.model.meta.lastPage}}
    @link={{concat "vault.cluster.access.mfa.methods"}}
  />
{{/if}}