<Hds::PageHeader as |PH|>
  <PH.Title>{{this.modelId}} configuration</PH.Title>
  <PH.Breadcrumb>
    <Hds::Breadcrumb>
      <Hds::Breadcrumb::Item @text="Organization" @icon="dashboard" />
      <Hds::Breadcrumb::Item @text="Project" @icon="file-text" />
      <Hds::Breadcrumb::Item @text="Clusters" @icon="server-cluster" />
    </Hds::Breadcrumb>
  </PH.Breadcrumb>
  <PH.IconTile @icon={{this.glyph}} @color="consul" />
  <PH.Subtitle>{{this.typeDisplay}}</PH.Subtitle>
</Hds::PageHeader>

<div class="has-top-margin-l">
  <div class="tabs-container box is-marginless is-fullwidth is-paddingless">
    <nav class="tabs" aria-label="kv tabs">
      <ul>
        <li>
          <LinkTo
            @route="vault.cluster.secrets.backend.configuration.general-settings"
            @model={{this.model.secretsEngine.id}}
          >
            General settings
          </LinkTo>
        </li>
      </ul>
    </nav>
  </div>
  {{outlet}}
</div>

<div class="has-top-bottom-margin-12">
  <Hds::Card::Container @level="mid" @hasBorder={{true}} class="has-top-bottom-margin-12 has-padding-l">
    Lease Duration Component
  </Hds::Card::Container>

  <Hds::Card::Container @level="mid" @hasBorder={{true}} class="has-top-bottom-margin-12 has-padding-l">
    Metadata Component
  </Hds::Card::Container>

  <Hds::Card::Container @level="mid" @hasBorder={{true}} class="has-top-bottom-margin-12 has-padding-l">
    Security Component
  </Hds::Card::Container>

  <Hds::Card::Container @level="mid" @hasBorder={{true}} class="has-top-bottom-margin-12 has-padding-l">
    Configuration Component
  </Hds::Card::Container>
</div>