{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}
TODO: this is going to become the route to display breadcrumbs, header and tabs. The tabs will link to the respective routes
configuration.mount.edit and configuration.plugin-settings.edit TODO: instead of using SecretListHeader, create a new
component similar to kv-page-header using https://guides.emberjs.com/v5.1.0/components/conditional-content/ so that you can
have control over each views header for keymgt.

{{#if (get (engines-display-data "keymgmt") "newConfigurationPattern")}}
  add new designs here
{{else}}
  <SecretListHeader @model={{this.model.secretsEngine}} @isConfigure={{true}} />

  {{#if this.isConfigurable}}
    <Toolbar>
      <ToolbarActions>
        <ToolbarLink
          @route="vault.cluster.secrets.backend.configuration.edit"
          @model={{this.model.secretsEngine.id}}
          data-test-secret-backend-configure
        >
          Configure
        </ToolbarLink>
      </ToolbarActions>
    </Toolbar>
    NOTE this is a nested component that can only be consumed by non-ember engines. This is plugin settings details
    <SecretEngine::ConfigurationDetails
      @config={{this.model.config}}
      @typeDisplay={{this.typeDisplay}}
      @id={{this.modelId}}
    />

    NOTE this is a addon component that can be consumed by Ember engines as well as non-ember engines. These belong to
    plugin-settings.edit aka "tune"
    <SecretsEngineMountConfig
      @secretsEngine={{this.model.secretsEngine}}
      class="has-top-margin-xl has-bottom-margin-xl"
      data-test-mount-config
    />

  {{else}}
    <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
      {{#each this.displayFields as |field|}}
        <InfoTableRow
          @alwaysRender={{and (not (is-empty-value (get this.model.secretsEngine field))) (not-eq field "version")}}
          @formatTtl={{includes field (array "config.defaultLeaseTtl" "config.maxLeaseTtl")}}
          @label={{this.label field}}
          @value={{get this.model.secretsEngine field}}
        />
      {{/each}}
    </div>
  {{/if}}
{{/if}}