{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<SecretListHeader
  @model={{this.model.backend}}
  @backendCrumb={{hash
    label=this.model.backend.id
    text=this.model.backend.id
    path="vault.cluster.secrets.backend.list-root"
    model=this.model.backend.id
  }}
  @isConfigure={{true}}
/>

{{#if this.isConfigurable}}
  <Toolbar>
    <ToolbarActions>
      <ToolbarLink
        @route="vault.cluster.secrets.backend.configuration.edit"
        @model={{this.model.backend.id}}
        data-test-secret-backend-configure
      >
        Configure
      </ToolbarLink>
    </ToolbarActions>
  </Toolbar>

  <SecretEngine::ConfigurationDetails @models={{this.model}} />
  <SecretsEngineMountConfig
    @model={{this.model.backend}}
    class="has-top-margin-xl has-bottom-margin-xl"
    data-test-mount-config
  />

{{else}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    {{#each this.model.backend.attrs as |attr|}}
      {{#if (eq attr.type "object")}}
        <InfoTableRow
          @alwaysRender={{not (is-empty-value (get this.model.backend attr.name))}}
          @label={{or attr.options.label (to-label attr.name)}}
          @value={{stringify (get this.model.backend (or attr.options.fieldValue attr.name))}}
        />
      {{else}}
        <InfoTableRow
          @alwaysRender={{and (not (is-empty-value (get this.model.backend attr.name))) (not-eq attr.name "version")}}
          @formatTtl={{eq attr.options.editType "ttl"}}
          @label={{or attr.options.label (to-label attr.name)}}
          @value={{get this.model.backend (or attr.options.fieldValue attr.name)}}
        />
      {{/if}}
    {{/each}}
  </div>
{{/if}}