<Toolbar>
  <ToolbarActions>
    {{#if this.model.canDelete}}
      <ConfirmAction
        @buttonClasses="toolbar-link"
        @onConfirmAction={{this.delete}}
        @confirmTitle="Delete application?"
        @confirmMessage="This application will be permanently deleted. You will need to re-create it to use it again."
        @confirmButtonText="Delete"
      >
        Delete client
      </ConfirmAction>
    {{/if}}
    {{#if this.model.canEdit}}
      <ToolbarLink @params={{array "vault.cluster.access.oidc.clients.client.edit" this.model.name}}>
        Edit client
      </ToolbarLink>
    {{/if}}
  </ToolbarActions>
</Toolbar>

<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  <InfoTableRow @label="Name" @value={{this.model.name}} />
  <InfoTableRow @label="Assignment" @value={{this.model.assignments}} />
  <InfoTableRow @label="Key">
    <LinkTo @route="vault.cluster.access.oidc.keys.key.details" @model={{this.model.key}}>
      {{this.model.key}}
    </LinkTo>
  </InfoTableRow>
  <InfoTableRow @label="Client ID" @value={{this.model.clientId}} @addCopyButton={{true}} />
  <InfoTableRow @label="Client Secret">
    <MaskedInput @value={{this.model.clientSecret}} @displayOnly={{true}} @allowCopy={{true}} />
  </InfoTableRow>
  <InfoTableRow @label="ID Token TTL" @value={{format-duration this.model.idTokenTtl}} />
  <InfoTableRow @label="Access Token TTL" @value={{format-duration this.model.accessTokenTtl}} />
</div>