{{#let (component "metrics/selectable-card") as |SelectableCard|}}
  <SelectableCard
    @class="grid-item-http"
    @containerGridItem="selectable-card width-medium is-rounded is-grid-container"
    @total={{totalHttpRequests}}
    @cardTitle="Http Requests"
    @gridItem="selectable-card-title"
    @subText="This month"
  >
    <div class="change-metric">
      <Icon @glyph="arrow-up" @size="xlm" aria-hidden="true" class="change-metric-icon {{if (gt percentChange 0) "is-increase" "is-decrease"}}"/>
      <p class="has-text-grey is-size-4 amount-change">{{percentChange}}%</p>
      <p class="has-text-grey is-size-6 item-c">Since last month</p>
    </div>
    <HttpRequestsBarChartSmall @counters={{filteredHttpsRequests}} class="chart"/>
    {{#link-to "vault.cluster.metrics.http-requests" class="card-details"}}View Details{{/link-to}}
  </SelectableCard>
{{/let}}

{{#let (component "metrics/selectable-card") as |SelectableCard|}}
  <SelectableCard 
    @cardTitle="Entities" 
    @class="selectable-card width-medium is-rounded"
    @total={{counters.totalEntities}}
    @subText="Total"
  >
    <div class="is-paddingless is-marginless">
      <div class="level-item">
        <PopupMenu name="engine-menu">
          <nav class="menu">
            <ul class="menu-list">
              <li class="action">
                {{#link-to "vault.cluster.access.identity" "entities" data-test-link=true }}
                  Manage entities
                {{/link-to}}
              </li>
              <li class="action">
                {{#link-to "vault.cluster.access.identity.create" "entities" }}
                Create entity
              {{/link-to}}
              </li>
            </ul>
          </nav>
        </PopupMenu>
      </div>
    </div>
  </SelectableCard>
{{/let}}

{{#let (component "metrics/selectable-card") as |SelectableCard|}}
  <SelectableCard 
    @cardTitle="Tokens"  
    @class="selectable-card width-medium is-rounded"
    @total={{counters.totalTokens}}
    @subText="Total"
  />
{{/let}}
