<div class="selectable-card-container-graph">
  <div class="selectable-card width-medium is-rounded is-grid-container grid-item-http">
    <div class="selectable-card-title">
      <p class="title-number">{{format-number totalHttpRequests}}</p>
      <p class="title is-5">HTTP Requests</p>
      <p class="has-text-grey is-size-8">This month</p>
    </div>
    <div class="change-metric">
      <Icon @glyph="arrow-up" @size="xlm" aria-hidden="true" class="change-metric-icon {{if (gt percentChangePreviousMonth 0) "is-increase" "is-decrease"}}"/>
      <p class="has-text-grey is-size-4 amount-change">{{percentChangePreviousMonth}}%</p>
      <p class="has-text-grey is-size-6 item-c">Since last month</p>
    </div>
    <HttpRequestsBarChartSmallView @counters={{filteredHttpsRequests}} class="chart"/>
    {{#link-to "vault.cluster.metrics.http-requests" class="card-details"}}View Details{{/link-to}}
  </div>
  {{#linked-block
    class="selectable-card width-medium is-rounded"
  }}
    <div>
      <p class="title-number">{{format-number counters.totalEntities}}</p>
      {{#if (not-eq counters.totalEntities 1)}}
      <p class="title is-5">Entities</p>
      {{else}}
      <p class="title is-5">Entity</p>
      {{/if}}
      <p class="has-text-grey is-size-8">Total</p>
    </div>
    <div class="is-paddingless is-marginless">
      <div class="level-item">
        <PopupMenu name="engine-menu">
          <nav class="menu">
            <ul class="menu-list">
              <li class="action">
                {{#link-to "vault.cluster.access.identity" "entities" data-test-link=true }}
                  Manage entities
                {{/link-to}}
              </li>
              <li class="action">
                {{#link-to "vault.cluster.access.identity.create" "entities" }}
                Create entity
              {{/link-to}}
              </li>
            </ul>
          </nav>
        </PopupMenu>
      </div>
    </div>
  {{/linked-block}}
  {{#linked-block
    class="selectable-card width-medium is-rounded"
  }}
    <div>
      <p class="title-number">{{format-number counters.totalTokens}}</p>
      {{#if (not-eq counters.totalTokens 1)}}
      <p class="title is-5">Tokens</p>
      {{else}}
      <p class="title is-5">Token</p>
      {{/if}}
      <p class="has-text-grey is-size-8">Total</p>
    </div>
  {{/linked-block}}
</div>
