{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if this.formComponent}}
  {{#let (component this.formComponent) as |AuthFormComponent|}}
    {{! renders Auth::Form::Base or Auth::Form::<Type>}}
    <AuthFormComponent
      @wrappedToken={{@wrappedToken}}
      @cluster={{@cluster}}
      @authType={{this.selectedAuthMethod}}
      @onSuccess={{@onSuccess}}
      @onError={{this.handleError}}
    >
      <:namespace>
        {{#if this.version.isEnterprise}}
          <Auth::NamespaceInput
            @updateNamespace={{@handleNamespaceUpdate}}
            @value={{this.namespaceInput}}
            @hvdManagedNamespace={{this.flags.hvdManagedNamespaceRoot}}
            @disabled={{@oidcProviderQueryParam}}
          />
        {{/if}}
      </:namespace>

      {{! "Back" button shows when user has clicked "Sign in with other methods" }}
      <:back>
        {{#if this.showOtherMethods}}
          <Hds::Button @text="Back" {{on "click" this.toggleView}} @color="tertiary" @icon="arrow-left" />
        {{/if}}
      </:back>

      {{! TABS OR DROPDOWN }}
      <:authSelectOptions>
        <div class="has-bottom-margin-m">
          {{#if this.showTabs}}
            <Auth::Tabs
              @authTabs={{this.authTabs}}
              @displayNameHelper={{this.displayName}}
              @onTabClick={{fn this.handleAuthSelect "tab"}}
              @selectedAuthMethod={{this.selectedAuthMethod}}
              @selectedTabIndex={{this.selectedTabIndex}}
            />
          {{else}}
            <Hds::Form::Select::Field name="selectedAuthMethod" {{on "input" (fn this.handleAuthSelect "dropdown")}} as |F|>
              <F.Label class="has-top-margin-m">Auth method</F.Label>
              <F.Options>
                {{#each this.availableMethodTypes as |type|}}
                  <option selected={{eq this.selectedAuthMethod type}} value={{type}}>
                    {{this.displayName type}}
                  </option>
                {{/each}}
              </F.Options>
            </Hds::Form::Select::Field>
            {{#if (not-eq this.selectedAuthMethod "token")}}
              <Hds::Form::TextInput::Field name="path" as |F|>
                <F.Label class="has-top-margin-m">Mount path</F.Label>
              </Hds::Form::TextInput::Field>
            {{/if}}
          {{/if}}
        </div>
      </:authSelectOptions>

      <:error>
        {{#if this.errorMessage}}
          <MessageError @errorMessage={{this.errorMessage}} />
        {{/if}}
      </:error>

      <:footer>
        {{#unless this.showOtherMethods}}
          <Hds::Button
            @isInline={{true}}
            @text="Sign in with other methods"
            @color="tertiary"
            @icon="arrow-right"
            @iconPosition="trailing"
            {{on "click" this.toggleView}}
          />
        {{/unless}}
      </:footer>
    </AuthFormComponent>
  {{/let}}
{{/if}}