{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::Tabs @onClickTab={{@onTabClick}} @selectedTabIndex={{@selectedTabIndex}} as |T|>
  {{#each-in @authTabs as |methodType mounts|}}
    <T.Tab data-test-auth-method={{methodType}}>{{@displayNameHelper methodType}}</T.Tab>
    <T.Panel>
      <div class="has-top-padding-m">
        {{! Elements "behind" tabs always render on the DOM and are just superficially hidden/shown. 
	        However, for accessibility, we only want to render form inputs relevant to the selected method. 
	        By wrapping the elements in this conditional, it only renders them when the tab is selected. }}
        {{#if (eq @selectedAuthMethod methodType)}}
          {{#if (gt mounts.length 1)}}
            {{! render dropdown of mount paths }}
            <Hds::Form::Select::Field name="path" data-test-select="path" as |F|>
              <F.Label>Mount path</F.Label>
              <F.Options>
                {{#each mounts as |mount|}}
                  <option value={{mount.path}}>{{mount.path}}</option>
                {{/each}}
              </F.Options>
            </Hds::Form::Select::Field>
          {{else}}
            {{#let (get mounts "0") as |mount|}}
              {{#if (and (eq @selectedAuthMethod "token") mount.description)}}
                {{! the token auth method does't support a custom path }}
                <Hds::Text::Body @tag="p" @color="faint">{{mount.description}} data-test-description</Hds::Text::Body>
              {{else}}
                {{! if it's the only available mount path render a readonly input }}
                <Hds::Form::TextInput::Field readonly name="path" @value={{mount.path}} data-test-input="path" as |F|>
                  <F.Label>Mount path</F.Label>
                  {{#if mount.description}}
                    <F.HelperText data-test-description>{{mount.description}}</F.HelperText>
                  {{/if}}
                </Hds::Form::TextInput::Field>
              {{/if}}
            {{/let}}
          {{/if}}
        {{/if}}
      </div>
    </T.Panel>
  {{/each-in}}
</Hds::Tabs>