{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  <Hds::Alert @type="inline" @color="warning" class="has-top-bottom-margin" data-test-warning as |A|>
    <A.Title>Warning</A.Title>
    <A.Description>
      You will not be able to access this information later, so please copy the information below.
    </A.Description>
  </Hds::Alert>
  {{#each @generatedFields as |item|}}
    <InfoTableRow @label={{item.label}} @value={{get @key item.field}} />
  {{/each}}
  {{#if (gt @qrSize 0)}}
    <div class="list-item-row">
      <div class="center-display column">
        <QrCode
          @text={{@key.url}}
          @colorLight="#F7F7F7"
          @width={{@qrSize}}
          @height={{@qrSize}}
          @correctLevel="L"
          data-test-qrcode
        />
      </div>
    </div>
  {{/if}}
</div>
<div class="field is-grouped box is-fullwidth is-bottomless">
  <div class="control">
    <Hds::Button @text="Continue" @color="secondary" {{on "click" @onReset}} data-test-back-button />
  </div>
</div>