<SecretListHeader
  @model={{model}}
  @backendCrumb={{hash label=model.id text=model.id path="vault.cluster.secrets.backend.list-root" model=model.id}}
  @isConfigure=true
/>

{{#if isConfigurable}}
  <Toolbar>
    <ToolbarActions>
      <ToolbarLink
        @params={{array 'vault.cluster.settings.configure-secret-backend' model.id}}
        @data-test-secret-backend-configure=true
      >
        Configure
      </ToolbarLink>
    </ToolbarActions>
  </Toolbar>
{{/if}}

<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  {{#each model.attrs as |attr|}}
    {{#if (eq attr.type "object")}}
      {{info-table-row
        alwaysRender=true
        label=(or attr.options.label (to-label attr.name))
        value=(stringify (get model attr.name))
      }}
    {{else}}
      {{info-table-row
        alwaysRender=(not-eq attr.name 'options.version')
        label=(or attr.options.label (to-label attr.name))
        value=(get model attr.name)
      }}
    {{/if}}
  {{/each}}
</div>
