{{#with (options-for-backend model.type) as |options|}}
  {{#page-header as |p|}}
    {{#p.top}}
      <nav aria-label="breadcrumbs" class="key-value-header breadcrumb">
        <ul>
          <li>
            <span class="sep">&#x0002f;</span>
            <a href={{href-to "vault.cluster.secrets"}}>
              secrets
            </a>
          </li>
        </ul>
      </nav>
    {{/p.top}}
    {{#p.levelLeft}}
      <h1 class="title is-3">
        {{model.id}}
        <span class="tag is-outlined is-inverted has-text-grey-dark is-font-mono">
          {{or options.displayName (capitalize model.type)}}
        </span>
        {{#if (eq model.options.version 2)}}
          <span class="has-text-grey-dark has-text-weight-normal is-size-6">
            Version 2
          </span>
        {{/if}}
      </h1>
    {{/p.levelLeft}}
    {{#p.levelRight}}
      <div class="control">
        <a href={{href-to
          "vault.cluster.settings.configure-secret-backend"
          model.id
          }}
          class="button has-icon-right is-ghost is-compact"
          data-test-secret-backend-configure=true
          >
          Configure
          {{i-con glyph="chevron-right" size=11}}
        </a>
      </div>
    {{/p.levelRight}}
  {{/page-header}}
  {{secret-tabs tabs=options.tabs item=options.item}}
{{/with}}
