{{!-- TODO smells a little to have action off of query param requiring a conditional --}}
{{#if (eq model.backendType 'database')}}
  <h1>meep</h1>
{{else}}
  <GenerateCredentials @backendPath={{model.backendPath}} @backendType={{model.backendType}} @roleName={{model.roleName}} @action={{if action action ""}} />
{{/if}}

