<PageHeader as |p|>
  <p.top>
    <KeyValueHeader
      @baseKey={{hash id=@model.id}}
      @path="vault.cluster.secrets.backend.show"
      @mode="show"
      @showCurrent={{true}} 
      @root={{backendCrumb}}
    />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      View diff
    </h1>
  </p.levelLeft>
</PageHeader>

<Toolbar>
  <div class="toolbar-right-container">
    {{!-- Left side version --}}
    <BasicDropdown
      @class="popup-menu"
      @horizontalPosition="auto-right"
      @verticalPosition="below"
      as |D|
    >
      <D.trigger
        data-test-popup-menu-trigger="version"
        @class={{concat "toolbar-link" (if D.isOpen " is-active")}}
        @tagName="button"
      >
        Version {{or this.leftSideVersionSelected @model.currentVersion}}
        <Chevron @direction="down" @isButton={{true}} />
      </D.trigger>
      <D.content @class="popup-menu-content">
        <nav class="box menu">
          <ul class="menu-list">
            {{#each (reverse @model.versions) as |leftSideSecretVersion|}}
              <li class="action">
                <button class="link" {{on "click" (fn this.selectLeftSideVersion leftSideSecretVersion.version D.actions)}}>
                  Version {{leftSideSecretVersion.version}}
                  {{#if (and (eq leftSideSecretVersion.version (or this.leftSideVersionSelected this.model.currentVersion)) (not leftSideSecretVersion.destroyed) (not leftSideSecretVersion.deleted))}}
                    <Icon @glyph="check-circle-outline" class="has-text-success is-pulled-right" />
                  {{else if leftSideSecretVersion.destroyed}}
                      <Icon @glyph="cancel-square-fill" class="has-text-danger is-pulled-right" />
                  {{else if leftSideSecretVersion.deleted}}
                      <Icon @glyph="cancel-square-fill" class="has-text-grey is-pulled-right" />
                  {{/if}}
                </button>
              </li>
            {{/each}}
          </ul>
        </nav>
      </D.content>
    </BasicDropdown>
    {{!-- Right side version --}}
    <div class="toolbar-right">
      <BasicDropdown
        @class="popup-menu"
        @horizontalPosition="right"
        @verticalPosition="below"
        as |D|
      >
        <D.trigger
          @class={{concat "toolbar-link" (if D.isOpen " is-active")}}
          @tagName="button"
        >
          Version {{or this.rightSideVersionSelected this.getRightSideVersionInit}}
          <Chevron @direction="down" @isButton={{true}} />
        </D.trigger>
        <D.content @class="popup-menu-content">
          <nav class="box menu">
            <ul class="menu-list">
              {{#each (reverse @model.versions) as |rightSideSecretVersion|}}
                <li class="action">
                  {{!-- ARG TODO test when versions are destroyed or deleted --}}
                  <button class="link" {{on "click" (fn this.selectRightSideVersion rightSideSecretVersion.version D.actions)}} >
                    Version {{rightSideSecretVersion.version}}
                    {{#if (and (eq rightSideSecretVersion.version (or this.rightSideVersionSelected this.getRightSideVersionInit)) (not rightSideSecretVersion.destroyed) (not rightSideSecretVersion.deleted))}}
                      <Icon @glyph="check-circle-outline" class="has-text-success is-pulled-right" />
                    {{else if rightSideSecretVersion.destroyed}}
                        <Icon @glyph="cancel-square-fill" class="has-text-danger is-pulled-right" />
                    {{else if rightSideSecretVersion.deleted}}
                        <Icon @glyph="cancel-square-fill" class="has-text-grey is-pulled-right" />
                    {{/if}}
                  </button>
                </li>
              {{/each}}
            </ul>
          </nav>
        </D.content>
      </BasicDropdown>
    </div>
  </div>
</Toolbar>

<div class="form-section">
  <JsonEditor
    @value="some value"
    @showToolbar={{false}}
    @leftSideVersionData={{or this.leftSideVersionDataSelected (await this.leftSideDataInit)}}
    @rightSideVersionData={{or this.rightSideVersionDataSelected (await this.rightSideDataInit)}}
    @diffView=true>
  </JsonEditor> 
</div>

