{{#with (options-for-backend backendType tab) as |options|}}
  <header class="page-header">
    {{key-value-header
      baseKey=baseKey
      path="vault.cluster.secrets.backend.list"
      root=backendCrumb
    }}
    <div class="level">
      <div class="level-left">
        <h1 class="title is-3">
          {{backend}}
          <span class="tag is-outlined is-inverted has-text-grey-dark is-font-mono">
            {{or options.displayName (capitalize backendType)}}
          </span>
          {{#if (eq backendModel.options.version 2)}}
            <span class="has-text-grey-dark has-text-weight-normal is-size-6">
              Version 2
            </span>
          {{/if}}
        </h1>
      </div>
      <div class="level-right field is-grouped">
        {{#if (and (not-eq tab "certs") capabilities.canCreate)}}
          <div class="control">
            {{#secret-link
              mode="create"
              secret=(or baseKey.id '')
              queryParams=(query-params initialKey='')
              class="button has-icon-right is-ghost is-compact"
              data-test-secret-create=true
            }}
              {{options.create}}
              {{i-con glyph="chevron-right" size=11}}
            {{/secret-link}}
          </div>
        {{/if}}
        {{#if (or (eq backendType "aws") (eq backendType "ssh") (eq backendType "pki"))}}
          <div class="control">
            <a href={{href-to
              "vault.cluster.settings.configure-secret-backend"
              backend
              }}
              class="button has-icon-right is-ghost is-compact"
              data-test-secret-backend-configure=true
              >
              Configure
              {{i-con glyph="chevron-right" size=11}}
            </a>
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{#if options.tabs}}
    <div class="box is-bottomless is-marginless is-fullwidth is-paddingless">
      <nav class="tabs sub-nav">
        <ul>
          {{#each options.tabs as |oTab|}}
            {{#if oTab.tab}}
              {{#link-to 'vault.cluster.secrets.backend.list-root' (query-params tab=oTab.tab) tagName="li" activeClass="is-active" data-test-tab=oTab.label}}
                {{#link-to 'vault.cluster.secrets.backend.list-root' (query-params tab=oTab.tab)}}
                  {{oTab.label}}
                {{/link-to}}
              {{/link-to}}
            {{else}}
              {{#link-to 'vault.cluster.secrets.backend.list-root' (query-params tab='') tagName="li" activeClass="is-active" data-test-tab=oTab.label}}
                {{#link-to 'vault.cluster.secrets.backend.list-root' (query-params tab='')}}
                  {{oTab.label}}
                {{/link-to}}
              {{/link-to}}
            {{/if}}
          {{/each}}
        </ul>
      </nav>
    </div>
  {{/if}}
  <div class="box is-sideless has-background-grey-lighter has-short-padding is-marginless">
    <div class="level">
      <div class="level-left">
        {{navigate-input
           enterpriseProduct="vault"
           filterFocusDidChange=(action "setFilterFocus")
           filterDidChange=(action "setFilter")
           filter=filter
           filterMatchesKey=filterMatchesKey
           firstPartialMatch=firstPartialMatch
           baseKey=(get baseKey "id")
           shouldNavigateTree=options.navigateTree
           placeholder=options.searchPlaceholder
           mode=(if (eq tab 'certs') 'secrets-cert' 'secrets')
         }}
         {{#if filterFocused}}
           &nbsp;
           &nbsp;
          {{#if filterMatchesKey}}
            {{#unless filterIsFolder}}
              <p class="help has-text-grey is-size-8">
                <kbd>Enter</kbd> to view {{filter}}
              </p>
            {{/unless}}
          {{/if}}
          {{#if firstPartialMatch}}
            <p class="help has-text-grey is-size-8">
              <kbd>Tab</kbd> to autocomplete
            </p>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
  {{#if model.meta.total}}
    {{#each model as |item|}}
      {{partial options.listItemPartial}}
    {{else}}
      <div class="box is-sideless">
        {{#if filterFocused}}
          There are no {{pluralize options.item}} matching <code>{{filter}}</code>
          {{#if capabilities.canCreate}}, press <kbd>ENTER</kbd> to add one{{/if}}.
        {{else}}
          There are no {{pluralize options.item}} matching <code>{{filter}}</code>.
        {{/if}}
      </div>
    {{/each}}
  {{else}}
    <div class="box is-bottomless has-background-white-bis">
      <div class="columns is-centered">
        <div class="column is-half has-text-centered">
          <div class="box is-shadowless has-background-white-bis">
            <p class="has-text-grey">
              {{#if (eq baseKey.id '')}}
                There are currently no {{pluralize options.item}} in this backend.
              {{else}}
                {{#if filterIsFolder}}
                    {{#if (eq filter baseKey.id)}}
                      There are no {{pluralize options.item}} under <code>{{or filter}}</code>.
                    {{else}}
                      We couldn't find a folder matching <code>{{filter}}</code>.
                    {{/if}}
                {{/if}}
              {{/if}}
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/with}}
{{#if (gt model.meta.lastPage 1) }}
  {{list-pagination
    page=model.meta.currentPage
    lastPage=model.meta.lastPage
    link=(concat "vault.cluster.secrets.backend.list" (if (not baseKey.id) "-root"))
    model=(compact (array backend (if baseKey.id baseKey.id)))
  }}
{{/if}}
