{{secret-list-header isCertTab=(eq tab "certs") model=backendModel baseKey=baseKey backendCrumb=backendCrumb filter=filter}}

{{#with (options-for-backend backendType tab) as |options|}}
  {{#if model.meta.total}}
    <div class="box is-sideless has-background-grey-lighter has-short-padding is-marginless">
      <div class="level">
        <div class="level-left">
          {{navigate-input
            enterpriseProduct="vault"
            filterFocusDidChange=(action "setFilterFocus")
            filterDidChange=(action "setFilter")
            filter=filter
            filterMatchesKey=filterMatchesKey
            firstPartialMatch=firstPartialMatch
            baseKey=(get baseKey "id")
            shouldNavigateTree=options.navigateTree
            placeholder=options.searchPlaceholder
            mode=(if (eq tab 'certs') 'secrets-cert' 'secrets')
          }}
          {{#if filterFocused}}
            {{#if filterMatchesKey}}
              {{#unless filterIsFolder}}
                <p class="input-hint">
                  <kbd>Enter</kbd> to view {{filter}}
                </p>
              {{/unless}}
            {{/if}}
            {{#if firstPartialMatch}}
              <p class="input-hint">
                <kbd>Tab</kbd> to autocomplete
              </p>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    {{#each model as |item|}}
      {{partial options.listItemPartial}}
    {{else}}
      <div class="box is-sideless">
        {{#if filterFocused}}
          There are no {{pluralize options.item}} matching <code>{{filter}}</code>, press <kbd>ENTER</kbd> to add one.
        {{else}}
          There are no {{pluralize options.item}} matching <code>{{filter}}</code>.
        {{/if}}
      </div>
    {{/each}}
    {{#if (gt model.meta.lastPage 1) }}
      {{list-pagination
        page=model.meta.currentPage
        lastPage=model.meta.lastPage
        link=(concat "vault.cluster.secrets.backend.list" (if (not baseKey.id) "-root"))
        model=(compact (array backend (if baseKey.id baseKey.id)))
      }}
    {{/if}}
  {{else}}
    <div class="empty-state">
      <div class="empty-state-content">
        {{#if (eq baseKey.id '')}}
          <div class="empty-state-title">
            No {{pluralize options.item}} in this backend yet
          </div>
          <div class="empty-state-message">
            Secrets in this backend will be listed here. Add a secret to get started.
          </div>
          <div class="empty-state-actions">
            {{#secret-link
              mode="create"
              secret=''
              queryParams=(query-params initialKey=(or filter baseKey.id))
              class="link"
            }}
              {{options.create}}
            {{/secret-link}}
          </div>
        {{else}}
          {{#if filterIsFolder}}
            <div class="empty-state-title">
              {{#if (eq filter baseKey.id)}}
                No {{pluralize options.item}} under <code>{{or filter}}</code>
              {{else}}
                No folders matching <code>{{filter}}</code>
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/with}}
