<SecretListHeader
  @isCertTab={{eq tab "certs"}}
  @model={{model}}
  @baseKey={{baseKey}}
  @backendCrumb={{backendCrumb}}
  @filter={{filter}}
/>
<div class="box is-fullwidth is-shadowless has-tall-padding">
  <div class="selectable-card-container">
    <SelectableCard
      @cardTitle="Connections"
      @total={{model.connections.length}}
      @subText="The total number of connections to external databases that you have access to."
      @actionCard={{true}}
      @actionText="Configure new"
      @actionTo={{vault.cluster.secrets.backend.list-root}}
      @queryParam={{'connection'}}
    />
    <SelectableCard
      @cardTitle="Roles"
      @total={{add model.roles.length model.staticRoles.length}}
      @subText="The total number of roles that have been set up, both dynamic and static."
      @actionCard={{true}}
      @actionText="Create new"
      @actionTo={{vault.cluster.secrets.backend.list-root}}
      @queryParam={{'role'}}
    />
    <GetCredentialsCard 
      @title="Get Credentials"
      @searchLabel="Role to use"
      @backend={{model.backend}}
      @models={{array 'database/role' 'database/static-role'}}
    />
  </div>
</div>
