<SecretListHeader
  @isCertTab={{eq tab "certs"}}
  @model={{model}}
  @baseKey={{baseKey}}
  @backendCrumb={{backendCrumb}}
  @filter={{filter}}
/>
<div class="box is-fullwidth is-shadowless has-tall-padding">
  {{!-- If 404 no data and therefore empty state --}}
  {{#if (and (and (eq model.connections 404) (eq model.roles 404)) (eq model.staticRoles 404))}}
    <EmptyState
      @title="Connect a database"
      @message="We can connect an external database to Vault. We recommend that you create a user for Vault rather than using the database's root user."
    >
    {{!-- ARG TODO connect link when the --}}
      <SecretLink @mode="create" @secret="" @queryParams={{query-params initialKey=(or filter baseKey.id) itemType=tab}} @class="link">
        Connect a database
      </SecretLink>
    </EmptyState>
  {{else}}
    <div class="selectable-card-container {{if (and (eq model.connections 403) (and (eq model.roles 403) (eq model.staticRoles 403))) 'one-card'}}">
      {{#unless (eq model.connections 403)}}
        <SelectableCard
          @cardTitle="Connections"
          @total={{model.connections.length}}
          @subText="The total number of connections to external databases that you have access to."
          @actionCard={{true}}
          @actionText="Configure new"
          @actionTo="vault.cluster.secrets.backend.create-root"
          @queryParam={{'connection'}}
        />
      {{/unless}}
      {{#unless (and (eq model.roles 403) (eq model.staticRoles 403)) }}
        <SelectableCard
          @cardTitle="Roles"
          @total={{add model.roles.length model.staticRoles.length}}
          @subText="The total number of roles that have been set up, both dynamic and static."
          @actionCard={{true}}
          @actionText="Create new"
          @actionTo="vault.cluster.secrets.backend.create-root"
          @queryParam={{'role'}}
        />
      {{/unless}}
      <GetCredentialsCard 
        @title="Get Credentials"
        @searchLabel="Role to use"
        @backend={{model.backend}}
        @models={{array 'database/role' 'database/static-role'}}
      />
    </div>
  {{/if}}
</div>
