{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if this.isLoading}}
  <span class="has-text-grey-light">Loading...</span>
{{else if this.hasError}}
  <span class="has-text-grey" title="Could not load entity name">{{@entityId}}</span>
{{else}}
  <span title="{{@entityId}}">{{this.entityName}}</span>
{{/if}}