{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if this.isLoading}}
  <span class="has-text-grey-light">Loading...</span>
{{else if this.hasError}}
  <span class="has-text-grey" title="Could not load group name">{{@groupId}}</span>
{{else}}
  <span title="{{@groupId}}">{{this.groupName}}</span>
{{/if}}