{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

{{#each @model.policies as |policyName|}}
  <LinkedBlock @params={{array "vault.cluster.policy.show" "acl" policyName}} class="list-item-row">
    <div class="columns is-mobile">
      <div class="column is-10">
        <LinkTo
          @route="vault.cluster.policy.show"
          @models={{array "acl" policyName}}
          class="is-block has-text-black has-text-weight-semibold"
        >
          <span class="is-underline">{{policyName}}</span>
        </LinkTo>
      </div>
      <div class="column has-text-right">
        {{#if @model.canEdit}}
          <Identity::PopupPolicy @model={{@model}} @policyName={{policyName}} />
        {{/if}}
      </div>
    </div>
  </LinkedBlock>
{{else}}
  <Hds::ApplicationState @align="center" class="top-padding-32" as |A|>
    <A.Header data-test-empty-state-title @title="No policies associated with {{@model.name}} yet" />
  </Hds::ApplicationState>
{{/each}}