{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Toolbar>
  <ToolbarActions>
    <ToolbarLink @route="vault.cluster.access.oidc.scopes.create" @type="add" data-test-oidc-scope-create>
      Create scope
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

{{#if this.model.scopes}}
  {{#each this.model.scopes as |scope|}}
    <LinkedBlock
      class="list-item-row"
      @params={{array "vault.cluster.access.oidc.scopes.scope.details" scope}}
      data-test-oidc-scope-linked-block={{scope}}
    >
      <div class="level is-mobile">
        <div class="level-left">
          <div>
            <Icon @name="file" class="has-text-grey-light" />
            <span class="has-text-weight-semibold is-underline">
              {{scope}}
            </span>
          </div>
        </div>
        <div class="level-right is-flex is-paddingless is-marginless">
          <div class="level-item">
            <Hds::Dropdown @isInline={{true}} @listPosition="bottom-right" as |dd|>
              <dd.ToggleIcon
                @icon="more-horizontal"
                @text="Assignment nav options"
                @hasChevron={{false}}
                data-test-popup-menu-trigger
              />
              <dd.Interactive
                @route="vault.cluster.access.oidc.scopes.scope.details"
                @model={{scope}}
                @disabled={{not
                  (has-capability this.model.capabilities "read" pathKey="oidcScope" params=(hash name=scope))
                }}
                data-test-oidc-scope-menu-link="details"
              >
                Details
              </dd.Interactive>
              <dd.Interactive
                @route="vault.cluster.access.oidc.scopes.scope.edit"
                @model={{scope}}
                @disabled={{not
                  (has-capability this.model.capabilities "update" pathKey="oidcScope" params=(hash name=scope))
                }}
                data-test-oidc-scope-menu-link="edit"
              >
                Edit
              </dd.Interactive>
            </Hds::Dropdown>
          </div>
        </div>
      </div>
    </LinkedBlock>
  {{/each}}
{{else}}
  <Hds::ApplicationState class="top-padding-32 is-marginless" data-test-oidc-scope-empty-state as |A|>
    <A.Header data-test-empty-state-title @title="No scopes yet" @titleTag="h2" />
    <A.Body data-test-empty-state-message @text="Use scope to define identity information about the authenticated user." />
    <A.Footer data-test-empty-state-actions as |F|>
      <F.LinkStandalone
        @iconPosition="trailing"
        @icon="docs-link"
        @text="OIDC provider scopes"
        @href={{doc-link "/vault/docs/concepts/oidc-provider#scopes"}}
      />
    </A.Footer>
  </Hds::ApplicationState>
{{/if}}