{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Toolbar />
<div class="box is-fullwidth is-shadowless is-marginless">
  <h4 class="title is-5 is-marginless">
    Edit path filter config for
    <code>{{this.model.config.id}}</code>
  </h4>
</div>
<form {{action "saveConfig" this.model.config on="submit"}}>
  <PathFilterConfigList @paths={{this.model.paths}} @config={{this.model.config}} />
  <div class="field is-grouped is-grouped-split is-fullwidth box is-bottomless">
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-primary" data-test-config-save>
          Update
        </button>
      </div>
      <div class="control">
        <LinkTo @route="mode.secondaries.config-show" @model={{this.model.config.id}} class="button">
          Cancel
        </LinkTo>
      </div>
    </div>
  </div>
</form>