{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Toolbar />
<div class="box is-fullwidth is-shadowless is-marginless">
  <h4 class="title is-5 is-marginless">
    Edit path filter config for
    <code>{{this.model.config.id}}</code>
  </h4>
</div>
<form {{action "saveConfig" this.model.config on="submit"}}>
  <PathFilterConfigList @paths={{this.model.paths}} @config={{this.model.config}} />
  <hr class="has-background-gray-100" />
  <Hds::ButtonSet>
    <Hds::Button @text="Update" type="submit" data-test-config-save />
    <Hds::Button @text="Cancel" @color="secondary" @route="mode.secondaries.config-show" @model={{this.model.config.id}} />
  </Hds::ButtonSet>
</form>