{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<KvHeader
  @backend={{this.backend}}
  @pageTitle={{this.backend}}
  @breadcrumbs={{this.breadcrumbs}}
  @mountName={{this.mountName}}
>
  <:tabs>
    <li><LinkTo @route="list" @model={{this.mountName}} data-test-secrets-tab="Secrets">Secrets</LinkTo></li>
    <li><LinkTo
        @route="configuration"
        @model={{this.mountName}}
        data-test-secrets-tab="Configuration"
      >Configuration</LinkTo></li>
  </:tabs>
</KvHeader>

<Page::Error @error={{this.model}} />