{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Page::Header @title={{@path}} @icon={{this.backend.icon}}>
  <:breadcrumbs>
    <Page::Breadcrumbs @breadcrumbs={{this.breadcrumbs}} />
  </:breadcrumbs>
</Page::Header>

<KvTabsToolbar>
  <:tabs>
    <li><LinkTo @route="list" @model={{this.mountName}} data-test-secrets-tab="Secrets">Secrets</LinkTo></li>
    <li><LinkTo
        @route="configuration"
        @model={{this.mountName}}
        data-test-secrets-tab="Configuration"
      >Configuration</LinkTo></li>
  </:tabs>
</KvTabsToolbar>

<Page::Error @error={{this.model}} />