<section class="section">
  <div class="container is-widescreen">
    <ReplicationPage @model={{model}} as |Page|>
      <Page.header
        @showTabs={{true}}
      />
      {{#if Page.isDisabled}}
        <EmptyState
          @title="Disaster Recovery secondary not set up"
          @message={{Page.message}}
          @icon="alert-circle-outline"
          @bottomBorder={{true}}
        >
          <nav class="breadcrumb">
            <ul class="is-grouped-split">
              <li>
                {{#link-to "vault.cluster.secrets.backends" }}
                  <span class="sep"/>
                  Go back
                {{/link-to}}
              </li>
              <li>
                <LearnLink @path="/vault/operations/ops-disaster-recovery" @class="has-text-grey">
                  Need help?
                </LearnLink>
              </li>
            </ul>
          </nav>
        </EmptyState>
      {{else}}
        <section>
          <ReplicationActions
            @replicationMode="dr"
            @model={{model}}
            />
        </section>
      {{/if}}
    </ReplicationPage>
  </div>
</section>
