{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}
{{#let (engines-display-data @model.secretsEngine.type) as |engineDisplayData|}}
  <Page::Header
    @title="{{@model.secretsEngine.id}} configuration"
    @description={{engineDisplayData.displayName}}
    @icon={{engineDisplayData.glyph}}
  >
    <:breadcrumbs>
      <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
    </:breadcrumbs>
    <:actions>
      <Hds::Button
        @color="secondary"
        @route={{exit-configuration-route @model.secretsEngine.type @model.secretsEngine.version}}
        @text="Exit configuration"
        data-test-button="Exit configuration"
      />
    </:actions>
  </Page::Header>
  <Mount::ConfigureTabs
    @configRoute={{this.configRoute}}
    @displayName={{engineDisplayData.displayName}}
    @path={{@model.secretsEngine.id}}
  />
{{/let}}
<form
  method="POST"
  {{on "submit" (perform this.saveGeneralSettings)}}
  aria-label="general settings form"
  id="general-settings-form"
>
  <Hds::Text::Body @tag="p" class="has-top-margin-xs">
    Mount parameters that you can tune to fit required engine behavior.
  </Hds::Text::Body>

  <MessageError @errorMessage={{this.errorMessage}} @errors={{this.errors}} />

  <Hds::Layout::Grid @columnMinWidth="32%" @gap="32" as |LG|>
    <LG.Item @colspan={{1}}>
      <SecretEngine::Card::Version
        @model={{this.versionModel}}
        @onReload={{this.handleVersionReload}}
        class="is-fullwidth"
      />
      <SecretEngine::Card::Metadata @model={{@model}} class="is-fullwidth" />
    </LG.Item>
    <LG.Item @colspan={{1}}>
      <SecretEngine::Card::SecretsDuration
        @model={{@model}}
        @defaultLeaseUnit={{this.defaultLeaseUnit}}
        @maxLeaseUnit={{this.maxLeaseUnit}}
        class="is-fullwidth"
      />
      <SecretEngine::Card::Security @model={{@model}} class="is-fullwidth" />
    </LG.Item>
  </Hds::Layout::Grid>
  <div class="field is-grouped has-top-bottom-margin">
    <Hds::ButtonSet>
      <Hds::Button
        @text="Save changes"
        @icon={{if this.saveGeneralSettings.isRunning "loading"}}
        @isIconOnly={{false}}
        type="submit"
        disabled={{this.saveGeneralSettings.isRunning}}
        data-test-submit
      />
      <Hds::Button
        @text="Discard"
        @color="secondary"
        disabled={{this.saveGeneralSettings.isRunning}}
        {{on "click" (fn this.unsavedChanges.transition "vault.cluster.secrets.backend.configuration.general-settings")}}
        data-test-cancel
      />
    </Hds::ButtonSet>
  </div>
</form>

<UnsavedChangesModal
  @onSave={{this.saveGeneralSettings}}
  @onDiscard={{(fn this.unsavedChanges.transition "vault.cluster.secrets.backend.configuration.general-settings")}}
  @changedFields={{this.modalChangedFields}}
/>