{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}
<SecretEngine::PageHeader @model={{@model}} />

{{#if this.saveGeneralSettings.isRunning}}
  {{! TODO: Fix loading state styles }}
  <Hds::Layout::Flex @gap="24" @direction="column" @justify="center" @align="center">
    <div class="one-fourth-width">
      <Hds::Icon @name="loading-static" @size="24" @stretched={{true}} />
    </div>
    <Hds::Text::Display @tag="h2">Saving configuration...</Hds::Text::Display>
  </Hds::Layout::Flex>
{{else}}
  <form
    method="POST"
    {{on "submit" (perform this.saveGeneralSettings)}}
    aria-label="general settings form"
    id="general-settings-form"
  >
    <Hds::Text::Body class="has-top-bottom-margin-xxs">
      Mount parameters that you can tune to fit required engine behavior.
    </Hds::Text::Body>

    <MessageError @errorMessage={{this.errorMessage}} />

    <Hds::Layout::Grid @columnMinWidth="32%" @gap="32" as |LG|>
      <LG.Item @colspan={{1}}>
        <SecretEngine::Card::Version @model={{@model}} class="is-fullwidth" />
        <SecretEngine::Card::Metadata @model={{@model}} class="is-fullwidth" />
      </LG.Item>
      <LG.Item @colspan={{1}}>
        <SecretEngine::Card::LeaseDuration @model={{@model}} class="is-fullwidth" />
        <SecretEngine::Card::Security @model={{@model}} class="is-fullwidth" />
      </LG.Item>
    </Hds::Layout::Grid>
    <div class="field is-grouped has-top-bottom-margin">
      <Hds::ButtonSet>
        <Hds::Button @text="Save changes" type="submit" disabled={{this.saveGeneralSettings.isRunning}} data-test-submit />
        <Hds::Button @text="Discard" @color="secondary" data-test-cancel {{on "click" this.openUnsavedChangesModal}} />
      </Hds::ButtonSet>
    </div>
  </form>
{{/if}}

{{#if this.showUnsavedChangesModal}}
  <Hds::Modal id="unsavedChangesModal" @onClose={{this.closeUnsavedChangesModal}} data-test-modal="unsaved-changes" as |M|>
    <M.Header data-test-modal-header="unsaved-changes">
      Unsaved changes
    </M.Header>
    <M.Body data-test-modal-body="unsaved-changes">
      <p class="hds-typography-body-300 hds-foreground-primary">You've made changes to the following
        <Hds::Text::Display>{{@model.secretsEngine.id}}</Hds::Text::Display>
        settings:</p>
      <br />
      {{#each this.changedFields as |changedField|}}
        <Hds::Text::Display>{{capitalize changedField}}</Hds::Text::Display>
        <br />
      {{/each}}
      <br />
      Would you like to apply them?
    </M.Body>
    <M.Footer>
      <Hds::ButtonSet>
        <Hds::Button
          type="button"
          @text="Save changes"
          data-test-button="save"
          {{on "click" (perform this.saveGeneralSettings)}}
        />
        <Hds::Button
          type="button"
          @text="Discard changes"
          @color="secondary"
          data-test-button="discard"
          {{on "click" this.discardChanges}}
        />
      </Hds::ButtonSet>
    </M.Footer>
  </Hds::Modal>
{{/if}}