{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if this.showConfirm}}
  {{#maybe-in-element this.wormholeReference false}}
    <div class="confirm-action-message">
      <div class="message is-highlight">
        <div class="message-title">
          <Icon @name="alert-triangle-fill" />
          {{this.title}}
        </div>
        <p>
          {{this.message}}
        </p>
      </div>
      <div class="confirm-action-options">
        <button type="button" class="link is-destroy" data-test-confirm-button="true" onclick={{action "onConfirm"}}>
          {{this.confirmButtonText}}
        </button>
        <button type="button" class="link" data-test-confirm-cancel-button="true" {{action this.onCancel}}>
          {{this.cancelButtonText}}
        </button>
      </div>
    </div>
  {{/maybe-in-element}}
{{/if}}

<button
  type="button"
  class="link is-destroy"
  disabled={{this.showConfirm}}
  onclick={{action this.onTrigger this.id}}
  data-test-confirm-action-trigger={{this.id}}
  ...attributes
>
  {{this.triggerText}}
</button>