---
description: "Vault secures, stores, and tightly controls access to tokens, passwords, certificates, API keys, and other secrets in modern computing. Vault handles leasing, key revocation, key rolling, auditing, and provides secrets as a service through a unified API."
---

<% page = dato.vault_oss_page %>

<hashi-product-subnav project_site="true" current_path="<%= current_page.path %>" _data="<%= encode({
  products: dato.enterprise_products.map(&:to_hash),
  subnav: dato.vault_product_page.subnav.to_hash
}) %>"></hashi-product-subnav>

<hashi-hero _data="<%= encode(page.hero) %>"></hashi-hero>
<div class='g-section-block'>
  <section class='g-container'>
    <hashi-section-header
      headline="<%= page.use_cases_headline.headline %>"
      description="<%= page.use_cases_headline.description %>"
    ></hashi-section-header>

    <hashi-callouts _data="<%= encode(page.use_cases_callouts[0]) %>"></hashi-callouts>
  </section>

  <section class='g-container'>
    <hashi-section-header
      headline="<%= page.documentation_headline.headline %>"
      description="<%= page.documentation_headline.description %>"
    ></hashi-section-header>

    <hashi-linked-text-summary-list _data="<%= encode(data.docs_basic_categories) %>"></hashi-linked-text-summary-list>
  </section>

  <section class='gray'>
    <div class='g-container'>
      <hashi-section-header
        headline="<%= page.features_headline.headline %>"
        description="<%= page.features_headline.description %>"
      ></hashi-section-header>

      <div class='button-container'>
        <% if page.features_buttons %>
          <% page.features_buttons.buttons.each do |btn| %>
            <hashi-button
              title="<%= btn.text %>"
              url="<%= btn.url %>"
            ></hashi-button>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <section class='no-pad'>
    <hashi-split-cta _data="<%= encode(page.oss_enterprise_ctas.items) %>"></hashi-split-cta>
  </section>
</div>
