<%= partial "partials/subnav" %>

<div class='g-section-block page-wrap'>

  <%-# Header / Buttons -%>

  <section class='g-container'>
    <hashi-section-header
      headline="Secrets Management in Low Trust Networks"
      description="Centrally store, access, and deploy secrets across applications, systems, and infrastructure"
      use_h1="true"
    ></hashi-section-header>

    <div class='button-container'>
      <hashi-button
        title="Download"
        url="/downloads.html"
      ></hashi-button>
      <hashi-button
        title="Get Started"
        url="/intro"
        classes="dark-outline"
      ></hashi-button>
    </div>
  </section>

  <%-# Before After Diagram -%>

  <section class="pad-bottom">
    <div class="g-container">
      <hashi-before-after _data='<%= encode({
        before_image: {
          url: "https://www.datocms-assets.com/2885/1539885048-secrets-managementchallenge.svg",
          format: "svg"
        },
        before_headline: "The Challenge",
        before_content: "Secrets for applications and systems need to be centralized and static IP-based solutions don\'t scale in dynamic environments with frequently changing applications and machines",
        after_image: {
          url: "https://www.datocms-assets.com/2885/1539885054-secrets-managementsolution.svg",
          format: "svg"
        },
        after_headline: "The Solution",
        after_content: "Vault centrally manages and enforces access to secrets and systems based on trusted sources of application and user identity"
      }) %>'></hashi-before-after>
    </div>
  </section>

  <%-# Case Study Slider -%>

  <section class="g-section-block theme-black-background-white-text">
    <div class="g-container">
      <hashi-case-study-slider _data="<%= encode(dato.vault_product_page.use_case_pages[0].content[2].layout.content[0].to_hash(4)) %>" dark='<%= true %>'></hashi-case-study-slider>
    </div>
  </section>

  <%-# Features / Text And Content -%>

  <section class='g-container pad-bottom'>
    <hashi-section-header headline="Secret Management Features"></hashi-section-header>

    <hashi-text-and-content _data='<%= encode({
        text: "### Dynamic Secrets

Dynamically create, revoke, and rotate secrets programmatically",
        content: {
            item_type: "sbc_image",
            image: {
                url: "https://www.datocms-assets.com/2885/1538684923-dynamic-secrets-screenshot.jpg",
                format: "jpg",
                size: 71545,
                width: 668,
                height: 504
            }
        }
    }) %>'></hashi-text-and-content>

    <hashi-text-and-content _data='<%= encode({
        reverse_direction: true,
        text: "### Secret Storage

Encrypt data while at rest, in the storage backend of your choice",
        content: {
          item_type: "sbc_code_block",
          chrome: true,
          code: "$ cat vault.config

storage \"consul\" {
    address = \"127.0.0.1:8500\"
    path    = \"vault\"
}

listener \"tcp\" {
    address = \"127.0.0.1:8200\"
}

telemetry {
    statsite_address = \"127.0.0.1:8125\"
    disable_hostname = true
}"
    }
}) %>'></hashi-text-and-content>

<% secure_text_and_content = {
        text: "### Secure Plugins

Improve the extensibility of Vault with pluggable secret backends",
        content: {
            item_type: "sbc_logo_grid",
            companies: dato.vault_product_page.use_case_pages[0].content[3].layout.content[4].content.companies.to_hash
        }

} %>
    <hashi-text-and-content _data='<%= encode(secure_text_and_content) %>'></hashi-text-and-content>

    <hashi-text-and-content _data='<%= encode({
        reverse_direction: true,
        text: "### Detailed Audit Logs

Detailed audit log of all client interaction (authentication, token creation, secret access & revocation)",
        content: {
          item_type: "sbc_code_block",
          chrome: true,
          code: "$ cat audit.log | jq {
    \"time\": \"2018-08-27T13:17:11.609621226Z\",
    \"type\": \"response\",
    \"auth\": {
        \"client_token\": \"hmac-sha256:5c40f1e051ea75b83230a5bf16574090f697dfa22a78e437f12c1c9d226f45a5\",
        \"accessor\": \"hmac-sha256:f254a2d442f172f0b761c9fd028f599ad91861ed16ac3a1e8d96771fd920e862\",
        \"display_name\": \"token\",
        \"metadata\": null,
        \"entity_id\": \"\"
    }
}"
    }
}) %>'></hashi-text-and-content>

    <hashi-text-and-content _data='<%= encode({
        text: "### Leasing & Revoking Secrets

Manage authorization and create time-based tokens for automatic revocation or manual revocation",
        content: {
          item_type: "sbc_code_block",
          chrome: true,
          code: "$ vault read database/creds/readonly

Key             Value
---             -----
lease_id        database/creds/readonly/3e8174da-6ca0-143b-aa8c-4c238aa02809
lease_duration  1h0m0s
lease_renewable true
password        A1a-w2xv2zsq4r5ru940
username        v-token-readonly-48rt0t36sxp4wy81x8x1-1515627434
[...]

$ vault renew database/creds/readonly/3e8174da-6ca0-143b-aa8c-4c238aa02809

Key             Value
---             -----
lease_id        database/creds/readonly/3e8174da-6ca0-143b-aa8c-4c238aa02809
lease_duration  1h0m0s
lease_renewable true
$ vault lease revoke database/creds/readonly/3e8174da-6ca0-143b-aa8c-4c238aa02809"
    }
}) %>'></hashi-text-and-content>
  </section>

  <%= partial "partials/use-case-cta-section" %>

</div>