{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}
<Messages::TabPageHeader
  @authenticated={{@message.authenticated}}
  @pageTitle="{{if @message.isNew 'Create' 'Edit'}} message"
  @breadcrumbs={{@breadcrumbs}}
/>

<form id="message-create-edit-form" {{on "submit" (perform this.save)}} data-test-form="create-and-edit">
  <div class="box is-sideless is-fullwidth is-marginless has-top-padding-s">
    <Hds::Text::Body @tag="p" class="has-bottom-margin-l" data-test-form-subtext>
      {{if @message.isNew "Create" "Edit"}}
      a custom message for all users when they access a Vault system via the UI.
    </Hds::Text::Body>

    <MessageError @errorMessage={{this.errorBanner}} class="has-top-margin-s" />

    {{#each @message.formFields as |attr|}}
      {{#if (eq attr.name "linkTitle")}}
        <div class="field has-bottom-margin-m">
          <label for="link" class="is-label">Link
            <span class="has-text-grey-400 has-font-weight-normal">(optional)</span></label>
          <div class="control is-flex-between has-gap-m">
            <Input
              @type="text"
              @value={{@message.linkTitle}}
              placeholder="Display text (e.g. Learn more)"
              id="link-title"
              class="input"
              data-test-input={{attr.name}}
              {{on "input" (pipe (pick "target.value") (fn (mut @message.linkTitle)))}}
              aria-label="Link title"
            />
            <Input
              @type="text"
              @value={{@message.linkHref}}
              placeholder="Paste URL (e.g. www.learnmore.com)"
              id="link-href"
              class="input"
              data-test-input="linkHref"
              {{on "input" (pipe (pick "target.value") (fn (mut @message.linkHref)))}}
              aria-label="Link href"
            />
          </div>
        </div>
      {{else}}
        <FormField
          @attr={{attr}}
          @model={{@message}}
          @modelValidations={{this.modelValidations}}
          class="has-bottom-margin-m"
        >
          <Messages::MessageExpirationDateForm @message={{@message}} @attr={{attr}} />
        </FormField>
      {{/if}}
    {{/each}}

    <Hds::ButtonSet class="has-top-margin-s has-bottom-margin-m has-top-margin-xl">
      <Hds::Button
        @text="Preview"
        @color="tertiary"
        @icon="eye"
        disabled={{and (not @message.title @message.message)}}
        {{on "click" (fn (mut this.showMessagePreviewModal) true)}}
        data-test-button="preview"
      />

      <Hds::Button @text="{{if @message.isNew 'Create' 'Edit'}} message" data-test-button="create-message" type="submit" />

      <Hds::Button
        @text="Cancel"
        @color="secondary"
        @route="messages"
        @query={{hash authenticated=@message.authenticated}}
      />
    </Hds::ButtonSet>
  </div>
  {{#if this.showMultipleModalsMessage}}
    <Hds::Modal
      id="multiple-message-modal"
      @size="large"
      @color="warning"
      @onClose={{fn (mut this.showMultipleModalsMessage) false}}
      data-test-modal="preview modal"
      as |M|
    >
      <M.Header data-test-modal-title="Warning: more than one modal">
        Warning: more than one modal
      </M.Header>
      <M.Body data-test-modal-body="Warning: more than one modal">
        You have an active modal configured
        {{if @message.authenticated "on the login page" "after the user logs in"}}
        and are trying to create another one. It is recommended to
        <b>avoid having more than one modal</b>
        at once as it can be intrusive for users. Would you like to continue creating your message? Click “Confirm” to
        continue.
      </M.Body>
      <M.Footer>
        <Hds::Button
          @text="Confirm"
          {{on "click" (fn this.updateUserConfirmation "confirmed")}}
          data-test-modal-button="confirm"
        />
        <Hds::Button
          @text="Cancel"
          @color="secondary"
          {{on "click" (fn this.updateUserConfirmation "")}}
          data-test-modal-button="cancel"
        />
      </M.Footer>
    </Hds::Modal>
  {{/if}}
</form>

{{#if this.showMessagePreviewModal}}
  {{#if (eq @message.type "modal")}}
    <Hds::Modal
      id="message-modal-preview"
      @size="large"
      @color="warning"
      @onClose={{fn (mut this.showMessagePreviewModal) false}}
      data-test-modal="preview modal"
      as |M|
    >
      <M.Header data-test-modal-title={{@message.title}}>
        {{@message.title}}
      </M.Header>
      <M.Body data-test-modal-body={{@message.title}}>
        {{@message.message}}
        {{#if @message.linkHref}}
          <Hds::Link::Inline @icon="external-link" @href={{@message.linkHref}}>
            {{@message.linkTitle}}
          </Hds::Link::Inline>
        {{/if}}
      </M.Body>
      <M.Footer as |F|>
        <Hds::Button @text="Confirm" {{on "click" F.close}} data-test-modal-button="Close" />
      </M.Footer>
    </Hds::Modal>
  {{else}}
    <Messages::PreviewImage @message={{@message}} @showMessagePreviewModal={{this.showMessagePreviewModal}} />
  {{/if}}
{{/if}}