{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <Hds::Text::Display @tag="h2" @size="500" class="has-top-margin-m">
      Create message
    </Hds::Text::Display>
  </p.levelLeft>
</PageHeader>

<form id="message-create-edit-form" {{on "submit" (perform this.save)}} data-test-message-create-edit-form>
  <div class="box is-sideless is-fullwidth is-marginless">
    {{#each @messages.formFields as |attr|}}
      {{#if (eq attr.name "authenticated")}}
        <Hds::Form::Radio::Group @layout="vertical" @name="authenticated" class="has-bottom-margin-s" as |G|>
          <G.Legend>Where should we display this message?</G.Legend>
          <G.Radio::Field @id="authenticated" @value={{true}} checked {{on "change" this.updateRadioValue}} as |F|>
            <F.Label>After the user logs in</F.Label>
            <F.HelperText>Display to users after they have successfully logged in to Vault. </F.HelperText>
          </G.Radio::Field>
          <G.Radio::Field @id="unauthenticated" @value={{false}} {{on "change" this.updateRadioValue}} as |F|>
            <F.Label>On the login page</F.Label>
            <F.HelperText>Display to users on the login page before they have authenticated.</F.HelperText>
          </G.Radio::Field>
        </Hds::Form::Radio::Group>
      {{else if (eq attr.name "type")}}
        <Hds::Form::Radio::Group @layout="vertical" @name="type" class="has-bottom-margin-s" as |G|>
          <G.Legend>Type</G.Legend>
          <G.Radio::Field @id="modal-display-type" @value="banner" checked {{on "change" this.updateRadioValue}} as |F|>
            <F.Label>Alert message</F.Label>
            <F.HelperText>A banner that appears on the top of every page to display brief but high-signal messages like an
              update or system alert.</F.HelperText>
          </G.Radio::Field>
          <G.Radio::Field @id="banner-display-type" @value="modal" {{on "change" this.updateRadioValue}} as |F|>
            <F.Label>Modal</F.Label>
            <F.HelperText>A pop-up window used to bring immediate attention for important notifications or actions.</F.HelperText>
          </G.Radio::Field>
        </Hds::Form::Radio::Group>
      {{else if (eq attr.name "link")}}
        <div class="field has-bottom-margin-s">
          <label for="link" class="is-label">Link</label>
          <div class="control is-flex-between has-gap-m">
            <Input
              @type="text"
              @value={{this.linkTitle}}
              id="link-title"
              class="input"
              {{on "input" (fn (mut this.linkTitle))}}
              data-test-link="title"
            />
            <Input
              @type="text"
              @value={{this.linkHref}}
              id="link-href"
              class="input"
              {{on "input" (fn (mut this.linkHref))}}
              data-test-link="href"
            />
          </div>
        </div>
      {{else if (eq attr.name "startTime")}}
        <Input
          data-test-text-toggle
          id="message-start"
          class="toggle is-success is-small"
          @type="checkbox"
          @checked={{this.showStartTime}}
          {{on "change" (fn (mut this.showTextArea) (not this.showTextArea))}}
        />
        <label for="message-start" class="has-text-weight-bold is-size-8">
          Message starts
        </label>
        {{#if this.showStartTime}}
          <div class="control">
            <Input
              @type="datetime-local"
              class="input has-top-margin-s"
              data-test-date="startTime"
              {{on "input" (pipe (pick "target.value") (fn (mut this.state.startTime)))}}
            />
          </div>
        {{/if}}
      {{else if (eq attr.name "endTime")}}
        <Hds::Form::Radio::Group @layout="vertical" @name="endTime" class="has-top-margin-m has-bottom-margin-xl" as |G|>
          <G.Legend>Message expires</G.Legend>
          <G.Radio::Field @id="never" checked @value="" {{on "change" this.updateRadioValue}} as |F|>
            <F.Label>Never</F.Label>
            <F.HelperText>This message will never expire unless manually deleted by the operator.</F.HelperText>
          </G.Radio::Field>
          <G.Radio::Field @id="specific-date" @value="" {{on "change" this.updateRadioValue}} as |F|>
            <F.Label>Specific date</F.Label>
            <F.HelperText>
              This message will expire at midnight (local timezone) at the specific date.
              <div class="control">
                <Input
                  @type="datetime-local"
                  class="input has-top-margin-s"
                  data-test-link="title"
                  {{on "input" (pipe (pick "target.value") (fn (mut this.state.endTime)))}}
                />
              </div>
            </F.HelperText>
          </G.Radio::Field>
        </Hds::Form::Radio::Group>
      {{else}}
        <FormField class="has-bottom-margin-s" data-test-field={{true}} @attr={{attr}} @model={{@messages}} />
      {{/if}}
    {{/each}}

    <Hds::ButtonSet class="has-top-margin-s has-bottom-margin-s">
      {{! TODO: VAULT-21533 preview modal }}
      <Hds::Button @text="Preview" @color="tertiary" @icon="eye" />

      <Hds::Button @text="Create message" type="submit" />

      <Hds::Button @text="Cancel" @color="secondary" @route="messages.index" @query={{hash authenticated=true}} />
    </Hds::ButtonSet>
  </div>
</form>