{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}
<Messages::TabPageHeader
  @authenticated={{@authenticated}}
  @pageTitle="Custom messages"
  @showTabs={{true}}
  @breadcrumbs={{this.breadcrumbs}}
>
  <:toolbarFilters>
    {{#if @messages.meta.total}}
      <FilterInput
        aria-label="Search by message title"
        placeholder="Search by message title"
        value={{@pageFilter}}
        @autofocus={{true}}
        @wait={{500}}
        @onInput={{this.onFilterChange}}
      />
    {{/if}}
  </:toolbarFilters>
  <:toolbarActions>
    <Hds::Button
      @text="Create message"
      @icon="plus"
      @color="secondary"
      class="toolbar-button"
      {{on "click" this.createMessage}}
      data-test-button="create message"
      aria-label="create message"
    />
  </:toolbarActions>
</Messages::TabPageHeader>

{{#if @messages.length}}
  {{#each this.formattedMessages as |message|}}
    <LinkedBlock
      data-test-list-item={{message.id}}
      class="list-item-row"
      @params={{array "messages.message.details" message.id}}
      @linkPrefix="vault.cluster.config-ui"
    >
      <div class="level is-mobile">
        <div class="level-left">
          <div>
            <Hds::Text::Display @tag="h2" data-linked-block-title={{message.id}}>
              <Icon @name="message-circle" class="auto-width" aria-label="message" />
              {{message.title}}
            </Hds::Text::Display>
            <div class="has-top-margin-xs">
              <Hds::Badge @text={{message.badgeDisplayText}} @color={{message.badgeColor}} data-test-badge={{message.id}} />
              <Hds::Badge
                @text={{(capitalize message.type)}}
                @color={{message.badgeColor}}
                data-test-badge={{message.type}}
              />
            </div>
          </div>
        </div>
        <div class="level-right is-flex is-paddingless is-marginless">
          <div class="level-item">
            <PopupMenu @name="engine-menu">
              <nav class="menu">
                <ul class="menu-list">
                  {{#if message.canEditCustomMessages}}
                    <li class="action">
                      <LinkTo @route="messages.message.edit" @model={{message.id}}>
                        Edit
                      </LinkTo>
                    </li>
                  {{/if}}
                  {{#if message.canDeleteCustomMessages}}
                    <ConfirmAction
                      @isInDropdown={{true}}
                      @buttonText="Delete"
                      @confirmTitle="Are you sure?"
                      @confirmMessage="This will delete this message permanently. You cannot undo this action."
                      @onConfirmAction={{perform this.deleteMessage message}}
                    />
                  {{/if}}
                </ul>
              </nav>
            </PopupMenu>
          </div>
        </div>
      </div>
    </LinkedBlock>
  {{/each}}
  <Hds::Pagination::Numbered
    class="has-top-margin-m has-bottom-margin-m"
    @currentPage={{@messages.meta.currentPage}}
    @currentPageSize={{@messages.meta.pageSize}}
    @route="messages.index"
    @showSizeSelector={{false}}
    @totalItems={{@messages.meta.total}}
    @queryFunction={{this.paginationQueryParams}}
  />
{{else}}
  <EmptyState
    @title="No messages yet"
    @message="Add a custom message for all users after they log into Vault. Create message to get started."
  >
    <Hds::Link::Standalone
      @icon="plus"
      @iconPosition="leading"
      @text="Create message"
      @route="messages.create"
      @query={{hash authenticated=@authenticated}}
      class="is-no-underline"
      data-test-action-text="Create message"
    />
  </EmptyState>
{{/if}}

{{#if this.showMaxMessageModal}}
  <Hds::Modal
    id="maximum-message-modal"
    @color="warning"
    @onClose={{fn (mut this.showMaxMessageModal) false}}
    data-test-modal="maximum-message-modal"
    as |M|
  >
    <M.Header data-test-modal-title="maximum-message-modal">
      Maximum number of messages reached
    </M.Header>
    <M.Body data-test-modal-body="maximum-message-modal">
      Vault can only store up to 100 messages. To create a message, delete one of your messages to clear up space.
    </M.Body>
    <M.Footer as |F|>
      <Hds::Button @text="Close" {{on "click" F.close}} data-test-modal-button="maximum-message-modal" />
    </M.Footer>
  </Hds::Modal>
{{/if}}