<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Secrets Engines
    </h1>
  </p.levelLeft>
</PageHeader>

<Toolbar>
  <ToolbarActions>
    <ToolbarLink
      @type="add"
      @params={{array 'vault.cluster.settings.mount-secret-backend'}}
    >
      Enable new engine
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

{{#each supportedBackends as |backend|}}
  {{#linked-block
    (if (eq backend.engineType "kmip")
      "vault.cluster.secrets.backend.kmip.scopes"
      "vault.cluster.secrets.backend.list-root"
    )
    backend.id
    class="list-item-row"
    data-test-secret-backend-row=backend.id
  }}
    <div class="level is-mobile">
      <div class="level-left">
        <div>
          <ToolTip @horizontalPosition="left" as |T|>
            <T.trigger>
              <Icon
                @glyph={{or (if (eq backend.engineType "kmip") "secrets" backend.engineType) "secrets"}}
                @size="l"
                class="has-text-grey-light"
              />
            </T.trigger>
            <T.content @class="tool-tip">
              <div class="box">
                {{backend.engineType}}
              </div>
            </T.content>
          </ToolTip>
          {{#link-to
            (if (eq backend.engineType "kmip")
              "vault.cluster.secrets.backend.kmip.scopes"
              "vault.cluster.secrets.backend.list-root"
            )
             backend.id
             class="has-text-black has-text-weight-semibold"
             data-test-secret-path=true
           }}
            {{backend.path}}
          {{/link-to}}
          <br />
          <code class="has-text-grey is-size-8">
          {{#if (eq backend.options.version 2)}}
            v2
          {{/if}}
          </code>
          <code class="has-text-grey is-size-8">
            {{backend.accessor}}
          </code>
          <font class="has-text-grey is-size-8" style="margin-left:10px;">
            {{backend.description}}
          </font>
        </div>
      </div>
      <div class="level-right is-flex is-paddingless is-marginless">
        <div class="level-item">
          {{#popup-menu name="engine-menu"}}
            <Confirm as |c|>
             <nav class="menu">
               <ul class="menu-list">
                 <li class="action">
                   {{#link-to "vault.cluster.secrets.backend.configuration" backend.id}}
                     View configuration
                   {{/link-to}}
                  </li>
                  {{#unless (eq backend.type "cubbyhole")}}
                  <li class="action">
                    <c.Message
                      @id={{backend.id}}
                      @triggerText="Disable"
                      @message="Any data in this engine will be permanently deleted."
                      @title="Disable engine?"
                      @confirmButtonText="Disable"
                      @onConfirm={{perform disableEngine backend}}
                      data-test-engine-disable="true"
                      />
                   </li>
                   {{/unless}}
                 {{#if item.updatePath.isPending}}
                   <li class="action">
                     <button disabled type="button" class="link button is-loading is-transparent">
                        loading
                      </button>
                    </li>
                 {{/if}}
                </ul>
              </nav>
            </Confirm>
          {{/popup-menu}}
        </div>
      </div>
    </div>
  {{/linked-block}}
{{/each}}
{{#each unsupportedBackends as |backend|}}
  <div class="list-item-row" data-test-secret-backend-row={{backend.id}}>
    <div class="level is-mobile">
      <div class="level-left">
        <div>
          <div data-test-secret-path class="has-text-weight-semibold has-text-grey">
            <ToolTip @horizontalPosition="left" as |T|>
              <T.trigger>
                <Icon
                  @glyph={{or backend.engineType "secrets"}}
                  class="has-text-grey-light"
                />
              </T.trigger>
              <T.content @class="tool-tip">
                <div class="box">
                  {{backend.engineType}}
                </div>
              </T.content>
            </ToolTip>
            {{backend.path}}
          </div>
          <code class="has-text-grey is-size-8">
            {{backend.accessor}}
          </code>
          <font class="has-text-grey is-size-8" style="margin-left:10px;">
            {{#if (eq backend.description "")}}
              {{#if (eq "ad" backend.type)}}Active Directory credentials & service accounts.{{/if}}
              {{#if (eq "alicloud" backend.type)}}AliCloud access tokens & RAM roles, policies / STS credentials.{{/if}}
              {{#if (eq "aws" backend.type)}}AWS credentials based on IAM / STS.{{/if}}
              {{#if (eq "azure" backend.type)}}Azure service principals, roles & group assignments.{{/if}}
              {{#if (eq "database" backend.type)}}DB Specific eg: PostgreSQL, mySQL, OracleSQL, etc.{{/if}}
              {{#if (eq "consul" backend.type)}}Consul API tokens based on Consul ACL policies.{{/if}}
              {{#if (eq "gcp" backend.type)}}GCP service account keys & OAuth tokens based on IAM policies.{{/if}}
              {{#if (eq "gcpkms" backend.type)}}GCP Cloud KMS encryption, key management with IAM & Vault policies.{{/if}}
              {{#if (eq "kmip" backend.type)}}KMIP server provider, lifecycle & objects handling.{{/if}}
              {{#if (eq "identity" backend.type)}}Identity - Vault Internal - see documentation.{{/if}}
              {{#if (eq "mongodb" backend.type)}}MongoDB Atlas Programmatic API keys.{{/if}}
              {{#if (eq "nomad" backend.type)}}Nomad API tokens based on Nomad ACL policies.{{/if}}
              {{#if (eq "openldap" backend.type)}}OpenLDAP passwords & existing entries.{{/if}}
              {{#if (eq "pki" backend.type)}}PKI X.509 certificates, keys, CA, CRL & OCSP management.{{/if}}
              {{#if (eq "rabbitmq" backend.type)}}RabbitMQ credentials via permissions & virtual hosts.{{/if}}
              {{#if (eq "ssh" backend.type)}}SSH authorized access & secure authentication to hosts.{{/if}}
              {{#if (eq "totp" backend.type)}}TOTP time-based credentials according to standard (eg MFA, 2FA).{{/if}}
              {{#if (eq "transform" backend.type)}}Transform encompassing: NIST, FF3-1 & pseudonyms for fpe / masking.{{/if}}
              {{#if (eq "transit" backend.type)}}Transit data or Cryptography-as-a-Service via HMAC.{{/if}}
            {{else}}
              {{backend.description}}
            {{/if}}
          </font>
        </div>
      </div>
      <div class="level-right is-flex is-paddingless is-marginless">
        <div class="level-item">
          <PopupMenu name="engine-menu">
            <Confirm as |c|>
              <nav class="menu">
                <ul class="menu-list">
                  <li class="action">
                    {{#link-to "vault.cluster.secrets.backend.configuration" backend.id data-test-engine-config}}
                      View configuration
                    {{/link-to}}
                  </li>
                  <li>
                    <c.Message
                      @id={{backend.id}}
                      @triggerText="Disable"
                      @message="Any data in this engine will be permanently deleted."
                      @title="Disable engine?"
                      @confirmButtonText="Disable"
                      @onConfirm={{perform disableEngine backend}}
                      data-test-engine-disable="true"
                      />
                  </li>
                </ul>
              </nav>
            </Confirm>
          </PopupMenu>
        </div>
      </div>
    </div>
  </div>
{{/each}}
