<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Secrets Engines
    </h1>
  </p.levelLeft>
</PageHeader>

<Toolbar>
  <ToolbarFilters>
    <SearchSelect
      @id="filter-by-engine-type"
      @options={{this.secretEngineArrayByType}}
      @selectLimit="1"
      @disallowNewItems={{true}}
      @fallbackComponent="input-search"
      @onChange={{this.filterEngineType}}
      @placeholder={{"Filter by engine type"}}
      @displayInherit={{true}}
      @inputValue={{if this.selectedEngineType (array this.selectedEngineType)}}
      @disabled={{if this.selectedEngineName true false}}
      class="is-marginless"
    />
    <SearchSelect
      @id="filter-by-name"
      @options={{this.secretEngineArrayByName}}
      @selectLimit="1"
      @disallowNewItems={{true}}
      @fallbackComponent="input-search"
      @onChange={{this.filterEngineName}}
      @placeholder={{"Filter by name"}}
      @displayInherit={{true}}
      @inputValue={{if this.selectedEngineName (array this.selectedEngineName)}}
      class="is-marginless has-left-padding-s"
    />
  </ToolbarFilters>
  <ToolbarActions>
    <ToolbarLink @route="vault.cluster.settings.mount-secret-backend" @type="add" data-test-enable-engine>
      Enable new engine
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

{{#each this.sortedDisplayableBackends as |backend|}}
  {{#let
    (if
      (eq backend.engineType "kmip")
      "vault.cluster.secrets.backend.kmip.scopes"
      (if
        (eq backend.engineType "database") "vault.cluster.secrets.backend.overview" "vault.cluster.secrets.backend.list-root"
      )
    )
    as |backendLink|
  }}
    <LinkableItem
      data-test-secret-backend-row={{backend.id}}
      @link={{if backend.isSupportedBackend (hash route=backendLink model=backend.id) ""}}
      @disabled={{if backend.isSupportedBackend false true}}
      as |Li|
    >
      <Li.content
        @accessor={{if (eq backend.version 2) (concat "v2 " backend.accessor) backend.accessor}}
        @description={{backend.description}}
        @glyphText={{backend.engineType}}
        @glyph={{backend.icon}}
        @link={{if backend.isSupportedBackend (hash route=backendLink model=backend.id) ""}}
        @title={{backend.path}}
      />
      <Li.menu>
        <PopupMenu @name="engine-menu">
          <Confirm as |c|>
            <nav class="menu" aria-label="{{if backend.isSupportedBackend 'supported' 'unsupported'}} secrets engine menu">
              <ul class="menu-list">
                <li class="action">
                  <LinkTo @route="vault.cluster.secrets.backend.configuration" @model={{backend.id}}>
                    View configuration
                  </LinkTo>
                </li>
                {{#if (not-eq backend.type "cubbyhole")}}
                  <li class="action">
                    <c.Message
                      @id={{backend.id}}
                      @triggerText="Disable"
                      @message="Any data in this engine will be permanently deleted."
                      @title="Disable engine?"
                      @confirmButtonText="Disable"
                      @onConfirm={{perform this.disableEngine backend}}
                      data-test-engine-disable="true"
                    />
                  </li>
                {{/if}}
              </ul>
            </nav>
          </Confirm>
        </PopupMenu>
      </Li.menu>
    </LinkableItem>
  {{/let}}
{{/each}}