<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Custom Secret Engine <code>{{model.backend}}</code>
    </h1>
  </p.levelLeft>
</PageHeader>

<hr />

<div class="container is-widescreen">
  <div class="columns">
    <div class="is-3 column is-sidebar">
      <aside class="menu is-paddingless">
      <p class="menu-label">Available paths</p>
      <label>Param value:
        <input type="text" name="param" onchange={{mut model.paramText}} />
      </label>
      <ul class="menu-list">
        {{#each-in model.info as |key info|}}
          {{#if info.listable}}
            <LinkTo @route="vault.cluster.secrets.custom.path" @models={{array model.backend key}}>
              <li>{{info.key}}</li>
            </LinkTo>
          {{else}}
            <LinkTo @route="vault.cluster.secrets.custom.path" @query={{hash param=model.param}} @models={{array model.backend key}} >
              <li>{{info.key}}**</li>
            </LinkTo>
          {{/if}}
        {{/each-in}}
      </ul>
      </aside>
    </div>
    <div class="is-9 column">
      {{outlet}}
    </div>
  </div>
</div>