<WizardSection 
  @headerText="All set!" 
>
  <p>
    Well done! You're now ready to start using your new {{mountName}} secrets engine.
  </p>
</WizardSection>
<WizardSection 
  @headerText="Want to start again or move on?" 
>
  {{#if isSupported}}
    <button type="button" {{action onRepeat}}>
      Repeat This Step
    </button>
  {{/if}}
  <button type="button" {{action onReset}}>
    Try Another
  </button>
  <button type="button" {{action onDone}}>
    {{nextFeature}}
  </button>
</WizardSection>