<WizardSection 
  @headerText={{if isSupported "All set!" "Viewing engine configuration"}}
>
  <p>
    {{#if isSupported}}
      Well done! You're now ready to start using your new {{mountName}} secrets engine.
    {{else}}
      Here you can see all the details of your new engine. This can be useful to get information for things like TTL or Seal Wrap settings.
    {{/if}}
  </p>
</WizardSection>
<WizardSection 
  @headerText="Want to start again or move on?" 
  @class="wizard-details"
>
  {{#if isSupported}}
    <button type="button" class="button with-grey-outline" {{action onRepeat}}>
      Create another {{mountName}} {{nextStep}} <ICon @glyph="loop"  @size=13 @class="is-pulled-right" />
    </button>
  {{/if}}
  <button type="button"  class="button with-grey-outline" {{action onReset}}>
    Enable another secrets engine <ICon @glyph="loop"  @size=13 @class="is-pulled-right" />
  </button>
  <button type="button"  class="button with-grey-outline" {{action onAdvance}}>
    {{nextFeature}} <ICon @glyph="chevron-right"  @size=10 @class="is-pulled-right" />
  </button>
</WizardSection>