{{#if isSupported}}
  <WizardSection
    @headerText={{unless actionText "All set!" "Generate Credential"}}
  >
  <p>
      {{#if actionText}}
        Here is your generated credential. As you can see, we can only show the credential once, so you'll want to be sure to save it. If you need another credential in the future, just come back and generate a new one.
      {{else}}
        Well done!
      {{/if}}
      You're now ready to start using your new {{mountName}} Secrets Engine.
  </p>
</WizardSection>
{{else}}
  <WizardSection
    @headerText="Viewing engine configuration"
  >
    <p>
      Here you can see all the details of your new engine. This can be useful to get information for things like TTL or Seal Wrap settings.
    </p>
  </WizardSection>
{{/if}}
<WizardSection
  @headerText="Want to start again or move on?"
  @class="wizard-details"
>
  {{#if isSupported}}
    <button type="button" class="button next-feature-step" {{action onRepeat}}>
      Create another {{unless needsEncryption mountName}} {{nextStep}} {{if needsEncryption "key"}} <ICon @glyph="loop"  @size=13 @class="is-pulled-right" />
    </button>
  {{/if}}
  <button type="button"  class="button next-feature-step" {{action onReset}}>
    Enable another Secrets Engine <ICon @glyph="loop"  @size=13 />
  </button>
  <button type="button"  class="button next-feature-step" {{action onDone}}>
    {{nextFeature}} <ICon @glyph="chevron-right"  @size=10 />
  </button>
</WizardSection>
