{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection @headerText="Oops!">
  <p>
    Something went wrong and you can't complete this step.
  </p>
</WizardSection>
<WizardSection>
  <Hds::Button
    @icon="corner-up-left"
    @isIconOnly={{true}}
    @color="secondary"
    class="next-feature-step"
    {{action @onReset}}
  />
  <button type="button" class="button next-feature-step" {{action @onAdvance}}>
    {{@nextFeature}}
    <Chevron @isButton={{true}} />
  </button>
</WizardSection>