<PageHeader as |p|>
  <p.top>
    <KmipBreadcrumb @scope={{this.scope}} @role={{this.role}}/>
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      Generate credentials
    </h1>
  </p.levelLeft>
</PageHeader>
<EditForm
  @model={{this.model}}
  @onSave={{transition-to "vault.cluster.secrets.backend.kmip.credentials.show" this.model.id}}
  @callOnSaveAfterRender={{true}}
  @successMessage={{concat "Successfully generated credentials from role:" this.role "!"}}
  @cancelLinkParams={{array "credentials.index"}}
/>
