<HeaderCredentials @role={{this.role}} @scope={{this.scope}} />
<Toolbar>
  {{#if model.meta.total}}
    <ToolbarFilters>
    <NavigateInput
      @filterFocusDidChange={{action "setFilterFocus" }}
      @filterDidChange={{action "setFilter"}}
      @filter={{this.filter}}
      @filterMatchesKey={{filterMatchesKey}}
      @firstPartialMatch={{firstPartialMatch}}
      @placeholder="Filter credentials by serial number"
      @urls={{hash
        create="vault.cluster.secrets.backend.kmip.credentials.generate"
        list="vault.cluster.secrets.backend.kmip.scope.roles"
        show="vault.cluster.secrets.backend.kmip.credentials"
      }}
    />
      {{#if filterFocused}}
        {{#if filterMatchesKey}}
          <p class="input-hint">
            <kbd>ENTER</kbd> to go to <code>{{this.filter}}</code> roles
          </p>
        {{/if}}
        {{#if firstPartialMatch}}
          <p class="input-hint">
            <kbd>TAB</kbd> to complete <code>{{firstPartialMatch.id}}</code>
          </p>
        {{/if}}
      {{/if}}
    </ToolbarFilters>
  {{/if}}
  <ToolbarActions>
    <ToolbarLink
      @type="add"
      @params={{array "credentials.generate"}}
    >
      Generate credentials
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>
<ListView @items={{model}} @itemNoun="credentials" @paginationRouteName="credentials.index" as |list|>
  {{#if list.empty}}
    <list.empty
      @title="No credentials yet for this role"
      @message="You can generate new credentials that will be limited to this role's allowed operations, then you can distribute them to your KMIP clients."
    >
      {{#link-to "credentials.generate"}}
        Generate credentials
      {{/link-to}}
    </list.empty>
  {{else if list.item}}
  <ListItem @linkPrefix={{this.mountPoint}} @linkParams={{array "credentials.show" this.scope this.role list.item.id}} as |Item|>
      <Item.content>
        <Icon @glyph="pki" class="has-text-grey-light" @size="l" />{{list.item.id}}
      </Item.content>
      <Item.menu>
        <li class="action">
          {{#link-to "credentials.show" this.scope this.role list.item.id class="is-block"}}
            View credentials
          {{/link-to}}
        </li>
        {{#if list.item.deletePath.canDelete}}
          <MenuLoader @loadingParam={{list.item.deletePath.isPending}}>
            <ConfirmAction
              @buttonClasses="link is-destroy"
              @onConfirmAction={{action
                (perform
                  Item.callMethod
                  "destroyRecord"
                  list.item
                  "Successfully revoked credentials"
                  "There was an error revoking the credentials"
                  (action "refresh")
                )
              }}
              @confirmTitle="Revoke this?"
              @confirmMessage="Any client using these credentials will no longer be able to."
              @cancelButtonText="Cancel"
              @confirmButtonText="Revoke"
              >
                Revoke credentials
            </ConfirmAction>
          </MenuLoader>
        {{/if}}
      </Item.menu>
    </ListItem>
  {{else}}
    <ListItem as |Item|>
      <Item.content>
        There are no credentials that match {{this.filter}}, press <kbd>ENTER</kbd> to add one.
      </Item.content>
    </ListItem>
  {{/if}}
</ListView>
