<div class="message {{this.type.class}}">
  <div class="columns is-mobile is-variable is-1">
    <div class="column is-narrow message-icon">
      <Icon aria-hidden="true" @name={{this.type.glyph}} />
    </div>
    <div class="column">
      <button type="button" class="close-button" {{on "click" this.close}}>
        <Icon @name="x" aria-label="Close" />
      </button>
      <div class="message-title">
        {{this.type.text}}
      </div>
      {{#if this.message}}
        <p class="message-body {{if @isPreformatted 'pre'}}" data-test-flash-message-body="true">{{this.message}}</p>
      {{/if}}
    </div>
  </div>
</div>