<div class="message {{type.class}}">
  <div class="columns is-mobile is-variable is-1">
    <div class="column is-narrow message-icon">
      <ICon @glyph="{{type.glyph}}" @size="20" @excludeIconClass={{true}} />
    </div>
    <div class="column">
      <button type="button" class="close-button" {{action close}}>
        <ICon @excludeIconClass={{true}} @glyph="close" @aria-label="Close" />
      </button>
      <div class="message-title">
        {{type.text}}
      </div>
      {{#if message}}
        <p class="message-body" data-test-flash-message-body="true">
          {{message}}
        </p>
      {{/if}}
    </div>
  </div>
</div>
