<div class="popup-menu-content">
  <div class="box">
    <div class="menu-label">
      {{auth.authData.displayName}}
    </div>
    <nav class="menu">
      <ul class="menu-list">
        {{#if canExpire}}
          <li class="action">
            <AlertBanner @type="warning" @message="We've stopped auto-renewing your token due to inactivity.
                It will expire in {{date-from-now auth.tokenExpirationDate interval=1000 hideSuffix=true}}.
                on {{date-format auth.tokenExpirationDate 'MMMM Do YYYY, h:mm:ss a'}}" />
          </li>
        {{/if}}
        {{#if (is-before (now interval=1000) auth.tokenExpirationDate)}}
          {{#if auth.authData.renewable}}
            <li class="action">
              <button type="button" {{action "renewToken"}} class="link button {{if isRenewing 'is-loading'}}">
                Renew token
              </button>
            </li>
            <li class="action">
              {{#confirm-action
                onConfirmAction=(action "revokeToken")
                confirmMessage=(concat "Are you sure you want to revoke the token for " (get auth 'authData.displayName') "?")
                confirmButtonText="Revoke"
                confirmButtonClasses="button is-primary"
                buttonClasses="button link"
                showConfirm=shouldRevoke
                class=(if shouldRevoke "message is-block is-warning is-outline")
                containerClasses="message-body is-block"
                messageClasses="is-block"
              }}
                Revoke token
              {{/confirm-action}}
            </li>
          {{else}}
            <li class="action text-right">
              {{#confirm-action
                onConfirmAction=(action "revokeToken")
                confirmMessage=(concat "Are you sure you want to revoke the token for " (get auth 'authData.displayName') "?")
                confirmButtonText="Revoke"
                confirmButtonClasses="button is-primary"
                buttonClasses="button link"
                showConfirm=shouldRevoke
                class=(if shouldRevoke "message is-block is-warning is-outline")
                containerClasses="message-body is-block"
                messageClasses="is-block"
              }}
                Revoke token
              {{/confirm-action}}
            </li>
          {{/if}}
        {{/if}}
        <li class="action">
          <CopyButton @clipboardText={{auth.currentToken}} class="link" @buttonType="button" @success={{action (set-flash-message 'Token copied!')}}>
            Copy token
          </CopyButton>
        </li>
        <li class="action">
          <button type="button" class="link" onclick={{action "restartGuide"}}>
            Restart guide
          </button>
        </li>
        <li class="action">
          {{#link-to "vault.cluster.logout" activeClusterName id="logout" invokeAction=onLinkClick}}
            Sign out
          {{/link-to}}
        </li>
      </ul>
    </nav>
  </div>
</div>
