<div class="popup-menu-content">
  <div class="box">
    <div class="menu-label">
      {{auth.authData.displayName}}
    </div>
    <nav class="menu">
      <ul class="menu-list">
        {{#if canExpire}}
          <li class="action">
            <AlertBanner @type="warning" @message="We've stopped auto-renewing your token due to inactivity.
                It will expire in {{date-from-now auth.tokenExpirationDate interval=1000 hideSuffix=true}}.
                on {{date-format auth.tokenExpirationDate 'MMMM Do YYYY, h:mm:ss a'}}" />
          </li>
        {{/if}}
        <li class="action">
          <button type="button" class="link" onclick={{action "restartGuide"}}>
            Restart guide
          </button>
        </li>
        <li class="action">
          <CopyButton @clipboardText={{auth.currentToken}} class="link" @buttonType="button" @success={{action (set-flash-message 'Token copied!')}}>
            Copy token
          </CopyButton>
        </li>
        {{#if (is-before (now interval=1000) auth.tokenExpirationDate)}}
          {{#if auth.authData.renewable}}
            <li class="action">
              <button type="button" {{action "renewToken"}} class="link button {{if isRenewing 'is-loading'}}">
                Renew token
              </button>
            </li>
            <li class="action">
              <ConfirmAction
                @buttonClasses="button link is-destroy"
                @confirmTitle={{concat "Revoke " (get auth 'authData.displayName') "?"}}
                @confirmMessage={{concat "You will not be able to log in again with this token."}}
                @confirmButtonText="Revoke"
                @onConfirmAction={{action "revokeToken"}}
              >
                Revoke token
              </ConfirmAction>
            </li>
          {{else}}
            <li class="action text-right">
              <ConfirmAction
                @buttonClasses="button link is-destroy"
                @confirmTitle={{concat "Revoke " (get auth 'authData.displayName') "?"}}
                @confirmMessage={{concat "You will not be able to log in again with this token."}}
                @confirmButtonText="Revoke"
                @onConfirmAction={{action "revokeToken"}}
              >
                Revoke token
              </ConfirmAction>
            </li>
          {{/if}}
        {{/if}}
        <li class="action">
          {{#link-to "vault.cluster.logout" activeClusterName id="logout" class="is-destroy" invokeAction=onLinkClick}}
            Sign out
          {{/link-to}}
        </li>
      </ul>
    </nav>
  </div>
</div>
