{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<BasicDropdown @class="popup-menu" @horizontalPosition="auto-right" @verticalPosition="below" as |D|>
  <D.Trigger data-test-calendar-widget-trigger class={{concat "toolbar-link" (if D.isOpen " is-active")}} @htmlTag="button">
    {{date-format this.startDate "MMM yyyy"}}
    -
    {{date-format this.endDate "MMM yyyy"}}
    <Chevron @direction="down" @isButton={{true}} />
  </D.Trigger>
  <D.Content @defaultClass={{concat "popup-menu-content calendar-content" (if this.showCalendar " calendar-open")}}>
    <nav class="box menu">
      <div class="calendar-title is-subtitle-gray">
        DATE OPTIONS
      </div>
      {{! TODO Hds::Dropdown swapout }}
      <ul class="menu-list">
        <li class="action">
          <button
            data-test-current-month
            class="link link-plain has-text-weight-semibold is-ghost"
            type="button"
            name="currentMonth"
            {{on "click" (fn this.handleDateShortcut D.actions)}}
          >
            Current month
          </button>
        </li>
        <li class="action">
          <button
            data-test-current-billing-period
            class="link link-plain has-text-weight-semibold is-ghost"
            type="button"
            name="reset"
            {{on "click" (fn this.handleDateShortcut D.actions)}}
          >
            Current billing period
          </button>
        </li>
        <li class="action">
          <button
            data-test-show-calendar
            class={{concat "link link-plain has-text-weight-semibold is-ghost" (if this.showCalendar " is-active")}}
            type="button"
            {{on "click" this.toggleShowCalendar}}
          >
            <div class="level is-mobile">
              <span class="level-left">
                Custom end month
              </span>
              <Chevron class="has-text-grey-light level-right" />
            </div>
          </button>
        </li>
      </ul>
    </nav>
    {{#if this.showCalendar}}
      <div class="calendar-widget-container" data-test-calendar-widget-container>
        <div class="select-year">
          <Hds::Button
            data-test-previous-year
            id="previous-year"
            disabled={{this.disablePastYear}}
            {{on "click" this.subYear}}
            @color="secondary"
            @text="previous year"
            @icon="chevron-left"
            @isIconOnly={{true}}
          />
          <p data-test-display-year>
            {{this.displayYear}}
          </p>
          <Hds::Button
            data-test-next-year
            id="next-year"
            disabled={{this.disableFutureYear}}
            {{on "click" this.addYear}}
            @color="secondary"
            @text="next year"
            @icon="chevron-right"
            @isIconOnly={{true}}
          />
          {{#if this.tooltipTarget}}
            {{! Component must be in curly bracket notation }}
            {{! template-lint-disable no-curly-component-invocation }}
            {{#modal-dialog
              tagName="div"
              tetherTarget=this.tooltipTarget
              targetAttachment="top right"
              attachment="top middle"
              offset="150px 0"
            }}
              <div class={{"calendar-tooltip"}}>
                <p>
                  {{this.tooltipText}}
                </p>
              </div>
              <div class="chart-tooltip-arrow"></div>
            {{/modal-dialog}}
          {{/if}}
        </div>
        <div class="calendar-widget-grid calendar-widget">
          {{#each this.widgetMonths as |month|}}
            <Hds::Button
              @text={{month.name}}
              @color="secondary"
              class="is-month-list {{if month.readonly 'is-readOnly'}}"
              data-test-calendar-month={{month.name}}
              id={{month.index}}
              {{on "click" (fn this.selectMonth month D.actions)}}
            />
          {{/each}}
        </div>
      </div>
    {{/if}}
  </D.Content>
</BasicDropdown>