<BasicDropdown
  @class="popup-menu"
  @horizontalPosition="auto-right"
  @verticalPosition="below"
  as |D|
>
  <D.trigger
    data-test-popup-menu-trigger="true"
    @class={{concat "toolbar-link" (if D.isOpen " is-active")}}
    @tagName="button"
  >
    {{@startDate}} - {{this.endDateDisplay}} 
    <Chevron @direction="down" @isButton={{true}} />
  </D.trigger>
  <D.content @class="popup-menu-content calendar-content">
    <nav class="box menu">
      <div class="calendar-title popup-menu-item">Date options</div>  
      <ul class="menu-list">
        <li class="action">
          <button
            class="link link-plain has-text-weight-semibold is-ghost {{if isWrapping "is-loading"}}"
            type="button"
          >
            Current billing period
          </button>
        </li>
        <li class="action">
          <button
            class="link link-plain has-text-weight-semibold is-ghost {{if isWrapping "is-loading"}}"
            type="button"
            {{on "click" this.toggleShowCalendar}}
          >
            <div class="level is-mobile">
              <span class="level-left">Custom end month</span>
              <Chevron class="has-text-grey-light level-right" />
            </div>
          </button>
        </li>
        <li class="action">
          <button
            class="link link-plain has-text-weight-semibold is-ghost {{if isWrapping "is-loading"}}"
            type="button"
            {{on "click" this.toggleSingleMonth}}
          >
            <div class="level is-mobile">
              <span class="level-left">Single Month</span>
              <Chevron class="has-text-grey-light level-right" />
            </div>
          </button>
        </li>
      </ul>
    </nav>
    {{#if this.showCalendar}}
      <div class="calendar-widget-container">
        <div class="select-year">
          <button type="button" class="button is-transparent" disabled={{this.disablePastYear}} {{on "click" this.subYear}}>
            <Chevron @direction="left" @size="s" class="has-text-grey" />
          </button>
          <p>{{this.displayYear}}</p>
          <button type="button" class="button is-transparent padding-right" disabled={{this.disableFutureYear}} {{on "click" this.addYear}}>
            <Chevron @direction="right" @size="s" class="has-text-grey" />
          </button>
        </div>
        <div {{did-insert this.disableMonths}} class="calendar-widget-grid calendar-widget">
          <button type="button" {{on "click" (fn this.selectEndMonth 0 this.displayYear)}} class="is-month-list" id={{concat "1-" this.displayYear}}>January</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 1 this.displayYear)}} class="is-month-list" id={{concat "2-" this.displayYear}}>February</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 2 this.displayYear)}} class="is-month-list" id={{concat "3-" this.displayYear}}>March</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 3 this.displayYear)}} class="is-month-list" id={{concat "4-" this.displayYear}}>April</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 4 this.displayYear)}} class="is-month-list" id={{concat "5-" this.displayYear}}>May</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 5 this.displayYear)}} class="is-month-list" id={{concat "6-" this.displayYear}}>June</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 6 this.displayYear)}} class="is-month-list" id={{concat "7-" this.displayYear}}>July</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 7 this.displayYear)}} class="is-month-list" id={{concat "8-" this.displayYear}}>August</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 8 this.displayYear)}} class="is-month-list" id={{concat "9-" this.displayYear}}>September</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 9 this.displayYear)}} class="is-month-list" id={{concat "10-" this.displayYear}}>October</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 10 this.displayYear)}} class="is-month-list" id={{concat "11-" this.displayYear}}>November</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 11 this.displayYear)}} class="is-month-list" id={{concat "12-" this.displayYear}}>December</button>
        </div>
      </div>
    {{/if}}

    {{#if this.showSingleMonth}}
      <div class="calendar-widget-container">
        <div class="select-year">
          <button type="button" class="button is-transparent" disabled={{this.disablePastYear}} {{on "click" this.subYear}}>
            <Chevron @direction="left" @size="s" class="has-text-grey" />
          </button>
          <p>{{this.displayYear}}</p>
          <button type="button" class="button is-transparent padding-right" disabled={{this.disableFutureYear}} {{on "click" this.addYear}}>
            <Chevron @direction="right" @size="s" class="has-text-grey" />
          </button>
        </div>
        <div {{did-insert this.disableMonths}} class="calendar-widget-grid calendar-widget">
          <button type="button" {{on "click" (fn this.selectSingleMonth 0 this.displayYear)}} class="is-month-list" id={{concat "0-" this.displayYear}}>January</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 1 this.displayYear)}} class="is-month-list" id={{concat "1-" this.displayYear}}>February</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 2 this.displayYear)}} class="is-month-list" id={{concat "2-" this.displayYear}}>March</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 3 this.displayYear)}} class="is-month-list" id={{concat "3-" this.displayYear}}>April</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 4 this.displayYear)}} class="is-month-list" id={{concat "4-" this.displayYear}}>May</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 5 this.displayYear)}} class="is-month-list" id={{concat "5-" this.displayYear}}>June</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 6 this.displayYear)}} class="is-month-list" id={{concat "6-" this.displayYear}}>July</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 7 this.displayYear)}} class="is-month-list" id={{concat "7-" this.displayYear}}>August</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 8 this.displayYear)}} class="is-month-list" id={{concat "7-" this.displayYear}}>September</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 9 this.displayYear)}} class="is-month-list" id={{concat "9-" this.displayYear}}>October</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 10 this.displayYear)}} class="is-month-list" id={{concat "10-" this.displayYear}}>November</button>
          <button type="button" {{on "click" (fn this.selectSingleMonth 11 this.displayYear)}} class="is-month-list" id={{concat "11-" this.displayYear}}>December</button>
        </div>
      </div>
    {{/if}}
  </D.content>
</BasicDropdown>