<BasicDropdown
  @class="popup-menu"
  @horizontalPosition="auto-right"
  @verticalPosition="below"
  as |D|
>
  <D.trigger
    data-test-popup-menu-trigger="true"
    @class={{concat "toolbar-link" (if D.isOpen " is-active")}}
    @tagName="button"
  >
  {{!-- ARG TODO --}}
    {{date-format this.startDate 'MMM yyyy'}} - {{this.endDate}} 
    <Chevron @direction="down" @isButton={{true}} />
  </D.trigger>
  <D.content @class="popup-menu-content calendar-content">
    <nav class="box menu">
      <div class="calendar-title popup-menu-item">Date options</div>  
      <ul class="menu-list">
        <li class="action">
          <button
            class="link link-plain has-text-weight-semibold is-ghost {{if isWrapping "is-loading"}}"
            type="button"
            {{!-- {{on "click" this.handleWrapClick}} --}}
          >
            Current billing period
          </button>
        </li>
        <li class="action">
          <button
            class="link link-plain has-text-weight-semibold is-ghost {{if isWrapping "is-loading"}}"
            type="button"
            {{on "click" this.toggleShowCalendar}}
          >
            <div class="level is-mobile">
              <span class="level-left">Custom end month</span>
              <Chevron class="has-text-grey-light level-right" />
            </div>
          </button>
        </li>
      </ul>
    </nav>
    {{#if this.showCalendar}}
      <div class="calendar-widget-container">
        <div class="select-year">
          <button type="button" class="button is-transparent" disabled={{this.disablePastYear}} {{on "click" this.subYear}}>
            <Chevron @direction="left" @size="s" class="has-text-grey" />
          </button>
          <p>{{this.displayYear}}</p>
          <button type="button" class="button is-transparent padding-right" disabled={{this.disableFutureYear}} {{on "click" this.addYear}}>
            <Chevron @direction="right" @size="s" class="has-text-grey" />
          </button>
        </div>
        <div {{did-insert this.disableMonths}} class="calendar-widget-grid calendar-widget">
          <button type="button" {{on "click" (fn this.selectEndMonth 'January' this.displayYear)}} class="is-month-list" id={{concat "Jan " this.displayYear}}>January</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'February' this.displayYear)}} class="is-month-list" id={{concat "Feb " this.displayYear}}>February</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'March' this.displayYear)}} class="is-month-list" id={{concat "March " this.displayYear}}>March</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'April' this.displayYear)}} class="is-month-list" id={{concat "April " this.displayYear}}>April</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'May' this.displayYear)}} class="is-month-list" id={{concat "May " this.displayYear}}>May</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'June' this.displayYear)}} class="is-month-list" id={{concat "June " this.displayYear}}>June</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'July' this.displayYear)}} class="is-month-list" id={{concat "July " this.displayYear}}>July</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'August' this.displayYear)}} class="is-month-list" id={{concat "Aug " this.displayYear}}>August</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'September' this.displayYear)}} class="is-month-list" id={{concat "Sept " this.displayYear}}>September</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'October' this.displayYear)}} class="is-month-list" id={{concat "Oct " this.displayYear}}>October</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'November' this.displayYear)}} class="is-month-list" id={{concat "Nov " this.displayYear}}>November</button>
          <button type="button" {{on "click" (fn this.selectEndMonth 'December' this.displayYear)}} class="is-month-list" id={{concat "Dec " this.displayYear}}>December</button>
        </div>
      </div>
    {{/if}}
  </D.content>
</BasicDropdown>