  <div class="confirm {{if openTrigger "show-confirm"}}" style="height: {{if height height ""}}px" ...attributes>
    {{yield (hash
      Trigger=(component "confirm/trigger")
      Message=(component "confirm/message"
        renderedTrigger=(readonly this.openTrigger)
        wormholeReference=this.wormholeReference
      )
      onTrigger=(action 'onTrigger')
      onCancel=(action 'onCancel')
      )
    }}
  </div>
  <div id={{this.wormholeId}} class="confirm-overlay {{if openTrigger "left"}}">
  </div>
