<aside class="menu is-paddingless">
  <p class="menu-label">Available paths</p>
  <label>Param value:
    <input value={{this.param}} type="text" name="param" {{on 'change' this.updateParam}} />
    <button name="clear" {{on 'click' this.updateParam}}>Clear</button>
  </label>
  <ul class="menu-list">
    {{#each-in @paths as |key path|}}
      {{#unless (and this.param)}}
        {{#unless path.requiredGetParam}}
          <LinkTo @route="vault.cluster.secrets.custom.path" @models={{array @backend key}}>
            <li>{{path.key}}</li>
          </LinkTo>
        {{else}}
          <LinkTo @route="vault.cluster.secrets.custom.create" @models={{array @backend key}}>
            <li>{{path.key}} <strong>**</strong></li>
          </LinkTo>
        {{/unless}}
      {{else}}
        {{#if path.requiredGetParam}}
          <LinkTo @route="vault.cluster.secrets.custom.path" @query={{hash item=this.param}} @models={{array @backend key}} >
            <li>{{path.key}}</li>
          </LinkTo>
        {{/if}}
      {{/unless}}
    {{/each-in}}
  </ul>
</aside>