<PageHeader as |p|>
  <p.top>
    <KeyValueHeader @baseKey={{@model}} @path="vault.cluster.secrets.backend.list" @mode={{mode}} @root={{@root}} @showCurrent={{true}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq @mode "create") }}
        Create Connection
      {{else if (eq @mode "edit")}}
        Edit Connection
      {{else}}
        Connection <code>{{@model.id}}</code>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq @mode "show")}}
[Toolbar with actions]
{{/if}}

{{#if (eq @mode 'create')}}
<form
  {{on 'submit' this.handleSubmit}}>
  {{#each @model.fieldAttrs as |attr|}}
    {{#if (eq attr.name "plugin_config")}}
      <div class="form-section">
        <h3 class="title is-5">Plugin config</h3>
        {{#unless @model.plugin_name}}
          <EmptyState
            @title="No plugin selected"
            @message="Select a plugin type to be able to configure it."
          />
        {{else}}
          {{#each @model.pluginFieldGroups as |fieldGroup|}}
            {{#each-in fieldGroup as |group fields|}}
              {{#if (eq group "default")}}
                {{#each fields as |attr|}}
                  {{#unless (and (not-eq mode "create") (eq attr.name "name"))}}
                    {{form-field data-test-field attr=attr model=@model}}
                  {{/unless}}
                {{/each}}
              {{else}}
                <ToggleButton @class="is-block" @toggleAttr={{concat "show" (camelize group)}} @toggleTarget={{this}} @openLabel={{concat "Hide " group}} @closedLabel={{group}} @data-test-toggle-group={{group}} />
                {{#if (get this (concat "show" (camelize group)))}}
                  <div class="box is-marginless">
                    {{#each fields as |attr|}}
                      {{form-field data-test-field attr=attr model=@model}}
                    {{/each}}
                  </div>
                {{/if}}
              {{/if}}
            {{/each-in}}
          {{/each}}
        {{/unless}}
      </div>
    {{else}}
      {{form-field data-test-field attr=attr model=@model}}
    {{/if}}
  {{/each}}

  <input type="submit" value="SEND" />
</form>
{{else if (eq @mode 'edit')}}
[Edit form]
{{else}}
[Show]
  {{#each @model.fieldAttrs as |attr|}}
    {{#if (eq attr.type "object")}}
      <InfoTableRow @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{stringify (get @model attr.name)}} />
    {{else}}
      <InfoTableRow @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{get @model attr.name}} />
    {{/if}}
  {{/each}}

{{/if}}