<PageHeader as |p|>
  <p.top>
    <KeyValueHeader @baseKey={{@model}} @path="vault.cluster.secrets.backend.list" @mode={{mode}} @root={{@root}} @showCurrent={{true}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq @mode "create") }}
        Create Connection
      {{else if (eq @mode "edit")}}
        Edit Connection
      {{else}}
        {{@model.id}}
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq @mode "show")}}
<Toolbar>
  <ToolbarActions>
    {{!-- {{#if capabilities.canDelete}} --}}
    <button
      type="button"
      class="toolbar-link"
      {{on 'click' this.delete}}
      data-test-database-connection-delete
    >
      Delete connection
    </button>
    {{!-- {{#if capabilities.canReset}} --}}
    <ConfirmAction
      @buttonClasses="toolbar-link"
      @onConfirmAction={{action 'reset'}}
      @confirmTitle="Reset connection?"
      @confirmMessage="This will close the connection and its underlying plugin and restart it with the configuration stored in the barrier."
      @confirmButtonText="Reset"
      data-test-database-connection-reset
    >
      Reset connection
    </ConfirmAction>
    {{!-- {{#if (and capabilities.canReset capabilities.canDelete)}} --}}
    <div class="toolbar-separator" />
    {{!-- {{#if capabilities.canRotate }} --}}
    <ConfirmAction
      @buttonClasses="toolbar-link"
      @onConfirmAction={{this.rotate}}
      @confirmTitle="Rotate credentials?"
      @confirmMessage={{'This will rotate the "root" user credentials stored for the database connection. The password will not be accessible once rotated.'}}
      @confirmButtonText="Rotate"
      data-test-database-connection-rotate
    >
      Rotate root credentials
    </ConfirmAction>
    {{!-- {{#if capabilities.canAddRole}} --}}
    <ToolbarSecretLink
      @secret=''
      @mode="create"
      @type="add"
      @queryParams={{query-params initialKey=(or filter baseKey.id) itemType="role"}}
      @data-test-secret-create=true
    >
      Add role
    </ToolbarSecretLink>
    {{!-- {{#if capabilities.canEdit}} --}}
    {{log @model}}
    <ToolbarSecretLink
      @secret={{@model.id}}
      @mode="edit"
      @data-test-edit-link=true
      @replace=true
    >
      Edit configuration
    </ToolbarSecretLink>
  </ToolbarActions>
</Toolbar>
{{/if}}

{{#if (eq @mode 'create')}}
<form
  {{on 'submit' this.handleCreateConnection}}>
  {{#each @model.fieldAttrs as |attr|}}
    {{#if (eq attr.name "pluginConfig")}}
      {{!-- Plugin Config Section --}}
      <div class="form-section">
        <h3 class="title is-5">Plugin config</h3>
        {{#unless @model.plugin_name}}
          <EmptyState
            @title="No plugin selected"
            @message="Select a plugin type to be able to configure it."
          />
        {{else}}
          {{#each @model.pluginFieldGroups as |fieldGroup|}}
            {{#each-in fieldGroup as |group fields|}}
              {{#if (eq group "default")}}
                {{#each fields as |attr|}}
                  {{!-- TODO: special password edit mode --}}
                  {{form-field data-test-field attr=attr model=@model}}
                {{/each}}
              {{else}}
                <ToggleButton @class="is-block" @toggleAttr={{concat "show" (camelize group)}} @toggleTarget={{this}} @openLabel={{concat "Hide " group}} @closedLabel={{group}} @data-test-toggle-group={{group}} />
                {{#if (get this (concat "show" (camelize group)))}}
                  <div class="box is-marginless">
                    {{#each fields as |attr|}}
                      {{form-field data-test-field attr=attr model=@model}}
                    {{/each}}
                  </div>
                {{/if}}
              {{/if}}
            {{/each-in}}
          {{/each}}
        {{/unless}}
      </div>
    {{else if (not-eq attr.options.readOnly true)}}
      {{form-field data-test-field attr=attr model=@model}}
    {{/if}}
  {{/each}}

  <div class="field is-grouped is-grouped-split is-fullwidth box is-bottomless">
    <div class="field is-grouped">
      <div class="control">
        <button
          data-test-secret-save
          type="submit"
          disabled={{buttonDisabled}}
          class="button is-primary"
        >
          Save
        </button>
      </div>
      <div class="control">
        <SecretLink @mode="list" @class="button">
          Cancel
        </SecretLink>
      </div>
    </div>
  </div>
</form>
{{else if (eq @mode 'edit')}}
<form {{on 'submit' this.handleUpdateConnection}}>
  {{#each @model.fieldAttrs as |attr|}}
    {{#if (eq attr.name "pluginConfig")}}
      <div class="form-section">
        <h3 class="title is-5">Plugin config</h3>
          {{#each @model.pluginFieldGroups as |fieldGroup|}}
            {{#each-in fieldGroup as |group fields|}}
              {{#if (eq group "default")}}
                {{#each fields as |attr|}}
                  {{#if (eq attr.name "password")}}
                    <label for="{{attr.name}}" class="is-label">
                      {{capitalize (or attr.options.label attr.name)}}
                    </label>
                    <div class="field">
                      <Toggle
                        @name="show-{{attr.name}}"
                        @status="success"
                        @size="small"
                        @onChange={{fn this.updateShowPassword (not this.showPasswordField)}}
                        @checked={{this.showPasswordField}}
                        data-test-toggle={{attr.name}}
                      >
                        <span class="ttl-picker-label has-text-grey">Update password</span><br/>
                        <div class="description has-text-grey">
                          <span>{{if this.showPasswordField 'The new password that will be used when connecting to the database' 'Vault will use the existing password'}}</span>
                        </div>
                        {{#if this.showPasswordField}}
                          <Input
                            {{on "change" (fn this.updatePassword attr.name)}}
                            @type="password"
                            @value={{get @model attr.name}}
                            @name={{attr.name}}
                            class="input"
                            {{!-- Prevents browsers from auto-filling --}}
                            @autocomplete="new-password"
                            @spellcheck="false" />
                        {{/if}}
                      </Toggle>
                    </div>
                  {{else}}
                    {{form-field data-test-field attr=attr model=@model}}
                  {{/if}}
                {{/each}}
              {{else}}
                <ToggleButton @class="is-block" @toggleAttr={{concat "show" (camelize group)}} @toggleTarget={{this}} @openLabel={{concat "Hide " group}} @closedLabel={{group}} @data-test-toggle-group={{group}} />
                {{#if (get this (concat "show" (camelize group)))}}
                  <div class="box is-marginless">
                    {{#each fields as |attr|}}
                      {{form-field data-test-field attr=attr model=@model}}
                    {{/each}}
                  </div>
                {{/if}}
              {{/if}}
            {{/each-in}}
          {{/each}}
      </div>
    {{else if (or (eq attr.name 'name') (eq attr.name 'plugin_name'))}}
      <label for="{{attr.name}}" class="is-label">
        {{attr.options.label}}
      </label>
      {{#if attr.options.subText}}
        <p class="sub-text">{{attr.options.subText}}</p>
      {{/if}}
      {{#if attr.options.possibleValues}}
        <div class="control is-expanded field is-readOnly">
          <div class="select is-fullwidth">
            <select name="{{attr.name}}" id="{{attr.name}}" disabled readonly data-test-input={{attr.name}}>
              <option selected={{get @model attr.name}} value={{get @model attr.name}}>
                {{get @model attr.name}}
              </option>
            </select>
          </div>
        </div>
      {{else}}
        <input data-test-input={{attr.name}} id={{attr.name}} autocomplete="off" spellcheck="false"
          value={{or (get @model attr.name) attr.options.defaultValue}} readonly class="field input is-readOnly" type={{attr.type}} />
      {{/if}}
    {{else if (not-eq attr.options.readOnly true)}}
      {{form-field data-test-field attr=attr model=@model}}
    {{/if}}
  {{/each}}

  <div class="field is-grouped is-grouped-split is-fullwidth box is-bottomless">
    <div class="field is-grouped">
      <div class="control">
        <button
          data-test-secret-save
          type="submit"
          disabled={{buttonDisabled}}
          class="button is-primary"
        >
          Save
        </button>
      </div>
      <div class="control">
        <SecretLink @mode="list" @class="button">
          Cancel
        </SecretLink>
      </div>
    </div>
  </div>
</form>
{{else}}
  {{#each @model.showAttrs as |attr|}}
    {{#let attr.options.defaultDisplay as |defaultDisplay|}}
      {{#if (eq attr.type "object")}}
        <InfoTableRow @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{stringify (get @model attr.name)}} />
      {{else}}
        <InfoTableRow @renderBlank={{true}} @alwaysRender={{true}} @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{or (get @model attr.name) defaultDisplay}} />
      {{/if}}
    {{/let}}
  {{/each}}

{{/if}}