<PageHeader as |p|>
  <p.top>
    <KeyValueHeader @baseKey={{@model}} @path="vault.cluster.secrets.backend.list" @mode={{mode}} @root={{@root}} @showCurrent={{true}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq @mode "create") }}
        Create Role
      {{else if (eq @mode "edit")}}
        Edit Role
      {{else}}
        {{@model.id}}
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq @mode "show")}}
<Toolbar>
  <ToolbarActions>
    {{#if @model.canGenerateCredentials}}
    <button 
      type="button"
      class="toolbar-link"
      {{on 'click' (fn this.generateCreds @model.id)}}
      data-test-database-role-generate-creds
    >
      Generate credentials
    </button>
    {{/if}}
    {{#if @model.canDelete}}
    <ConfirmAction
      @buttonClasses="toolbar-link"
      @onConfirmAction={{action 'delete'}}
      @confirmTitle="Delete role?"
      @confirmMessage="This role will be permanently deleted. You will need to re-create it to use it again."
      @confirmButtonText="Delete"
      data-test-database-role-delete
    >
      Delete role
    </ConfirmAction>
    {{/if}}
    {{#if @model.canEditRole}}
    <ToolbarSecretLink
      @secret={{concat 'role/' @model.id}}
      @mode="edit"
      @replace=true
      @queryParams={{query-params itemType="role"}}
      @data-test-edit-link=true
    >
      Edit role
    </ToolbarSecretLink>
    {{/if}}
  </ToolbarActions>
</Toolbar>
{{/if}}

{{#if (eq @mode 'create')}}
<form
  {{on 'submit' this.handleCreateRole}}>
  {{#each @model.fieldAttrs as |attr|}}
    {{#if (not-eq attr.options.readOnly true)}}
      {{form-field data-test-field attr=attr model=@model}}
    {{/if}}
  {{/each}}

  <DatabaseRoleSettingForm
    @attrs={{@model.roleSettingAttrs}}
    @roleType={{@model.type}}
    @model={{@model}}
    @mode={{@mode}}
  />

  <div class="field is-grouped is-grouped-split is-fullwidth box is-bottomless">
    <div class="field is-grouped">
      <div class="control">
        {{#if (eq @model.canUpdateDb false)}}
          <ToolTip @horizontalPosition="left" as |T|>
            <T.trigger>
              <button
                data-test-secret-save
                type="submit"
                disabled={{this.buttonDisabled}}
                class="button is-primary"
              >
                Save
              </button>
            </T.trigger>
            <T.content @class="tool-tip">
              <div class="box">
                You don't have permissions to update the connection {{array (get @model 'database')}}, so this role cannot be created.
              </div>
            </T.content>
          </ToolTip>
        {{else}}
        <button
          data-test-secret-save
          type="submit"
          disabled={{this.buttonDisabled}}
          class="button is-primary"
        >
          Save
        </button>
        {{/if}}
      </div>
      <div class="control">
        <SecretLink @mode="list" @class="button">
          Cancel
        </SecretLink>
      </div>
    </div>
  </div>
</form>
{{else}}
  {{#each @model.fieldAttrs as |attr|}}
    {{#let attr.options.defaultDisplay as |defaultDisplay|}}
      {{#if (eq attr.type "object")}}
        <InfoTableRow @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{stringify (get @model attr.name)}} />
      {{else}}
        <InfoTableRow @renderBlank={{true}} @alwaysRender={{true}} @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{or (get @model attr.name) defaultDisplay}} />
      {{/if}}
    {{/let}}
  {{/each}}
{{/if}}
