<PageHeader as |p|>
  <p.top>
    <KeyValueHeader @baseKey={{@model}} @path="vault.cluster.secrets.backend.list" @mode={{mode}} @root={{@root}} @showCurrent={{true}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq @mode "create") }}
        Create Connection
      {{else if (eq @mode "edit")}}
        Edit Connection
      {{else}}
        Connection <code>{{@model.id}}</code>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq @mode "show")}}
[Toolbar with actions]
{{/if}}

{{#if (eq @mode 'create')}}
<form
  {{on 'submit' this.handleSubmit}}>
  {{#each @model.fieldAttrs as |attr|}}
    <p>{{attr.name}}: {{get @model attr.name}}</p>
    <input
      {{on 'input' (fn this.updateValue attr.name)}}
      id="form-{{attr.name}}"
      placeholder={{attr.name}}
      value={{get this attr.name}}
      type="text">
  {{/each}}

    <input type="submit" value="SEND" />
</form>
{{else if (eq @mode 'edit')}}
[Edit form]
{{else}}
[Show]
  {{#each @model.fieldAttrs as |attr|}}
    {{#if (eq attr.type "object")}}
      <InfoTableRow @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{stringify (get @model attr.name)}} />
    {{else}}
      <InfoTableRow @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{get @model attr.name}} />
    {{/if}}
  {{/each}}

{{/if}}