{{!-- ARG TODO check if linked block accepts at item.id --}}
{{#linked-block
  "vault.cluster.secrets.backend.show"
  item.id
  class="list-item-row"
  data-test-secret-link=item.id
  encode=true
}}
  <div class="columns is-mobile">
    <div class="column is-10">
      <LinkTo @route={{concat "vault.cluster.secrets.backend.show" }} @model={{@item.id}} class="has-text-black has-text-weight-semibold">
        <Icon
          @glyph="user-square-outline"
          class="has-text-grey-light is-pulled-left"
        />
        <div class="role-item-details">
          <span class="is-underline">{{if (eq @item.id ' ') '(self)' (or @item.keyWithoutParent @item.id)}}</span>
          <span class="tag has-text-grey-dark">{{this.keyTypeValue}}</span>
        </div>
      </LinkTo>
    </div>
    <div class="column has-text-right">
      <PopupMenu name="secret-menu">
        <nav class="menu">
          <ul class="menu-list">
            {{#if @item.updatePath.canRead}}
              <li class="action">
                <SecretLink
                  @mode="show"
                  @secret={{@itemPath}}
                  @class="has-text-black has-text-weight-semibold">
                  Details
                </SecretLink>
              </li>
            {{/if}}
            {{#if @item.updatePath.canUpdate}}
              <li class="action">
                <SecretLink
                  @mode="edit"
                  @secret={{@itemPath}}
                  @class="has-text-black has-text-weight-semibold">
                  Edit
                </SecretLink>
              </li>
            {{/if}}
          </ul>
        </nav>
      </PopupMenu>
    </div>
  </div>
{{/linked-block}}
