<div class="empty-state">
  <div class="empty-state-content">
    <h3 class="empty-state-title">
      {{title}}
    </h3>
    {{#if message}}
    <p class="empty-state-message">
      {{message}}
    </p>
    {{/if}}
    {{#if hasBlock}}
      <div class="empty-state-actions">
        {{yield}}
      </div>
    {{else if emptyActions}}
      <div class="empty-state-actions">
        {{component emptyActions}}
      </div>
    {{/if}}
  </div>
</div>
