<PageHeader as |p|>
  <p.top>
    <KeyValueHeader @path="vault.cluster.access.methods">
      <li>
        <span class="sep">
          /
        </span>
        <LinkTo @route="vault.cluster.access.methods">
          methods
        </LinkTo>
      </li>
    </KeyValueHeader>
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{this.methodModel.id}}
    </h1>
  </p.levelLeft>
</PageHeader>
{{#with (tabs-for-auth-section this.methodModel 'authConfig' this.paths) as |tabs|}}
  {{#if tabs.length}}
    <div class="tabs-container box is-sideless is-fullwidth is-paddingless is-marginless">
      <nav class="tabs">
        <ul>
          {{#each tabs as |tab|}}
            {{!-- template-lint-configure no-curly-component-invocation "warn" --}}
            {{#link-to
              params=tab.routeParams
              tagName="li"
              data-test-auth-section-tab=true
            }}
              {{#link-to params=tab.routeParams}}
                {{tab.label}}
              {{/link-to}}
            {{/link-to}}
            {{!-- template-lint-configure no-curly-component-invocation "on" --}}
          {{/each}}
        </ul>
      </nav>
    </div>
  {{/if}}
{{/with}}
<Toolbar>
  <ToolbarActions>
    <ToolbarLink
      @data-test-entity-create-link={{this.itemType}}
      @type="add"
      @params={{array
        "vault.cluster.access.method.item.create"
        this.itemType
      }}>
      Create
      {{singularize this.itemType}}
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>
<ListView @items={{this.model}} @itemNoun={{this.itemType}} @paginationRouteName="vault.cluster.access.method.item.list" as |list|>
  {{#if list.empty}}
    <list.empty @title="No {{pluralize this.itemType}} yet"
      @message="A list of {{pluralize this.itemType}} will be listed here. Create your first {{this.itemType}} to get started.">
      {{!-- template-lint-configure no-curly-component-invocation "warn" --}}
      {{!-- template-lint-configure no-link-to-positional-params "warn" --}}
      {{#link-to
        "vault.cluster.access.method.item.create"
        this.itemType
        class="link"
      }}
        Create {{singularize this.itemType}}
      {{/link-to}}
      {{!-- template-lint-configure no-curly-component-invocation "on" --}}
      {{!-- template-lint-configure no-link-to-positional-params "on" --}}
    </list.empty>
  {{else if list.item}}
    <ListItem @linkParams={{array "vault.cluster.access.method.item.show"
      this.itemType
      list.item.id}} as |Item|>
      <Item.content>
        <Icon @glyph="folder-outline" class="has-text-grey-light" @size="l" />{{list.item.id}}
      </Item.content>
      <Item.menu as |Menu|>
        <li class="action">
          {{!-- template-lint-configure no-curly-component-invocation "warn" --}}
          {{!-- template-lint-configure no-link-to-positional-params "warn" --}}
          {{#link-to "vault.cluster.access.method.item.show" list.item.id class="is-block"}}
            View {{singularize this.itemType}}
          {{/link-to}}
        </li>
        <li class="action">
          {{#link-to "vault.cluster.access.method.item.edit" list.item.id class="is-block"}}
            Edit {{singularize this.itemType}}
          {{/link-to}}
          {{!-- template-lint-configure no-curly-component-invocation "on" --}}
          {{!-- template-lint-configure no-link-to-positional-params "on" --}}
        </li>
        <li>
          <Menu.Message
            @id={{list.item.id}}
            @buttonClasses="link is-destroy"
            @onConfirm={{action
              (perform
                Item.callMethod
                "destroyRecord"
                list.item
                (concat "Successfully deleted " (singularize this.itemType) " " list.item.id ".")
                (concat "There was an error deleting this " (singularize this.itemType))
                (action "refreshItemList")
              )
            }}
            @message={{concat "Are you sure you want to delete " (singularize this.itemType) " " list.item.id "?"}}
            data-test-secret-delete="true"
            @triggerText={{concat "Delete " (singularize this.itemType)}} />
        </li>
      </Item.menu>
    </ListItem>
  {{/if}}
</ListView>
