<form {{action (perform saveModel) on="submit"}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <NamespaceReminder @mode="save" @noun={{model.itemType}} />
    <MessageError @model={{model}} />
    <FormFieldGroups @model={{model}} @mode={{mode}}/>
  </div>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <button
      type="submit"
      data-test-save-config="true"
      class="button is-primary {{if saveModel.isRunning "loading"}}"
      disabled={{saveModel.isRunning}}
    >
      Save
    </button>
  </div>
</form>