<div class="selectable-card is-rounded no-flex">
  <div class="is-flex-between is-fullwidth card-details" >
    <h3 class="title is-5">{{title}}</h3>
    {{!-- ARG TODO right now this empty LINKTO is being kept for spacing considerations. --}}
    <LinkTo 
      @route={{actionTo}}
      @class="has-icon-right is-ghost is-no-underline has-text-semibold"
      @query={{hash tab=queryParam}}
    >
      {{actionText}}
      {{#if actionText}}<Icon @glyph="chevron-right" />{{/if}}
    </LinkTo>
  </div>
  {{!-- ARG TODO hardcoded Role to use --}}
    <p class="is-label search-label">Role to use</p>
    <SearchSelect
      @id={{id}}
      @models={{models}}
      @selectLimit='1'
      @getSelectedValue={{action 'getSelectedValue'}}
    />
    <button
      type="button"
      class="button is-secondary"
      disabled={{buttonDisabled}}
      onclick={{action "transitionToCredential"}}
      data-test-replication-action-trigger
    >
      {{title}}
    </button>
  {{yield}}
</div>
