<ToolTip @renderInPlace={{true}} @onClose={{action (mut tooltipText) "Copy"}} as |T|>
  <T.trigger data-test-tool-tip-trigger tabindex=false>
    <CopyButton
      @clipboardText={{copyValue}}
      @class="copy-button button is-compact is-transparent"
      @success={{action (mut tooltipText) "Copied!"}}
    >
      <ICon @glyph="copy" aria-hidden="true" @size=16 />
    </CopyButton>
  </T.trigger>
  <T.content @class="tool-tip">
    <div class="box">
      {{tooltipText}}
    </div>
  </T.content>
</ToolTip>
