<label for="date-range" class="is-label toolbar-label">
  Date Range
</label>
<div class="select">
  <select class="select" id="date-range" data-test-date-range name="selectedTimeWindow" data-test-timewindow-select onchange={{action "onSelectTimeWindow"}}>
      <option value="All" selected={{eq timeWindow "All"}}>All</option>/>
      <option value="Last 12 Months" selected={{eq timeWindow "Last 12 Months"}}>Last 12 Months</option>
    {{#each options as |op|}}
      <option value={{op}} selected={{eq timeWindow op}}>{{op}}</option>
    {{/each}}
  </select>
</div>
