<table class="is-fullwidth">
  <thead class="has-text-grey-dark has-text-weight-semibold">
    <tr>
      <td>Month</td>
      <td>Requests</td>
      {{#if showChangeColumn}}
        <td>Change</td>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each countersWithChange as |c|}}
      <tr>
        <td class="has-text-black has-text-weight-semibold">{{ date-format c.start_time 'MMMM YYYY' }}</td>
        <td>{{c.total}}</td>
        {{#if showChangeColumn}}
          <td data-test-change="{{c.percentChange}}">
            {{#if c.percentChange}}
              <Icon @glyph={{c.glyph}} />
              {{c.percentChange}}%
            {{/if}}
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
