{{#if componentName}}
  {{component componentName item=item}}
{{else if linkParams}}
  <LinkedBlock @params={{linkParams}} @class="list-item-row">
    <div class="level is-mobile">
      <div class="level-left">
        <div>
          {{#link-to params=linkParams class="has-text-weight-semibold"}}
            {{yield (hash content=(component "list-item/content"))}}
          {{/link-to}}
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          {{#if hasBlock}}
            {{yield (hash callMethod=callMethod menu=(component "list-item/popup-menu"))}}
          {{/if}}
        </div>
      </div>
    </div>
  </LinkedBlock>
{{else}}
  <div class="list-item-row">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="has-text-grey has-text-weight-semibold">
          {{yield (hash content=(component "list-item/content"))}}
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
            {{yield (hash callMethod=callMethod menu=(component "list-item/popup-menu"))}}
        </div>
      </div>
    </div>
  </div>
{{/if}}

