{{#if componentName}}
  {{component componentName item=item }}
{{else if linkParams}}
  <LinkedBlock @params={{linkParms}} @class="list-item-row">
    <div class="columns is-mobile">
      <div class="column is-10">
        {{yield (hash content=(component "list-item/content" ))}}
      </div>
      <div class="column has-text-right">
        {{#if hasBlock}}
          {{yield (hash menu=(component "list-item/popup-menu"))}}
        {{/if}}
      </div>
    </div>
  </LinkedBlock>
{{else}}
  <div class="list-item-row">
    <div class="columns is-mobile">
      <div class="column is-10">
        {{yield (hash content=(component "list-item/content" ))}}
      </div>
      <div class="column has-text-right">
        {{#if hasBlock}}
          {{yield (hash menu=(component "list-item/popup-menu"))}}
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}

