<aside class="menu">
  {{#if this.title}}
    <p class="menu-label">
      {{this.title}}
    </p>
  {{/if}}
  <ul class="menu-list">
    {{yield}}
  </ul>
  <div class="menu-toggle">
    {{#if this.isActive}}
      <button type="button" class="button is-ghost" {{action "closeMenu"}}>
        <Icon @name="x" aria-label="Close menu" />
      </button>
    {{else}}
      <button type="button" class="button is-ghost has-text-grey-light" {{action "openMenu"}}>
        <Icon @name="more-vertical" aria-label="Open menu" />
      </button>
    {{/if}}
  </div>
</aside>