<aside class="menu">
  {{#if title}}
    <p class="menu-label">
      {{title}}
    </p>
  {{/if}}
  <ul class="menu-list">
    {{yield}}
  </ul>
  <div class="menu-toggle">
    {{#if isActive}}
      <button type="button" class="button is-ghost" aria-label="close menu" {{action "closeMenu"}}>
        {{i-con glyph="close" size=16}}
      </button>
    {{else}}
      <button type="button" class="button is-ghost has-text-grey-light" aria-label="open menu" {{action "openMenu"}}>
        <ICon @glyph="more-vertical" @size=16 />
      </button>
    {{/if}}
  </div>
</aside>
