<div class="{{messageClass}} message-in-page" data-test-flash-message=true>
  <div class="columns is-mobile is-variable is-1">
    <div class="column is-narrow">
      {{i-con
        glyph=alertType.glyph
        class=alertType.glyphClass
        size=22
        excludeIconClass=true
      }}
    </div>
    {{#if yieldWithoutColumn}}
      {{yield}}
    {{else}}
      <div class="column">
        <p>
        <strong>{{alertType.text}}</strong>
        {{yield}}
        </p>
      </div>
    {{/if}}
  </div>
</div>
