<PageHeader as |p|>
  <p.top>
    <nav class="breadcrumb">
      <ul>
        <li>
          <span class="sep">&#x0002f;</span>
          <LinkTo @route="vault.cluster.access.mfa.enforcements.index">
            Enforcements
          </LinkTo>
        </li>
      </ul>
    </nav>
  </p.top>
  <p.levelLeft>
    <h1 class="title {{if @heading 'is-3' 'is-5'}}">
      {{#if @heading}}
        <Icon @name="lock" @size="24" />
        {{@heading}}
      {{else}}
        Enforcement
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>
<div class="has-border-top-light">
  <p class="has-top-margin-m">
    {{#if @heading}}
      An enforcement will define which auth types, auth mounts, groups, and/or entities will require this MFA method. Keep in
      mind that only one of these conditions needs to be satisfied. For example, if an authentication method is added here,
      all entities and groups which make use of that authentication method will be subject to an MFA request.
      <a href="https://www.vaultproject.io/docs/auth/login-mfa" target="_blank" rel="noopener noreferrer">
        Learn more here.
      </a>
    {{else}}
      An enforcement includes the authentication types, authentication methods, groups, and entities that will require this
      MFA method. This is optional and can be added later.
    {{/if}}
  </p>
  {{#unless @heading}}
    <div class="is-flex-row">
      <RadioCard
        @title="Create new"
        @description="Create a new enforcement for this MFA method."
        @icon="plus-circle"
        @value="new"
        @groupValue={{@radioCardGroupValue}}
        @onChange={{@onRadioCardSelect}}
      />
      <RadioCard
        @title="Use existing"
        @description="Use an existing enforcement configuration."
        @icon="list"
        @value="existing"
        @groupValue={{@radioCardGroupValue}}
        @disabled={{not this.enforcements.length}}
        @onChange={{@onRadioCardSelect}}
      />
      <RadioCard
        @title="Skip this step"
        @description="Create MFA without enforcement for now. "
        @icon="build"
        @value="skip"
        @groupValue={{@radioCardGroupValue}}
        @onChange={{@onRadioCardSelect}}
      />
    </div>
    {{#if (eq @radioCardGroupValue "existing")}}
      <SearchSelect
        @label="Enforcement"
        @labelClass="is-label"
        @subText="Choose the existing enforcement(s) to add to this MFA method."
        @placeholder="Search for an existing enforcement"
        @options={{this.enforcements}}
        @shouldRenderName={{true}}
        @selectLimit={{1}}
        @onChange={{@onEnforcementSelect}}
      />
    {{/if}}
  {{/unless}}
</div>