<div class="auth-form">
  <div class="box is-marginless is-shadowless">
    <p>
      Multi-factor authentication is enabled for your account. Enter your authentication code to log in.
    </p>
    <form id="auth-form" {{on "submit" this.submit}}>
      <div class="field has-top-margin-l">
        <label for="passcode" class="is-label">Authentication code</label>
        <div class="control">
          <Input
            id="passcode"
            name="passcode"
            class="input"
            autocomplete="off"
            spellcheck="false"
            autofocus="true"
            disabled={{or this.validate.isRunning this.newCodeDelay.isRunning}}
            @value={{this.passcode}}
            data-test-mfa-passcode={{true}}
          />
        </div>
      </div>
      {{#if this.newCodeDelay.isRunning}}
        <div>
          <AlertInline
            @type="danger"
            @sizeSmall={{true}}
            @message="This code is invalid. Please wait until a new code is available."
          />
        </div>
      {{/if}}
      <button
        id="validate"
        type="submit"
        disabled={{or this.validate.isRunning this.newCodeDelay.isRunning}}
        class="button is-primary {{if this.validate.isRunning "is-loading"}}"
        data-test-mfa-validate
      >
        Verify
      </button>
      {{#if this.newCodeDelay.isRunning}}
        <Icon @name="delay" class="has-text-grey" />
        <span class="has-text-grey is-v-centered" data-test-mfa-countdown>{{this.countdown}}</span>
      {{/if}}
    </form>
  </div>
</div>