<p>
  WAITING FOR DESIGN
</p>
<div class="field has-top-margin-l">
  <MessageError @errorMessage={{this.error}} class="has-top-margin-s" />
  {{#if @warning}}
    <AlertBanner @type="warning" @title={{@warning}} class="has-top-margin-l" />
  {{else}}
    <div class="list-item-row">
      <div class="center-display">
        {{! template-lint-disable no-curly-component-invocation }}
        {{qr-code text=@qrCode colorLight="#F7F7F7" width=155 height=155 correctLevel="L"}}
      </div>
    </div>
    <div class="has-top-margin-s">
      <p>
        WAITING FOR DESIGN
      </p>
    </div>
  {{/if}}
  <div class="is-flex-start has-top-margin-l">
    <button id="restart" type="button" class="button has-text-danger" {{on "click" this.restartSetup}}>
      Restart setup
    </button>
    <button id="cancel" type="button" {{on "click" this.redirectPreviousPage}} class="button is-primary">
      Done
    </button>
  </div>
</div>