{{#ember-wormhole to="modal-wormhole"}}
  <div class="modal {{if isActive 'is-active'}}" aria-modal="true">
    <div class="modal-background" onclick={{onClose}} data-test-modal-background></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title" data-test-modal-title>{{title}}</p>
          <button class="delete" aria-label="close" onclick={{onClose}}></button>
        </header>
      {{yield}}
    </div>
  </div>
{{/ember-wormhole}}
