{{#if this.label}}
  <label for={{this.name}} class="is-label">
    {{this.label}}
    {{#if this.helpText}}
      <InfoTooltip>
        <span data-test-help-text>{{this.helpText}}</span>
      </InfoTooltip>
    {{/if}}
  </label>
{{/if}}
{{#if this.authMethods.isRunning}}
  <div>
    <span class="loader is-inline-block"></span>
  </div>
{{else if this.authMethods.last.value}}
  <div class="control is-expanded">
    <div class="select is-fullwidth">
      <select name={{this.name}} id={{this.name}} onchange={{action "change" value="target.value"}}>
        {{#if this.noDefault}}
          <option value="">Select one</option>
        {{/if}}
        {{#each this.authMethods.last.value as |method|}}
          {{! token type does not need to be authorized via MFA }}
          {{#if this.filterToken}}
            {{#if (not-eq method.id "token")}}
              <option selected={{eq this.value method.accessor}} value={{method.accessor}}>
                {{method.path}}
                ({{if this.showAccessor method.accessor method.type}})
              </option>
            {{/if}}
          {{else}}
            <option selected={{eq this.value method.accessor}} value={{method.accessor}}>
              {{method.path}}
              ({{if this.showAccessor method.accessor method.type}})
            </option>
          {{/if}}
        {{/each}}
      </select>
    </div>
  </div>
{{else}}
  <input
    name={{this.name}}
    id={{this.name}}
    class="input"
    value={{this.value}}
    placeholder="Mount accessor"
    onchange={{action "change" value="target.value"}}
  />
{{/if}}