<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3" data-test-mount-form-header=true>
      {{#if (eq mountType "auth")}}
        Enable an authentication method
      {{else}}
        Enable a secrets engine
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>
<form {{action (perform mountBackend) on="submit"}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <NamespaceReminder @mode="enable" @noun={{if (eq mountType "auth") "auth method" "secret engine"}} />
    {{message-error model=mountModel}}
    {{#each mountTypes as |type|}}
    <div class="box">
      <label for={{type.type}}>
        <ICon @size=48 @excludeIconClass={{true}} @glyph={{concat "enable/" (or type.glyph type.type)}} />
          {{type.displayName}}
        {{radio-button
          value=type.type
          groupValue=mountModel.type
          changed=(queue (action (mut mountModel.type)) (action "onTypeChange" "type"))
          name="replication-mode"
          radioId=type.type
        }}
      </label>
    </div>
    {{/each}}
    {{form-field-groups model=mountModel onChange=(action "onTypeChange") renderGroup="default"}}
    {{#if mountModel.authConfigs.firstObject}}
      {{form-field-groups model=mountModel.authConfigs.firstObject}}
    {{/if}}
    {{form-field-groups model=mountModel onChange=(action "onTypeChange") renderGroup="Method Options"}}
  </div>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <button type="submit" data-test-mount-submit=true class="button is-primary {{if mountBackend.isRunning 'loading'}}" disabled={{mountBackend.isRunning}}>
      {{#if (eq mountType "auth")}}
        Enable Method
      {{else}}
        Enable Engine
      {{/if}}
    </button>
  </div>
</form>
