<PageHeader as |p|>
  <p.top>
    <KeyValueHeader @baseKey={{this.model}} @path="vault.cluster.access.method" @root={{this.root}} @showCurrent={{true}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{capitalize this.model.methodType}}
    </h1>
  </p.levelLeft>
  <p.levelRight>
    {{#if (eq this.section "configuration")}}
      <div class="field is-grouped">
        <div class="control">
          <LinkTo
            @route="vault.cluster.settings.auth.configure"
            @model={{this.model.id}}
            class="button is-ghost has-icon-right is-compact"
            data-test-configure-link={{true}}
          >
            Configure
            <Chevron />
          </LinkTo>
        </div>
      </div>
    {{/if}}
  </p.levelRight>
</PageHeader>
{{section-tabs this.model "authShow"}}
{{component (concat "auth-method/" this.section) model=this.model}}