{{#if (and (not accessibleNamespaces) inRootNamespace)}}
  {{!-- Just yield the logo if they're in the default namespace and only have access to it --}}
  {{yield}}
{{else}}
  <BasicDropdownHover @horizontalPosition="auto-left" @verticalPosition="below" as |D|>
    <D.trigger
      @tagName="button"
      @class="button is-transparent"
      >
      {{yield}} {{namespaceDisplay}}
      <ICon
        @glyph="chevron-down"
        @size=8
        @class="has-text-white auto-width is-status-chevron"
        aria-hidden="true"
      />
    </D.trigger>
    <D.content @class="namespace-picker-content">
      <div onclick={{D.actions.close}}>
        <div class="namespace-header-bar level">
          <div class="level-left">
            {{#if (not isUserRootNamespace)}}
              {{#link-to "vault.cluster.secrets" (query-params namespace=auth.authData.userRootNamespace)}}
                Back
              {{/link-to}}
            {{/if}}
          </div>
          <div class="level-right">
            {{#link-to "vault.cluster.access.namespaces"}}
              Manage
            {{/link-to}}
          </div>
        </div>
        <h5 class="namespace-header">Current namespace</h5>
        <NamespaceLink @targetNamespace={{namespacePath}} @class="namespace-link" />
        <div class="namespace-list">
          {{#each accessibleNamespaces as |ns|}}
          <NamespaceLink @targetNamespace={{ns.id}} @class="namespace-link" />
          {{/each}}
        </div>
      </div>
    </D.content>
  </BasicDropdownHover>
{{/if}}

