{{#if isCurrentNamespace}}
  <div class="level {{class}}">
    <span class="level-left">{{or targetNamespace "default"}}</span>
    <ICon @glyph="checkmark-circled-outline" @size="16" @class="has-text-success level-right" />
  </div>
{{else}}
  {{#link-to "vault.cluster.secrets" (query-params namespace=queryParamValue)
    class=(concat "is-block " class)
  }}
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      <div class="level">
        <span class="level-left">{{targetNamespace}}</span>
        <ICon @glyph="chevron-right" @size="12" @class="has-text-grey level-right" />
      </div>
    {{/if}}
  {{/link-to}}
{{/if}}
