{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="namespace-picker" ...attributes>
  <Hds::Form::SuperSelect::Single::Field
    @afterOptionsComponent={{component "namespace-picker/after-options" loadOptions=this.loadOptions}}
    @selectedItemComponent={{component "namespace-picker/selected-option"}}
    @label="Namespace"
    @placeholder="Search"
    @options={{this.options}}
    @selected={{this.selected}}
    @onChange={{this.handleChange}}
    @searchEnabled={{true}}
    @showAfterOptions={{true}}
    @verticalPosition="above"
    as |F|
  >
    <F.Label>Namespace</F.Label>
    <F.Options>
      {{#let F.options as |option|}}
        <ExternalLink @href={{this.getNamespaceLink option}} @sameTab={{true}}>
          {{option}}
        </ExternalLink>
      {{/let}}
    </F.Options>
  </Hds::Form::SuperSelect::Single::Field>
</div>