<ExternalLink
  @href={{this.namespaceLink}}
  @sameTab={{true}}
  class={{concat "is-block " this.class}}
  data-test-namespace-link={{this.normalizedNamespace}}
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class="level is-mobile">
      <span class="level-left">{{this.namespaceDisplay}}</span>
      <span class="level-right">
        <Chevron @isButton={{true}} class="button is-ghost icon has-text-grey" />
      </span>
    </div>
  {{/if}}
</ExternalLink>