{{#if (and (not accessibleNamespaces) inRootNamespace)}}
  {{!-- Just yield the logo if they're in the default namespace and only have access to it --}}
  {{yield}}
{{else}}
  <BasicDropdown @horizontalPosition="auto-left" @verticalPosition="below" as |D|>
    <D.trigger
      @tagName="button"
      @class="button is-transparent"
      >
      {{yield}} {{namespaceDisplay}}
      <ICon
        @glyph="chevron-down"
        @size=8
        @class="has-text-white auto-width is-status-chevron"
        aria-hidden="true"
      />
    </D.trigger>
    <D.content @class="namespace-picker-content">
        <div class="namespace-header-bar level">
          <div class="level-left">
            {{#if (not isUserRootNamespace)}}
              <NamespaceLink @targetNamespace={{or (object-at (dec 2 menuLeaves.length) lastMenuLeaves) auth.authData.userRootNamespace}} @class="namespace-link">
                <ICon
                  @glyph="chevron-left"
                  @size=12
                  @class="has-text-info"
                  aria-hidden="true"
                />
              </NamespaceLink>
            {{/if}}
          </div>
          <div class="level-right">
            {{#link-to "vault.cluster.access.namespaces"}}
              Manage
            {{/link-to}}
          </div>
        </div>
        <h5 class="namespace-header">Current namespace</h5>
        <NamespaceLink @targetNamespace={{namespacePath}} @class="namespace-link" />
        <div class="namespace-list">
          {{#each rootLeaves as |rootLeaf|}}
            <div>
              <NamespaceLink @targetNamespace={{rootLeaf}} @class="namespace-link" />
            </div>
          {{/each}}
          {{#each lastMenuLeaves as |leaf index|}}
          <div class="leaf-panel {{if (eq leaf currentLeaf) "leaf-panel-current"}} {{if (and (eq isAdding false) (eq leaf changedLeaf)) "leaf-panel-exiting"}}">
            {{#each-in (get namespaceTree leaf) as |leafName val|}}
              <NamespaceLink @targetNamespace={{concat leaf "/" leafName}} @class="namespace-link" />
            {{/each-in}}
            </div>
          {{/each}}
        </div>
    </D.content>
  </BasicDropdown>
{{/if}}
