{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}
<ExternalLink
  @href={{this.namespaceLink}}
  @sameTab={{true}}
  class={{concat "is-block " this.class}}
  data-test-namespace-link={{this.normalizedNamespace}}
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class="level is-mobile">
      <span class="level-left">{{this.namespaceDisplay}}</span>
      <span class="level-right">
        <Hds::Button @text="Go to namespace" @icon="chevron-right" @isIconOnly={{true}} @color="tertiary" />
      </span>
    </div>
  {{/if}}
</ExternalLink>