<nav class="navbar">
  <div class="navbar-brand" data-test-navheader-home>
    {{yield (hash home=(component 'nav-header/home'))}}
  </div>

  {{#unless navDrawerOpen}}
  <button class="navbar-drawer-toggle is-hidden-tablet" {{action "toggleNavDrawer"}}>
      <ICon @glyph="more-vertical" @size="16" /> Menu
    </button>
  {{/unless}}

  <div class="navbar-drawer{{if navDrawerOpen ' is-active'}}">
    <div class="navbar-drawer-scroll">
      <div data-test-navheader-main>
        {{yield (hash
          main=(component 'nav-header/main')
          closeDrawer=(action "toggleNavDrawer" false)
          )
        }}
      </div>
      <div class="navbar-end" data-test-navheader-items>
        {{yield (hash
          items=(component 'nav-header/items')
          closeDrawer=(action "toggleNavDrawer" false)
          )
        }}
      </div>
    </div>

    {{#if navDrawerOpen}}
      <button class=" navbar-drawer-toggle is-hidden-tablet" type="button" {{action "toggleNavDrawer" false}}>
        <ICon @glyph="close" @size="16" />
      </button>
    {{/if}}
  </div>

  <div class="navbar-drawer-overlay{{if navDrawerOpen ' is-active'}}" onclick={{action "toggleNavDrawer" (not navDrawerOpen)}}></div>
</nav>
{{console/ui-panel isFullscreen=consoleFullscreen}}
