<div class="field">
  <p class="control has-icons-left has-icons-right">
  <input
    class="filter input"
    disabled={{disabled}}
    value={{@filter}}
    placeholder={{ or @placeholder "Filter keys" }}
    type="text"

    oninput={{action "handleInput" value="target.value"}}
    onkeyup={{action "handleKeyUp" }}
    onkeydown={{action "handleKeyPress"}} 
    onfocus={{action "setFilterFocused" true}}
    onblur={{action "setFilterFocused" false}}
   /> 

    {{i-con glyph="ios-search-strong" class="is-left has-text-grey" size=18}}
  </p>
</div>
