{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="has-padding-l">
  <p data-test-okta-number-challenge-description>
    To finish signing in, you will need to complete an additional MFA step.
  </p>
  {{! todo handle this? right now we go back to login form and show errors there }}
  {{#if @hasError}}
    <MessageError class="has-top-margin-s" @errorMessage={{@hasError}} />
  {{else if @correctAnswer}}
    <p class="has-top-margin-s has-text-weight-semibold" data-test-verification-type>
      Okta verification
    </p>
    <p data-test-description>Select the following number to complete verification:</p>
    <h2 class="title has-font-weight-normal has-top-margin-m has-bottom-margin-s" data-test-answer>
      {{@correctAnswer}}
    </h2>
  {{else}}
    <div class="has-top-margin-l has-bottom-margin-m is-flex-row">
      <Hds::Icon @name="loading" class="align-self-center" />
      <p class="has-left-margin-xs" data-test-loading>Please wait...</p>
    </div>
  {{/if}}

  <Hds::Button
    @text="Back to login"
    @icon="arrow-left"
    @color="tertiary"
    {{on "click" @onReturnToLogin}}
    data-test-back-button
  />
</div>