<PageHeader as |p|>
  <p.top>
    {{key-value-header
      baseKey=(hash display=model.id id=model.idForNav)
      path="vault.cluster.secrets.backend.list"
      mode=mode
      root=root
      showCurrent=true
    }}
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      PKI Certificate
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  {{message-error model=model}}
  {{#each model.attrs as |attr|}}
    {{#if (eq attr.type "object")}}
      {{info-table-row label=(capitalize (or attr.options.label (humanize (dasherize attr.name)))) value=(stringify (get model attr.name))}}
    {{else}}
      {{info-table-row label=(capitalize (or attr.options.label (humanize (dasherize attr.name)))) value=(get model attr.name)}}
    {{/if}}
  {{/each}}
</div>
<div class="field is-grouped is-grouped-split box is-fullwidth is-bottomless">
  <div class="field is-grouped">
    <div class="control">
      {{#copy-button
        clipboardText=model.toCreds
        class="button is-primary"
        buttonType="button"
        success=(action (set-flash-message "Credentials copied!"))
      }}
        Copy credentials
      {{/copy-button}}
    </div>
    <div class="control">
      {{#link-to
        "vault.cluster.secrets.backend.list-root"
        (query-params tab="certs")
        class="button"
      }}
        Back
      {{/link-to}}
    </div>
  </div>
  {{#if (and (not model.revocationTime) model.canRevoke)}}
    {{#confirm-action
      buttonClasses="button"
      onConfirmAction=(action "delete")
      confirmMessage=(concat "Are you sure you want to revoke " model.id "?")
      cancelButtonText="Cancel"
      confirmButtonText="Revoke"
    }}
      Revoke
    {{/confirm-action}}
  {{/if}}
</div>
