<Form::Policy @onSave={{this.onSave}} @model={{@model}} @onCancel={{@onCancel}}>
  <div class="has-bottom-margin-m">
    <p>
      More information about
      {{uppercase @model.policyType}}
      policies can be found
      <DocLink
        @host="https://developer.hashicorp.com"
        @path={{if
          (eq @model.policyType "acl")
          "/vault/docs/concepts/policies#capabilities"
          "/vault/tutorials/policies/sentinel#role-governing-policies-rgps"
        }}
      >
        here.
      </DocLink>
    </p>
  </div>
</Form::Policy>