{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.top>
    <KeyValueHeader
      @baseKey={{this.model}}
      @path="vault.cluster.secrets.backend.list"
      @mode={{this.mode}}
      @root={{this.root}}
      @showCurrent={{true}}
    />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq this.mode "create")}}
        Create an AWS Role
      {{else if (eq this.mode "edit")}}
        Edit AWS Role
        <code>{{this.model.id}}</code>
      {{else}}
        AWS Role
        <code>{{this.model.id}}</code>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq this.mode "show")}}
  <Toolbar>
    <ToolbarActions>
      {{#if this.model.canDelete}}
        <ConfirmAction
          @buttonText="Delete role"
          class="toolbar-button"
          @buttonColor="secondary"
          @onConfirmAction={{action "delete"}}
        />
        <div class="toolbar-separator"></div>
      {{/if}}
      {{#if this.model.canGenerate}}
        <ToolbarSecretLink @secret={{this.model.id}} @mode="credentials" data-test-backend-credentials="iam">
          Generate credentials
        </ToolbarSecretLink>
      {{/if}}
      {{#if this.model.canEdit}}
        <ToolbarSecretLink @secret={{this.model.id}} @mode="edit" @replace={{true}}>
          Edit role
        </ToolbarSecretLink>
      {{/if}}
    </ToolbarActions>
  </Toolbar>
{{/if}}

{{#if (or (eq this.mode "edit") (eq this.mode "create"))}}
  <form onsubmit={{action "createOrUpdate" "create"}}>
    <div class="box is-sideless is-fullwidth is-marginless">
      <MessageError @model={{this.model}} />
      <NamespaceReminder @mode={{this.mode}} @noun="AWS role" />
      {{#if (gt this.model.credentialTypes.length 1)}}
        <Hds::Alert @type="inline" @color="warning" class="has-bottom-margin-s" as |A|>
          <A.Title>Warning</A.Title>
          <A.Description>
            This role has more than one
            <code>credential_type</code>, currently:
            {{join ", " this.model.credentialTypes}}. Multiple credential types is deprecated and you must choose one in
            order to save this role.
          </A.Description>
        </Hds::Alert>
      {{/if}}
      {{#each (if (eq this.mode "edit") (drop 1 (or this.model.fields (array))) this.model.fields) as |attr|}}
        <FormField data-test-field={{true}} @attr={{attr}} @model={{@model}} />
      {{/each}}
    </div>
    <div class="field is-grouped-split box is-fullwidth is-bottomless">
      <Hds::ButtonSet>
        <Hds::Button @text={{if (eq this.mode "create") "Create role" "Save"}} type="submit" data-test-role-aws-create />
        {{#if (eq this.mode "create")}}
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            @route="vault.cluster.secrets.backend.list-root"
            @model={{this.model.backend}}
          />
        {{else}}
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            @route="vault.cluster.secrets.backend.show"
            @models={{array this.model.backend this.model.id}}
          />
        {{/if}}
      </Hds::ButtonSet>
    </div>
  </form>
{{else}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    {{#if (gt this.model.credentialTypes.length 1)}}
      <Hds::Alert @type="inline" @color="warning" class="has-bottom-margin-s" as |A|>
        <A.Title>Warning</A.Title>
        <A.Description>
          This role has more than one
          <code>credential_type</code>, currently:
          {{join ", " this.model.credentialTypes}}. When you next edit this role, you will have to choose a single credential
          type.
        </A.Description>
      </Hds::Alert>
    {{/if}}
    {{#each this.model.fields as |attr|}}
      {{#if (eq attr.name "policyDocument")}}
        <InfoTableRow
          @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}}
          @value={{this.model.policyDocument}}
        >
          <pre><code class="is-paddingless">{{stringify (jsonify this.model.policyDocument)}}</code></pre>
        </InfoTableRow>
      {{else}}
        <InfoTableRow
          @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}}
          @value={{get this.model attr.name}}
        />
      {{/if}}
    {{/each}}
  </div>
{{/if}}