{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.top>
    <KeyValueHeader
      @baseKey={{this.model}}
      @path="vault.cluster.secrets.backend.list"
      @mode={{this.mode}}
      @root={{this.root}}
      @showCurrent={{true}}
    />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq this.mode "create")}}
        Create an SSH Role
      {{else if (eq this.mode "edit")}}
        Edit SSH Role
      {{else}}
        SSH Role
        <code>{{this.model.id}}</code>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq this.mode "show")}}
  <Toolbar>
    <ToolbarActions>
      {{#if this.model.canDelete}}
        <ConfirmAction
          @buttonText="Delete role"
          class="toolbar-button"
          @buttonColor="secondary"
          @onConfirmAction={{action "delete"}}
        />
        <div class="toolbar-separator"></div>
      {{/if}}
      {{#if (eq this.model.keyType "otp")}}
        <ToolbarSecretLink
          @secret={{this.model.id}}
          @mode="credentials"
          data-test-backend-credentials={{true}}
          @replace={{true}}
        >
          Generate Credential
        </ToolbarSecretLink>
      {{else}}
        <ToolbarSecretLink @secret={{this.model.id}} @mode="sign" data-test-backend-credentials={{true}} @replace={{true}}>
          Sign Keys
        </ToolbarSecretLink>
      {{/if}}
      {{#if (or this.model.canUpdate this.model.canDelete)}}
        <ToolbarSecretLink @secret={{this.model.id}} @mode="edit" data-test-edit-link={{true}} @replace={{true}}>
          Edit role
        </ToolbarSecretLink>
      {{/if}}
    </ToolbarActions>
  </Toolbar>
{{/if}}

{{#if (or (eq this.mode "edit") (eq this.mode "create"))}}
  <form onsubmit={{action "createOrUpdate" "create"}}>
    <div class="box is-sideless is-fullwidth is-marginless">
      <MessageError @model={{this.model}} />
      <NamespaceReminder @mode={{this.mode}} @noun="SSH role" />
      <FormFieldGroupsLoop @model={{this.model}} @mode={{this.mode}} />
    </div>
    <div class="field is-grouped-split box is-fullwidth is-bottomless">
      <Hds::ButtonSet>
        <Hds::Button @text={{if (eq this.mode "create") "Create role" "Save"}} type="submit" data-test-role-ssh-create />
        {{#if (eq this.mode "create")}}
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            @route="vault.cluster.secrets.backend.list-root"
            @model={{this.model.backend}}
            @query={{hash tab="role"}}
          />
        {{else}}
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            @route="vault.cluster.secrets.backend.show"
            @models={{array this.model.backend this.model.id}}
          />
        {{/if}}
      </Hds::ButtonSet>
    </div>
  </form>
{{else}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    {{#each this.model.showFields as |attr|}}
      {{#if (eq attr.type "object")}}
        <InfoTableRow
          @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}}
          @value={{stringify (get this.model attr.name)}}
        />
      {{else}}
        <InfoTableRow
          @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}}
          @value={{get this.model attr.name}}
        />
      {{/if}}
    {{/each}}
  </div>
{{/if}}