<PageHeader as |p|>
  <p.top>
    <KeyValueHeader @baseKey={{model}} @path="vault.cluster.secrets.backend.list" @mode={{mode}} @root={{root}} @showCurrent={{true}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq mode "create") }}
        Create an SSH role
      {{else if (eq mode 'edit')}}
        Edit SSH role
      {{else}}
        SSH role <code>{{model.id}}</code>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq mode "show")}}
  <Toolbar>
    <ToolbarActions>
      {{#if (eq model.keyType "otp")}}
        <ToolbarSecretLink
          @secret={{model.id}}
          @mode="credentials"
          @data-test-backend-credentials=true
          @replace=true
        >
         Generate Credential
       </ToolbarSecretLink>
      {{else}}
        <ToolbarSecretLink
          @secret={{model.id}}
          @mode="sign"
          @data-test-backend-credentials=true
          @replace=true
        >
          Sign Keys
        </ToolbarSecretLink>
      {{/if}}
      {{#if (or model.canUpdate model.canDelete)}}
        <div class="toolbar-separator" />
      {{/if}}
      {{#if model.canDelete}}
        <ConfirmAction
          @buttonClasses="toolbar-link"
          @onConfirmAction={{action "delete"}}
        >
          Delete role
        </ConfirmAction>
      {{/if}}
      {{#if (or model.canUpdate model.canDelete)}}
        <ToolbarSecretLink
          @secret={{model.id}}
          @mode="edit"
          @data-test-edit-link=true
          @replace=true
        >
          Edit role
        </ToolbarSecretLink>
      {{/if}}
    </ToolbarActions>
  </Toolbar>
{{/if}}

{{#if (or (eq mode 'edit') (eq mode 'create'))}}
  <form onsubmit={{action "createOrUpdate" "create"}}>
    <div class="box is-sideless is-fullwidth is-marginless">
      <MessageError @model={{model}} />
      <NamespaceReminder @mode={{mode}} @noun="SSH role" />
      {{partial "partials/form-field-groups-loop"}}
    </div>
    <div class="field is-grouped-split box is-fullwidth is-bottomless">
      <div class="control">
        <button
          type="submit"
          disabled={{buttonDisabled}}
          class="button is-primary"
          data-test-role-ssh-create=true
        >
          {{#if (eq mode 'create')}}
            Create role
          {{else if (eq mode 'edit')}}
            Save
          {{/if}}
        </button>
        <SecretLink @mode={{if (eq mode "create") "list" "show"}} @class="button" @secret={{model.id}}>
          Cancel
        </SecretLink>
      </div>
    </div>
  </form>
{{else}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    {{#each model.showFields as |attr|}}
      {{#if (eq attr.type "object")}}
        <InfoTableRow @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{stringify (get model attr.name)}} />
      {{else}}
        <InfoTableRow @label={{capitalize (or attr.options.label (humanize (dasherize attr.name)))}} @value={{get model attr.name}} />
      {{/if}}
    {{/each}}
  </div>
{{/if}}
