{{#if shouldUseFallback}}
  {{component
    fallbackComponent
    label=label
    onChange=(action "onChange")
    inputValue=inputValue
    warning=warning
    helpText=helpText
  }}
{{else}}
  <label for="{{name}}" class="title is-4">
    {{label}}
    {{#if helpText}}
      {{#info-tooltip}}{{helpText}}{{/info-tooltip}}
    {{/if}}
  </label>
  {{#power-select
    options=options
    selected=selectedOption
    onchange=(action "selectOption")
    placeholderComponent="search-select-placeholder"
    renderInPlace=true
    verticalPosition="below" as |option|
  }}
    {{#if option.name}}
      {{option.name}}
      <small class="search-select-list-key">
        {{option.key}}
      </small>
    {{else}}
      {{option}}
    {{/if}}
  {{/power-select}}
  <ul class="search-select-list">
    {{#each selectedOptions as |selected|}}
      <li class="search-select-list-item">
        {{#if selected.name}}
          {{selected.name}}
          <small class="search-select-list-key">
            {{selected.key}}
          </small>
        {{else}}
          {{selected}}
        {{/if}}
        <div class="control">
          <button
            type="button"
            class="button is-ghost"
            data-test-string-list-button="delete"
            {{action "discardSelection" selected}}
          >
            {{i-con size=16 glyph="trash-a" excludeIconClass=true}}
          </button>
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}
