<<<<<<< HEAD
{{#if shouldUseFallback}}
  {{component
    fallbackComponent
    label=label
    onChange=(action "onChange")
    inputValue=inputValue
    warning=warning
    helpText=helpText
  }}
{{else}}
  <label for="{{name}}" class="is-label">
    {{label}}
    {{#if helpText}}
      {{#info-tooltip}}{{helpText}}{{/info-tooltip}}
    {{/if}}
  </label>
  {{#power-select
    options=options
    selected=selectedOption
    onchange=(action "selectOption")
    placeholderComponent="search-select-placeholder"
    renderInPlace=true
    verticalPosition="below" as |option|
  }}
    {{#if option.name}}
      {{option.name}}
      <small class="search-select-list-key">
        {{option.key}}
      </small>
    {{else}}
      {{option}}
    {{/if}}
  {{/power-select}}
  {{#if isList}}
    <ul class="search-select-list">
      {{#each selectedOptions as |selected|}}
        <li class="search-select-list-item">
          {{#if selected.name}}
            {{selected.name}}
            <small class="search-select-list-key">
              {{selected.key}}
            </small>
          {{else}}
            {{selected}}
          {{/if}}
          <div class="control">
            <button
              type="button"
              class="button is-ghost"
              data-test-string-list-button="delete"
              {{action "discardSelection" selected}}
            >
              {{i-con size=16 glyph="trash-a" excludeIconClass=true}}
            </button>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}
=======
{{#power-select
  options=options
  selected=selectedOption
  onchange=(action "selectOption")
  as |option|
}}
  {{#if option.name}}
    <strong>{{option.key}}</strong> ({{option.name}})
  {{else}}
    {{option}}
  {{/if}}
{{/power-select}}
{{#if isList}}
  {{#each selectedOptions as |selected|}}
    {{#if selected.name}}
      <strong>{{selected.key}}</strong> ({{selected.name}})
    {{else}}
      {{selected}}
    {{/if}}
    <div class="control">
      <button type="button" class="button is-expanded is-icon" {{action "discardSelection" selected}} data-test-string-list-button="delete" >
        {{i-con size=22 glyph='trash-a' excludeIconClass=true class="is-large has-text-grey-light"}}
      </button>
    </div>
  {{/each}}
{{/if}}
>>>>>>> first pass at showing name and id for groups and entities
