<PageHeader as |p|>
  <p.top>
    <KeyValueHeader @baseKey={{baseKey}} @path="vault.cluster.secrets.backend.list" @mode={{mode}} @root={{root}} @showCurrent={{true}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{#if (eq mode "create") }}
        Create secret
      {{else if (and isV2 (eq mode 'edit'))}}
        Create new version
      {{else if (eq mode 'edit')}}
        Edit secret
      {{else}}
        {{key.id}}
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>
{{!-- tabs for show only --}}
{{#if (eq mode "show")}}
  <div class="tabs-container box is-bottomless is-marginless is-fullwidth is-paddingless">
    <nav class="tabs">
      <ul>
        <LinkTo @route="vault.cluster.secrets.backend.show" @model={{key.id}} @tagName="li" @activeClass="is-active">
          <LinkTo @route="vault.cluster.secrets.backend.show">
            Secret
          </LinkTo>
        </LinkTo>
        {{#if model.canReadMetadata}}
          <LinkTo @route="vault.cluster.secrets.backend.metadata" @model={{key.id}} @tagName="li" @activeClass="is-active" data-test-secret-metadata-tab>
            <LinkTo @route="vault.cluster.secrets.backend.metadata">
              Metadata
            </LinkTo>
          </LinkTo>
        {{/if}}
      </ul>
    </nav>
  </div>
{{/if}}

<SecretEditToolbar
  @mode={{mode}}
  @model={{model}}
  @isV2={{isV2}}
  @isWriteWithoutRead={{isWriteWithoutRead}}
  @secretData={{secretData}}
  @secretDataIsAdvanced={{secretDataIsAdvanced}}
  @showAdvancedMode={{showAdvancedMode}}
  @modelForData={{modelForData}}
  @navToNearestAncestor={{navToNearestAncestor}}
  @canUpdateSecretData={{canUpdateSecretData}}
  @canDeleteSecretData={{canDeleteSecretData}}
  @canUpdateSecretMetadata={{canUpdateSecretMetadata}}
  @canCreateSecretMetadata={{canCreateSecretMetadata}}
  {{!-- ARG TODO not sure if I need codemirrorString --}}
  @codemirrorString={{codemirrorString}}
  @editActions={{hash
    toggleAdvanced=(action "toggleAdvanced")
    refresh=(action "refresh")
  }}
/>

{{#if (or (eq mode "create") (eq mode "edit"))}}
  <SecretCreateOrUpdate
    @mode={{mode}}
    @model={{model}}
    @showAdvancedMode={{showAdvancedMode}}
    @modelForData={{modelForData}}
    @error={{error}}
    @isV2={{isV2}}
    @secretData={{secretData}}
    @buttonDisabled={{buttonDisabled}}
    @canCreateSecretMetadata={{canCreateSecretMetadata}}
    @showWriteWithoutReadWarning={{isWriteWithoutRead}}
  />
{{else if (eq mode "show")}}
  <SecretFormShow
    @isV2={{isV2}}
    @modelForData={{modelForData}}
    @isWriteWithoutRead={{isWriteWithoutRead}}
    @showAdvancedMode={{showAdvancedMode}}
  />
{{else}}
  <EmptyState
    @title="No secret view was selected"
  />
{{/if}}
