{{!-- ARG TODO add empty state if no access --}}
<form onsubmit={{this.onSaveChanges}}>
  <div data-test-metadata-fields-meep class={{if (eq @mode "create") "box has-container is-fullwidth" "form-section is-fullwidth"}}>
    <p class="field">
      The options below are all version-agnostic; they apply to all versions of this secret. After the secret is created, this can be edited in the Metadata tab.
    </p>
    {{#each @model.fields as |attr|}}
    {{!-- ARG TODO add validation for custom metadata and potentially change look of the field. --}}
    {{!-- ARG TODO right now not passing onKeyUP into this function --}}
      {{#if (eq attr.name "customMetadata")}}
        <FormField 
          data-test-field 
          @attr={{attr}}
          @model={{@model}}
          @onKeyUp={{@onKeyUp}}
          @validationMessages={{@validationMessages}}
        />
        <label class="title has-padding-top is-5">
          Additional Options
        </label>
      {{/if}}
      {{#unless (eq attr.name "customMetadata")}}
        <FormField 
          data-test-field 
          @attr={{attr}}
          @model={{@model}}
          @onKeyUp={{@onKeyUp}}
          @validationMessages={{@validationMessages}}
        />
      {{/unless}}
    {{/each}}
  </div>

  {{!-- ARG TODO test to see if can force these warnings and turn into validation instead --}}
  {{!-- {{#if @showWriteWithoutReadWarning}}
    {{#if (and @isV2 @model.failedServerRead)}}
      <AlertBanner
        @type="warning"
        @message="Your policies prevent you from reading metadata for this secret and the current version's data. Creating a new version of the secret with this form will not be able to use the check-and-set mechanism. If this is required on the secret, then you will need access to read the secret's metadata."
        @class="is-marginless"
        data-test-v2-no-cas-warning
      />
    {{else if @isV2}}
      <AlertBanner
        @type="warning"
        @message="Your policies prevent you from reading the current secret version. Saving this form will create a new version of the secret and will utilize the available check-and-set mechanism."
        @class="is-marginless"
        data-test-v2-write-without-read
      />
    {{else}}
      <AlertBanner
        @type="warning"
        @message="Your policies prevent you from reading the current secret data. Saving using this form will overwrite the existing values."
        @class="is-marginless"
        data-test-v1-write-without-read
      />
    {{/if}}
  {{/if}} --}}
  {{#unless (eq @mode "create")}}
    <div class="field is-grouped is-grouped-split is-fullwidth box is-bottomless">
      <div class="field is-grouped">
        <div class="control">
          <button
            type="submit"
            {{!-- disabled={{or buttonDisabled validationErrorCount}} --}}
            class="button is-primary"
          >
            Save
          </button>
        </div>
        <div class="control">
          <SecretLink
            @secret={{@model.id}}
            @class="button"
            @mode="show"
          >
            Cancel
          </SecretLink>
        </div>
      </div>
    </div>
  {{/unless}}
</form>