  {{#if (and (or @model.isNew @canEditV2Secret) @isV2 (not @model.isStub))}}
    <div data-test-metadata-fields class="form-section box is-shadowless is-fullwidth">
      <label class="title is-5">
        Secret metadata
      </label>
      {{#each @model.fields as |attr|}}
        <FormField data-test-field @attr={{attr}} @model={{this.model}} />
      {{/each}}
    </div>
  {{/if}}

  {{#if @showAdvancedMode}}
    <div class="form-section">
      <label class="title is-5">
        {{#if isV2}}
        Version data
        {{else}}
        Secret data
        {{/if}}
      </label>
      <JsonEditor
        @value={{@codemirrorString}}
        @valueUpdated={{@editActions.codemirrorUpdated}}
        @onFocusOut={{@editActions.formatJSON}}
      />
    </div>
  {{else}}
    <div class="form-section">
      <label class="title is-5">
        {{#if isV2}}
        Version data
        {{else}}
        Secret data
        {{/if}}
      </label>
    {{#each @secretData as |secret index|}}
    <div class="info-table-row">
        <div class="column is-one-quarter info-table-row-edit">
          {{input
            data-test-secret-key=true
            value=secret.name
            placeholder="key"
            change=(action @editActions.handleChange)
            class="input"
            autocomplete="off"
          }}
        </div>
        <div class="column info-table-row-edit">
          <MaskedInput
            @name={{secret.name}}
            @onKeyDown={{@editActions.handleKeyDown}}
            @onChange={{@editActions.handleChange}}
            @value={{secret.value}}
            data-test-secret-value="true"
         />
        </div>
        <div class="column is-narrow info-table-row-edit">
          {{#if (eq @secretData.length (inc index))}}
            <button type="button" {{action @editActions.addRow}} class="button is-outlined is-primary" data-test-secret-add-row="true">
              Add
            </button>
          {{else}}
            <button
              class="button has-text-grey is-expanded is-icon"
              type="button"
              {{action @editActions.deleteRow secret.name}}
              aria-label="Delete row"
            >
              <ICon
                @size="22"
                @glyph="trash-a"
                @excludeIconClass={{true}}
                class="is-large has-text-grey-light"
              />
            </button>
          {{/if}}
        </div>
      </div>
    {{/each}}
    </div>
  {{/if}}
