<PageHeader as |p|>
  <p.top>
    {{key-value-header
      baseKey=baseKey
      path="vault.cluster.secrets.backend.list"
      mode=mode
      root=root
      showCurrent=true
    }}
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{#if (eq mode "create") }}
        Create secret
      {{else if (and isV2 (eq mode 'edit'))}}
        Create new version
      {{else if (eq mode 'edit')}}
        Edit secret
      {{else}}
        {{key.id}}
      {{/if}}
    </h1>
  </p.levelLeft>
  <p.levelRight>
    {{#if canDelete}}
      <ConfirmAction
        @buttonClasses="button is-compact is-ghost has-icon-right"
        @onConfirmAction={{action "deleteKey"}}
        @confirmMessage={{if isV2
          (concat "This will permanently delete " model.id " and all its versions. Are you sure you want to do this?")
          (concat "Are you sure you want to delete " model.id "?")
        }}
        @cancelButtonText="Cancel"
        data-test-secret-delete="true"
        >
        Delete secret <ICon @glyph="chevron-right" @size="11" />
      </ConfirmAction>
    {{/if}}
  </p.levelRight>
</PageHeader>
<div class="secret-control-bar">
  <div class="control">
    <input
      data-test-secret-json-toggle=true
      id="json"
      type="checkbox"
      name="json"
      class="switch is-rounded is-success is-small"
      checked={{showAdvancedMode}}
      onchange={{action "toggleAdvanced" value="target.checked"}}
      disabled={{and (eq mode 'show') secretDataIsAdvanced}}
    />
    <label for="json" class="has-text-grey">JSON</label>
  </div>
  {{#if (and (eq mode 'show') (or canEditV2Secret canEdit))}}
      {{#let (concat 'vault.cluster.secrets.backend.' (if (eq mode 'show') 'edit' 'show')) as |targetRoute|}}
        {{#unless (and isV2 (or modelForData.destroyed modelForData.deleted))}}
          <div class="control">
            <BasicDropdown
              @class="popup-menu"
              @horizontalPosition="auto-right"
              @verticalPosition="below"
              @onClose={{action "clearWrappedData"}}
              as |D|
            >
              <D.trigger
                data-test-popup-menu-trigger="true"
                @class={{concat "link link-plain has-text-weight-semibold" (if D.isOpen " is-active")}}
                @tagName="button"
              >
                Copy secret
              </D.trigger>
              <D.content @class="popup-menu-content is-wide">
                <nav class="box menu">
                  <ul class="menu-list">
                    <li class="action">
                      <CopyButton
                        @class="link link-plain has-text-weight-semibold is-ghost"
                        @clipboardText={{codemirrorString}}
                        @success={{action (set-flash-message "JSON Copied!")}}
                        data-test-copy-button
                      >
                        Copy JSON
                      </CopyButton>
                    </li>
                    <li class="action">
                      {{#if showWrapButton}}
                        <button
                          class="link link-plain has-text-weight-semibold is-ghost {{if isWrapping "is-loading"}}"
                          type="button"
                          {{action "handleWrapClick"}}
                          data-test-wrap-button
                          disabled={{isWrapping}}
                        >
                          Wrap secret
                        </button>
                      {{else}}
                        <MaskedInput
                          @class="has-padding"
                          @displayOnly={{true}}
                          @allowCopy={{true}}
                          @value={{wrappedData}}
                          @success={{action "handleCopySuccess"}}
                          @error={{action "handleCopyError"}}
                        />
                      {{/if}}
                    </li>
                  </ul>
                </nav>
              </D.content>
            </BasicDropdown>
          </div>
        {{/unless}}
        <div class="control">
          {{#if isV2}}
            <LinkTo
              @params={{array targetRoute model.id (query-params version=this.modelForData.version)}}
              @replace={{true}}
              class="link link-plain has-text-weight-semibold"
              data-test-secret-edit="true"
            >
              Create new version
            </LinkTo>
          {{else}}
            <LinkTo
              @params={{array targetRoute model.id}}
              @replace={{true}}
              class="link link-plain has-text-weight-semibold"
              data-test-secret-edit="true"
            >
              Edit secret
            </LinkTo>
        {{/if}}
        </div>
    {{/let}}
  {{/if}}
  {{#if (and (eq @mode "show") this.isV2)}}
    <div class="control">
      <SecretVersionMenu @version={{this.modelForData}} />
    </div>
    <div class="control">
      <BasicDropdown
        @class="popup-menu"
        @horizontalPosition="auto-right"
        @verticalPosition="below"
        as |D|
      >
        <D.trigger
          data-test-popup-menu-trigger="true"
          @class={{concat "popup-menu-trigger button is-ghost has-text-grey" (if D.isOpen " is-active")}}
          @tagName="button"
        >
          History <ICon @glyph="chevron-right" @size="11" />
        </D.trigger>
        <D.content @class="popup-menu-content ">
          <nav class="box menu">
            <ul class="menu-list">
              <li class="action">
                <SecretLink
                  @mode="versions"
                  @secret={{this.model.id}}
                  @class="has-text-black has-text-weight-semibold has-bottom-shadow"
                >
                 View version history
                </SecretLink>
              </li>
            </ul>
            <h5 class="list-header">Versions</h5>
            <ul class="menu-list">
              {{#each (reverse this.model.versions) as |secretVersion|}}
              <li class="action">
                <LinkTo class="link" @params={{array (query-params version=secretVersion.version)}}>
                  Version {{secretVersion.version}}
                  {{#if (eq secretVersion.version this.model.currentVersion)}}
                    <ICon @glyph="checkmark-circled-outline" @excludeIconClass={{true}} @size="13" @class="has-text-success is-pulled-right" />
                  {{else if secretVersion.deleted}}
                    <ICon @glyph="cancel-square-outline" @size="13" @excludeIconClass={{true}} @class="has-text-grey is-pulled-right" />
                  {{/if}}
                </LinkTo>
              </li>
              {{/each}}
            </ul>
          </nav>
        </D.content>
      </BasicDropdown>
    </div>
  {{/if}}
</div>
{{partial partialName}}
