    <BasicDropdown
      @class="popup-menu"
      @horizontalPosition="auto-right"
      @verticalPosition="below"
      as |D|
    >
      <D.trigger
        data-test-popup-menu-trigger="true"
        @class={{concat "toolbar-link" (if D.isOpen " is-active")}}
        @tagName="button"
      >
        Version {{@version.version}}
        <Chevron @direction="down" @isButton={{true}} />
      </D.trigger>
      <D.content @class="popup-menu-content ">
        <nav class="box menu">
          <ul class="menu-list">
            {{#if (has-block)}}
              {{yield}}
            {{/if}}
            {{!-- ARG TODO Add permissions here --}}
            {{#each (reverse @model.versions) as |secretVersion|}}
              <li class="action">
                <LinkTo class="link" @params={{array (query-params version=secretVersion.version)}} @invokeAction={{action D.actions.close}} >
                  Version {{secretVersion.version}}
                  {{#if (and (eq secretVersion.version @model.currentVersion) (not secretVersion.destroyed) (not secretVersion.deleted))}}
                    <Icon @glyph="check-circle-outline" class="has-text-success is-pulled-right" />
                  {{else if secretVersion.destroyed}}
                      <Icon @glyph="cancel-square-fill" class="has-text-danger is-pulled-right" />
                  {{else if secretVersion.deleted}}
                      <Icon @glyph="cancel-square-fill" class="has-text-grey is-pulled-right" />
                  {{/if}}
                </LinkTo>
              </li>
            {{/each}}
            <li class="action">
              <SecretLink
                @data-test-version-history
                @mode="versions"
                @secret={{@model.id}}
                @class="has-text-black has-text-weight-semibold has-bottom-shadow"
                @onLinkClick={{action D.actions.close}}
              >
                View version history
              </SecretLink>
            </li>
          </ul>
        </nav>
      </D.content>
    </BasicDropdown>
