  {{#if tabs}}
    <div class="box is-bottomless is-marginless is-fullwidth is-paddingless">
      <nav class="tabs sub-nav">
        <ul>
          {{#each tabs as |oTab|}}
            {{#if oTab.tab}}
              {{#link-to 'vault.cluster.secrets.backend.list-root' (query-params tab=oTab.tab) tagName="li" activeClass="is-active" data-test-tab=oTab.label}}
                {{#link-to 'vault.cluster.secrets.backend.list-root' (query-params tab=oTab.tab)}}
                  {{oTab.label}}
                {{/link-to}}
              {{/link-to}}
            {{else}}
              {{#link-to 'vault.cluster.secrets.backend.list-root' (query-params tab='') tagName="li" activeClass="is-active" data-test-tab=oTab.label}}
                {{#link-to 'vault.cluster.secrets.backend.list-root' (query-params tab='')}}
                  {{oTab.label}}
                {{/link-to}}
              {{/link-to}}
            {{/if}}
          {{/each}}
          {{#link-to 'vault.cluster.secrets.backend.configuration' tagName="li" activeClass="is-active"}}
            {{#link-to 'vault.cluster.secrets.backend.configuration' }}
              Configuration
            {{/link-to}}
          {{/link-to}}
        </ul>
      </nav>
    </div>
  {{else}}
    {{!-- if there are no tabs in the options, we'll hardcode them here --}}
    <div class="box is-bottomless is-marginless is-fullwidth is-paddingless">
      <nav class="tabs sub-nav">
        <ul>
          {{#link-to 'vault.cluster.secrets.backend.list-root' tagName="li" activeClass="is-active"}}
            {{#link-to 'vault.cluster.secrets.backend.list-root'}}
              {{capitalize (pluralize item)}}
            {{/link-to}}
          {{/link-to}}
          {{#link-to 'vault.cluster.secrets.backend.configuration' tagName="li" activeClass="is-active"}}
            {{#link-to 'vault.cluster.secrets.backend.configuration' }}
              Configuration
            {{/link-to}}
          {{/link-to}}
        </ul>
      </nav>
    </div>
  {{/if}}
