{{!-- conditional to check if SelectableCard is apart of a CSS Grid, if yes return grid item class --}}
{{#if gridContainer}}
  <div class="selectable-card is-rounded is-grid-container">
    <div class="selectable-card-title">
      <h2 class="title-number">{{format-number total}}</h2>
      <h3 class="title is-5" data-test-selectable-card-title={{formattedCardTitle}}>{{formattedCardTitle}}</h3>
      <p class="has-text-grey is-size-8">{{subText}}</p>
    </div>
    {{yield}}
  </div>
{{else}}
  <div class="selectable-card is-rounded {{if actionCard "no-flex"}}">
    {{#unless actionCard}}
      <div>
        <h2 class="title-number">{{format-number total}}</h2>
        <h3 class="title is-5" data-test-selectable-card-title={{formattedCardTitle}}>{{formattedCardTitle}}</h3>
        <p class="has-text-grey is-size-8">{{subText}}</p>
      </div>
    {{else}}
      <div class="is-flex-between is-fullwidth card-details" >
        <h3 class="title is-5">{{formattedCardTitle}}</h3>
        <LinkTo 
          @route={{actionTo}}
          @class="has-icon-right is-ghost is-no-underline has-text-semibold"
          @query={{hash itemType=queryParam}}
        >
          {{actionText}}
          {{#if actionText}}<Icon @glyph="chevron-right" />{{/if}}
        </LinkTo>
      </div>
        <p class="has-text-grey is-size-8">{{subText}}</p>
        <h2 class="title-number">{{format-number total}}</h2>
    {{/unless}}
    {{yield}}
  </div>
{{/if}}
