{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{! bypass container styling }}
{{#if @hasAltContent}}
  {{yield (hash altContent=(component "splash-page/splash-content"))}}
{{else}}
  <div class="splash-page-container section is-flex-v-centered-tablet is-flex-grow-1 is-fullwidth">
    <div class="columns is-centered is-gapless is-fullwidth">
      <div class="column is-4-desktop is-6-tablet">
        <div class="splash-page-header">
          {{yield (hash header=(component "splash-page/splash-header"))}}
        </div>
        <div class="splash-page-sub-header">
          {{yield (hash sub-header=(component "splash-page/splash-header"))}}
        </div>
        <div class="login-form box is-paddingless is-relative">
          {{yield (hash content=(component "splash-page/splash-content"))}}
        </div>
        {{yield (hash footer=(component "splash-page/splash-content"))}}
      </div>
    </div>
  </div>
{{/if}}