{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Lookup Token
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (or @creation_time @creation_ttl)}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    <InfoTableRow @label="Creation path" @value={{@creation_path}} />
    <InfoTableRow @label="Creation time" @value={{@creation_time}} />
    <InfoTableRow @label="Creation TTL" @value={{@creation_ttl}} />
    {{#if @expirationDate}}
      <InfoTableRow @label="Expiration date" @value={{@expirationDate}} />
      <InfoTableRow @label="Expires in" @value={{date-from-now @expirationDate}} />
    {{/if}}
  </div>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <div class="control">
      <Hds::Button @text="Back" @color="secondary" {{on "click" this.onClear}} />
    </div>
  </div>
{{else}}
  <div class="box is-sideless is-fullwidth is-marginless">
    <NamespaceReminder @mode="perform" @noun={{@selectedAction}} />
    <MessageError @errors={{@errors}} />
    <div class="field">
      <label for="token" class="is-label">Wrapped token</label>
      <div class="has-text-grey is-size-8 has-bottom-margin-xs">
        Enter your wrapped token here to display its information.
      </div>
      <div class="control">
        <Input @value={{@token}} class="input" id="token" name="token" data-test-tools-input="wrapping-token" />
      </div>
    </div>
  </div>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <div class="control">
      <Hds::Button @text="Lookup token" type="submit" data-test-tools-submit />
    </div>
  </div>
{{/if}}