<form onsubmit={{action "doSubmit"}}>
  {{#if (eq selectedAction 'hash')}}
    <ToolHash
      @onClear={{action "onClear"}}
      @sum={{sum}}
      @algorithm={{algorithm}}
      @errors={{errors}}
      @format={{format}}
    />
  {{else if (eq selectedAction 'random')}}
    <ToolRandom
      @onClear={{action "onClear"}}
      @random_bytes={{random_bytes}}
      @errors={{errors}}
      @format={{format}}
      @bytes={{bytes}}
    />
  {{else if (eq selectedAction 'rewrap')}}
    <ToolRewrap
      @onClear={{action "onClear"}}
      @rewrap_token={{rewrap_token}}
      @selectedAction={{selectedAction}}
      @errors={{errors}}
      @token={{token}}
      @bytes={{bytes}}
    />
  {{else}}
    {{log selectedAction}}
    {{partial (concat "partials/tools/" selectedAction)}}
  {{/if}}
</form>
