<form {{on "submit" this.doSubmit}} {{did-update this.checkAction @selectedAction}}>
  {{#if (eq @selectedAction "hash")}}
    {{! template-lint-disable no-passed-in-event-handlers }}
    <ToolHash
      @onClear={{this.onClear}}
      @sum={{this.sum}}
      @algorithm={{this.algorithm}}
      @errors={{this.errors}}
      @format={{this.format}}
      @input={{this.input}}
      @onChange={{this.onHash}}
    />

  {{else if (eq @selectedAction "random")}}
    <ToolRandom
      @onClear={{this.onClear}}
      @random_bytes={{this.random_bytes}}
      @errors={{this.errors}}
      @format={{this.format}}
      @bytes={{this.bytes}}
    />
  {{else if (eq @selectedAction "rewrap")}}
    <ToolRewrap
      @onClear={{this.onClear}}
      @rewrap_token={{this.rewrap_token}}
      @selectedAction={{@selectedAction}}
      @errors={{this.errors}}
      @token={{this.token}}
      @bytes={{this.bytes}}
    />
  {{else if (eq @selectedAction "unwrap")}}
    <ToolUnwrap
      @onClear={{this.onClear}}
      @unwrap_data={{this.unwrap_data}}
      @unwrapActiveTab={{this.unwrapActiveTab}}
      @details={{this.details}}
      @errors={{this.errors}}
      @token={{this.token}}
    />
  {{else if (eq @selectedAction "lookup")}}
    <ToolLookup
      @creation_time={{this.creation_time}}
      @creation_ttl={{this.creation_ttl}}
      @creation_path={{this.creation_path}}
      @expirationDate={{this.expirationDate}}
      @selectedAction={{@selectedAction}}
      @token={{this.token}}
      @onClear={{this.onClear}}
      @errors={{this.errors}}
    />
  {{else if (eq @selectedAction "wrap")}}
    <ToolWrap
      @token={{this.token}}
      @selectedAction={{@selectedAction}}
      @onClear={{this.onClear}}
      @codemirrorUpdated={{this.codemirrorUpdated}}
      @updateTtl={{this.updateTtl}}
      @buttonDisabled={{this.buttonDisabled}}
      @errors={{this.errors}}
    />
  {{else}}
    <EmptyState @title="Tool not available" />
  {{/if}}
</form>