<form onsubmit={{action "doSubmit"}}>
  {{#if (eq selectedAction 'hash')}}
    <ToolHash
      @onClear={{action "onClear"}}
      @sum={{sum}}
      @algorithm={{algorithm}}
      @errors={{errors}}
      @format={{format}}
    />
  {{else if (eq selectedAction 'random')}}
    <ToolRandom
      @onClear={{action "onClear"}}
      @random_bytes={{random_bytes}}
      @errors={{errors}}
      @format={{format}}
      @bytes={{bytes}}
    />
  {{else if (eq selectedAction 'rewrap')}}
    <ToolRewrap
      @onClear={{action "onClear"}}
      @rewrap_token={{rewrap_token}}
      @selectedAction={{selectedAction}}
      @errors={{errors}}
      @token={{token}}
      @bytes={{bytes}}
    />
  {{else if (eq selectedAction 'unwrap')}}
    <ToolUnwrap
      @onClear={{action "onClear"}}
      @unwrap_data={{unwrap_data}}
      @unwrapActiveTab={{unwrapActiveTab}}
      @details={{details}}
      @errors={{errors}}
      @token={{token}}
    />
  {{else if (eq selectedAction 'lookup')}}
    <ToolLookup
      @creation_time={{creation_time}}
      @creation_ttl={{creation_ttl}}
      @creation_path={{creation_path}}
      @expirationDate={{expirationDate}}
      @selectedAction={{selectedAction}}
      @token={{token}}
      @onClear={{action "onClear"}}
      @errors={{errors}}
    />
  {{else if (eq selectedAction 'wrap')}}
    <ToolWrap
      @token={{token}}
      @selectedAction={{selectedAction}}
      @onClear={{action "onClear"}}
      @codemirrorUpdated={{action "codemirrorUpdated"}}
      @updateTtl={{action "updateTtl"}}
      @data={{data}}
      @buttonDisabled={{buttonDisabled}}
      @errors={{errors}}
    />
  {{/if}}
</form>
