{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if @isWriteWithoutRead}}
  <EmptyState
    data-test-write-without-read-empty-message
    @title="You do not have permission to read this secret."
    @message="Your policies permit you to overwrite this secret, but do not allow you to read it."
  />
{{else}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    <InfoTableRow @label="Code">
      <MaskedInput @name="code" @value={{@modelForData.code}} @displayOnly={{true}} @allowCopy={{true}} />
      <label class="code-validity">
        <div>Valid for {{@remainingTime}} seconds</div>
        <progress id="code-validity" value="{{@elapsedTime}}" max="{{@modelForData.period}}"></progress>
      </label>
    </InfoTableRow>
  </div>
{{/if}}