{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form onsubmit={{action "createOrUpdate" "create"}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    <MessageError @model={{this.model}} />
    <NamespaceReminder @mode={{this.mode}} @noun="transformation" />
    {{#each this.model.transformFieldAttrs as |attr|}}
      <FormField data-test-field @attr={{attr}} @model={{this.model}} />
    {{/each}}
  </div>
  <div class="field is-grouped-split box is-fullwidth is-bottomless">
    <div class="control">
      <Hds::ButtonSet>
        <Hds::Button @text="Create transformation" type="submit" data-test-transform-create />
        <Hds::Button
          @text="Cancel"
          @color="secondary"
          @route="vault.cluster.secrets.backend.list-root"
          @model={{this.model.backend}}
        />
      </Hds::ButtonSet>
    </div>
  </div>
</form>