{{#if (eq selectedAction 'rotate')}}
  {{#if key.canRotate}}
    <ConfirmAction
      @buttonClasses="toolbar-link"
      @confirmTitle="Rotate this key?"
      @confirmMessage="After rotation, all key actions will default to using the newest version of the key."
      @confirmButtonText="Rotate"
      @onConfirmAction={{action "doSubmit"}}
      data-test-transit-key-rotate="true"
    >
      Rotate encryption key
      <Chevron @isButton={{true}} />
    </ConfirmAction>
  {{/if}}
{{else}}
  {{message-error errors=errors}}
  {{#if selectedAction}}
    <div data-test-transit-action={{selectedAction}}>
    {{partial (concat 'components/transit-key-action/' selectedAction)}}
    </div>
   {{/if}}
{{/if}}
