<PageHeader as |p|>
  <p.top>
    {{key-value-header
      baseKey=key
      path="vault.cluster.secrets.backend.list"
      mode=mode
      root=root
      showCurrent=true
    }}
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{#if (eq mode "create") }}
        Create encryption key
      {{else if (eq mode "edit") }}
        Edit encryption key
      {{else}}
        Encryption key <code>{{key.id}}</code>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{partial (concat 'partials/transit-form-' mode)}}
