{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.top>
    <KeyValueHeader
      @baseKey={{hash display=this.model.id id=this.model.idForNav}}
      @path="vault.cluster.secrets.backend.list"
      @mode={{this.mode}}
      @root={{this.root}}
      @showCurrent={{true}}
    />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq this.mode "create")}}
        Create Template
      {{else if (eq this.mode "edit")}}
        Edit Template
      {{else}}
        Template
        <code>{{this.model.id}}</code>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq this.mode "show")}}
  <Toolbar>
    <ToolbarActions>
      {{#if this.capabilities.canDelete}}
        <Hds::Button
          @text="Delete template"
          @color="secondary"
          class="toolbar-button"
          {{on "click" (action "delete")}}
          data-test-transformation-template-delete
        />
        <div class="toolbar-separator"></div>
      {{/if}}
      {{#if this.capabilities.canUpdate}}
        <ToolbarSecretLink
          @secret={{concat this.model.idPrefix this.model.id}}
          @mode="edit"
          data-test-edit-link={{true}}
          @replace={{true}}
        >
          Edit template
        </ToolbarSecretLink>
      {{/if}}
    </ToolbarActions>
  </Toolbar>
{{/if}}

{{#if (or (eq this.mode "edit") (eq this.mode "create"))}}
  <form onsubmit={{action "createOrUpdate" this.mode}}>
    <div class="box is-sideless is-fullwidth is-marginless">
      <MessageError @model={{this.model}} />
      <NamespaceReminder @mode={{this.mode}} @noun="transform template" />
      {{#each this.model.writeAttrs as |attr|}}
        {{#if (and (eq attr.name "name") (eq this.mode "edit"))}}
          <label for={{attr.name}} class="is-label">
            {{attr.options.label}}
          </label>
          {{#if attr.options.subText}}
            <p class="sub-text">{{attr.options.subText}}</p>
          {{/if}}
          <input
            data-test-input={{attr.name}}
            id={{attr.name}}
            autocomplete="off"
            spellcheck="false"
            value={{or (get this.model attr.name) attr.options.defaultValue}}
            readonly={{true}}
            class="field input is-readOnly"
            type={{attr.type}}
          />
        {{else}}
          {{#if (eq attr.name "alphabet")}}
            <TransformAdvancedTemplating @model={{this.model}} />
          {{/if}}
          <FormField data-test-field @attr={{attr}} @model={{this.model}} />
        {{/if}}
      {{/each}}
    </div>
    <div class="field is-grouped-split box is-fullwidth is-bottomless">
      <Hds::ButtonSet>
        <Hds::Button
          @text={{if (eq this.mode "create") "Create template" "Save"}}
          type="submit"
          data-test-template-transform-create
        />
        {{#if (eq this.mode "create")}}
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            @route="vault.cluster.secrets.backend.list-root"
            @model={{this.model.backend}}
            @query={{hash tab="template"}}
          />
        {{else}}
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            @route="vault.cluster.secrets.backend.show"
            @models={{array this.model.backend (concat "template/" this.model.id)}}
            @query={{hash tab="template"}}
          />
        {{/if}}
      </Hds::ButtonSet>
    </div>
  </form>
{{else}}
  {{#if this.model.displayErrors}}
    <div class="has-top-margin-s">
      <MessageError @model={{this.model}} />
    </div>
  {{/if}}
  <div class="box is-fullwidth is-sideless is-paddingless is-marginless">
    {{#each this.model.readAttrs as |attr|}}
      {{#let (capitalize (or attr.options.label (humanize (dasherize attr.name)))) as |label|}}
        {{#if (eq attr.name "decodeFormats")}}
          {{#if (not (is-empty-value this.model.decodeFormats))}}
            <InfoTableRow @label={{label}}>
              <div>
                {{#each-in this.model.decodeFormats as |key value|}}
                  <div class="transform-decode-formats">
                    <p class="is-label has-text-grey-light">{{key}}</p>
                    <p>{{value}}</p>
                  </div>
                {{/each-in}}
              </div>
            </InfoTableRow>
          {{/if}}
        {{else}}
          <InfoTableRow
            @label={{label}}
            @value={{get this.model attr.name}}
            class={{if (eq attr.name "pattern") "transform-pattern-text"}}
          />
        {{/if}}
      {{/let}}
    {{/each}}
  </div>
{{/if}}