{{#if (eq selectedAction 'rotate')}}
  {{#if key.canRotate}}
    <ConfirmAction
      @buttonClasses="toolbar-link"
      @confirmTitle="Rotate this key?"
      @confirmMessage="After rotation, all key actions will default to using the newest version of the key."
      @confirmButtonText="Rotate"
      @onConfirmAction={{action "doSubmit"}}
      data-test-transit-key-rotate="true"
    >
      Rotate encryption key
    </ConfirmAction>
  {{/if}}
{{else}}
  {{message-error errors=errors}}
  {{#if selectedAction}}
    <div data-test-transit-action={{selectedAction}}>
    {{partial (concat 'components/transit-key-action/' selectedAction)}}
    </div>
   {{/if}}
{{/if}}
<Modal @title="Copy Your Token" @onClose={{action "toggleModal"}} @isActive={{isModalActive}}>
    <section class="modal-card-body">
    <div class="box is-shadowless is-fullwidth is-sideless">
      <p>{{ciphertext}}</p>
    </div>
    </section>
    <footer class="modal-card-foot">
      {{#copy-button
        data-test-button="modal-copy-close"
        clipboardText=ciphertext
        class="button is-primary"
        buttonType="button"
        success=(action (set-flash-message 'Ciphertext copied!'))
      }}
        Copy & Close
      {{/copy-button}}
    </footer>
</Modal>
