<PageHeader as |p|>
  <p.top>
    {{key-value-header
      baseKey=model
      path="vault.cluster.secrets.backend.list"
      mode=mode
      root=root
      showCurrent=true
    }}
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-secret-header="true">
      {{#if (eq mode "create") }}
        Create Transformation
      {{else if (eq mode 'edit')}}
        Edit Transformation
      {{else}}
        Transformation <code>{{model.id}}</code>
      {{/if}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if (eq mode "show")}}
  <Toolbar>
    <ToolbarActions>
      {{!-- TODO: update these actions, show delete grey out if not allowed --}}
      {{#if (or model.canUpdate model.canDelete)}}
        <div class="toolbar-separator" />
      {{/if}}
      {{#if model.canDelete}}
      {{!-- TODO only allow deletion when not in use by a role --}}
        <ConfirmAction
          @buttonClasses="toolbar-link"
          @onConfirmAction={{action "delete"}}
          @confirmTitle="Are you sure?"
          @confirmMessage="This transformation is not in use by a role and can be deleted."
        >
          Delete transformation
        </ConfirmAction>
      {{/if}}
      {{#if model.canUpdate }}
        <ToolbarSecretLink
          @secret={{model.id}}
          @mode="edit"
          @data-test-edit-link=true
          @replace=true
        >
          Edit transformation
        </ToolbarSecretLink>
      {{/if}}
    </ToolbarActions>
  </Toolbar>
{{/if}}

{{#if (eq mode 'edit')}}
  <TransformEditForm @mode={{mode}} @model={{model}} />
{{else if (eq mode 'create')}}
  <TransformCreateForm @mode={{mode}} @model={{changeset model}} />
{{else}}
  <TransformShowTransformation
    @model={{model}}
  />
{{/if}}
