<form onsubmit={{action "createOrUpdate" "create"}}>
  <div class="box is-sideless is-fullwidth is-marginless">
    {{message-error model=model}}
    {{!-- TODO: figure out what this ?? --}}
    {{!-- <NamespaceReminder @mode={{mode}} @noun="SSH role" /> --}}
    {{#each model.transformFieldAttrs as |attr|}}
      {{#if (eq attr.name 'templates')}}
        {{!-- TODO: for now don't show until backend makes api changes. --}}
      {{else if (eq attr.name 'template')}}
        <FormField
          data-test-field
          @attr={{attr}}
          @model={{model}}
          @selectLimit={{selectLimit}}
        />
       {{else}}
        <FormField
          data-test-field
          @attr={{attr}}
          @model={{model}}
        />
      {{/if}}
    {{/each}}
  </div>
  <div class="field is-grouped-split box is-fullwidth is-bottomless">
    <div class="control">
      <button
        type="submit"
        disabled={{buttonDisabled}}
        class="button is-primary"
        data-test-role-ssh-create=true
      >
        {{#if (eq mode 'create')}}
          Create transformation
        {{else if (eq mode 'edit')}}
          Save
        {{/if}}
      </button>
      {{#secret-link
        mode=(if (eq mode "create") "list" "show")
        class="button"
        secret=model.id
      }}
        Cancel
      {{/secret-link}}
    </div>
  </div>
</form>
