<MessageError @errorMessage={{errorMessage}} data-test-ttl-error />
<Toggle
  @name={{label}}
  @status="success"
  @size="small"
  @onChange={{action 'toggleEnabled'}}
  @checked={{enableTTL}}
>
  <span class="ttl-picker-label is-large">{{label}}</span><br/>
  <span class="has-text-grey">{{helperText}}</span>
</Toggle>
{{#if enableTTL}}
  <div class="ttl-show-picker">
    <div class="field is-grouped">
      <div class="control is-marginless">
        <input
          data-test-ttl-value
          value={{time}}
          id="time-{{elementId}}"
          type="text"
          name="time"
          class="input"
          oninput={{perform updateTime value="target.value"}}
          pattern="[0-9]*"
        />
      </div>
      <div class="control">
        <Select
          @name='ttl-unit'
          @options={{unitOptions}}
          @onChange={{action 'updateUnit'}}
          @selectedValue={{unit}}
          @isFullwidth={{true}}
          />
      </div>
    </div>
  </div>
  {{yield}}
{{/if}}
<pre>
  Seconds: {{seconds}}
  Time: {{time}} {{unit}}
</pre>