<label for="time-{{elementId}}" class="is-label {{labelClass}}">{{labelText}}</label>
<div class="field is-grouped">
  <div class="control is-expanded">
    <input
       data-test-ttl-value
       value={{time}}
       id="time-{{elementId}}"
       type="text"
       name="time"
       class="input"
       oninput={{action 'changedValue' 'time'}}
       />
  </div>
  <div class="control is-expanded">
    <div class="select is-fullwidth">
      <select
         data-test-ttl-unit
         name="unit"
         id="unit"
         onchange={{action 'changedValue' 'unit'}}
         >
         {{#each unitOptions as |unitOption|}}
           <option selected={{eq unit unitOption.value}} value={{unitOption.value}}>
             {{unitOption.label}}
           </option>
         {{/each}}
      </select>
    </div>
  </div>
</div>
