<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      {{title}}
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="box is-sideless is-bottomless has-text-centered has-background-white-bis">
  <p class="has-text-grey-dark">
    <span data-test-upgrade-feature-description>
      {{featureName}} is a {{minimumEdition}} feature.
    </span>
    You can upgrade to {{minimumEdition}} to unlock additional collaboration and security features
  </p>
  <p>
    {{#upgrade-link linkClass="button is-ghost has-icon-right" data-test-upgrade-link="true" pageName=featureName}}
      Vault Enterprise
      {{i-con glyph="chevron-right"}}
    {{/upgrade-link}}
  </p>
</div>
