<div class="wizard-section {{@class}}">
  <h2 class="title is-6">
    {{#if @headerIcon}}
      <Icon @name={{@headerIcon}} aria-hidden="true" />
    {{/if}}
    {{@headerText}}
  </h2>
  {{yield}}
  {{#if @instructions}}
    <div class="wizard-instructions">
      <h2 class="title is-6">What to do</h2>
      <p>{{@instructions}}</p>
    </div>
  {{/if}}
  {{#if @docText}}
    <DocLink @path={{@docPath}}>
      <Icon @name="learn-link" />
      {{@docText}}
    </DocLink>
  {{/if}}
</div>