<div class="wizard-section {{this.class}}">
  <h2 class="title is-6">
    {{#if this.headerIcon}}
      <Icon @name={{this.headerIcon}} aria-hidden="true" />
    {{/if}}
    {{this.headerText}}
  </h2>
  {{yield}}
  {{#if this.instructions}}
    <div class="wizard-instructions">
      <h2 class="title is-6">What to do</h2>
      <p>{{this.instructions}}</p>
    </div>
  {{/if}}
  {{#if this.docText}}
    <DocLink @path={{this.docPath}}>
      <Icon @name="learn-link" />
      {{this.docText}}
    </DocLink>
  {{/if}}
</div>