<div class="wizard-header">
  {{#unless hidePopup}}
    <PopupMenu @class="wizard-dismiss-menu">
      <nav class="menu">
        <ul class="menu-list">
          <li class="action">
            <button type="button" class="button link " onclick={{action "dismissWizard"}}>
              Dismiss
            </button>
          </li>
        </ul>
      </nav>
    </PopupMenu>
  {{/unless}}
  <h1 class="title is-5">
    <ICon @glyph={{glyph}} @size="21" /> {{headerText}}
  </h1>
  {{#if showProgress}}
    <div>{{currentFeatureProgress.text}}</div>
    <div class="progress-container">
      <ICon class="feature-check completed-check" @glyph="check-circle-fill" @size="24" @excludeIconClass={{true}}/>
      {{#each progressBar as |bar|}}
        <div class="feature-progress-container">
          <span class="progress-bar">
            <span class="feature-progress" style={{bar.style}}></span>
          </span>
          {{#if bar.completed}}
            <ICon class="feature-check completed-check" @glyph="check-circle-fill" @size="24" @excludeIconClass={{true}}/>
          {{else}}
            <ICon class="feature-check incomplete-check" @glyph="check-circle-fill" @size="24" @excludeIconClass={{true}}/>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
{{yield}}
