<div class="ui-wizard">
  {{#unless isDismissed}}
    <button type="button" {{action dismissWizard}}>X</button>
  {{/unless}}
  <p>Current State: {{currentState}}</p>
  <p>Current Feature: {{currentMachine}}</p>
  <p>Feature State: {{featureState}}</p>
  {{#unless isActive}}
    <button type="button" {{action advanceWizard}}>
      {{#if isDismissed}}
        Resume
      {{else}}
        Get Started!
      {{/if}}
    </button>
  {{/unless}}
  {{#if isActive}}
    {{#if isSelecting}}
      {{wizard/features-selection}}
    {{/if}}
  {{/if}}
</div>
