<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/index.html">Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-internal") %>>
					<a href="/docs/internals/index.html">Internals</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-internals-architecture") %>>
							<a href="/docs/internals/architecture.html">Architecture</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-install") %>>
					<a href="/docs/install/index.html">Installation</a>
				</li>

				<li<%= sidebar_current("docs-commands") %>>
					<a href="/docs/commands/index.html">Commands (CLI)</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-commands-apply") %>>
							<a href="/docs/commands/apply.html">apply</a>
						</li>

						<li<%= sidebar_current("docs-commands-destroy") %>>
							<a href="/docs/commands/destroy.html">destroy</a>
						</li>

						<li<%= sidebar_current("docs-commands-get") %>>
							<a href="/docs/commands/get.html">get</a>
						</li>

						<li<%= sidebar_current("docs-commands-graph") %>>
							<a href="/docs/commands/graph.html">graph</a>
						</li>

						<li<%= sidebar_current("docs-commands-init") %>>
							<a href="/docs/commands/init.html">init</a>
						</li>

						<li<%= sidebar_current("docs-commands-output") %>>
							<a href="/docs/commands/output.html">output</a>
						</li>

						<li<%= sidebar_current("docs-commands-plan") %>>
							<a href="/docs/commands/plan.html">plan</a>
						</li>

						<li<%= sidebar_current("docs-commands-refresh") %>>
							<a href="/docs/commands/refresh.html">refresh</a>
						</li>

						<li<%= sidebar_current("docs-commands-remote") %>>
							<a href="/docs/commands/remote.html">remote</a>
						</li>

						<li<%= sidebar_current("docs-commands-show") %>>
							<a href="/docs/commands/show.html">show</a>
						</li>

						<li<%= sidebar_current("docs-commands-taint") %>>
							<a href="/docs/commands/taint.html">taint</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
