<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/index.html">Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-internal") %>>
					<a href="/docs/internals/index.html">Internals</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-internals-architecture") %>>
							<a href="/docs/internals/architecture.html">Architecture</a>
                        </li>

						<li<%= sidebar_current("docs-internals-ha") %>>
							<a href="/docs/internals/high-availability.html">High Availability</a>
						</li>

						<li<%= sidebar_current("docs-internals-security") %>>
							<a href="/docs/internals/security.html">Security Model</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-install") %>>
					<a href="/docs/install/index.html">Installation</a>
				</li>

				<li<%= sidebar_current("docs-concepts") %>>
					<a href="/docs/concepts/index.html">Basic Concepts</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-concepts-devserver") %>>
							<a href="/docs/concepts/dev-server.html">"Dev" Server</a>
						</li>

						<li<%= sidebar_current("docs-concepts-seal") %>>
							<a href="/docs/concepts/seal.html">Seal/Unseal</a>
						</li>

						<li<%= sidebar_current("docs-concepts-lease") %>>
							<a href="/docs/concepts/lease.html">Lease, Renew, and Revoke</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-commands") %>>
					<a href="/docs/commands/index.html">Commands (CLI)</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-commands-read") %>>
							<a href="/docs/commands/read.html">read</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-http") %>>
					<a href="/docs/http/index.html">HTTP API</a>
				</li>

				<li<%= sidebar_current("docs-secrets") %>>
					<a href="/docs/secrets/index.html">Secret Backends</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-secrets-aws") %>>
							<a href="/docs/secrets/aws/index.html">AWS</a>
						</li>

						<li<%= sidebar_current("docs-secrets-consul") %>>
							<a href="/docs/secrets/consul/index.html">Consul</a>
						</li>

						<li<%= sidebar_current("docs-secrets-generic") %>>
							<a href="/docs/secrets/generic/index.html">Generic</a>
						</li>

						<li<%= sidebar_current("docs-secrets-custom") %>>
							<a href="/docs/secrets/custom.html">Custom</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
