<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">


      <li<%= sidebar_current("getting-started")%>>
        <a href="/guides/getting-started/index.html">Getting Started</a>
      </li>

      <li<%= sidebar_current("guides-operations")%>>
        <a href="/guides/operations/index.html">Vault Operations</a>
        <ul class="nav">
          <li<%= sidebar_current("guides-operations-reference-architecture") %>>
            <a href="/guides/operations/reference-architecture.html">Reference Architecture</a>
          </li>
          <li<%= sidebar_current("guides-operations-vault-ha") %>>
            <a href="/guides/operations/vault-ha-consul.html">Vault HA with Consul</a>
          </li>
          <li<%= sidebar_current("guides-operations-production-hardening") %>>
            <a href="/guides/operations/production.html">Production Hardening</a>
          </li>
          <li<%= sidebar_current("guides-operations-replication") %>>
            <a href="/guides/operations/replication.html">Replication Setup &amp; Guidance</a>
          </li>
          <li<%= sidebar_current("guides-operations-mount-filter") %>>
            <a href="/guides/operations/mount-filter.html">Mount Filter</a>
          </li>
          <li<%= sidebar_current("guides-operations-autounseal-aws-kms") %>>
            <a href="/guides/operations/autounseal-aws-kms.html">Vault Auto-unseal with AWS KMS</a>
          </li>
          <li<%= sidebar_current("guides-operations-seal-wrap") %>>
            <a href="/guides/operations/seal-wrap.html">Seal Wrap / FIPS 140-2</a>
          </li>
          <li<%= sidebar_current("guides-operations-generate-root") %>>
            <a href="/guides/operations/generate-root.html">Root Token Generation</a>
          </li>
          <li<%= sidebar_current("guides-operations-rekeying-and-rotating") %>>
            <a href="/guides/operations/rekeying-and-rotating.html">Rekeying &amp; Rotating</a>
          </li>
          <li<%= sidebar_current("guides-operations-plugin-backends") %>>
            <a href="/guides/operations/plugin-backends.html">Building Plugin Backends</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("guides-identity")%>>
        <a href="/guides/identity/index.html">Identity and Access Management</a>
        <ul class="nav">
          <li<%= sidebar_current("guides-identity-policies") %>>
            <a href="/guides/identity/policies.html">Policies</a>
          </li>
          <li<%= sidebar_current("guides-identity-authentication") %>>
            <a href="/guides/identity/authentication.html">AppRole Pull Authentication</a>
          </li>
          <li<%= sidebar_current("guides-identity-approle-tf-chef") %>>
            <a href="/guides/identity/approle-trusted-entities.html">AppRole with Terraform and Chef</a>
          </li>
          <li<%= sidebar_current("guides-identity-lease") %>>
            <a href="/guides/identity/lease.html">Tokens and Leases</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("guides-secret-mgmt")%>>
        <a href="/guides/secret-mgmt/index.html">Secrets Management</a>
        <ul class="nav">
          <li<%= sidebar_current("guides-secret-mgmt-static-secrets") %>>
            <a href="/guides/secret-mgmt/static-secrets.html">Static Secrets</a>
          </li>
          <li<%= sidebar_current("guides-secret-mgmt-versioned-kv") %>>
            <a href="/guides/secret-mgmt/versioned-kv.html">Versioned KV Secret Engine</a>
          </li>
          <li<%= sidebar_current("guides-secret-mgmt-dynamic-secrets") %>>
            <a href="/guides/secret-mgmt/dynamic-secrets.html">Secret as a Service</a>
          </li>
          <li<%= sidebar_current("guides-secret-mgmt-db-root-rotation") %>>
            <a href="/guides/secret-mgmt/db-root-rotation.html">DB Root Credential Rotation</a>
          </li>
          <li<%= sidebar_current("guides-secret-mgmt-cubbyhole") %>>
            <a href="/guides/secret-mgmt/cubbyhole.html">Cubbyhole Response Wrapping</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("guides-encryption")%>>
        <a href="/guides/encryption/index.html">Encryption as a Service</a>
        <ul class="nav">
          <li<%= sidebar_current("guides-encryption-spring-demo") %>>
            <a href="/guides/encryption/spring-demo.html">Java Application Demo</a>
          </li>
          <li<%= sidebar_current("guides-encryption-transit-rewrap") %>>
            <a href="/guides/encryption/transit-rewrap.html">Transit Secrets Re-wrapping</a>
          </li>
        </ul>
      </li>

      <hr>

      <li<%= sidebar_current("guides-upgrading")%>>
        <a href="/guides/upgrading/index.html">Upgrade Guides</a>
        <ul class="nav">
          <li<%= sidebar_current("guides-upgrading-to-0.5.0") %>>
            <a href="/guides/upgrading/upgrade-to-0.5.0.html">Upgrade to 0.5.0</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.5.1") %>>
            <a href="/guides/upgrading/upgrade-to-0.5.1.html">Upgrade to 0.5.1</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.6.0") %>>
            <a href="/guides/upgrading/upgrade-to-0.6.0.html">Upgrade to 0.6.0</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.6.1") %>>
            <a href="/guides/upgrading/upgrade-to-0.6.1.html">Upgrade to 0.6.1</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.6.2") %>>
            <a href="/guides/upgrading/upgrade-to-0.6.2.html">Upgrade to 0.6.2</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.6.3") %>>
            <a href="/guides/upgrading/upgrade-to-0.6.3.html">Upgrade to 0.6.3</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.6.4") %>>
            <a href="/guides/upgrading/upgrade-to-0.6.4.html">Upgrade to 0.6.4</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.7.0") %>>
            <a href="/guides/upgrading/upgrade-to-0.7.0.html">Upgrade to 0.7.0</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.8.0") %>>
            <a href="/guides/upgrading/upgrade-to-0.8.0.html">Upgrade to 0.8.0</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.9.0") %>>
            <a href="/guides/upgrading/upgrade-to-0.9.0.html">Upgrade to 0.9.0</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.9.1") %>>
            <a href="/guides/upgrading/upgrade-to-0.9.1.html">Upgrade to 0.9.1</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.9.2") %>>
            <a href="/guides/upgrading/upgrade-to-0.9.2.html">Upgrade to 0.9.2</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.9.3") %>>
            <a href="/guides/upgrading/upgrade-to-0.9.3.html">Upgrade to 0.9.3</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.9.6") %>>
            <a href="/guides/upgrading/upgrade-to-0.9.6.html">Upgrade to 0.9.6</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.10.0") %>>
            <a href="/guides/upgrading/upgrade-to-0.10.0.html">Upgrade to 0.10.0</a>
          </li>
          <li<%= sidebar_current("guides-upgrading-to-0.10.2") %>>
            <a href="/guides/upgrading/upgrade-to-0.10.2.html">Upgrade to 0.10.2</a>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
