<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/index.html">Documentation Home</a>
				</li>

				<hr>

				<li<%= sidebar_current("docs-http-overview") %>>
					<a href="/docs/http/index.html">Overview</a>
				</li>

				<li<%= sidebar_current("docs-http-libraries") %>>
					<a href="/docs/http/libraries.html">Libraries</a>
				</li>

				<li<%= sidebar_current("docs-http-sys-init") %>>
					<a href="#">Initialization/Recovery</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-sys-init") %>>
							<a href="/docs/http/sys-init.html">/sys/init</a>
						</li>
						<li<%= sidebar_current("docs-http-sys-generate-root") %>>
							<a href="/docs/http/sys-generate-root.html">/sys/generate-root</a>
						</li>

					</ul>
				</li>

				<li<%= sidebar_current("docs-http-seal") %>>
					<a href="#">Seal/Unseal</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-seal-status") %>>
							<a href="/docs/http/sys-seal-status.html">/sys/seal-status</a>
						</li>

						<li<%= sidebar_current("docs-http-seal-seal") %>>
							<a href="/docs/http/sys-seal.html">/sys/seal</a>
						</li>

						<li<%= sidebar_current("docs-http-seal-unseal") %>>
							<a href="/docs/http/sys-unseal.html">/sys/unseal</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-http-mounts") %>>
					<a href="#">Secret Mounts</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-mounts-mounts") %>>
							<a href="/docs/http/sys-mounts.html">/sys/mounts</a>
						</li>

						<li<%= sidebar_current("docs-http-mounts-remount") %>>
							<a href="/docs/http/sys-remount.html">/sys/remount</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-http-auth") %>>
					<a href="#">Auth & ACLs</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-auth-auth") %>>
							<a href="/docs/http/sys-auth.html">/sys/auth</a>
						</li>

						<li<%= sidebar_current("docs-http-auth-policy") %>>
							<a href="/docs/http/sys-policy.html">/sys/policy</a>
						</li>

						<li<%= sidebar_current("docs-http-auth-capabilities") %>>
							<a href="/docs/http/sys-capabilities.html">/sys/capabilities</a>
						</li>

						<li<%= sidebar_current("docs-http-auth-capabilities-self") %>>
							<a href="/docs/http/sys-capabilities-self.html">/sys/capabilities-self</a>
						</li>

						<li<%= sidebar_current("docs-http-auth-capabilities-accessor") %>>
							<a href="/docs/http/sys-capabilities-accessor.html">/sys/capabilities-accessor</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-http-audits") %>>
					<a href="#">Audit Backends</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-audits-audits") %>>
							<a href="/docs/http/sys-audit.html">/sys/audit</a>
						</li>
						<li<%= sidebar_current("docs-http-audits-hash") %>>
							<a href="/docs/http/sys-audit-hash.html">/sys/audit-hash</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-http-lease") %>>
					<a href="#">Leases</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-lease-renew") %>>
							<a href="/docs/http/sys-renew.html">/sys/renew</a>
						</li>

						<li<%= sidebar_current("docs-http-lease-revoke-single") %>>
							<a href="/docs/http/sys-revoke.html">/sys/revoke</a>
						</li>

						<li<%= sidebar_current("docs-http-lease-revoke-prefix") %>>
							<a href="/docs/http/sys-revoke-prefix.html">/sys/revoke-prefix</a>
						</li>

						<li<%= sidebar_current("docs-http-lease-revoke-force") %>>
							<a href="/docs/http/sys-revoke-force.html">/sys/revoke-force</a>
						</li>
					</ul>
                </li>

				<li<%= sidebar_current("docs-http-wrapping") %>>
					<a href="#">Response Wrapping</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-wrapping-lookup") %>>
							<a href="/docs/http/sys-wrapping-lookup.html">/sys/wrapping/lookup</a>
						</li>
						<li<%= sidebar_current("docs-http-wrapping-rewrap") %>>
							<a href="/docs/http/sys-wrapping-rewrap.html">/sys/wrapping/rewrap</a>
						</li>
						<li<%= sidebar_current("docs-http-wrapping-unwrap") %>>
							<a href="/docs/http/sys-wrapping-unwrap.html">/sys/wrapping/unwrap</a>
						</li>
						<li<%= sidebar_current("docs-http-wrapping-wrap") %>>
							<a href="/docs/http/sys-wrapping-wrap.html">/sys/wrapping/wrap</a>
						</li>
					</ul>
                </li>

                <li<%= sidebar_current("docs-http-ha") %>>
					<a href="#">High Availability</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-ha-leader") %>>
							<a href="/docs/http/sys-leader.html">/sys/leader</a>
						</li>
						<li<%= sidebar_current("docs-http-ha-step-down") %>>
							<a href="/docs/http/sys-step-down.html">/sys/step-down</a>
						</li>
					</ul>
                </li>

                <li<%= sidebar_current("docs-http-rotate") %>>
					<a href="#">Key Rotation</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-rotate-key-status") %>>
							<a href="/docs/http/sys-key-status.html">/sys/key-status</a>
                        </li>

						<li<%= sidebar_current("docs-http-rotate-rekey") %>>
							<a href="/docs/http/sys-rekey.html">/sys/rekey/</a>
                        </li>

						<li<%= sidebar_current("docs-http-rotate-rotate") %>>
							<a href="/docs/http/sys-rotate.html">/sys/rotate</a>
						</li>
					</ul>
                </li>

                <li<%= sidebar_current("docs-http-debug") %>>
					<a href="#">Debug</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-debug-raw") %>>
							<a href="/docs/http/sys-raw.html">/sys/raw</a>
                        </li>

						<li<%= sidebar_current("docs-http-debug-health") %>>
							<a href="/docs/http/sys-health.html">/sys/health</a>
						</li>
					</ul>
                </li>

                <hr>

				<li<%= sidebar_current("docs-http-secret") %>>
					<a href="/docs/secrets/index.html">Secret Backends</a>
				</li>

				<li<%= sidebar_current("docs-http-authbackends") %>>
					<a href="/docs/auth/index.html">Auth Backends</a>
                </li>

				<li<%= sidebar_current("docs-http-auditbackends") %>>
					<a href="/docs/audit/index.html">Audit Backends</a>
				</li>
			</ul>
		</div>
	<% end %>

	<div class="bs-api-section">
	<%= yield %>
	</div>
<% end %>
