<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("what") %>>
        <a href="/intro/index.html">What is Vault?</a>
      </li>

      <li<%= sidebar_current("use-cases") %>>
        <a href="/intro/use-cases.html">Use Cases</a>
      </li>

      <li<%= sidebar_current("vs-other") %>>
        <a href="/intro/vs/index.html">Vault vs. Other Software</a>
        <ul class="nav">
          <li<%= sidebar_current("vs-other-chef") %>>
            <a href="/intro/vs/chef-puppet-etc.html">Chef, Puppet, etc.</a>
          </li>

          <li<%= sidebar_current("vs-other-hsm") %>>
            <a href="/intro/vs/hsm.html">HSMs</a>
          </li>

          <li<%= sidebar_current("vs-other-dropbox") %>>
            <a href="/intro/vs/dropbox.html">Dropbox</a>
          </li>

          <li<%= sidebar_current("vs-other-consul") %>>
            <a href="/intro/vs/consul.html">Consul</a>
          </li>

          <li<%= sidebar_current("vs-other-kms") %>>
            <a href="/intro/vs/kms.html">Amazon KMS</a>
          </li>

          <li<%= sidebar_current("vs-other-keywhiz") %>>
            <a href="/intro/vs/keywhiz.html">Keywhiz</a>
          </li>

          <li<%= sidebar_current("vs-other-custom") %>>
            <a href="/intro/vs/custom.html">Custom Solutions</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("gettingstarted") %>>
        <a href="/intro/getting-started/install.html">Getting Started</a>
        <ul class="nav">
          <li<%= sidebar_current("gettingstarted-install") %>>
            <a href="/intro/getting-started/install.html">Install Vault</a>
          </li>

          <li<%= sidebar_current("gettingstarted-devserver") %>>
            <a href="/intro/getting-started/dev-server.html">Starting the Server</a>
          </li>

          <li<%= sidebar_current("gettingstarted-firstsecret") %>>
            <a href="/intro/getting-started/first-secret.html">Your First Secret</a>
          </li>

          <li<%= sidebar_current("gettingstarted-secretbackends") %>>
            <a href="/intro/getting-started/secret-backends.html">Secret Backends</a>
          </li>

          <li<%= sidebar_current("gettingstarted-dynamicsecrets") %>>
            <a href="/intro/getting-started/dynamic-secrets.html">Dynamic Secrets</a>
          </li>

          <li<%= sidebar_current("gettingstarted-help") %>>
            <a href="/intro/getting-started/help.html">Built-in Help</a>
          </li>

          <li<%= sidebar_current("gettingstarted-auth") %>>
            <a href="/intro/getting-started/authentication.html">Authentication</a>
          </li>

          <li<%= sidebar_current("gettingstarted-policies") %>>
            <a href="/intro/getting-started/policies.html">Policies</a>
          </li>

          <li<%= sidebar_current("gettingstarted-deploy") %>>
            <a href="/intro/getting-started/deploy.html">Deploy Vault</a>
          </li>

          <li<%= sidebar_current("gettingstarted-apis") %>>
            <a href="/intro/getting-started/apis.html">HTTP API</a>
          </li>

          <li<%= sidebar_current("gettingstarted-nextsteps") %>>
            <a href="/intro/getting-started/next-steps.html">Next Steps</a>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
