<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description_for(current_page) %>">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/android-manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#23414a">
    <meta name="msapplication-config" content="/microsoft-tile.xml" />
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@HashiCorp" />
    <meta name="twitter:creator" content="@HashiCorp" />
    <meta property="og:url" content="<%= File.join(config[:base_url], current_page.url) %>" />
    <meta property="og:title" content="<%= title_for(current_page) %>" />
    <meta property="og:site_name" content="Vault by HashiCorp"/>
    <meta property="og:image" content="<%= image_url("og-image.png") %>"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="1200"/>
    <meta property="og:description" content="<%= description_for(current_page) %>" />

    <title><%= title_for(current_page) %></title>

    <!-- Typekit script to import Klavika and Open Sans font -->
    <script src="https://use.typekit.net/ypp5bnp.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>

    <link rel='stylesheet' href='/css/index.css' />

    <script>
      // segment analytics
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.page({
        properties: {
          url: window.location.href,
          path: window.location.pathname,
          search: window.location.search,
          title: document.title,
          referrer: document.referrer
        }
      });
      }}();
    </script>

    <%= yield_content :head %>
  </head>

  <body id="<%= body_id_for(current_page) %>" class="<%= body_classes_for(current_page) %>">
    <hashi-mega-nav title="<%= defined?(@meganav_title).nil? ? '' : @meganav_title %>" _data="<%= encode(dato.mega_nav) %>"></hashi-mega-nav>
    <div id="consent-manager"></div>
    <main><%= yield %></main>
    <hashi-footer _data="<%= encode(dato.global_footer) %>"></hashi-footer>

    <%= yield_content :scripts %>
    <script src='/js/consent-manager.js'></script>
    <script src='/js/main.js'></script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Product",
        "name": "Vault",
        "alternateName": "Vault by HashiCorp",
        "manufacturer": "HashiCorp",
        "url": "https://www.vaultproject.io",
        "logo": "<%= File.join(config[:base_url], '/img/logo-hashicorp.svg') %>"
      }
    </script>
  </body>
</html>
