{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<nav class="tabs" aria-label={{@engineMetadata.displayName}}>
  <ul>
    <li data-test-tab="general-settings">
      <LinkTo @route="{{this.routePrefix}}configuration.general-settings" @model={{@path}}>
        General settings
      </LinkTo>
    </li>
    {{! If there are not engine-specific settings do not render this tab }}
    {{#if @engineMetadata.isConfigurable}}
      <li data-test-tab="plugin-settings">
        <LinkTo @route={{this.pluginSettingsRoute}} @model={{@path}}>
          {{@engineMetadata.displayName}}
          settings
        </LinkTo>
      </li>
    {{/if}}
  </ul>
</nav>