{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{! Model is not new and keys have already been created. Require user deletes the keys before creating new ones }}
<p class="has-text-grey-dark has-top-bottom-margin">
  NOTE: You must delete your existing certificate and key before saving new values.
</p>

<div class="box is-fullwidth is-sideless" data-test-key-section>
  <label for="publicKey" class="is-label">
    Public key
  </label>
  <div class="control">
    <MaskedInput
      @name="publickey"
      @id="publicKey"
      @value={{@model.publicKey}}
      @displayOnly={{true}}
      @allowCopy={{true}}
      data-test-input="public-key"
    />
  </div>
</div>
<Hds::ButtonSet>
  <Hds::Copy::Button
    @text="Copy"
    @textToCopy={{@model.publicKey}}
    @onError={{fn (set-flash-message "Clipboard copy failed. The Clipboard API requires a secure context." "danger")}}
    class="primary"
  />
  <ConfirmAction
    @buttonText="Delete"
    @buttonColor="secondary"
    @confirmMessage="Confirming will remove the CA certificate information."
    @onConfirmAction={{this.deleteCaConfig}}
    data-test-delete-key
  />
</Hds::ButtonSet>