{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::PageHeader class="page-header" as |PH|>
  <PH.Breadcrumb>
    <Hds::Breadcrumb data-test-breadcrumbs>
      <Hds::Breadcrumb::Item @text="Vault" @route="vault.cluster.dashboard" @icon="vault" />
      <Hds::Breadcrumb::Item @text="Secrets engines" @current={{true}} />
    </Hds::Breadcrumb>
  </PH.Breadcrumb>
  <PH.IconTile @icon="key" />

  <PH.Title>Secrets engines</PH.Title>
  <PH.Subtitle>Secrets engines available in {{this.clusterName}} Vault cluster.</PH.Subtitle>

  <PH.Actions>
    <Hds::Button @text="Enable new engine" @icon="plus" @route="vault.cluster.secrets.mounts" data-test-enable-engine />
  </PH.Actions>
</Hds::PageHeader>

<Hds::SegmentedGroup class="has-top-margin-m" as |SG|>
  <SG.TextInput
    @width="300px"
    @type="search"
    placeholder="Search by path"
    aria-label="Search"
    data-test-input-search="secret-engine-path"
    {{on "input" (fn this.setSearchText "path")}}
  />
  <SG.Dropdown @width="175px" as |D|>
    <D.Header @hasDivider={{true}}>
      <SG.TextInput @type="search" placeholder="Search" aria-label="Search" {{on "input" (fn this.setSearchText "type")}} />
    </D.Header>
    <D.ToggleButton @color="secondary" @text="Engine type" data-test-toggle-input="filter-by-engine-type" />
    {{#each this.secretEngineArrayByType as |type|}}
      <D.Checkbox
        value={{type.name}}
        checked={{includes type.name this.engineTypeFilters}}
        {{on "click" (fn this.filterByEngineType type.name)}}
        data-test-checkbox={{type.name}}
      ><Hds::Icon @name={{type.icon}} @isInline={{true}} /> {{type.name}}</D.Checkbox>
    {{/each}}
  </SG.Dropdown>
  <SG.Dropdown @width="250px" as |D|>
    <D.ToggleButton @color="secondary" @text="Version" data-test-toggle-input="filter-by-engine-version" />
    {{#if this.engineTypeFilters.length}}
      <D.Header @hasDivider={{true}}>
        <SG.TextInput
          @type="search"
          placeholder="Search"
          aria-label="Search"
          {{on "input" (fn this.setSearchText "version")}}
        />
      </D.Header>
      {{#each this.secretEngineArrayByVersions as |backend|}}
        <D.Checkbox
          value={{backend.version}}
          checked={{includes backend.version this.engineVersionFilters}}
          {{on "click" (fn this.filterByEngineVersion backend.version)}}
          data-test-checkbox={{backend.version}}
        >
          {{backend.version}}
        </D.Checkbox>
      {{/each}}
    {{else}}
      <D.Description class="has-top-padding-s" @text="Select an engine type first to filter by versions." />
    {{/if}}
  </SG.Dropdown>
</Hds::SegmentedGroup>

<Hds::Layout::Flex @gap="8" class="has-top-margin-xs has-bottom-margin-m" @align="center">
  {{#if (and (not this.engineTypeFilters) (not this.engineVersionFilters))}}
    <Hds::Text::Body>No filters applied:</Hds::Text::Body>
    <Hds::TooltipButton
      @text="Select the desired filters in the dropdowns above to narrow your search."
      aria-label="More information"
      data-test-tooltip="Filter info"
    >
      <Hds::Icon @name="info" />
    </Hds::TooltipButton>
  {{else}}
    <Hds::Text::Body>Filters applied:</Hds::Text::Body>
    {{#each this.engineTypeFilters as |type|}}
      <Hds::Tag @text={{type}} @onDismiss={{fn this.filterByEngineType type}} data-test-button={{type}} />
    {{/each}}
    {{#each this.engineVersionFilters as |version|}}
      <Hds::Tag @text={{version}} @onDismiss={{fn this.filterByEngineVersion version}} data-test-button={{version}} />
    {{/each}}
    <Hds::Button
      @text="Clear all"
      @color="tertiary"
      @icon="x"
      @size="small"
      data-test-button="Clear all"
      {{on "click" this.clearAllFilters}}
    />
  {{/if}}
</Hds::Layout::Flex>

{{#each this.sortedDisplayableBackends as |backend|}}
  <LinkedBlock
    @params={{array backend.backendLink backend.id}}
    class="list-item-row linked-block-item is-no-underline"
    data-test-secrets-backend-link={{backend.id}}
    @disabled={{not backend.isSupportedBackend}}
  >
    <div>
      <div class="has-text-grey is-grid align-items-center linked-block-title">
        {{#if backend.icon}}
          <Hds::TooltipButton
            aria-label="Type of backend"
            @text={{this.generateToolTipText backend}}
            data-test-tooltip="Backend type"
          >
            <Icon @name={{backend.icon}} class="has-text-grey-light" />
          </Hds::TooltipButton>
        {{/if}}
        {{#if backend.path}}
          {{#if backend.isSupportedBackend}}
            <LinkTo
              @route={{backend.backendLink}}
              @model={{backend.id}}
              class="has-text-black has-text-weight-semibold overflow-wrap"
              data-test-secret-path={{backend.path}}
            >
              {{backend.path}}
            </LinkTo>
          {{else}}
            <span data-test-secret-path={{backend.path}}>{{backend.path}}</span>
          {{/if}}
        {{/if}}
      </div>
      <code class="has-text-grey is-size-8" data-test-engine-accessor>
        {{backend.accessor}}
        {{backend.running_plugin_version}}
      </code>
      {{#if backend.description}}
        <ReadMore>
          {{backend.description}}
        </ReadMore>
      {{/if}}
    </div>
    <div class="linked-block-popup-menu">
      <Hds::Dropdown @isInline={{true}} as |dd|>
        <dd.ToggleIcon
          @icon="more-horizontal"
          @text="{{if backend.isSupportedBackend 'supported' 'unsupported'}} secrets engine menu"
          @hasChevron={{false}}
          data-test-popup-menu-trigger
        />
        <dd.Interactive
          @route={{backend.backendConfigurationLink}}
          @model={{backend.id}}
          data-test-popup-menu="view-configuration"
        >
          View configuration
        </dd.Interactive>
        {{#if (not-eq backend.type "cubbyhole")}}
          <dd.Interactive
            @color="critical"
            {{on "click" (fn (mut this.engineToDisable) backend)}}
            data-test-popup-menu="disable-engine"
          >Disable</dd.Interactive>
        {{/if}}
      </Hds::Dropdown>
    </div>
  </LinkedBlock>
{{/each}}

{{#if this.engineToDisable}}
  <ConfirmModal
    @color="critical"
    @confirmMessage="Any data in this engine will be permanently deleted."
    @confirmTitle="Disable engine?"
    @onClose={{fn (mut this.engineToDisable) null}}
    @onConfirm={{perform this.disableEngine this.engineToDisable}}
  />
{{/if}}