{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::Form::Field @layout="vertical" @isInvalid={{this.errorMessage}} as |F|>
  <F.Label>{{this.formField.label}}</F.Label>
  <F.HelperText>{{this.formField.helperText}}</F.HelperText>
  <F.Control>
    <Hds::SegmentedGroup as |SG|>
      <SG.TextInput
        @width="100px"
        size="32"
        @value={{this.time}}
        {{on "input" this.setTtlTime}}
        name="{{@ttlKey}}-time"
        autocomplete="off"
      />
      <SG.Select @width="100px" name="{{@ttlKey}}-unit" {{on "input" this.setUnit}} as |S|>
        <S.Options>
          {{#each this.unitOptions as |unit|}}
            <option value={{unit.value}} selected={{eq unit.value this.selectedUnit}}>{{unit.label}}</option>
          {{/each}}
        </S.Options>
      </SG.Select>
    </Hds::SegmentedGroup>
  </F.Control>
  {{#if this.errorMessage}}
    <F.Error>{{this.errorMessage}}</F.Error>
  {{/if}}
</Hds::Form::Field>