<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      Create Secret
    </h1>
  </p.levelLeft>
</PageHeader>

<Toolbar>
  <ToolbarFilters>
    <Toggle
      data-test-json-view-toggle
      @name="json"
      @status="success"
      @size="small"
      @checked={{this.showJsonView}}
      @onChange={{this.toggleJsonView}}
    >
      <span class="has-text-grey">JSON</span>
    </Toggle>
  </ToolbarFilters>
</Toolbar>

<KvSecretForm
  @secret={{@secret}}
  @onSave={{this.save}}
  @onCancel={{this.cancel}}
  @errorMessage={{this.errorMessage}}
  @modelValidations={{this.modelValidations}}
  @invalidFormAlert={{this.invalidFormAlert}}
/>