<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      {{capitalize (pluralize identityType)}}
    </h1>
  </p.levelLeft>
</PageHeader>
<div class="tabs-container box is-sideless is-fullwidth is-paddingless is-marginless">
  <nav class="tabs">
    <ul>
      {{#link-to "vault.cluster.access.identity.index" (pluralize identityType) tagName="li"}}
        {{#link-to "vault.cluster.access.identity.index" (pluralize identityType)}}
          {{capitalize (pluralize identityType)}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "vault.cluster.access.identity.aliases.index" (pluralize identityType) tagName="li"}}
        {{#link-to "vault.cluster.access.identity.aliases.index" (pluralize identityType)}}
          Aliases
        {{/link-to}}
      {{/link-to}}
    </ul>
  </nav>
</div>
<Toolbar>
  {{#if model.meta.total}}
    <ToolbarFilters>
      {{identity/lookup-input type=identityType}}
    </ToolbarFilters>
  {{/if}}
  <ToolbarActions>
    {{#if (eq identityType "entity")}}
      <ToolbarLink
        @params={{array "vault.cluster.access.identity.merge" (pluralize identityType)}}
        @data-test-entity-merge-link=true
      >
        Merge {{pluralize identityType}}
      </ToolbarLink>
    {{/if}}
    <ToolbarLink
      @type="add"
      @params={{array "vault.cluster.access.identity.create" (pluralize identityType)}}
      @data-test-entity-create-link=true
    >
      Create {{identityType}}
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>
