<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      {{capitalize (pluralize identityType)}}
    </h1>
  </p.levelLeft>
  <p.levelRight>
    {{#if (eq identityType "entity")}}
      {{#link-to "vault.cluster.access.identity.merge" (pluralize identityType) class="button has-icon-right is-ghost is-compact" data-test-entity-merge-link=true}}
        Merge {{pluralize identityType}}
        {{i-con glyph="chevron-right" size=11}}
      {{/link-to}}
    {{/if}}
    {{#link-to "vault.cluster.access.identity.create" (pluralize identityType) class="button has-icon-right is-ghost is-compact" data-test-entity-create-link=true}}
      Create {{identityType}}
      {{i-con glyph="chevron-right" size=11}}
    {{/link-to}}
  </p.levelRight>
</PageHeader>
<div class="box is-sideless is-fullwidth is-paddingless is-marginless">
  <nav class="tabs">
    <ul>
      {{#link-to "vault.cluster.access.identity.index" (pluralize identityType) tagName="li"}}
        {{#link-to "vault.cluster.access.identity.index" (pluralize identityType)}}
          {{capitalize (pluralize identityType)}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "vault.cluster.access.identity.aliases.index" (pluralize identityType) tagName="li"}}
        {{#link-to "vault.cluster.access.identity.aliases.index" (pluralize identityType)}}
          Aliases
        {{/link-to}}
      {{/link-to}}
    </ul>
  </nav>
</div>
{{#if model.meta.total}}
  <div class="box is-sideless has-background-grey-lighter has-short-padding is-marginless">
    <div class="level">
      <div class="level-left">
        {{identity/lookup-input type=identityType}}
      </div>
    </div>
  </div>
{{/if}}
