{{#if model.hasMembers}}
  {{#each model.memberGroupIds as |gid|}}
    {{#linked-block
      "vault.cluster.access.identity.show"
      "groups"
      gid
      details
      class="list-item-row"
    }}
      <div class="columns is-mobile">
        <div class="column is-10">
          {{#link-to "vault.cluster.access.identity.show" "groups" gid "details" 
            class="is-block has-text-black has-text-weight-semibold"
          }}{{i-con
              glyph='folder'
              size=14
              class="has-text-grey-light"
              }}{{gid}}{{/link-to}}
        </div>
        <div class="column has-text-right">
          {{#if model.canEdit}}
            {{identity/popup-members params=(array model "memberGroupIds" gid)}}
          {{/if}}
        </div>
      </div>
    {{/linked-block}}
  {{/each}}
  {{#each model.memberEntityIds as |gid|}}
    {{#linked-block
      "vault.cluster.access.identity.show"
      "groups"
      gid
      details
      class="list-item-row"
    }}
      <div class="columns">
        <div class="column is-10">
          {{#link-to "vault.cluster.access.identity.show" "entities" gid "details"
            class="is-block has-text-black has-text-weight-semibold"
            }}{{i-con
              glyph='role'
              size=14
              class="has-text-grey-light"
              }}{{gid}}{{/link-to}}
        </div>
        <div class="column has-text-right">
          {{#if model.canEdit}}
            {{identity/popup-members params=(array model "memberEntityIds" gid)}}
          {{/if}}
        </div>
      </div>
    {{/linked-block}}
  {{/each}}
{{else}}
  <EmptyState
    @title="No members in this group yet"
  />
{{/if}}
