{{#each (if model.alias.id (array model.alias) model.aliases) as |item|}}
  {{#linked-block
    "vault.cluster.access.identity.aliases.show"
    item.id
    "details"
    class="list-item-row"
  }}
    <div class="columns is-mobile">
      <div class="column is-10">
        {{#link-to "vault.cluster.access.identity.aliases.show" item.id "details"
          class="has-text-black has-text-weight-semibold"
          }}{{i-con
            glyph='role'
            size=14
            class="has-text-grey-light"
            }}<span class="has-text-weight-semibold">{{item.name}}</span>{{/link-to}}
        <div class="has-text-grey">
          {{item.id}}
        </div>
        <span class="tag">{{item.mountType}}</span>
        <span class="has-text-grey is-size-8">
          {{item.mountAccessor}}
        </span>
      </div>
      <div class="column has-text-right">
        {{identity/popup-alias params=(array item)}}
      </div>
    </div>
  {{/linked-block}}
{{else}}
  <EmptyState
    @title="No {{model.identityType}} aliases for {{model.name}} yet"
  />
{{/each}}
