<div class="box is-shadowless is-marginless is-fullwidth">
  {{#if model.disabled}}
    <AlertBanner
      @type="warning"
      @title="Attention"
      @message="This {{model.identityType}} is disabled. All associated tokens cannot be used, but are not revoked."
      data-test-disabled-warning>
      {{#if model.canEdit}}
        <button onclick={{action 'enable' model}} type="button" class="link" data-test-enable=true>
          Enable
        </button>
      {{/if}}
    </AlertBanner>
  {{/if}}
  {{info-table-row label="Name" value=model.name data-test-identity-item-name=true}}
  {{info-table-row label="Type" value=model.type }}
  {{info-table-row label="ID" value=model.id }}
  {{#info-table-row label="Merged Ids" value=model.mergedEntityIds }}
    <div>
      {{#each model.mergedEntityIds as |id|}}
        <div>
          <code class="has-text-black">{{id}}</code>
        </div>
      {{/each}}
    </div>
  {{/info-table-row}}
  {{#info-table-row label="Created" value=model.creationTime}}
    <time datetime={{model.creationTime}} title={{model.creationTime}}>
      {{date-format model.creationTime 'MMM DD, YYYY [at] h:mm a'}}
    </time>
  {{/info-table-row}}
  {{#info-table-row label="Last Updated" value=model.lastUpdateTime}}
    <time datetime={{model.lastUpdateTime}} title={{model.lastUpdateTime}}>
      {{date-format model.lastUpdateTime 'MMM DD, YYYY [at] h:mm a'}}
    </time>
  {{/info-table-row}}
</div>