{{info-table-row label="Name" value=model.name }}
{{info-table-row label="Type" value=model.type }}
{{info-table-row label="ID" value=model.id }}
{{#info-table-row label="Merged Ids" value=model.mergedEntityIds }}
  <div>
    {{#each model.mergedEntityIds as |id|}}
      <div>
        <code class="has-text-black">{{id}}</code>
      </div>
    {{/each}}
  </div>
{{/info-table-row}}
{{#info-table-row label="Created" value=model.creationTime}}
  <time datetime={{model.creationTime}} title={{model.creationTime}}>
    {{moment-format model.creationTime 'MMM DD, YYYY [at] h:mm a'}}
  </time>
{{/info-table-row}}
{{#info-table-row label="Last Updated" value=model.lastUpdateTime}}
  <time datetime={{model.lastUpdateTime}} title={{model.lastUpdateTime}}>
    {{moment-format model.lastUpdateTime 'MMM DD, YYYY [at] h:mm a'}}
  </time>
{{/info-table-row}}
