{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#each-in @model.metadata as |key value|}}
  <div class="info-table-row is-mobile">
    <div class="is-flex is-fullwidth">
      <div class="column is-one-quarter">
        <span class="is-label has-text-grey-dark">
          {{key}}
        </span>
      </div>
      <div class="column is-5">
        {{value}}
      </div>
      <div class="column has-text-right">
        {{#if @model.canEdit}}
          <Identity::PopupMetadata @params={{array @model key}} />
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <EmptyState
    @title="No metadata for {{@model.name}}"
    @message="You can store custom data that you want to associate with a {{lowercase
      (humanize @model.identityType)
    }}. Edit this {{lowercase (humanize @model.identityType)}} to get started."
  >
    <LinkTo @route="vault.cluster.access.identity.edit" @model={{@model.id}} class="link">
      Edit
      {{lowercase (humanize @model.identityType)}}
    </LinkTo>
    <DocLink @path="/vault/tutorials/auth-methods/identity">
      Learn more
    </DocLink>
  </EmptyState>
{{/each-in}}