{{#each @model.policies as |policyName|}}
  <LinkedBlock @params={{array "vault.cluster.policy.show" "acl" policyName}} class="list-item-row">
    <div class="columns is-mobile">
      <div class="column is-10">
        <LinkTo
          @route="vault.cluster.policy.show"
          @models={{array "acl" policyName}}
          class="is-block has-text-black has-text-weight-semibold"
        >
          <span class="is-underline">{{policyName}}</span>
        </LinkTo>
      </div>
      <div class="column has-text-right">
        {{#if @model.canEdit}}
          <Identity::PopupPolicy @params={{array @model policyName}} />
        {{/if}}
      </div>
    </div>
  </LinkedBlock>
{{else}}
  <EmptyState @title="No policies associated with {{@model.name}} yet" />
{{/each}}