{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="has-text-right">
  <Hds::Dropdown @isInline={{true}} @listPosition="bottom-right" as |dd|>
    <dd.ToggleIcon
      @icon="more-horizontal"
      @text="Alias management options"
      @hasChevron={{false}}
      data-test-popup-menu-trigger
    />
    <dd.Interactive
      @text="Details"
      @route="vault.cluster.access.identity.aliases.show"
      @models={{array (pluralize @item.parentType) @item.id "details"}}
    />
    {{#if @item.updatePath.isPending}}
      <dd.Generic class="has-text-center">
        <LoadingDropdownOption />
      </dd.Generic>
    {{else}}
      {{#if @item.canEdit}}
        <dd.Interactive
          @text="Edit"
          @route="vault.cluster.access.identity.aliases.edit"
          @models={{array (pluralize @item.parentType) @item.id}}
        />
      {{/if}}
      {{#if @item.canDelete}}
        <dd.Interactive
          @text="Remove"
          @color="critical"
          {{on "click" (fn (mut this.showConfirmModal) true)}}
          data-test-popup-menu="delete"
        />
      {{/if}}
    {{/if}}
  </Hds::Dropdown>
</div>

{{#if this.showConfirmModal}}
  <ConfirmModal @color="critical" @onClose={{fn (mut this.showConfirmModal) false}} @onConfirm={{this.deleteAlias}} />
{{/if}}