{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PopupMenu @name="policy-menu">
  <nav class="menu" aria-label="navigation for managing identity policies">
    <ul class="menu-list">
      <li class="action">
        <LinkTo @route="vault.cluster.policy.show" @models={{array "acl" this.policyName}}>
          View Policy
        </LinkTo>
      </li>
      <li class="action">
        <LinkTo @route="vault.cluster.policy.edit" @models={{array "acl" this.policyName}}>
          Edit Policy
        </LinkTo>
      </li>
      <li class="action">
        <ConfirmAction
          @buttonText="Remove from {{this.model.identityType}}"
          @confirmTitle="Remove this policy?"
          @isInDropdown={{true}}
          @confirmMessage="This policy may affect permissions to access Vault data."
          @onConfirmAction={{action "performTransaction" this.model this.policyName}}
        />
      </li>
    </ul>
  </nav>
</PopupMenu>