{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<TabPageHeader @model={{@backendModel}} @breadcrumbs={{@breadcrumbs}}>
  <:toolbarFilters>
    {{#if (and (not @promptConfig) @roles.meta.total)}}
      <FilterInput
        aria-label="Filter roles"
        placeholder="Filter roles"
        value={{@pageFilter}}
        @autofocus={{true}}
        @onInput={{this.onFilterChange}}
      />
    {{/if}}
  </:toolbarFilters>
  <:toolbarActions>
    {{#if @promptConfig}}
      <ToolbarLink @route="configure" data-test-toolbar-action="config">
        Configure LDAP
      </ToolbarLink>
    {{else}}
      <ToolbarLink @route="roles.create" @type="add" data-test-toolbar-action="role">
        Create role
      </ToolbarLink>
    {{/if}}
  </:toolbarActions>
</TabPageHeader>

{{#if @promptConfig}}
  <ConfigCta />
{{else if (not @roles.meta.filteredTotal)}}
  {{#if @pageFilter}}
    <EmptyState @title="There are no roles matching &quot;{{@pageFilter}}&quot;" />
  {{else}}
    <EmptyState
      data-test-config-cta
      @title="No roles created yet"
      @message="Roles in Vault will allow you to manage LDAP credentials. Create a role to get started."
    />
  {{/if}}
{{else}}
  <div class="has-bottom-margin-s">
    {{#each @roles as |role|}}
      <ListItem @linkPrefix={{this.mountPoint}} @linkParams={{array "roles.role.details" role.type role.name}} as |Item|>
        <Item.content>
          <Icon @name="user" />
          <span data-test-role={{role.name}}>{{role.name}}</span>
          <Hds::Badge @text={{role.type}} data-test-role-type-badge={{role.name}} />
        </Item.content>
        <Item.menu>
          <Hds::Dropdown @isInline={{true}} @listPosition="bottom-right" as |dd|>
            <dd.ToggleIcon
              @icon="more-horizontal"
              @text="Roles popup menu"
              @hasChevron={{false}}
              data-test-popup-menu-trigger
            />
            {{#if role.rolePath.isLoading}}
              <dd.Generic class="has-text-center">
                <LoadingDropdownOption />
              </dd.Generic>
            {{else}}
              <dd.Interactive
                data-test-edit
                @route="roles.role.edit"
                @models={{array role.type role.name}}
                @disabled={{not role.canEdit}}
                @text="Edit"
              />
              <dd.Interactive
                data-test-get-creds
                @route="roles.role.credentials"
                @models={{array role.type role.name}}
                @disabled={{not role.canReadCreds}}
                @text="Get credentials"
              />
              {{#if role.canRotateStaticCreds}}
                <dd.Interactive
                  data-test-rotate-creds
                  @text="Rotate credentials"
                  {{on "click" (fn (mut this.roleToRotate) role)}}
                />
              {{/if}}
              <dd.Interactive
                data-test-details
                @route="roles.role.details"
                {{! this will force the roles.role model hook to fire since we may only have a partial model loaded in the list view }}
                @models={{array role.type role.name}}
                @disabled={{not role.canRead}}
                @text="Details"
              />
              {{#if role.canDelete}}
                <dd.Interactive
                  data-test-delete
                  @text="Delete"
                  @color="critical"
                  {{on "click" (fn (mut this.roleToDelete) role)}}
                />
              {{/if}}
            {{/if}}
          </Hds::Dropdown>
        </Item.menu>
      </ListItem>
    {{/each}}

    <Hds::Pagination::Numbered
      @currentPage={{@roles.meta.currentPage}}
      @currentPageSize={{@roles.meta.pageSize}}
      @route="roles"
      @showSizeSelector={{false}}
      @totalItems={{@roles.meta.filteredTotal}}
      @queryFunction={{this.paginationQueryParams}}
      data-test-pagination
    />
  </div>
{{/if}}

{{#if this.roleToRotate}}
  <ConfirmModal
    @confirmMessage="When manually rotating credentials, the rotation period will start over."
    @onClose={{fn (mut this.roleToRotate) null}}
    @onConfirm={{fn this.onRotate this.roleToRotate}}
  />
{{/if}}

{{#if this.roleToDelete}}
  <ConfirmModal
    @color="critical"
    @confirmMessage="Deleting this role means that you’ll need to recreate it in order to generate credentials again."
    @onClose={{fn (mut this.roleToDelete) null}}
    @onConfirm={{fn this.onDelete this.roleToDelete}}
  />
{{/if}}