{{#if shouldYield}}
  {{#maybe-in-element wormholeReference false}}
    <div class="confirm-action-message">
      <div class="message is-highlight">
        <div class="message-title">
          <Icon @glyph="alert-triangle" />
          {{title}}
        </div>
        <p>
          {{message}}
        </p>
      </div>
      <div class="confirm-action-options">
        <button type="button" disabled={{disabled}} class="link is-destroy" data-test-confirm-button="true"
          {{action onConfirm}}>
          {{confirmButtonText}}
        </button>
        <button type="button" class="link" data-test-confirm-cancel-button="true" {{action onCancel}}>
          {{cancelButtonText}}
        </button>
      </div>
    </div>
  {{/maybe-in-element}}
{{/if}}
