<PageHeader as |p|>
  <p.top>
    {{key-value-header
      baseKey=model
      path="vault.cluster.access.method"
      root=root
      showCurrent=true
    }}
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      Configure {{get (find-by "type" model.type (mountable-auth-methods)) "displayName"}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{section-tabs model}}

<Toolbar>
  <ToolbarActions>
    <ToolbarLink
      @params={{array "vault.cluster.access.method" model.id}}
      @data-test-backend-view-link=true
    >
      View method
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

{{outlet}}
